= form_for(@staff_assignment, :action => url(:controller => :staffs, :aciton => :set_assignment_biz_location, :id => @staff.id)) do 
  %table
    %th
      Location
    %td
      = select :biz_location, :collections => @biz_locations.collect{|x| [x.id, x.name]}
    %th
      Performed By
    %td
      = select :performed_by, :collections => @staffs.collec{|x| [x.id, x.name]}
    %th
      Effective On
    %td
      = date_select :effective_on, Date.today
    %th
      = submit "Save"
