%h1
  SurpriseVisitCenters controller, edit action
%p
  Edit this file in
  %tt
    app/views/surprise_visit_centers/edit.html.erb
= error_messages_for @surprise_visit_center

= form_for(@surprise_visit_center, :action => url(:surprise_visit_center, @surprise_visit_center)) do
  %p
    = submit "Update"

= link_to 'Show', url(:surprise_visit_center, @surprise_visit_center)
|
= link_to 'Back', url(:surprise_visit_centers)