
= link_to 'Edit',  url(:edit_surprise_visit_center,  @surprise_visit_center)
|
= link_to 'Back', "/surprise_visit_centers/new?biz_location=#{@surprise_visit_center.biz_location_id}&center=#{@surprise_visit_center.center}&branch=#{@surprise_visit_center.branch}"
%p
  %table.tall.report.weeksheet.nojs.process_audit 
    %tr
      %td{:align => "left", :style => "{width:40%}"}
        Staff Member
      %td{:align => "left", :style => "{width:60%}"}
        = @surprise_visit_center.staff_member
    %tr
      %td{:align => "left", :style => "{width:40%}"}
        Branch
      %td{:align => "left", :style => "{width:60%}"}
        = text_field :value => @surprise_visit_center.branch, :disabled => true
    %tr
      %td{:align => "left", :style => "{width:40%}"}
        Center
      %td{:align => "left", :style => "{width:60%}"}
        = text_field :value => @surprise_visit_center.center, :disabled => true
    %tr
      %td{:align => "left", :style => "{width:40%}"}
        Value Date
      %td{:align => "left", :style => "{width:60%}"}   
        = @surprise_visit_center.value_date 
  %table.tall.report.weeksheet.nojs.process_audit 
    %tr
      %th
      %th
        %h4 Surprise Visit Center
      %th
    %tr
      %td{:align => "left"}
        1
      %td{:align => "left"}
        CONFIRM THAT LESS THAN 3 MEMBERS ARRIVED LATE
      %td{:align => "left"}
        - if @surprise_visit_center.members_late == "1"
          Yes
        - if @surprise_visit_center.members_late == "0"
          NO
    %tr
      %td{:align => "left"}
        2
      %td{:align => "left"}
        CONFIRM THAT LESS THAN 3 MEMBERS WERE ABSENT 
      %td{:align => "left"}
        - if @surprise_visit_center.members_absent == "1"
          Yes
        - if @surprise_visit_center.members_absent == "0"
          NO          
    %tr
      %td{:align => "left"}
        3
      %td{:align => "left"}
        CONFIRM THAT THE CENTER LEADER WAS PRESENT AT THE MEETING 
      %td{:align => "left"}
        - if @surprise_visit_center.leader_was_present_at_meeting == "1"
          Yes
        - if @surprise_visit_center.leader_was_present_at_meeting == "0"
          NO
    %tr
      %td{:align => "left"}
        4
      %td{:align => "left"}
        CONFIRM THAT THE CENTER MEMBERS FOLLOWED PROCEDURES 
      %td{:align => "left"}
        - if @surprise_visit_center.center_members_followed_procedures == "1"
          Yes
        - if @surprise_visit_center.center_members_followed_procedures == "0"
          NO
    %tr
      %td{:align => "left"}
        5
      %td{:align => "left"}
        CONFIRM THAT THE FIELD OFFICER FOLLOWED PROCEDURES
      %td{:align => "left"}
        - if @surprise_visit_center.field_office_followed_procedures == "1"
          Yes
        - if @surprise_visit_center.field_office_followed_procedures == "0"
          NO
    %tr
      %td{:align => "left"}
        6
      %td{:align => "left"}
        CONFIRM THAT THE CENTER LEADER MAINTAINS UP-TO-DATE ATTENDANCE,REGISTERS AND RECEIPTS 
      %td{:align => "left"}
        - if @surprise_visit_center.center_leaders_attendance_utdate == "1"
          Yes
        - if @surprise_visit_center.center_leaders_attendance_utdate == "0"
          NO
    %tr
      %td{:align => "left"}
        7
      %td{:align => "left"}
        CONFIRM THAT THE PASSBOOKS AND CENTER FILE WERE UP-TO-DATE AND WITHOUT ANY DISCREPANCY 
      %td{:align => "left"}
        - if @surprise_visit_center.pbook_and_centers_uptdate == "1"
          Yes
        - if @surprise_visit_center.pbook_and_centers_uptdate == "0"
          NO
    %tr
      %td{:align => "left"}
        8
      %td{:align => "left"}
        CONFIRM THAT NO MEMBER PAID ANY ADDITIONAL MONEY TO ANY MEMBER/AGENT OR EMPLOYEE 
      %td{:align => "left"}
        - if @surprise_visit_center.no_member_paind_any_add_money == "1"
          Yes
        - if @surprise_visit_center.no_member_paind_any_add_money == "0"
          NO
    %tr
      %td{:align => "left"}
        9
      %td{:align => "left"}
        CONFIRM THAT ALL CLAIMS HAVE BEEN SETTLED AND NO AMOUNT IS PENDING 
      %td{:align => "left"}
        - if @surprise_visit_center.all_claims_settled_no_pending == "1"
          Yes
        - if @surprise_visit_center.all_claims_settled_no_pending == "0"
          NO
    %tr
      %td{:align => "left"}
        10
      %td{:align => "left"}
        CONFIRM THAT THE CENTER MEETING PLACE OR TIME NOT CHANGED
      %td{:align => "left"}
        - if @surprise_visit_center.all_center_meeting_plcae_ntchgd == "1"
          Yes
        - if @surprise_visit_center.all_center_meeting_plcae_ntchgd == "0"
          NO
    %tr
      %td{:align => "left"}
        11
      %td{:align => "left"}
        CONFIRM THAT CENTER FILE HAS BEEN UPDATED WITH PREVIOUS SURPRISE VISITS 
      %td{:align => "left"}
        - if @surprise_visit_center.concern_about_center == "1"
          Yes
        - if @surprise_visit_center.concern_about_center == "0"
          NO
    %tr
      %td{:align => "left"}
        12
      %td{:align => "left"}
        ARE THERE ANY CONCERNS ABOUT THIS CENTER
      %td{:align => "left"}
        - if @surprise_visit_center.file_update_with_previous_scvs == "1"
          Yes
        - if @surprise_visit_center.file_update_with_previous_scvs ==  "0"
          NO
    %tr
      %td{:align => "left"}
        13
      %td{:align => "left"}
        General Comments
      %td{:align => "left"}
        = @surprise_visit_center.genreal_comments
    %tr
      %td{:align => "left"}
        14
      %td{:align => "left"}
        Customer Comments
      %td{:align => "left"} 
        = @surprise_visit_center.customer_comments
    %tr
      %td{:align => "left"}
        15
      %td{:align => "left"}
        Name of the Officer
      %td{:align => "left"} 
        = @surprise_visit_center.name_of_officer
    %tr
      %td{:align => "left"}
        16
      %td{:align => "left"}
        Date
      %td{:align => "left"} 
        = @surprise_visit_center.date
    %tr
      %td{:align => "left"}
        17
      %td{:align => "left"}
        Place
      %td{:align => "left"} 
        = @surprise_visit_center.place

