- center_cycle_number =  loan_applications_facade.get_current_center_cycle_number(@center.id)
- if @center.nil?
  %h3 Select branch and center to create new loan applications for new loan applicants
- elsif (center_cycle_number == 0) 
  %h3 No Center cycle exists for this center. Please create one from the center show page
- else
  - loan_application = @loan_application.blank? ? LoanApplication.new : @loan_application
  %br
  .shaded
    %h2 Bulk Upload Loan Applications
    %br
    = link_to_with_rights "Click to Download xls file format", url(:controller => :loan_applications, :action => :download_xls_file_format), :class => "grey_button"
    %br
    %br
    %form{:action => url(:controller => :loan_applications, :action => :upload_loan_applications), :enctype => "multipart/form-data", :method => "post"}
      %input{:name => "file", :size => "80", :type => "file"}
      = hidden_field :name => 'parent_location_id', :value => @branch.nil? ? params[:parent_location_id] : @branch.id
      = hidden_field :name => 'child_location_id', :value => @center.nil? ? params[:child_location_id] : @center.id
      %input{:type => "submit", :value => "Upload"}
  %br
  %hr
  %h2
    = "Center Cycle Number: #{center_cycle_number}"
  %i Note: Either reference or reference1 value are mandatory
  %br
  %i Note: Either Date of birth  or Age As ON field are manadatory(if both present then 'Date Of Birth' will be considered)
  = form_for(loan_application, :action => url(:controller => :loan_applications, :action => :bulk_create_loan_applicant), :method => :post) do
    %table.unsortable.dataTable
      %thead
        %tr
          %th Applicant Name
          %th Guarantor Name
          %th Relationship
          %th Applicant Birth Date
          %th Age
          %th Age As On Date
          %th Ration Card No.
          %th Reference 2 Type
          %th Reference 2 No.
          %th Applied for amount
          %th Address
          %th Location
          %th Pincode
      %tbody
        %tr
          %td
            = text_field :client_name
          %td
            = text_field :client_guarantor_name
          %td
            = select :client_guarantor_relationship, :collection => Constants::Masters::RELATIONSHIPS.each{|x| [x.to_s, x]}, :prompt => 'Select'
          %td
            = date_select :client_dob, params[:client_dob], :min_date => Date.today-36500, :max_date => Date.today-1000, :size => 10, :holiday => false
            %br
            =# text_field :name => "client_age", :id => "client_age", :readonly => 'true', :size => 2
          %td
            = text_field :name => "age_as_on", :size => 2, :maxlength => 2, :value => params[:age_as_on], :id => "client_age"
          %td
            = date_select :age_as_on_date, params[:age_as_on_date], :min_date => Date.today-36500, :max_date => Date.today-1000, :size => 10, :holiday => false
          %td
            = text_field :client_reference1
            = hidden_field :client_reference1_type, :value => Constants::Masters::RATION_CARD
          %td
            = select :client_reference2_type, :collection => Constants::Masters::REFERENCE2_TYPES_ALLOWED.map{|x| [x.to_s, x.to_s.humanize]}, :selected => params[:loan_application] ? params[:loan_application][:client_reference2_type] : Constants::Masters::VOTER_ID.to_s
          %td
            = text_field :client_reference2
          %td
            - selected_amount = params[:loan_application] ? params[:loan_application][:amount] : nil
            - loan_product_amount = @branch.same_frequency_branch_loan_product(@center)
            = select :amount, :collection => loan_product_amount.map{|x| [x.to_s]}, :selected => selected_amount, :prompt => 'Select'
          %td
            = text_field :client_address
          %td
            - all_states = BizLocation.get_state_locations
            - branch_state = @branch.get_parent_location_at_location_level('state')
            - all_states = branch_state.blank? ? BizLocation.get_state_locations : [branch_state.name]
            - if branch_state.blank?
              - if params[:loan_application].blank?
                = select :client_state, :collection => all_states.map{|x| [x.name.downcase, x.name.to_s.downcase]}, :prompt => "Select"
              - else
                = select :client_state, :collection => all_states.map{|x| [x.name.downcase, x.name.to_s]}, :selected => params[:loan_application] ? params[:loan_application][:client_state] : ''
            - else
              = text_field :client_state, :value => branch_state.name.capitalize, :readonly => true
          %td
            = text_field :client_pincode, :size => AddressValidation::PIN_CODE_MAX_TEXT_LENGTH, :maxlength => AddressValidation::PIN_CODE_MAX_TEXT_LENGTH
            = hidden_field :name => 'parent_location_id', :value => @branch.nil? ? params[:parent_location_id] : @branch.id
            = hidden_field :name => 'child_location_id', :value => @center.nil? ? params[:child_location_id] : @center.id
            = hidden_field :name => 'center_cycle_number', :value => center_cycle_number
            = hidden_field :at_branch_id, :value => @branch.nil? ? (params[:loan_application] and params[:loan_application][:at_branch_id]) : @branch.id
            = hidden_field :at_center_id, :value => @center.nil? ? (params[:loan_application] and params[:loan_application][:at_center_id]) : @center.id
    %div{:class => 'fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix'}
      %table.form{:style => "text-align:left;width:100%;"}
        %tfoot
          %tr
            %th
              Created By:
              = get_session_user_name
              = hidden_field :name => 'loan_application[created_by_staff_id]', :value => get_session_user_id
            %th
              Created On:
              = date_select :created_on, (params[:created_on] || Date.today), {:max_date => Date.today}
            %th{:style => "width:20%"}
              = submit 'Create and Continue', :style => "width:80%"
            %th{:style => "width:20%"}
              %input{:value => "Reset", :type => 'reset', :class => 'greenButton', :style => "width:80%"}