:javascript
  $(document).ready(function() {
  $('#toggle_select').change(function() {
    $('.select').attr('checked',$(this).attr('checked'))});  
  });
  
#client_list
  .shaded
    - center_cycle_number = CenterCycle.get_current_center_cycle(@center.id)
    - if center_cycle_number == 0 && !@center.blank?
      %h3 No Center cycle currently exists for this center. Please create one from the center show page
    - elsif @clients and @clients != [] 
      %h2 Add new loan applications
      %h3
        = "Center Cycle Number #{center_cycle_number}"
      %form{:action => url(:controller => :loan_applications, :action => :bulk_new), :method => :post}
        %table.form{:style => "width:100%;"}
          %thead
            %tr
              %th
                = check_box :id => "toggle_select" 
              %th
                Client ID
              %th
                Name
              %th
                Age
              %th
                Address
              %th
                New Loan
          %tbody
            - @clients.each do |client|
              %tr
                %td
                  - is_eligible = LoanApplication.allow_new_loan_application?(client.id)
                  - client_loans = client_facade.get_all_loans_for_counterparty(client)
                  - if (client_loans.blank? && is_eligible)
                    - checked_value =  params[:clients] && params[:clients]["#{client.id}"] && params[:clients]["#{client.id}"][:selected] == "on" ? "on" : nil
                    = check_box :name => "clients[#{client.id}][selected]", :class => "select" , :checked => checked_value
                %td
                  = client.id
                %td
                  = link_to client.name, url(:controller => :new_clients, :action => :show, :id => client.id)
                %td
                  = client.age
                %td
                  = client.address
                %td
                  - if (client_loans.blank? && is_eligible)
                    - loan_product_amount = (choice_facade.available_loan_products.collect {|lp| lp.loan_money_amount.to_regular_amount}).uniq
                    = select :name => "clients[#{client.id}][amount]", :collection => loan_product_amount.map{|x| [x.to_s]}
        %table.narrow.form{:style => "width:100%;"}
          %tfoot
            %tr
              %td
                %b
                  Created by
                = select :name => :staff_member_id, :text_method => :name, :value_method => :id, :collection => choice_facade.staff_that_can_manage_specific_location(@center.id), :prompt => "Select staff member"
              %td
                %b
                  Created on
                = date_select :created_on, Date.today
              %td{:style => "text-align:right;"}
                = hidden_field :name => :at_branch_id, :value => @branch.id
                = hidden_field :name => :at_center_id, :value => @center.id
                = hidden_field :name => :parent_location_id, :value => @branch.id
                = hidden_field :name => :child_location_id, :value => @center.id
                = hidden_field :name => :center_cycle_number, :value => center_cycle_number
                = submit 'Submit'
                %input{:value => "Reset all", :type => "reset"}
    - else
      %h2 Add new loan applications
      %h3 No clients at this center
