:javascript
  jQuery('table#data_entry_index tr').each(function(){
    if($(this).find('td a').length ==0){
      $(this).remove();
    }
  });

%table#data_entry_index
  %tr
  %tr
    %td
      %br
      = image_tag('/images/new_loan_applications.png', :height=> 70, :width=> 79)
    %td
      %h3{:style => "border-bottom: dotted 1px #999"}
        Loan Applications
      = link_to_with_rights "Bulk Upload Loan Applications", url(:controller => :loan_applications, :action => :bulk_upload_loan_applications), :class => 'add_small'
      %br
      = link_to_with_rights "New loan applicants", url(:controller => :loan_applications, :action => :bulk_create, :flag => 'true'), :class => 'add_small'
      %br
      = link_to_with_rights "New loans for existing clients", url(:controller => :loan_applications, :action => :bulk_new, :flag => 'true'), :class => 'add_small'
    %td{:style => "padding: 15px;"}
    %td
      %h3{:style => "border-bottom: dotted 1px #999"}
        Reports
      = link_to_with_rights "Loan Application Report", "/reports/LoanApplicationsReport", :class => "edit_small"
      %br
      = link_to_with_rights "Credit Bureau Report", "/reports/CreditBureauReport", :class => "edit_small"
      %br
      = link_to_with_rights "Loan File Report", "/reports/LoanFilesReport", :class => "edit_small"
  %tr
    %td
      %br
      = image_tag('/images/de_duplication.jpg', :height=> 70, :width=> 79)
    %td
      %h3{:style => "border-bottom: dotted 1px #999"}
        De-dupe
      = link_to_with_rights "Record CPV", url(:controller => :client_verifications, :action => :pending_verifications, :flag => 'true'), :class => 'add_small'
      %br
      = link_to_with_rights "Suspected duplicates", url(:controller => :loan_applications, :action => :suspected_duplicates, :flag => 'true'), :class => 'edit_small'
    %td{:style => "padding: 15px;"}
    %td
      %h3{:style => "border-bottom: dotted 1px #999"}
        Loan File
      = link_to_with_rights "Loan Files", url(:controller => :loan_files, :action => :show_loan_files, :flag => 'true'), :class => "edit_small"
  %tr
    %td
      %br
      = image_tag('/images/credit_bureau.png', :height=> 70, :width=> 79)
    %td
      %h3{:style => "border-bottom: dotted 1px #999"}
        Credit Bureau
      = link_to_with_rights "Download request files", url(:controller => :overlap_report_requests, :action => :request_file, :flag => 'true'), :class => 'edit_small'
      %br
      = link_to_with_rights "Upload response files", url(:controller => :overlap_report_responses, :action => :index), :class => 'edit_small'
  %tr
    %td
      %br
      = image_tag('/images/authorize_loans.png', :height=> 70, :width=> 79)
    %td
      %br
      %h3{:style => "border-bottom: dotted 1px #999"}
        Authorization
      = link_to_with_rights "Authorize loan applications",  url(:controller => :loan_authorizations, :action => :pending_authorizations, :flag => 'true'), :class => 'add_small'
  %tr
    %td
      %br
      %br
      = image_tag('/images/center_formation.png', :height=> 70, :width=> 79)
    %td
      %br
      %h3{:style => "border-bottom: dotted 1px #999"}
        Center formation
      = link_to_with_rights "Record CGT, GRT", url(:controller => :center_cycles, :action => :mark_cgt_grt, :flag => 'true'), :class => 'add_small'
  %tr
    %td
      %br
      %br
      = image_tag('/images/loan_file.png', :height=> 70, :width=> 79)
    %td
      %br
      %h3{:style => "border-bottom: dotted 1px #999"}
        Loan File
      = link_to_with_rights "Create loan files", url(:controller => :loan_files, :action => :loan_file_generation), :class => 'add_small'