:javascript
  function reset_all_fields(){
    jQuery("form input[type='radio']").attr('checked',false);
  }

  $(document).ready(function() {
    $('#select_all_as_approved').change(function() {
      $('.approve_duplicates').attr('checked',$(this).attr('checked'))});

    $('#select_all_as_rejected').change(function() {
      $('.reject_duplicates').attr('checked',$(this).attr('checked'))});
  });

#pending_list
  .shaded
    %h2 Pending Suspected duplicate loan applications
    - if @suspected_duplicates && !@suspected_duplicates.empty?
      = form(:action => url(:controller => 'loan_applications', :action => 'record_suspected_duplicates'), :method => :post) do
        %table.narrow.form{:width => "100%"}
          %thead
            %tr
              %td S.No.
              %td ID
              %td Name
              %td Guarantor Name
              %td Relationship
              %td DOB
              %td Age
              %td Age As On Date
              %td Address
              %td
                Approve all
                %br
                = radio_button :name => "bulk_select", :id => "select_all_as_approved"
              %td
                Reject all
                %br
                = radio_button :name => "bulk_select", :id => "select_all_as_rejected"
              %td Potential Matches
          %tbody
            - s_no = 0
            - @suspected_duplicates.each do |loan_application|
              %tr
                %td
                  = s_no += 1
                %td
                  = link_to_with_rights loan_application.id, "/loan_applications/#{loan_application.id}"
                %td
                  = loan_application.client_name
                %td
                  = loan_application.client_guarantor_name
                %td
                  = loan_application.client_guarantor_relationship
                %td
                  = loan_application.client_dob.blank? ? "-" : "#{loan_application.client_dob}"
                %td
                  = loan_application.client_age_as_on.blank? ? loan_application.client_age : loan_application.client_age_as_on
                %td
                  = loan_application.client_age_as_on_date.blank? ? Date.today : loan_application.client_age_as_on_date
                %td
                  = loan_application.client_address
                %td
                  - selected_clear =   !params[:clear_or_confirm_duplicate].nil? && params[:clear_or_confirm_duplicate]["#{loan_application.id}"] == "clear" ? "checked" : nil
                  %input{:name => "[clear_or_confirm_duplicate][#{loan_application.id}]", :type => "radio", :value => 'clear', :checked => selected_clear, :class => "approve_duplicates" }
                %td
                  - selected_confirm = !params[:clear_or_confirm_duplicate].nil? && params[:clear_or_confirm_duplicate]["#{loan_application.id}"] == "confirm" ? "checked" : nil
                  %input{:name => "[clear_or_confirm_duplicate][#{loan_application.id}]", :type => "radio", :value => 'confirm', :checked => selected_confirm, :class => "reject_duplicates" }
                  = hidden_field :name => 'parent_location_id', :value => @branch.id
                  = hidden_field :name => 'child_location_id', :value => @center.id unless @center.blank?
                %td
                  = link_to 'Duplicate Matches', url(:controller => :loan_applications, :action => :duplicate_record, :id => loan_application.id), :target => 'blank'
        %table.narrow.form
          %tfoot
            %tr
              %td
                %b Created By:
                = get_session_user_name
                = hidden_field :name => 'staff_member_id', :value => get_session_user_id
              %td
                %b Created On
                = date_select :created_on, get_effective_date, :max_date => get_effective_date
              %td{:style => "text-align:right;"}
                = submit "Save all"
                %input{:value => "Reset all", :type => "button", :onclick => "reset_all_fields();"}
    - else
      %h3 No suspected duplicate loan applications
