:javascript
  function reset_all_fields(){
    jQuery("form input[type='radio']").attr('checked',false);
  }

#pending_list
  .shaded
    %h2 Pending Suspected duplicate loan applications
    - if @suspected_duplicates && !@suspected_duplicates.empty?
      = form(:action => url(:controller => 'loan_applications', :action => 'record_suspected_duplicates'), :method => :post) do
        %table.narrow.form{:width => "100%"}
          %thead
            %tr
              %th S.No.
              %th ID
              %th Name
              %th Guarantor Name
              %th Relationship
              %th DOB
              %th Address
              %th{:colspan => 2, :style=>"text-align : center"} Actions
              %th Potential Matches
          %tbody
            - s_no = 0
            - @suspected_duplicates.each do |loan_application|
              %tr
                %td
                  = s_no += 1
                %td
                  = link_to_with_rights loan_application.id, "/loan_applications/#{loan_application.id}"
                %td
                  = loan_application.client_name
                %td
                  = loan_application.client_guarantor_name
                %td
                  = loan_application.client_guarantor_relationship
                %td
                  = loan_application.client_dob
                %td
                  = loan_application.client_address
                %td
                  - selected_clear =   !params[:clear_or_confirm_duplicate].nil? && params[:clear_or_confirm_duplicate]["#{loan_application.id}"] == "clear" ? "checked" : nil
                  %input{:name => "[clear_or_confirm_duplicate][#{loan_application.id}]", :type => "radio", :value => 'clear', :checked => selected_clear }
                  Clear
                %td
                  - selected_confirm = !params[:clear_or_confirm_duplicate].nil? && params[:clear_or_confirm_duplicate]["#{loan_application.id}"] == "confirm" ? "checked" : nil
                  %input{:name => "[clear_or_confirm_duplicate][#{loan_application.id}]", :type => "radio", :value => 'confirm', :checked => selected_confirm }
                  Confirm
                  = hidden_field :name => 'parent_location_id', :value => @branch.id
                  = hidden_field :name => 'child_location_id', :value => @center.id unless @center.blank?
                %td
                  = link_to loan_application.client_reference1_type, url(:controller => :searches, :action => :index, :query => "#{loan_application.client_reference1}", :search_on => 'reference'), :target => 'blank'
                  = link_to loan_application.client_reference2_type, url(:controller => :searches, :action => :index, :query => "#{loan_application.client_reference2}", :search_on => 'reference'), :target => 'blank'
        %table.narrow.form
          %tfoot
            %tr
              %td
                %b Created By:
                = get_session_user_name
                = hidden_field :name => 'staff_member_id', :value => get_session_user_id
              %td
                %b Created On
                = date_select :created_on, Date.today, :max_date => Date.today
              %td{:style => "text-align:right;"}
                = submit "Save all"
                %input{:value => "Reset all", :type => "button", :onclick => "reset_all_fields();"}
    - else
      %h3 No suspected duplicate loan application
