%h1 Loan applications added recently

- if @loan_applications and not @loan_applications.empty?
  %table.form.shaded
    %thead
      %tr
        %th Applicant Name
        %th Guarantor Name
        %th Relationship
        %th Applicant Birth Date
        %th Ration Card No.
        %th Voter Card No.
        %th Applied for amount
        %th Address
        %th Location
        %th Pincode
    %tbody
      - @loan_applications.each do |loan_application|
        %tr
          %td
            = loan_application.id
          %td
            = loan_application.client_guarantor_name
          %td
            = loan_application.client_guarantor_relationship
          %td
            = loan_application.client_dob
          %td
            = loan_application.client_reference1_type == 'Ration Card' ? loan_application.client_reference1 : 'NA'
          %td
            = loan_application.client_reference2_type == 'Voter ID' ? loan_application.client_reference2 : 'NA'
          %td
            = loan_application.amount
          %td
            = loan_application.client_address
          %td
            = loan_application.client_state
          %td
            = loan_application.client_pincode
- else
  %h3
    No recently added loan applications. Please start now.