%h1 New Loan Applications

- unless @errors.blank?
  - if @errors.is_a?(Hash)
    - @loan_applications.each do |loan_application|
      - if @errors[loan_application.client_id]
        .error
          - @errors[loan_application.client_id].keys.each do |key|
            = "#{loan_application.client_id}: #{key} => #{@errors[loan_application.client_id][key]}"
            %br
  - else    
    - @errors.each do |error|
      .error
        = error
        %br
          
%form{:action => url(:controller => :loan_applications, :action => :list), :method => :get}
  = partial 'lib/branch_center_selector'      

%br
%hr
  
= partial :list

%br
%hr

= partial :index



    