%h1 Duplicate Search Result
%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Id
    %td= @loan_application.id
  %tr.odd
    %th.odd Name
    %td= @loan_application.client_name
  %tr.even
    %th.even Guarantor name
    %td= @loan_application.client_guarantor_name
  %tr.odd
    %th.odd Relationship
    %td= @loan_application.client_guarantor_relationship
  %tr.even
    %th.even Date Of Birth
    %td= @loan_application.client_dob
  %tr.odd
    %th.odd Address
    %td= @loan_application.client_address
  %tr.even
    %th.even= "Reference (#{@loan_application.client_reference1_type.humanize})"
    %td.reference1= @loan_application.client_reference1 rescue nil
  %tr.odd
    %th.odd= "Reference (#{@loan_application.client_reference2_type.humanize})"
    %td.reference2= @loan_application.client_reference2 rescue nil
%h2 Clients
- if @clients.blank?
  No Client match for duplicate
- else
  %table.report.weeksheet.nojs
    %thead
      %th
        Id
      %th
        Name
      %th
        Reference first type
      %th
        Reference first value
      %th
        Reference second type
      %th
        Reference second value
    - @clients.each do |client|
      %tr
        %td
          = client.id
        %td
          = client.name
        %td
          = client.reference_type
        %td.match
          = client.reference rescue nil
        %td
          = client.reference2_type rescue nil
        %td.match
          = client.reference2 rescue nil
%br
%hr
%h2 Loan Applicants
- if @loan_applications.blank?
  No Loan Application match for duplicate
- else
  %table.report.weeksheet.nojs.center_loan
    %thead
      %th
        Id
      %th
        Name
      %th
        Reference first type
      %th
        Reference first value
      %th
        Reference second type
      %th
        Reference second value
    - @loan_applications.each do |la|
      %tr
        %td
          = la.id
        %td
          = la.client_name
        %td
          = la.client_reference1_type
        %td.match
          = la.client_reference1 rescue nil
        %td
          = la.client_reference2_type rescue nil
        %td.match
          = la.client_reference2 rescue nil

:javascript
  jQuery('table.report td.match').each(function(){
    reference1 = false
    reference2 = false
    val = jQuery(this).text();
    if(jQuery.trim(val) != ''){
      if(jQuery.trim("#{@loan_application.client_reference1}").length != 0 && (jQuery.trim(val) == "#{@loan_application.client_reference1}" || jQuery.trim(val) == "#{@loan_application.client_reference1.gsub(/[^0-9]/, '')}" || val.toLowerCase().indexOf("#{@loan_application.client_reference1}") >= 0)){
        jQuery(this).css('background','LightSeaGreen');
        reference1 = true
      }
      if(jQuery.trim("#{@loan_application.client_reference2}").length != 0 && (jQuery.trim(val) == "#{@loan_application.client_reference2}" || jQuery.trim(val) == "#{@loan_application.client_reference2.gsub(/[^0-9]/, '')}" || val.toLowerCase().indexOf("#{@loan_application.client_reference2}") >= 0)){
        jQuery(this).css('background','Orchid');
        reference2 = true
      }
      if(reference1 == true){
        jQuery('table.loan td.reference1').css('background', 'LightSeaGreen');
      }
      if(reference2 == true){
        jQuery('table.loan td.reference2').css('background','Orchid');
      }
   }

  })