%h1
  Loan Applications 
%table.narrow.form{:width => "100%"}
  %thead
    %tr
      %th ID
      %th Name
      %th Age
      %th Address
      %th Loan Amount
      %th Status
  %tbody
    - @loan_applications.each do |loan_application|
      %tr
        %td
          = loan_application.loan_application_id
        %td
          = loan_application.client_name
        %td
          = loan_application.client_dob.nil? ? "Unknown" : Date.today.year - loan_application.client_dob.year
        %td
          = loan_application.client_address
        %td
          = loan_application.amount
        %td
          = loan_application.status

= link_to 'New', url(:controller => :loan_applications, :action => :bulk_new)