%table#data_entry_index
  %tr
  %tr
    %td
      %br
      = image_tag('/images/new_loan_applications.png', :height=> 70, :width=> 79)
    %td
      %h3{:style => "border-bottom: dotted 1px #999"}
        Loan Applications
      = link_to "New loan applicants", url(:controller => :loan_applications, :action => :bulk_create, :flag => 'true'), :class => 'add_small'
      %br
      = link_to "New loans for existing clients", url(:controller => :loan_applications, :action => :bulk_new), :class => 'add_small'
  %tr
    %td
      %br
      = image_tag('/images/de_duplication.jpg', :height=> 70, :width=> 79)
    %td
      %h3{:style => "border-bottom: dotted 1px #999"}
        De-dupe
      = link_to "Suspected duplicates", url(:controller => :loan_applications, :action => :suspected_duplicates), :class => 'edit_small'
  %tr
    %td
      %br
      = image_tag('/images/credit_bureau.png', :height=> 70, :width=> 79)
    %td
      %h3{:style => "border-bottom: dotted 1px #999"}
        Credit Bureau
      = link_to "Download request files", url(:controller => :overlap_report_requests, :action => :index), :class => 'edit_small'
      %br
      = link_to "Upload response files", url(:controller => :overlap_report_responses, :action => :index), :class => 'edit_small'
  %tr
    %td
      %br
      = image_tag('/images/authorize_loans.png', :height=> 70, :width=> 79)
    %td
      %br
      %h3{:style => "border-bottom: dotted 1px #999"}
        Authorization
      = link_to "Authorize loan applications",  url(:controller => :loan_authorizations, :action => :pending_authorizations, :flag => 'true'), :class => 'add_small'
  %tr
    %td
      %br
      %br
      = image_tag('/images/center_formation.png', :height=> 70, :width=> 79)
    %td
      %br
      %h3{:style => "border-bottom: dotted 1px #999"}
        Center formation
      = link_to "Record CPV", url(:controller => :client_verifications, :action => :pending_verifications, :flag => 'true'), :class => 'add_small'
      %br
      = link_to "Record CGT, GRT", '#', :class => 'add_small'
  %tr
    %td
      %br
      %br
      = image_tag('/images/loan_file.png', :height=> 70, :width=> 79)
    %td
      %br
      %h3{:style => "border-bottom: dotted 1px #999"}
        Loan File
      = link_to "Create loan files", url(:controller => :loan_files, :action => :loan_file_generation), :class => 'add_small'
      %br
      = link_to "Health check on loan files", url(:controller => :loan_files, :action => :loan_files_for_health_checkup), :class => 'edit_small'