.shaded
  %h1 Loan Applications
  %div{:style => "text-align:right"}
    = link_to_with_rights "<< Back to report", "/reports/LoanApplicationsReport"
  %br
  %table.narrow.dataTable.form{:width => "100%"}
    %thead
      %tr
        %th S.No.
        %th ID
        %th Applicant Name
        %th DOB
        %th Address
        %th Loan Amount
        %th Loan Application Status
        %th Action

    %tbody
      - s_no = 0
      - @loan_applications.each do |loan_application|
        %tr
          %td
            = s_no += 1
          %td
            = loan_application.id
          %td
            = loan_application.client_name
          %td
            = loan_application.client_dob
          %td
            = loan_application.client_address
          %td
            = loan_application.amount
          %td
            = loan_application.status.humanize rescue nil
          %td
            = link_to_with_rights "Show", "/loan_applications/#{loan_application.id}"
