- unless @errors.blank?
  - @errors.keys.each do |key|
    .error
      = "#{@errors[key]}"
      %br

%h1 Credit Bureau Responses

.shaded
  %h2 Upload Credit Bureau Response File
  
  %form{:action => url(:controller => :overlap_report_responses, :action => :upload_response), :enctype => "multipart/form-data", :method => "post"}
    %input{:name => "file", :size => "80", :type => "file"}
    %input{:type => "submit", :value => "Upload"}

%br
%hr
  
- if @responses      
  .shaded
    %h2 Results
    %table.unsortable.form{:width => "100%"}
      %thead
        %th Loan Application ID
        %th Name
        %th Date of Birth
        %th Age
        %th Age As On Date
        %th Address
        %th Response 
        %th Status
        %th Rejection Reason
      %tbody
        - @responses.each do |response|
          - loan_application = LoanApplication.get(response.loan_application_id)
          %tr
            %td
              = link_to_with_rights loan_application.id, "/loan_applications/#{loan_application.id}"
            %td
              = loan_application.client_name
            %td
              = loan_application.client_dob.blank? ? "-" : "#{loan_application.client_dob}"
            %td
              = loan_application.client_age_as_on.blank? ? loan_application.client_age : loan_application.client_age_as_on
            %td
              = loan_application.client_age_as_on_date.blank? ? Date.today : loan_application.client_age_as_on_date
            %td
              = loan_application.client_address
            %td
              = link_to_with_rights response.id, resource(response)
            %td
              = loan_application.credit_bureau_status.humanize rescue nil
            %td
              - rejection_reason = loan_application.credit_bureau_rejection_reason.blank? ? 'N/A' : loan_application.credit_bureau_rejection_reason
              = rejection_reason
