%h1
  = "Create Clients from loan applications of Loan File #{@loan_file.loan_file_identifier}"
.menu-strip
  %h3
    = "Branch: #{@branch.name}"
    %br
    = "Center: #{@center.name}"
    %br
    = "Center Cycle Number: #{@center_cycle_number}"
    %br
    - healthcheck_is_clear = Checklist.is_healthcheck_complete?("loan_file_"+@loan_file.loan_file_identifier.to_s)
    Healthcheck status:
    = healthcheck_is_clear ? "Cleared" : "Pending"
%hr

.shaded
  %h2 Select loan application to create client
  - unless @loan_file.loan_applications.blank?
    - loan_applications = @loan_file.loan_applications
    = form(:action => url(:controller => :new_clients, :action => :create_client_for_selected_loan_application)) do
      = hidden_field :name => "loan_file_id", :value => @loan_file.id
      %table.dataTable.form{:style => "width:100%;"}
        %thead
          %tr
            %th
              = "Select"
            %th
              = "ID"
            %th
              = "Name"
            %th
              = "Guarantor Name"
            %th
              = "Applicant Birth Date"
            %th
              = "Ration Card No."
            %th
              = "Voter Card No."
            %th
              = "Amount"
            %th
              = "Address"
            %th
              = "State"
            %th
              = "Pincode"
            %th
              = "Status"
        %tbody
          - count = 0
          - loan_applications.each do |lap|
            - if lap.client_id.nil? && lap.status == Constants::Status::LOAN_FILE_GENERATED_STATUS
              - count =+ 1
              %tr
                %td
                  = radio_button :name => "loan_application_id", :value => lap.id
                %td
                  = link_to_with_rights lap.id, "/loan_applications/#{lap.id}"
                %td
                  = lap.client_name
                %td
                  = lap.client_guarantor_name
                %td
                  = lap.client_dob
                %td
                  = lap.client_reference1
                %td
                  = lap.client_reference2
                %td
                  = lap.loan_money_amount.to_s
                %td
                  = lap.client_address
                %td
                  = lap.client_state.humanize
                %td
                  = lap.client_pincode
                %td
                  = lap.status.humanize rescue nil
      = submit "Create client" unless count == 0
      = link_to "Back", url(:controller => 'loan_files', :action => "show", :id => @loan_file.id), :class => "greenButton"
  - else
    %h3 No loan applications