- unless @errors.blank?
  - if @errors.is_a?(Hash)
    - @errors.keys.each do |client_id|
      - if @errors[client_id]
        .error
          - @errors[client_id].keys.each do |key|
            = "[Client ID: #{client_id}] #{key}: #{@errors[client_id][key]}"
            %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br

%h1 Insurance claims
.shaded
  = form_for(@death_event, :action => url(:controller => :new_clients, :action => :record_death_claim_insurance)) do
    = hidden_field :name => "death_event_id", :value => @death_event.id
    = hidden_field :name => "accounted_at_id", :value => @accounted_at
    = hidden_field :name => "client_id", :value => @client.id
    = hidden_field :name => "simple_insurance_policy", :value => @simple_insurance_policy
    = hidden_field :name => "claim_status", :value => Constants::Insurance::CLAIM_FILED
    %table
      %tr
        %td
          Claim filed on
        %td
          = date_select :filed_on, Date.today, :min_date => @death_event.reported_on, :max_date => Date.today
      %tr
        %td
          Claim status
        %td
          = Constants::Insurance::CLAIM_FILED.humanize
      %tr
        %td
          Performed by
        %td
          = get_session_user_name
          = hidden_field :name => "performed_by", :value => get_session_user_id
      %tr
        %td
          = submit 'Submit', :class => "greenButton"
          = link_to 'Back', url("new_clients/show/#{@client.id}"), :class => "greenButton"