- @client = @client.blank? ? Client.new : @client
- if @message
  .error
    = @message[:error]
= form_for(@client, :action => url(:controller => :new_clients, :action=> :update, :id => @client.id), :multipart => true) do
  = hidden_field :name => :client_type, :value => @client.class
  = partial("new_clients/tabs")
  = submit "Update client", :class => "grey_button"
  = link_to_with_rights 'Cancel', params[:return], :class => "grey_button"