:javascript
  $(document).ready(function() {
  $('#select_all').change(function() {
    $('input.checkbox').attr('checked',$(this).attr('checked'))});
  });

- unless @errors.blank?
  - if @errors.is_a?(Hash)
    - @errors.keys.each do |client_id|
      - if @errors[client_id]
        .error
          - @errors[client_id].keys.each do |key|
            = "[Client ID: #{client_id}] #{key}: #{@errors[client_id][key]}"
            %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br

%h1 Client Movement
.menu-strip{:style => "width:8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
= form_for(:new_clients, :action => url(:controller => :new_clients, :action => :index)) do
  = partial 'lib/biz_location_selector'
- unless @client_admins.blank?
  = form_for(:new_clients, :action => url(:controller => :new_clients, :action => :update_client_location)) do
    = hidden_field :name => "parent_biz_location", :value => params[:parent_location_id]
    = hidden_field :name => "child_biz_location", :value => params[:child_location_id]
    = hidden_field :name => "effective_date", :value => params[:effective_date]
    %br
    %table.dataTable.report.weeksheet.nojs
      %thead
        %tr
          %th
            Select All
            %br
            = check_box :name => 'select_all'
          %th
            id
          %th
            Name
          %th
            Effective on
      - @client_admins.each do |client_admin|
        - client = client_admin.counterparty
        %tr
          %td{:style => "text-align:center;"}
            = check_box :name => 'client[move_client_ids][]', :value => client.id
          %td
            = client.id
          %td
            = link_to client.name, url(:controller => :new_clients, :action => :show, :id => client.id)
          %td
            = client_admin.effective_on
    %div{:class => 'fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix'}
      %table.form{:style => "text-align:center;width:100%;"}
        %thead
          %tr
            %th
              Select Center
            %th
              = select :name=>"client[biz_location_id]", :collection => @child_locations.collect{|b| [b.id, b.name] }, :class => 'chosen'
            %th
              To Be Moved On:
            %td
              = date_select "move_on_date", get_effective_date, :size => 8
            %th
              Performed by:
            %th
              - staff_member  = session.user.staff_member
              = select :name => "client[move_by_staff]", :text_method => :name, :value_method => :id, :collection => [staff_member], :prompt => "Select staff member", :selected => staff_member.id.to_s, :style => "width:300px;", :class => 'chosen'
            %th
              = submit "Save"
:javascript
  $(document).ready(function() {
    $('div.chzn-container-single').css('width','230px');
  });