%h1 Client Movement
.menu-strip{:style => "width:8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
= form_for(:new_clients, :action => url(:controller => :new_clients, :action => :index)) do
  = partial 'lib/biz_location_selector'
- unless @client_admins.blank?
  = form_for(:new_clients, :action => url(:controller => :new_clients, :action => :update_client_location)) do
    = hidden_field :name => "parent_biz_location", :value => params[:parent_location_id]
    = hidden_field :name => "child_biz_location", :value => params[:child_location_id]
    = hidden_field :name => "effective_date", :value => params[:effective_date]
    %br
    %table.dataTable.report.weeksheet.nojs
      %thead
        %tr
          %th
            id
          %th
            Name
          %th
            Effective on
          %th
            Move Client
          %th
            Staff by
          %th
            To Be Moved On
          %th
            Location
      - @client_admins.each do |client_admin|
        - client = client_admin.counterparty
        %tr
          %td
            = client.id
          %td
            = link_to client.name, url(:controller => :new_clients, :action => :show, :id => client.id)
          %td
            = client_admin.effective_on
          %td
            = radio_button :name => "client_id", :value => client.id
          %td
            = select :name => "client[#{client.id}][][performed_by]", :collection => StaffMember.all.aggregate(:id,:name)
          %td
            = date_select "client[#{client.id}][][effective_on]", client_admin.effective_on+1, {:id => "effective_on_#{client.id}", :min_date => client_admin.effective_on+1}
          %td
            = select :name=>"client[#{client.id}][][biz_location]", :collection => @child_locations.collect{|b| [b.id, b.name] }
    = submit "Save"