:javascript
  function get_deceased_person(client,guarantor){
    if ($("#relation_selector").val() == "Guarantor") {
      $(".show_guarantor_detail").css("display", "block");
      $("#deceased_name").attr("value", guarantor);
    } else {
    $(".show_guarantor_detail").css("display", "none");
    $("#deceased_name").attr("value", client);
    }
  }

- unless @errors.blank?
  - if @errors.is_a?(Hash)
    - @errors.keys.each do |client_id|
      - if @errors[client_id]
        .error
          - @errors[client_id].keys.each do |key|
            = "[Client ID: #{client_id}] #{key}: #{@errors[client_id][key]}"
            %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br

%h1 Register death event
.shaded
  = form_for(@client, :action => url(:controller => :new_clients, :action => :record_death_event)) do
    = hidden_field :name => "client_id", :value => @client.id
    %table.tall.shaded
      %tr
        %th
          Name of client
        %td
          = @client.name
      %tr
        %th
          Deceased name
        %td
          = text_field :name => "deceased_name", :value => @client.name, :id => "deceased_name", :readonly => "true"
          %span.greytext.show_guarantor_detail{:style => "display:none;"}
            = "<b>#{@client.guarantor_relationship}</b>"
      %tr
        %th
          Relationship to client
        %td
          = select :name => "relationship_to_client", :collection => Constants::Masters::DECEASED_PERSON_RELATIONSHIPS.map{|x| [x.to_s, x]}, :selected => Constants::Masters::SELF_RELATIONSHIP.to_s, :id => "relation_selector", :onchange => "get_deceased_person('#{@client.name}', '#{@client.guarantor_name}');"
      %tr
        %th
          Date of death
        %td
          = date_select :date_of_death, Date.today
      %tr
        %th
          Reported on
        %td
          = date_select :reported_on, Date.today
      %tr
        %th
          Reported by
        %td
          = get_session_user_name
          = hidden_field :name => 'reported_by', :value => get_session_user_id
      %tr
        %td
          = submit 'Submit', :class => "greenButton"
          = link_to 'Back', url("new_clients/show/#{@client.id}"), :class => "greenButton"