%h1== Client Name: <i>#{@client.name}</i>
.menu-strip
  = link_to_with_rights 'Edit Client', url(:controller => :new_clients, :action => :edit, :id => @client.id), :class => 'add grey_button'
  - @checklist_type=ChecklistType.first(:name=>"Customer Calling")
  =# link_to 'Customer Calling', url(:checklister_slice,:checklist_type_id=>@checklist_type.id,:filler=>session.user.login,:loc2=>@client_admin.administered_at,:target_entity_name=> @client.name,:loc2type=>"Center"), :class => 'add grey_button', :target => 'blank'
  = link_to_with_rights 'Customer Calling', url_for_checklist('Customer Calling', @client, BizLocation.first, BizLocation.last, session.user.staff_member, Date.today, params, nil), :class => 'add grey_button', :target => 'blank'
%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Name
    %td
      = @client.name
  %tr.odd
    %th.odd Joining Date
    %td
      = @client.date_joined
  %tr.even
    %th.even Date of Birth
    %td
      = @client.date_of_birth
  %tr.odd
    %th.odd Spouse Name
    %td= @client.spouse_name
  %tr.even
    %th.even Manager
    %td= @client_admin.performed_by_staff
  %tr.odd
    %th.odd At Location
    %td=link_to @biz_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => @biz_location.id)
  %tr.even
    %th.even Group
    %td= @client.client_group.name unless @client.client_group.blank?
  %tr.odd
    %th.odd Occupation
    %td= @client.occupation.name unless @client.occupation.blank?
  %tr.even
    %td
      = link_to_with_rights "Register Death Event", url(:controller => :new_clients, :action => :register_death_event, :client_id => @client.id), :class => "greenButton"

%div.tab_container.shaded
  %ul.tabs
    %li#loans
      Loans
    %li#accounting
      Accounting
    %li#movement
      Movement
    %li#policy
      Policy
    %li#history
      History
  %div.tab
    = partial "user_locations/loans_on_biz_location"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :new_clients, :action => :show_accounts, :id => @client.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :new_clients, :action => :client_movement, :id => @client.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :new_clients, :action => :client_insurance_policies, :id => @client.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
