- at_branch = BizLocation.get(@client_admin.registered_at) rescue nil
- at_center = BizLocation.get(@client_admin.administered_at) rescue nil
- managed_by = LocationManagement.staff_managing_location(at_center.id, get_effective_date)
- client_active = client_facade.is_client_active?(@client)

%br
%div{:style => "float: right; padding: 10px; border: solid 1px lightgrey"}
  = image_tag @client.picture.url(:medium)
%h1== Client Name: <i>#{@client.name}</i>
- if client_facade.client_has_death_event?(@client)
  - if client_facade.client_death_documents_recieved?(@client)
    .menu-strip
      %h4{:style => "color: red"} 
        = "Client is Inactive (#{client_facade.death_event_filed_for(@client)} Death)"
  - else
    .menu-strip
      %h4{:style => "color: red"}
        = "Client is under Death Claim Process (#{client_facade.death_event_filed_for(@client)} Death)"
- else
  .menu-strip
    = link_to_with_rights 'Edit Client', url(:controller => :new_clients, :action => :edit, :id => @client.id), :class => 'add grey_button'
    - @checklist_type=ChecklistType.first(:name=>"Customer Calling")
    - if check_checklist_parameters(@client, BizLocation.first, BizLocation.last, session.user.staff_member, Date.today, params, nil)
      = link_to 'Customer Calling', url_for_checklist('Customer Calling',@client.class.to_s, @client, at_branch, at_center, session.user.staff_member, Date.today, params, nil), :class => 'add grey_button', :target => 'blank'
%table.loan{ :style => "width:50%; border: solid 1px #cfcfcf; margin: 5px;" }
  %tr.even
    %th.even Name
    %td
      = @client.name
  %tr.odd
    %th.odd Joining Date
    %td
      = @client.date_joined
  %tr.even
    %th.even Date of Birth
    %td
      = @client.date_of_birth
  %tr.odd
    %th.odd Spouse Name
    %td= @client.spouse_name
  %tr.even
    %th.even Manager
    %td
      - if managed_by.blank?
        Not Managed
      - else
        - staff_member = managed_by.manager_staff_member
        = link_to_with_rights staff_member.name, url(:controller => :staff_members, :action => :show, :id => staff_member.id)
  %tr.odd
    %th.odd= LocationLevel.first(:level => 1).name
    %td= link_to_with_rights at_branch.name, url(:controller => :user_locations, :action => :show, :id => at_branch.id)
  %tr.even
    %th.even
      = LocationLevel.first(:level => 0).name
    %td= link_to_with_rights at_center.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => at_center.id)
  %tr.odd
    %th.odd Group
    %td
      - if @client.client_group.blank?
        Not Attached to any group
      - else
        = link_to_with_rights @client.client_group.name, url(:controller => :client_groups, :action => :show, :id => @client.client_group.id)
  %tr.even
    %th.even Occupation
    %td= @client.occupation.name unless @client.occupation.blank?
  %tr.odd
    %th.odd Priority Sector List
    %td= @client.priority_sector_list.name if @client.priority_sector_list
  %tr.even
    %th.even PSL Sub-category
    %td= @client.psl_sub_category.name if @client.psl_sub_category
  - if client_active
    %tr.odd
      %td
        = link_to_with_rights "Register Death Event", url(:controller => :new_clients, :action => :register_death_event, :id => @client.id), :class => "greenButton"
%div.tab_container.shaded
  %ul.tabs
    %li#loans
      Loans
    %li#accounting
      Accounting
    %li#movement
      Movement
    %li#policy
      Policy
    %li#attendance
      Attendance
    %li#history
      History
  %div.tab
    = partial "user_locations/loans_on_biz_location"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :new_clients, :action => :show_accounts, :id => @client.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :new_clients, :action => :client_movement, :id => @client.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :new_clients, :action => :client_insurance_policies, :id => @client.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :new_clients, :action => :client_attendance, :id => @client.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}