%h2== Encumberances
%p== #{link_to_with_rights 'Create a new encumberance',"/Encumberances/new",:class=>"add"}
- if @encumberances.blank?
  %p
    %i No encumberances have been created yet.
- else
  %table.narrow.dataTable.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th name
        %th amount
        %th date of commencement
    - for encumberance in @encumberances
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          %a{:href => url(:controller => 'encumberances', :id => encumberance.id, :action => 'loans_for_encumberance_on_date')}
            = encumberance.id
        %td
          %a{:href => url(:controller => 'encumberances', :id => encumberance.id, :action => 'loans_for_encumberance_on_date')}
            = encumberance.name
        %td
          = encumberance.assigned_value_money_amount
        %td
          = encumberance.effective_on
    %tfoot
      %tr
        %td{ :colspan => 9 }
