:javascript
  $('table.loan_ecum').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

%h1 Details of Encumberance: #{@encumberance.name}

.menu-strip{:style => "width: 10%;"}
  = link_to_with_rights "Back", url(:encumberances), :class => "grey_button"

= form_for(@encumberance, :action => url(:controller => :encumberances, :action => :loans_for_encumberance_on_date, :id => @encumberance.id)) do
  %table.tall.shaded
    %tr
      %th
        Name
      %td
        = @encumberance.name
    %tr
      %th
        Assigned Value
      %td
        = @encumberance.to_money[:assigned_value].to_s
    - unless @total_money.blank?
      %tr
        %th
          Portfolio scheduled value
        %td
          = "#{@total_money[:scheduled_total_outstanding].to_s} as on #{@date}" 
      %tr
        %th 
          Portfolio actual value
        %td
          = "#{@total_money[:actual_total_outstanding].to_s} as on #{@date}"
      %tr
        %th
          = "#{@shortfall_or_excess}"
        %td
          = "#{@difference}"
    %tr
      %th
        Date
      %td
        = date_select 'encu_date', @date.blank? ? get_effective_date : @date, :min_date => @encumberance.effective_on, :max_date => Date.today

  = submit 'Go'

- if @lendings.blank?
  %h3
    No loan exists
- else
  %table.report.weeksheet.nojs.loan_ecum
    %thead
      %tr
        %th
        %th
          Loan ID
        %th
          Applied Amount
        %th
          Borrower
        %th
          Applied Date
        %th
          First Repayment Date
        %th
          Scheduled Disbursal Date
        %th
          Repayment Frequency
        %th
          Tenure
        %th
          Administered At
        %th
          Accounted At
        %th
          Loan Status
        %th
          Loan Assignment Status
    - loan_row_count = 1
    - @lendings.each do |lending|
      - lending = lending.class == Lending ? lending : Lending.get(lending)
      %tr
        %td
          = loan_row_count
        %td
          = link_to_with_rights lending.id, resource(lending)
        %td
          = lending.to_money[:applied_amount].to_s
        %td
          = link_to lending.borrower.name, url(:controller => :new_clients, :action => :show, :id => lending.borrower.id)
        %td
          = lending.applied_on_date
        %td
          = lending.scheduled_first_repayment_date
        %td
          = lending.scheduled_disbursal_date
        %td
          = lending.repayment_frequency
        %td
          = lending.tenure
        %td
          = link_to_with_rights lending.administered_at_origin_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => lending.administered_at_origin)
        %td
          = link_to_with_rights lending.accounted_at_origin_location.name, url(:controller => :user_locations, :action => :show, :id => lending.accounted_at_origin)
        %td
          = lending.status.humanize
        %td
          = loan_assignment_facade.loan_assignment_status_message(lending.id)
        - loan_row_count = loan_row_count + 1
    %tfoot
      %tr.org_total
        %td{:colspan => 7}