:javascript
  $('table.loan_ecum').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
= form_for(@encumberance, :action => url(:controller => :encumberances, :action => :loans_for_encumberance_on_date, :id => @encumberance.id)) do
  %h1
    Encumberances
  %table
    %tr
      %th
        Name
      %td
        = @encumberance.name
    %tr
      %th
        Assigned Value
      %td
        = @encumberance.to_money[:assigned_value].to_s
    - unless @total_money.blank?
      %tr
        %th
          Portfolio scheduled value
        %td
          = "#{@total_money[:scheduled_total_outstanding].to_s} as on #{@date}" 
      %tr
        %th 
          Portfolio actual value
        %td
          = "#{@total_money[:actual_total_outstanding].to_s} as on #{@date}"
      %tr
        %th
          = "#{@shortfall_or_excess}"
        %td
          = "#{@difference}"
    %tr
      %th
        Date
      %td
        = date_select 'encu_date', @date.blank? ? get_effective_date : @date, :min_date => @encumberance.effective_on, :max_date => Date.today

  = submit 'Go'

- if @lendings.blank?
  %h3
    No loan exists
- else
  %table.report.weeksheet.nojs.loan_ecum
    %thead
      %tr
        %th
          S.No.
        %th
          Loan ID
        %th
          Loan Amount
        %th
          Borrower
        %th
          Disbursed On
        %th
          Scheduled Total Outstanding
        %th
          Actual Total Outstanding
    - loan_row_count = 1
    - @lendings.each do |lending|
      - lending = lending.class == Lending ? lending : Lending.get(lending)
      %tr
        %td
          = loan_row_count
        %td
          = link_to_with_rights lending.id, resource(lending)
        %td
          = lending.to_money[:applied_amount].to_s
        %td
          = link_to lending.borrower.name, url(:controller => :new_clients, :action => :show, :id => lending.borrower.id)
        %td
          = lending.scheduled_disbursal_date
        %td
          = lending.scheduled_total_outstanding(@date)
        %td
          = lending.actual_total_outstanding
        - loan_row_count = loan_row_count + 1
    %tfoot
      %tr.org_total
        %td{:colspan => 7}