- if @funding_lines.blank?
  %p
    %i No funding lines have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th Id
        %th Amount
        %th Sanction Date
        %th Tranches
        %th Actions
    - @funding_lines.each do |funding_line|
      %tr{ :class => cycle('odd','') }
        %td
          = funding_line.id
        %td
          = funding_line.funding_line_money_amount.to_s
        %td
          = funding_line.sanction_date
        %td
          = link_to_with_rights("View Tranches","/new_tranches/list/#{funding_line.id}")
        %td
          = link_to_with_rights 'Edit Funding Line', resource(@funder,funding_line,:edit), :class => "edit grey_button"