%h1
  = "Details for funding line #{@funding_line.id} by #{@funding_line.new_funder.name}"

.menu-strip{:style => "width: 25%;"}
  = link_to_with_rights 'Edit Funding Line', resource(@funding_line.new_funder, @funding_line, :edit), :class => "edit grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url("new_funders/#{@funding_line.new_funder.id}"), :class => "grey_button"

%table.tall.shaded
  %tbody
    %tr
      %th{:align => "left"} 
        Id
      %td
        = @funding_line.id
    %tr
      %th{:align => "left"} Amount
      %td
        %b= @funding_line.funding_line_money_amount.to_s
    %tr
      %th{:align => "left"} Sanction Date
      %td
        = @funding_line.sanction_date

%div.tab_container.shaded
  %ul.tabs
    %li#loans Loans
    %li#history History

  %div.tab
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}