%h1
  = "Details of funding line #{@funding_line.id} by #{@funding_line.new_funder.name}"

.menu-strip{:style => "width: 25%;"}
  = link_to_with_rights 'Edit Funding Line', resource(@funding_line.new_funder, @funding_line, :edit), :class => "edit grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url("new_funders/#{@funding_line.new_funder.id}"), :class => "grey_button"

%table.tall.shaded
  %tbody
    %tr
      %th{:align => "left"} 
        Id
      %td
        = @funding_line.id
    %tr
      %th{:align => "left"} Amount
      %td
        %b= @funding_line.funding_line_money_amount.to_s
    %tr
      %th{:align => "left"} Sanction Date
      %td
        = @funding_line.sanction_date

%div.tab_container
  %ul.tabs
    %li#tranches Tranches
    %li#history History

  %div.tab
  %div.tab
    %br
    %table.report.nojs{:width => "100%"}
      %tr
        %th
          For
        %th
          Action
        %th
          Changes
        %th
          Date
        %th
          User
      - id = @funding_line.id
      - model = "NewFundingLine"
      - @obj = Kernel.const_get(model).get(id)
      - @trails = AuditTrail.all(:auditable_id => id, :auditable_type => model, :order => [:created_at.desc])
      - @trails.each do |trail|
        %tr
          %td
            = link_to_with_rights "#{trail.auditable_type} #{trail.auditable_id}", url(:controller => trail.auditable_type.pluralize.downcase, :action => "show", :id => trail.auditable_id)
          %td.text
            %span{:class => get_status_class([:delete, :create, :update].index(trail.action))}
              = trail.action
          %td.text
            %table{:width => '100%'}
              /= diff_display(trail.changes, @obj, trail.action)
          %td
            = trail.created_at.strftime("%d-%m-%Y %H:%M")
          %td
            = trail.user ? trail.user.login : "admin"