- if @funding_lines.blank?
  %p
    %i No funding lines have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th Id
        %th Amount
        %th Interest
        %th Disbursal Date
        %th First Payment Date
        %th Last Payment Date
        %th View Tranches
        %th Action
    - for funding_line in @funding_lines
      %tr{ :class => cycle('odd','') }
        %td
          = funding_line.id
        %td
          %b= link_to_with_rights funding_line.amount, resource(funding_line)
        %td
          %b
            = funding_line.interest_percentage
            \%
        %td
          = funding_line.disbursal_date
        %td
          = funding_line.first_payment_date
        %td
          = funding_line.last_payment_date
        %td
          = link_to_with_rights("View Tranches","/tranches/list/#{funding_line.id}")
        %td
          = link_to_with_rights 'Edit Funding Line', resource(@funder, funding_line, :edit), :class => "edit grey_button"