%h1 Details for funding line #{@funding_line.id} by #{@funding_line.funder.name}

.menu-strip{:style => "width: 25%;"}
  = link_to_with_rights 'Edit Funding Line', resource(@funding_line.funder, @funding_line, :edit), :class => "edit grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url("funders/#{@funding_line.funder.id}"), :class => "grey_button"

%table.tall.shaded
  %tbody
    %tr
      %th{:align => "left"} 
        Id
      %td
        = @funding_line.id
    %tr
      %th{:align => "left"} Amount
      %td
        %b= @funding_line.amount
    %tr
      %th{:align => "left"} Interest
      %td
        %b
          = @funding_line.interest_percentage
          \%
    %tr
      %th{:align => "left"} Disbursal Date
      %td
        = @funding_line.disbursal_date
    %tr
      %th{:align => "left"} First Payment Date
      %td
        = @funding_line.first_payment_date
    %tr
      %th{:align => "left"} Last Payment Date
      %td
        = @funding_line.last_payment_date

%div.tab_container.shaded
  %ul.tabs
    %li#loans Loans
    %li#history History

  %div.tab
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}