:javascript
  jQuery("select.multiple").multiSelect();
%table.tall
  %tr
    %th
      Name
    %td
      = text_field :name
  %tr
    %th
      On Date
    %td
      = date_select_for @holiday, :on_date
  %tr
    %th
      Move Date
    %td
      = date_select_for @holiday, :move_work_to_date
  - if @biz_location.blank?
    %tr
      %th
        For Location
      %td
        = select :name => 'biz_location', :collection => BizLocation.all, :text_method => :name, :value_method => :id, :class => 'multiple'
  - else
    = hidden_field :name => 'biz_location', :value => @biz_location.id
  %tr
    %th
      By Staff Member
    %td
      = select :performed_by, :text_method => :name, :value_method => :id, :collection => staff_members_on_location(get_effective_date, params[:biz_location_id])
