= hidden_field :biz_location, :value => params[:biz_location_id]
%table
  %tr
    %th
      Name
    %td
      = text_field :name
  %tr
    %th
      On Date
    %td
      = date_select_for @holiday, :on_date
  %tr
    %th
      Move Date
    %td
      = date_select_for @holiday, :move_work_to_date
  %tr
    %th
      By Staff Member
    %td
      = select :performed_by, :text_method => :name, :value_method => :id, :collection => staff_members_on_location(get_effective_date, params[:biz_location_id])
