:javascript
  $('table.holiday').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%div{:style => "width:25%; float: right;", :class => 'shaded'}
  = form_for(:location_holidays, :action => resource(:location_holidays, :custom_calendar), :multipart => true, :class => "bold") do
    %table.form
      %thead
        %tr
          %th
            Change Year
          %th
            = select :name => "custom_calendar_year", :collection => ['2012','2013'], :selected => Date.today.year
          %th
            = submit "Go"
%h1
  =link_to 'Custom Calendar', "#", :onclick => "jQuery('div#upload').toggle();"
%br
%br
%br
#upload{:style => "display:#{@custom_calendar_dates.blank? ? '' : 'none'}", :class => "shaded"}
  %h2 Upload Custom Calendar XLS File
  = form_for(:location_holidays, :action => resource(:location_holidays, :custom_calendar), :multipart => true, :class => "bold") do
    = text_field :name => "custom_calender_file", :type => :file, :size => '80'
    = submit 'Upload'
  = link_to 'Download Custom Calendar XLS Format File', resource(:location_holidays,:download_custom_calendar_format)
- unless @custom_calendar_dates.nil?
  - if @custom_calendar_dates.blank?
    %h2 Custom Calendar does not exists
  - else
    %h2== Custom Calendar For Year-#{params[:custom_calendar_year]||get_effective_date.year}
    %table.dataTable.report.weeksheet.nojs
      %thead
        %tr
          %th
            S. No.
          %th
            Day
          %th
            Normal Date
          %th
            Collection Date
          %th
            Holiday
      - count = 1
      - @custom_calendar_dates.sort_by{|d| d.on_date}.each do |data_value|
        %tr
          %td
            = count
          %td
            = data_value.on_date.weekday.to_s.capitalize
          %td
            = data_value.on_date
          %td
            = data_value.collection_date
          %td{:style => "width:20%"}
            = data_value.holiday_name
        - count += 1
- if params[:submit] == 'Upload'
  - if @data.blank?
    %h2== No Custom Calendar yet.
  - else
    %h2== Uploaded Data in #{params[:custom_calender_file][:filename]}
    = form_for(:location_holidays, :action => resource(:location_holidays, :record_custom_calendar)) do
      %table.dataTable.report.weeksheet.nojs.holiday
        %thead
          %tr
            %th
              S. No.
            %th
              Day
            %th
              Normal Date
            %th
              Collection Date
            %th
              Holiday
        - @data.each do |s_no, data_value|
          %tr
            %td
              = s_no
            %td
              = data_value['day']
            %td
              = data_value['normal date']
              = hidden_field :name => "custom_calendar[#{s_no.to_i}][normal date]", :value => data_value['normal date']
            %td
              = data_value['collection date']
              = hidden_field :name => "custom_calendar[#{s_no.to_i}][collection date]", :value => data_value['collection date']
            %td{:style => "width:20%"}
              = data_value['holiday']
              = hidden_field :name => "custom_calendar[#{s_no}][holiday]", :value => data_value['holiday']
      %div{:class => 'fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix'}
        %table.form{:style => "text-align:center;width:100%;"}
          %thead
            %tr
              %th
                Custom Calendar Year
              %td
                = select :name => "custom_calendar_year", :collection => ['2012','2013'], :selected => Date.today.year
              %th
                Performed by:
              %th
                - staff_member  = session.user.staff_member
                = select :name => "performed_by_staff", :text_method => :name, :value_method => :id, :collection => [staff_member], :prompt => "Select staff member", :selected => staff_member.id.to_s
              %th
                = submit 'Save'