%h1 Create a new Tranch
= error_messages_for @tranch
= form_for (:new_tranches, :action => resource(@funder, @funding_line, :new_tranches)) do
  %fieldset
    = partial "fields" 
    = submit "Create"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    = link_to_with_rights "Cancel", request.referer, :class => "grey_button"