%h1
  Holiday Calendars

%table
  %tr
  - for holiday_calendar in @holiday_calendars
    %tr
      %td
        = holiday_calendar.name
      %td
        = holiday_calendar.applic.name
      %td
        = link_to_with_rights 'Show', url(:holiday_calendar, holiday_calendar)
      %td
        = link_to_with_rights 'Edit', url(:edit_holiday_calendar,  holiday_calendar)

= link_to_with_rights 'New', url(:new_holiday_calendar)