%h1 New Claim

= error_messages_for @claim

= form_for(@claim, :action => resource(@client, :claims) ) do
  = partial :fields
  %p
    = submit "Create"

= link_to_with_rights 'Back', resource(@client, :claims)
