%h1= "Edit Details of Funder: #{@funder.name}"

= error_messages_for @funder

= form_for(@funder, :action => url(:funder, @funder)) do
  = partial :fields
  = submit "Update"
  &nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;
  = link_to_with_rights "Cancel", url("funders/#{@funder.id}"), :class => "grey_button"