%h1 Overview of all funders

.menu-strip{:style => "margin: 10px; width: 30%;"}
  = link_to_with_rights 'Create a new funder', url(:new_funder), :class => "add grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"

- if @funders.blank?
  %p
    %i No funders have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %td ID
        %td Name
        %td Funding Lines
        %td Portfolios
        %td
    - for funder in @funders
      %tr{ :class => cycle('odd','') }
        %td
          = funder.id
        %td
          %b= link_to_with_rights funder.name, resource(funder)
        %td
          %b= funder.funding_lines.size
        %td
          %b= funder.portfolios.size
        %td
          = link_to_with_rights 'Edit', resource(funder, :edit)
          %br
          = link_to_with_rights 'New Funding Line', resource(funder, :funding_lines, :new)