%h1
  = "Funder: <i>#{@funder.name}</i>"

.menu-strip{:style => "width: 50%;"}
  = link_to_with_rights 'Edit this funder details', resource(@funder, :edit), :class => "edit grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Create a New Funding Line", resource(@funder, :funding_lines, :new), :class => "add grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:funders), :class => "grey_button"

%table.loan{ :style => "width:50%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Name
    %td
      = @funder.name
      == (id: #{@funder.id})
  %tr.odd
    %th.odd Funding lines
    %td
      = @funder.funding_lines.size
  %tr.even
    %th.even First disbursement
    %td
      = @funder.funding_lines.min(:disbursal_date)
  %tr.odd
    %th.odd Last disbursement
    %td
      = @funder.funding_lines.max(:disbursal_date)
  %tr.even
    %th.even Portfolios
    %td
      = @funder.portfolios.size

%div.tab_container.shaded
  %ul.tabs
    %li#funding_lines Funding Lines
    %li#history History
    -# %li#portfolios
    -#   Portfolios
  %div.tab
    %br
    = partial "funding_lines/list"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}
  -# %div.tab
  -#   = partial "portfolios/list"