%h1
  = "Funder: <i>#{@funder.name}</i>"
  &nbsp;
  = link_to_with_rights 'Edit', resource(@funder, :edit), :class => "edit"

%table.loan{ :style => "width:50%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even name
    %td
      = @funder.name
      == (id: #{@funder.id})
  %tr.odd
    %th.odd Funding lines
    %td
      = @funder.funding_lines.size
  %tr.even
    %th.even First disbursement
    %td
      = @funder.funding_lines.min(:disbursal_date)
  %tr.odd
    %th.odd Last disbursement
    %td
      = @funder.funding_lines.max(:disbursal_date)
  %tr.even
    %th.even Portfolios
    %td
      = @funder.portfolios.size

%div.tab_container
  %ul.tabs
    %li#funding_lines
      Funding lines
    %li#portfolios
      Portfolios
  %div.tab
    = partial "funding_lines/list"
  %div.tab
    = partial "portfolios/list"