%h1
  Location Level
= link_to 'Add New Location Level', '#', :class => 'add grey_button', :onclick => "jQuery('#location_level').toggle(); return false;"
#location_level{:style => "display : #{@location_levels.blank? ? false : 'none' }", :class => 'shaded'}
  = partial :fields
%br
- unless @location_levels.count == 0
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Id
        %th
          Level
        %th
          Name
        %th
          Creation Date
    - for location_level in @location_levels
      %tr
        %td
          = location_level.id
        %td
          = location_level.level
        %td
          = location_level.name
        %td
          = location_level.creation_date

