%h1
  Location Level

.menu-strip{:style => "width: 30%;"}
  = link_to 'Add New Location Level', '#', :class => 'add grey_button', :onclick => "jQuery('#location_level').toggle(); return false;"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"

#location_level{:style => "display : #{@location_levels.blank? ? false : 'none' }", :class => 'shaded'}
  = partial :fields
%br
- unless @location_levels.count == 0
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Id
        %th
          Level
        %th
          Name
        %th
          Creation Date
    - for location_level in @location_levels
      %tr
        %td
          = location_level.id
        %td
          = location_level.level
        %td
          = link_to location_level.name, resource(location_level)
        %td
          = location_level.creation_date

