%h1
  Location Level
- unless @location_levels.count == 0
  %table.narrow
    %thead
      %tr
        %th
          Id
        %th
          Level
        %th
          Name
        %th
          Created At
    %tr
      - for location_level in @location_levels
        %tr
          %td
            = location_level.id
          %td
            = location_level.level
          %td
            = location_level.name
          %td
            = location_level.created_at.strftime("%Y-%m-%d")
= link_to 'Add New Location Level', '#', :class => 'add grey_button', :onclick => "jQuery('#location_level').toggle(); return false;"
#location_level{:style => "display : #{@location_levels.blank? ? false : 'none' }"}
  = form_for(@location_level, :action => url(:location_levels) ) do
    = partial :fields
    = submit 'Save'
    = link_to_with_rights 'Cancel', url(params[:return]), :class => "grey_button"
