%h1 
  == Highmark Response for Loan id #{link_to(@loan.id, resource(@loan))}

%h3
  status:
  = @response.status
- r = JSON::parse(@response.response_text || "{}")
- r.keys.each do |key|
  %h3 
    = key
  - unless key == "RESPONSES"
    %table.tall.shaded      
      - r[key].keys.each do |k|
        %tr
          %th 
            = k	  
          %td
            - unless k == "SUMMARY"
              = r[key][k]
            - else
              - r[key][k].keys.each do |ki|
                %div
                  %code
                    = ki.downcase
                  %i
                    = r[key][k][ki]
  - else
    - responses = [r[key]["RESPONSE"]].flatten
    - responses.each do |response|
      %table.tall.shaded
        - response.keys.each do |ke|
          %tr
            %th
              = ke
            %td
              - unless ke == "LOAN_DETAILS"
                = response[ke]
              - else
                - response[ke].keys.each do |ky|
                  %div
                    %code
                      = ky.downcase
                    %i
                      = response[ke][ky]
                      