%table.tall.shaded
  %tr
    %th
      Asset Type
    %td
      = text_field :asset_type
  %tr
    %th
      Issue To
    %td
      = text_field :name
      %span.greytext
  %tr
    %th
      Issue Date
    %td
      = date_select_for @asset_register, :issue_date
  %tr
    %th
      Issued By
    %td
      - if @biz_location
        - staff_member = []
        - @staff_postings = StaffPosting.get_staff_assigned(@biz_location.id, get_effective_date)
        - @staff_postings.each do |staff_posting|
          - staff_member << staff_posting.staff_assigned
        = select :manager_staff_id, :collection => staff_member.map{|s| [s.id, s.name]}, :prompt => "choose staff member"
        %span.greytext select the person who is entering the details
      - else
        = select :manager_staff_id, :collection => StaffMember.all(:order => [:name]).select{|s| s.user.blank?}, :prompt => "choose staff member", :text_method => :name, :value_method => :id
        %span.greytext select the person who has issued the asset
  %tr
    %th
      Returned On
    %td
      = date_select_for @asset_register, :returned_date