%table.tall.shaded
  %tr
    %th
      Branch
    %td
      - if params[:action] == "edit_from_biz_location"
        = @asset_register.biz_location.name
        = hidden_field :name => :biz_location_id, :value => @biz_location.id
      - else
        = @biz_location.name
        = hidden_field :name => :biz_location_id, :value => @biz_location.id
  %tr
    %th
      Issue To
    %td
      = text_field :name
      %span.greytext enter the name to whom the asset type is being issued
  %tr
    %th
      Issue Date
    %td
      = @asset_register.issue_date
      = hidden_field :name => :issue_date, :value => @asset_register.issue_date
  %tr
    %th
      Returned On
    %td
      = date_select 'asset_register[returned_date]', @asset_register.returned_date.blank? ? Date.today : @asset_register.returned_date, {:id => 'returned_date'}
  %tr
    %th
      Issued By
    %td
      = @asset_register.manager.name
      = hidden_field :name => :manager_staff_id, :value => @asset_register.manager.id
  %tr
    %th
      Asset Category
    %td
      = @asset_register.asset_category.name
      = hidden_field :name => :asset_category_id, :value => @asset_register.asset_category.id
  %tr
    %th
      Asset Sub-category
    %td
      = @asset_register.asset_sub_category.name
      = hidden_field :name => :asset_sub_category_id, :value => @asset_register.asset_sub_category.id
  %tr
    %th
      Asset Type
    %td
      = @asset_register.asset_type.name
      = hidden_field :name => :asset_type_id, :value => @asset_register.asset_type.id
  %tr
    %th
      Name of the item
    %td
      = @asset_register.name_of_the_item
      = hidden_field :name => :name_of_the_item, :value => @asset_register.name_of_the_item
  %tr
    %th
      Tag number
    %td
      = @asset_register.tag_no
      = hidden_field :name => :tag_no, :value => @asset_register.tag_no
  %tr
    %th
      Name of the vendor
    %td
      = @asset_register.name_of_the_vendor
      = hidden_field :name => :name_of_the_vendor, :value => @asset_register.name_of_the_vendor
  %tr
    %th
      Invoice number
    %td
      = @asset_register.invoice_number
      = hidden_field :name => :invoice_number, :value => @asset_register.invoice_number
  %tr
    %th
      Invoice date
    %td
      = @asset_register.invoice_date
      = hidden_field :name => :invoice_date, :value => @asset_register.invoice_date
  %tr
    %th
      Make
    %td
      = @asset_register.make
      = hidden_field :name => :make, :value => @asset_register.make
  %tr
    %th
      Model
    %td
      = @asset_register.asset_model
      = hidden_field :name => :asset_model, :value => @asset_register.asset_model
  %tr
    %th
      Serial number
    %td
      = @asset_register.serial_no
      = hidden_field :name => :serial_no, :value => @asset_register.serial_no
  %tr
    %th
      Date
    %td
      = @asset_register.date
      = hidden_field :name => :date, :value => @asset_register.date