%table.tall.shaded
  %tr
    %th
      Branch
    %td
      - if @biz_location
        = @biz_location.name
        = hidden_field(:biz_location_id, :value => @biz_location.id)
      - else
        - location_facade = FacadeFactory.instance.get_instance(FacadeFactory::LOCATION_FACADE, User.first)
        - branch_collection = location_facade.all_nominal_branches
        = select :biz_location_id, :collection => branch_collection.map{|b| [b.id, b.name]}, :prompt => "Select Branch"
        %span.greytext select branch for entering the Asset Details
  %tr
    %th
      Issue To
    %td
      = text_field :name
      %span.greytext name of the Staff member to whom the asset is being issued
  %tr
    %th
      Issue Date
    %td
      = date_select_for @asset_register, :issue_date
  %tr
    %th
      Issued By
    %td
      - if @biz_location
        - staff_member = []
        - @staff_postings = StaffPosting.get_staff_assigned(@biz_location.id, get_effective_date)
        - @staff_postings.each do |staff_posting|
          - staff_member << staff_posting.staff_assigned
        = select :manager_staff_id, :collection => staff_member.map{|s| [s.id, s.name]}, :prompt => "choose staff member"
        %span.greytext select the staff member who is entering the details
      - else
        = select :manager_staff_id, :collection => StaffMember.all(:order => [:name]).select{|s| s.user.blank?}, :prompt => "choose staff member", :text_method => :name, :value_method => :id
        %span.greytext select the staff member who issued the asset
  %tr
    %th
      Asset Category
    %td
      - if @asset_category
        = @asset_category.name
        = hidden_field(:asset_category_id, :value => @asset_category.id)
      - else
        = select :asset_category_id, :collection => AssetCategory.all.map{ |x| [x.id, x.name]}, :prompt => "Select Asset Category"
  %tr
    %th
      Asset Sub-category
    %td
      - if @asset_sub_category
        = @asset_sub_category.name
        = hidden_field(:asset_sub_category_id, :value => @asset_sub_category.id)
      - else
        = select :asset_sub_category_id, :collection => AssetSubCategory.all.map{ |x| [x.id, x.name]}, :prompt => "Select Asset Sub-category"
  %tr
    %th
      Asset Type
    %td
      - if @asset_type
        = @asset_type.name
        = hidden_field(:asset_type_id, :value => @asset_type.id)
      - else
        = select :asset_type_id, :collection => AssetType.all.map{ |x| [x.id, x.name]}, :prompt => "Select Asset Type"
  %tr
    %th
      Name of the item
    %td
      = text_field :name_of_the_item
  %tr
    %th
      Tag number
    %td
      = text_field :tag_no
  %tr
    %th
      Name of the vendor
    %td
      = text_field :name_of_the_vendor
  %tr
    %th
      Invoice number
    %td
      = text_field :invoice_number
  %tr
    %th
      Invoice date
    %td
      = date_select_for @asset_register, :invoice_date
  %tr
    %th
      Make
    %td
      = text_field :make
  %tr
    %th
      Model
    %td
      = text_field :asset_model
  %tr
    %th
      Serial number
    %td
      = text_field :serial_no
  %tr
    %th
      Date
    %td
      = date_select_for @asset_register, :date
