- form_url = url(:controller => params[:controller], :action => 'update', :id => @asset_register.id, :return => params[:return])
- cancel_url = params[:return] ? params[:return] : resource(@asset_register)
= error_messages_for @asset_register

= form_for(@asset_register, :action => form_url, :class => "") do
  %h1 Asset Register
  = error_messages_for @asset_register
  %fieldset
    = partial "asset_registers/fields"
    = submit "Save changes"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    - if @biz_location
      = link_to 'Cancel', url("user_locations/show/#{asset_register.biz_location.id}"), :class => "grey_button"
    - else
      = link_to 'Cancel', url(:asset_registers), :class => "grey_button"