- form_url = url(:controller => params[:controller], :action => 'update', :id => @asset_register.id, :return => params[:return])
- cancel_url = params[:return] ? params[:return] : resource(@asset_register)
= error_messages_for @asset_register

= form_for(@asset_register, :action => form_url, :class => "") do
  %h1 Asset Register
  %fieldset
    = partial "asset_registers/edit_fields"
    = submit "Save changes"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    = link_to 'Cancel', url(:asset_registers), :class => "grey_button"