%h2
  Asset Register
%p
  = link_to_with_rights "Enter new details", resource(:asset_registers, :new, {:branch_id => params[:branch_id]}), :class => "add _remote_"
- if @asset_registers.blank?
  %p
    %i No data to display. Please enter the data to the Asset Register.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th Id
        %th Biz Location
        %th Issued To
        %th Issue Date
        %th Issued By
        %th Returned On

        %th Asset Category
        %th Asset Sub-category
        %th Asset Type
        %th Name of the item
        %th Tag number
        %th Name of the vendor
        %th Invoice number
        %th Invoice date
        %th Make
        %th Model
        %th Serial number
        %th Date

        %th Edit/Delete

    %tbody
    - for asset_register in @asset_registers
      %tr{ :class => cycle('odd', '') }
        %td
          = asset_register.id
        %td
          = asset_register.biz_location

        %td
          = asset_register.name
        %td
          = asset_register.issue_date
        %td
          = link_to asset_register.manager_staff_id, url(:quick_link, "staff_members", asset_register.manager_staff_id)
        %td
          = asset_register.returned_date


        %td
          = asset_register.asset_category.name
        %td
          = asset_register.asset_sub_category.name
        %td
          = asset_register.asset_type.name

        %td
          = asset_register.name_of_the_item
        %td
          = asset_register.tag_no
        %td
          = asset_register.name_of_the_vendor
        %td
          = asset_register.invoice_number
        %td
          = asset_register.invoice_date
        %td
          = asset_register.make
        %td
          = asset_register.asset_model
        %td
          = asset_register.serial_no
        %td
          = asset_register.date

        %td
          = link_to 'edit', resource(asset_register, :edit)

    %tfoot
      %tr
        %td{ :colspan => 10 }

  = paginate @asset_registers
  - if @branch
    = link_to 'Back', url(:quick_link, "branches", asset_register.branch_id)
  - else
    = link_to 'Back', url(:asset_registers)
