%h1 List of Assets

.menu-strip{:style => "width: 30%;"}
  = link_to_with_rights "Enter new Asset details", resource(:asset_registers, :new, {:biz_location_id => params[:biz_location_id]}), :class => "add grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
%br

- if @asset_registers.blank?
  %p
    %i No data to display. Please enter the details to the Asset Register.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th Id
        %th Branch
        %th Issued To
        %th Issue Date
        %th Issued By
        %th Returned On
        %th Asset Category
        %th Asset Sub-category
        %th Asset Type
        %th Name of the item
        %th Tag number
        %th Name of the vendor
        %th Invoice number
        %th Invoice date
        %th Make
        %th Model
        %th Serial number
        %th Date
        %th Actions

    - for asset_register in @asset_registers
      %tr{ :class => cycle('odd', '') }
        %td
          = link_to_with_rights asset_register.id, resource(asset_register)
        %td
          = link_to_with_rights asset_register.biz_location.name, url("user_locations/show/#{asset_register.biz_location.id}")
        %td
          = asset_register.name
        %td
          = asset_register.issue_date
        %td
          = link_to_with_rights StaffMember.get(asset_register.manager_staff_id).name, url(:quick_link, "staff_members", asset_register.manager_staff_id)
        %td
          = asset_register.returned_date
        %td
          = link_to_with_rights asset_register.asset_category.name, url("asset_categories/#{asset_register.asset_category.id}")
        %td
          = link_to_with_rights asset_register.asset_sub_category.name, url("asset_categories/#{asset_register.asset_category.id}/asset_sub_categories/#{asset_register.asset_sub_category.id}")
        %td
          = link_to_with_rights asset_register.asset_type.name, url("asset_categories/#{asset_register.asset_category.id}/asset_sub_categories/#{asset_register.asset_sub_category.id}/asset_types/#{asset_register.asset_type.id}")
        %td
          = link_to_with_rights asset_register.name_of_the_item, resource(asset_register)
        %td
          = asset_register.tag_no
        %td
          = asset_register.name_of_the_vendor
        %td
          = asset_register.invoice_number
        %td
          = asset_register.invoice_date
        %td
          = asset_register.make
        %td
          = asset_register.asset_model
        %td
          = asset_register.serial_no
        %td
          = asset_register.date
        %td
          = link_to_with_rights "show", resource(asset_register)
          %br
          = link_to_with_rights 'edit', resource(asset_register, :edit)          

    %tfoot
      %tr
        %td{ :colspan => 10 }

  - if @biz_location
    = link_to 'Back', url("user_locations/show/#{asset_register.biz_location.id}"), :class => "grey_button"