- form_url = resource(:asset_registers, {:return => params[:return]})
= error_messages_for @asset_register

%h2 Enter the details of new Asset
= form_for(@asset_register, :action => form_url, :class => "") do
  
  %fieldset
    = partial "asset_registers/fields"
    = submit "Submit Details"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    - if @biz_location
      = link_to 'Cancel', url("user_locations/show/#{asset_register.biz_location.id}"), :class => "grey_button"
    - else
      = link_to 'Cancel', url(:asset_registers), :class => "grey_button"