%h1 Overview of Asset: #{@asset_register.name_of_the_item}

.menu-strip{:style => "width:23%;"}
  = link_to_with_rights "Edit Asset details", url(:controller => "asset_registers", :action => :edit_from_biz_location, :id => @asset_register.id), :class => "edit grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url("user_locations/show/#{@asset_register.biz_location.id}" + "#asset_register"), :class => "grey_button"

%table.tall.shaded
  %tr
    %th
      Id
    %td
      = @asset_register.id
  %tr
    %th
      Branch
    %td
      = link_to_with_rights @asset_register.biz_location.name, url("user_locations/show/#{@asset_register.biz_location.id}")
  %tr
    %th
      Issued To
    %td
      = @asset_register.name
  %tr
    %th
      Issue Date
    %td
      = @asset_register.issue_date
  %tr
    %th
      Issued By
    %td
      = link_to_with_rights StaffMember.get(@asset_register.manager_staff_id).name, url(:quick_link, "staff_members", @asset_register.manager_staff_id)
  %tr
    %th
      Returned On
    %td
      = @asset_register.returned_date
  %tr
    %th
      Asset Category
    %td
      = link_to_with_rights @asset_register.asset_category.name, url("asset_categories/#{@asset_register.asset_category.id}")
  %tr
    %th
      Asset Sub-category
    %td
      = link_to_with_rights @asset_register.asset_sub_category.name, url("asset_categories/#{@asset_register.asset_category.id}/asset_sub_categories/#{@asset_register.asset_sub_category.id}")
  %tr
    %th
      Asset Type
    %td
      = link_to_with_rights @asset_register.asset_type.name, url("asset_categories/#{@asset_register.asset_category.id}/asset_sub_categories/#{@asset_register.asset_sub_category.id}/asset_types/#{@asset_register.asset_type.id}")
  %tr
    %th
      Name of the item
    %td
      = @asset_register.name_of_the_item
  %tr
    %th
      Tag number
    %td
      = @asset_register.tag_no
  %tr
    %th
      Name of the vendor
    %td
      = @asset_register.name_of_the_vendor
  %tr
    %th
      Invoice number
    %td
      = @asset_register.invoice_number
  %tr
    %th
      Invoice date
    %td
      = @asset_register.invoice_number
  %tr
    %th
      Make
    %td
      = @asset_register.make
  %tr
    %th
      Model
    %td
      = @asset_register.asset_model
  %tr
    %th
      Serial number
    %td
      = @asset_register.serial_no
  %tr
    %th
      Date
    %td
      = @asset_register.date

%div.tab_container.shaded
  %ul.tabs
    %li#history History

  %div.tab
    %table.report.nojs{:width => "100%"}
      %tr
        %th
          For
        %th
          Action
        %th
          Changes
        %th
          Date
        %th
          User
      - id = @asset_register.id
      - model = "AssetRegister"
      - @obj = Kernel.const_get(model).get(id)
      - @trails = AuditTrail.all(:auditable_id => id, :auditable_type => model, :order => [:created_at.desc])
      - @trails.each do |trail|
        %tr
          %td
            = link_to_with_rights "#{trail.auditable_type} #{trail.auditable_id}", url(:controller => trail.auditable_type.pluralize.downcase, :action => "show", :id => trail.auditable_id)
          %td.text
            %span{:class => get_status_class([:delete, :create, :update].index(trail.action))}
              = trail.action
          %td.text
            %table{:width => '100%'}
              = diff_display(trail.changes, @obj, trail.action)
          %td
            = trail.created_at.strftime("%d-%m-%Y %H:%M")
          %td
            = trail.user ? trail.user.login : "admin"