- if @funders.blank?
  #container_form
    .shaded
      No funders created
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th ID
        %th Funder Name
        %th Funding Lines
        %th Actions
    - @funders.each do |funder|
      %tr
        %td
          = funder.id
        %td
          = link_to_with_rights funder.name, resource(funder)
        %td
          = link_to_with_rights "Funding Lines (#{funder.new_funding_lines.size rescue 0})", url("new_funding_lines/list/#{funder.id}")
        %td
          = link_to_with_rights 'Edit', resource(funder, :edit)
          %br
            = link_to_with_rights 'New Funding Line', resource(funder, :new_funding_lines, :new)