%h1 Create New Funder
= error_messages_for @funder
= form_for(@funder, :action => url(:new_funders)) do
  = partial :fields
  = submit "Create"
  &nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;
  = link_to_with_rights "Cancel", url(:funders), :class => "grey_button"