%h1
  = "Details of Funder: <i>#{@funder.name}</i>"

.menu-strip{:style => "width: 50%;"}
  = link_to_with_rights 'Edit Funder Details', resource(@funder, :edit), :class => "edit grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Create New Funding Line", resource(@funder, :new_funding_lines, :new), :class => "add grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:new_funders), :class => "grey_button"

%table.loan{ :style => "width:50%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Funder Name
    %td
      = @funder.name
      == (id: #{@funder.id})
  %tr.odd
    %th.odd Total Funding lines
    %td
      = @funder.new_funding_lines.size

%div.tab_container.shaded
  %ul.tabs
    %li#funding_lines Funding Lines
    %li#history History

  %div.tab
    %br
      = partial "new_funding_lines/list"
  %div.tab
    %br
    %table.report.nojs{:width => "100%"}
      %tr
        %th
          For
        %th
          Action
        %th
          Changes
        %th
          Date
        %th
          User
      - id = @funder.id
      - model = "NewFunder"
      - @obj = Kernel.const_get(model).get(id)
      - @trails = AuditTrail.all(:auditable_id => id, :auditable_type => model, :order => [:created_at.desc])
      - @trails.each do |trail|
        %tr
          %td
            = link_to_with_rights "#{trail.auditable_type} #{trail.auditable_id}", url(:controller => trail.auditable_type.pluralize.downcase, :action => "show", :id => trail.auditable_id)
          %td.text
            %span{:class => get_status_class([:delete, :create, :update].index(trail.action))}
              = trail.action
          %td.text
            %table{:width => '100%'}
              = diff_display(trail.changes, @obj, trail.action)
          %td
            = trail.created_at.strftime("%d-%m-%Y %H:%M")
          %td
            = trail.user ? trail.user.login : "admin"