%table.shaded
  %tr
    %th
      Name
    %td{:colspan => 4}
      = text_field :name
  %tr
    %th
      Amount
    %td
      %span.greytext
      = text_field :amount
  %tr
    %th
      Tenure
    %td
      = text_field :tenure
  %tr
    %th
      Interest rate
    %td
      %span.greytext
      = text_field :interest_rate
  %tr
    %th
      Interest amount
    %td
      %span.greytext
      = text_field :name => 'lending_product_template[interest_amount]'
  %tr
    %th
      Principal Schedule
    %td
      = text_field :name =>'lending_product_template[principal_schedule]'
  %tr
    %th
      Interest Schedule
    %td
      = text_field :name => 'lending_product_template[interest_schedule]'
  %tr
    %th
      Currency
    %td
      %span.greytext
      = select :name => "lending_product[currency]", :collection => Constants::Money::CURRENCIES.map {|currency| [currency]}
  %tr
    %th
      Repayment frequency
    %td
      %span.greytext
      = select :name => "lending_product[repayment_frequency]", :collection => MarkerInterfaces::Recurrence::FREQUENCIES.map {|frequency| [frequency.to_s]}
  %tr
    %th
      Fee Product
    %td
      = select :name => 'loan_fee_id', :collection => SimpleFeeProduct.all(:fee_charged_on_type => Constants::Transaction::FEE_CHARGED_ON_LOAN).map{|fee| [fee.id, fee.name]}, :prompt => "Select Fee"
  %tr
    %th
      Insurance Products
    %td
      = select :name => 'insurance_product_id', :collection => SimpleInsuranceProduct.all.map{|ins| [ins.id, ins.name]}, :prompt => "Select Insurance"
  %tr
    %th
      Preclosure Penalty
    %td
      = select :name => 'loan_preclosure_penalty_id', :collection => SimpleFeeProduct.all(:fee_charged_on_type => Constants::Transaction::PRECLOSURE_PENALTY_ON_LOAN).map{|fee| [fee.id, fee.name]}, :prompt => "Select Preclosure fee"
  %tr
    %th
      Repayment Allocation Strategy
    %td
      = select :repayment_allocation_strategy, :collection => Constants::LoanAmounts::LOAN_REPAYMENT_ALLOCATION_STRATEGIES.map{|las| [las.to_s]}

