%h1 Loan Products
= link_to "Add new Loan Product", url(:new_lending_product), :class => 'add grey_button'
- unless @lending_products.blank?
  %table.dataTable.weeksheet{:style => "width:100%"}
    %thead
      %tr
        %td
          Name
        %td
          Amount
        %td
          Interest rate
        %td
          Repayment frequency
        %td
          Tenure
        %td
          Action
    %tbody.form
      - @lending_products.each do |lp|
        %tr
          %td
            = lp.name
          %td
            = lp.to_money[:amount]
          %td
            = lp.interest_rate
          %td
            = lp.repayment_frequency
          %td
            = lp.tenure
          %td
            = link_to "Show Loans", resource(lp)
            |
            = link_to "Create Loan", resource(:lendings, :new, :lending_product_id => lp.id, :client_id => "#{@client.blank? ? '' : @client.id}", :biz_location_id => params[:biz_location_id])
