%h1 Lending Products

- unless @lending_products.blank?
  %table.form{:style => "width:100%; border:1px;"}
    %thead
      %tr
        %td
          Name
        %td
          Amount
        %td
          Interest rate
        %td
          Repayment frequency
        %td
          Currency
        %td
          Tenure
        %td
          Action
    %tbody.form
      - @lending_products.each do |lp|
        %tr
          %td
            = lp.name
          %td
            = Money.new(lp.amount.to_i, :INR).amount
          %td
            = lp.interest_rate
          %td
            = lp.repayment_frequency
          %td
            = lp.currency
          %td
            = lp.tenure
          %td
            = link_to "Show Loans", resource(lp)
            |
            = link_to "Create Loan", resource(:lendings, :new, :lending_product_id => lp.id, :client_id => "#{@client.blank? ? '' : @client.id}")