- if @message && !@message[:error].blank?
  .error
    = @message[:error]
- if @location.blank?
  %h1 Loan Product
- else
  %h1== Loan Product For #{@location.name}
= form_for(@lending_product, :action => :create) do
  = partial :fields
  = submit "Create"
  &nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;
  = link_to_with_rights "Cancel", resource(:lending_products), :class => "grey_button"
%br