- unless @errors.blank?
  - if @errors.is_a?(Hash)
    .error
      - @errors.keys.each do |lap_id|
        - if @errors[lap_id]
          = "#{@errors[lap_id]}"
          %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br
%h1 Lending Product

= form_for(@lending_product, :action => :create) do
  = partial :fields
  = submit "Create"