%h1
  Details of Loan Product :
  = @lending_product.name unless @lending_product.blank?

  .menu-strip{:style => "width: 8%;"}
    = link_to_with_rights "Back", url(:lending_products), :class => "grey_button"

- unless @lending_product.blank?
  %table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
    %tr.even
      %th.even
        Name
      %td
        = @lending_product.name
    %tr.odd
      %th.odd
        Amount
      %td
        = @lending_product.to_money[:amount]
    %tr.even
      %th.even
        Interest rate
      %td
        = @lending_product.interest_rate
    %tr.odd
      %th.odd
        Repayment Frequency
      %td
        = @lending_product.repayment_frequency
    %tr.even
      %th.even
        Tenure
      %td
        = @lending_product.tenure
    %tr.odd
      %th.odd
        Repayment Allocation Strategy
      %td
        = @lending_product.repayment_allocation_strategy.humanize
    - fees = FeeAdministration.get_fee_products(@lending_product)
    - fee_products = fees.select{|f| f.fee_charged_on_type==Constants::Transaction::FEE_CHARGED_ON_LOAN}
    - fee_penalities = fees.select{|f| f.fee_charged_on_type==Constants::Transaction::PRECLOSURE_PENALTY_ON_LOAN}
    %tr.even
      %th.even
        Fee Product
      %td
        = fee_products.map(&:name).join(',') unless fee_products.blank?
    - insurances = @lending_product.simple_insurance_products
    %tr.odd
      %th.odd
        Insurance Product
      %td
        = insurances.map(&:name).join(', ') unless insurances.blank?
    %tr.even
      %th.even
        Preclosure Penality
      %td
        = fee_penalities.map(&:name).join(',') unless fee_penalities.blank?
    %tr.odd
      %th.odd
        Branch
      %td
        = @lending_product.get_assign_locations(get_effective_date).join(', ')

%div.tab_container.shaded
  %ul.tabs
    %li#schedule Schedule
    %li#history History

  %div.tab
    %br
    - schedule_template_items = @lending_product.loan_schedule_template.schedule_template_line_items
    - unless schedule_template_items.blank?
      %table.dataTable.report.weeksheet.nojs
        %thead
          %tr
            %td
              Installment
            %td
              Payment Type
            %td
              Principal Amount
            %td
              Interest Amount
        %tbody.form
          - schedule_template_items.each do |item|
            %tr
              %td
                = item.installment
              %td
                = item.payment_type.humanize
              %td
                = item.to_money[:principal_amount]
              %td
                = item.to_money[:interest_amount]
  %div.tab
    %br
    %table.report.nojs{:width => "100%"}
      %tr
        %th
          For
        %th
          Action
        %th
          Changes
        %th
          Date
        %th
          User
      - id = @lending_product.id
      - model = "LendingProduct"
      - @obj = Kernel.const_get(model).get(id)
      - @trails = AuditTrail.all(:auditable_id => id, :auditable_type => model, :order => [:created_at.desc])
      - @trails.each do |trail|
        %tr
          %td
            = link_to_with_rights "#{@lending_product.name} (Id: #{@lending_product.id})", url(:controller => :lending_products, :action => "show", :id => trail.auditable_id)
          %td.text
            %span{:class => get_status_class([:delete, :create, :update].index(trail.action))}
              = trail.action
          %td.text
            %table{:width => '100%'}
              - change = []
              - trail.changes.each do |x|
                - next if x.keys.include?(:amount)
                - change << x
              = diff_display(change, @obj, trail.action)
          %td
            = trail.created_at.strftime("%d-%m-%Y %H:%M")
          %td
            = trail.user ? trail.user.login : "admin"