%h1
  Lending Product :
  = @lending_product.name unless @lending_product.blank?
- unless @lending_product.blank?
  %table
    %tr
      %th
        Name
      %td
        = @lending_product.name
      %th
        Amount
      %td
        = Money.new(@lending_product.amount.to_i,:INR).amount
      %th
        Interest rate
      %td
        = @lending_product.interest_rate
    %tr
      %th
        Repayment Frequency
      %td
        = @lending_product.repayment_frequency
      %th
        Currency
      %td
        = @lending_product.currency
      %th
        Tenure
      %td
        = @lending_product.tenure
- unless @lendings.blank?
  %table.form{:style => "width:100%; border:1px;"}
    %thead
      %tr
        %td
          Loan Id
        %td
          Applied Date
        %td
          Schedule Disbursal Date
        %td
          Schedule First Repayment Date
        %td
          Staff
        %td
          Action
    %tbody.form
      - @lendings.each do |lending|
        %tr
          %td
            = lending.lan
          %td
            = lending.applied_on_date
          %td
            = lending.scheduled_disbursal_date
          %td
            = lending.scheduled_first_repayment_date
          %td
            = lending.applied_by_staff
          %td
            =# link_to "Show Loans", resource(:lendings, :lending_product_id => lp.id)
            |
            =# link_to "Create Loan", resource(:lendings, :new, :lending_product_id => lp.id, :client_id => "#{@client.blank? ? '' : @client.id}")