%h1
  Lending Product :
  = @lending_product.name unless @lending_product.blank?
- unless @lending_product.blank?
  %table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
    %tr.even
      %th.even
        Name
      %td
        = @lending_product.name
    %tr.odd
      %th.odd
        Amount
      %td
        = Money.new(@lending_product.amount.to_i,:INR).amount
    %tr.even
      %th.even
        Interest rate
      %td
        = @lending_product.interest_rate
    %tr.odd
      %th.odd
        Repayment Frequency
      %td
        = @lending_product.repayment_frequency
    %tr.even
      %th.even
        Currency
      %td
        = @lending_product.currency
    %tr.odd
      %th.odd
        Tenure
      %td
        = @lending_product.tenure

- unless @lendings.blank?
  %table.dataTable.weeksheet{:style => "width:100%"}
    %thead
      %tr
        %td
          Loan Id
        %td
          Applied Date
        %td
          Schedule Disbursal Date
        %td
          Schedule First Repayment Date
        %td
          Staff
    %tbody.form
      - @lendings.each do |lending|
        %tr
          %td
            = link_to lending.lan, resource(lending)
          %td
            = lending.applied_on_date
          %td
            = lending.scheduled_disbursal_date
          %td
            = lending.scheduled_first_repayment_date
          %td
            = StaffMember.get(lending.applied_by_staff).name