%h1
  Lending Product :
  = @lending_product.name unless @lending_product.blank?
- unless @lending_product.blank?
  %table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
    %tr.even
      %th.even
        Name
      %td
        = @lending_product.name
    %tr.odd
      %th.odd
        Amount
      %td
        = Money.new(@lending_product.amount.to_i,:INR).amount
    %tr.even
      %th.even
        Interest rate
      %td
        = @lending_product.interest_rate
    %tr.odd
      %th.odd
        Repayment Frequency
      %td
        = @lending_product.repayment_frequency
    %tr.even
      %th.even
        Currency
      %td
        = @lending_product.currency
    %tr.odd
      %th.odd
        Tenure
      %td
        = @lending_product.tenure
    - unless @lending_product.loan_fee.blank?
      %tr.even
        %th.even
          Fee
        %td
          = @lending_product.loan_fee.timed_amounts.first.total_money_amount.to_s unless @lending_product.loan_fee.timed_amounts.blank?
    - unless @lending_product.loan_preclosure_penalty.blank?
      %tr.odd
        %th.odd
          Perclouser Penalty Fee
        %td
          = @lending_product.loan_preclosure_penalty.timed_amounts.first.total_money_amount.to_s unless @lending_product.loan_preclosure_penalty.timed_amounts.blank?
    - unless @lending_product.simple_insurance_products.blank?
      %tr.even
        %th.even
          Insurance
        %td
          - unless @lending_product.simple_insurance_products.premium.blank?
            = @lending_product.simple_insurance_products.premium.timed_amounts.first.total_money_amount.to_s unless @lending_product.simple_insurance_products.premium.timed_amounts.blank?

- unless @lendings.blank?
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %td
          Loan Id
        %td
          Applied Date
        %td
          Schedule Disbursal Date
        %td
          Schedule First Repayment Date
        %td
          Staff
    %tbody.form
      - @lendings.each do |lending|
        %tr
          %td
            = link_to_with_rights lending.lan, resource(lending)
          %td
            = lending.applied_on_date
          %td
            = lending.scheduled_disbursal_date
          %td
            = lending.scheduled_first_repayment_date
          %td
            = StaffMember.get(lending.applied_by_staff).name