%h1
  Lending Product :
  = @lending_product.name unless @lending_product.blank?
- unless @lending_product.blank?
  %table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
    %tr.even
      %th.even
        Name
      %td
        = @lending_product.name
    %tr.odd
      %th.odd
        Amount
      %td
        = @lending_product.to_money[:amount]
    %tr.even
      %th.even
        Interest rate
      %td
        = @lending_product.interest_rate
    %tr.odd
      %th.odd
        Repayment Frequency
      %td
        = @lending_product.repayment_frequency
    %tr.even
      %th.even
        Tenure
      %td
        = @lending_product.tenure
    %tr.odd
      %th.odd
        Repayment Allocation Strategy
      %td
        = @lending_product.repayment_allocation_strategy.humanize
    - fee = @lending_product.loan_fee
    %tr.even
      %th.even
        Fee Product
      %td
        = fee.name unless fee.blank?
    - insurances = @lending_product.simple_insurance_products
    %tr.odd
      %th.odd
        Insurance Product
      %td
        = insurances.map(&:name).join(', ') unless insurances.blank?
    - penality = @lending_product.loan_preclosure_penalty
    %tr.even
      %th.even
        Preclosure Penality
      %td
        = penality.name unless penality.blank?
- schedule_template_items = @lending_product.loan_schedule_template.schedule_template_line_items
- unless schedule_template_items.blank?
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %td
          Installment
        %td
          Payment Type
        %td
          Principal Amount
        %td
          Interest Amount
    %tbody.form
      - schedule_template_items.each do |item|
        %tr
          %td
            = item.installment
          %td
            = item.payment_type.humanize
          %td
            = item.to_money[:principal_amount]
          %td
            = item.to_money[:interest_amount]
