- if session.user.can_access?({:controller => "admin", :action => "index"})
  %h1 Administration
  %div.clearfix
    .admin-box
      %h2 Manage organization profile
      %ul.icon_links
        %li
          = link_to_with_rights 'Profile and system-wide policies', url(:controller => "admin", :action => "edit"), :class => 'admin icon'
        %li
          = link_to_with_rights 'Holiday', resource(:location_holidays), :class => 'icon holiday'
        %li
          = link_to_with_rights 'Custom Calendar', resource(:location_holidays, :custom_calendar), :class => 'icon holiday'
        %li
          //= link_to_with_rights 'Holiday Calendars', url(:controller => 'holiday_calendars', :action => "index"), :class => 'icon holiday'
    .admin-box
      %h2 Manage geographical locations
      %ul.icon_links
        %li
          = link_to_with_rights 'Location Level', url(:controller => "location_levels", :action => "index"), :class => 'org icon'
        %li
          = link_to_with_rights 'Biz Location', resource(:biz_locations), :class => 'org icon'
        %li
          = link_to_with_rights 'Due Generation Sheets', resource(:user_locations, :due_generation_for_location), :class => 'org icon'
        %li
          = link_to_with_rights 'Mark Verification', resource(:money_deposits, :get_money_deposits), :class => 'icon accept'
    .admin-box
      %h2 Manage staff, users and roles
      %ul.icon_links
        %li
          = link_to_with_rights 'Staff Designations', resource(:designations), :class => 'staff icon'
        %li
          = link_to_with_rights 'Staff Members', resource(:staff_members), :class => 'staff icon'
        %li
          = link_to_with_rights 'Staff Posting', resource(:staff_postings), :class => 'staff icon'
        %li
          = link_to_with_rights 'Users', resource(:users), :class => 'user icon'
        %li
          = link_to_with_rights 'Payment By Staff Member', resource(:payment_transactions, :payment_by_staff_member), :class => 'user icon'
        %li
          = link_to_with_rights 'Client Movement', url(:controller => :new_clients, :action => :index), :class => 'user icon'
        %li
          = link_to_with_rights 'Claim Processing', url(:controller => :new_clients, :action => :all_deceased_clients), :class => 'user icon'
  .admin-box
    %h2 Manage financial products, funds, rules, and accounting
    %ul.icon_links
      %li
        = link_to_with_rights 'Loan authorize override reasons', resource(:auth_override_reasons), :class => 'loan icon'
      %li
        = link_to_with_rights 'Cheque Book and Cheque Leaves', resource(:cheque_books), :class => 'loan icon'
      %li
        = link_to_with_rights 'Funders and funding lines', resource(:funders), :class => 'funder icon'
      %li
        = link_to_with_rights 'Third parties', resource(:third_parties), :class => 'funder icon'
      %li
        = link_to_with_rights 'Fees', resource(:simple_fee_products), :class => 'icon coins'
      %li
        = link_to_with_rights 'Insurance', resource(:simple_insurance_products), :class => 'icon coins'
      %li
        = link_to_with_rights 'Insurance Policy', resource(:simple_insurance_policies), :class => 'icon coins'
      %li
        = link_to_with_rights 'Banks', resource(:banks), :class => 'funder icon'
      %li
        = link_to_with_rights 'Loan products', resource(:lending_products), :class => 'loan icon'
      %li
        = link_to_with_rights 'Approve and Disburse Loans', resource(:lendings), :class => 'loan icon'
      %li
        = link_to_with_rights 'Write Off Loans', resource(:lendings, :write_off_lendings), :class => 'loan icon'
      %li
        = link_to_with_rights 'Bulk Edit of Funding Lines', url(:controller => :lendings, :action => :bulk_edit_funding_lines, :flag => 'true'), :class => 'loan icon'
      %li
        = link_to_with_rights 'Bulk Preclose of Loans', resource(:lendings, :bulk_lending_preclose), :class => 'loan icon'
      %li
        = link_to_with_rights 'under_development', resource(:new_funders), :class => 'funder icon'
      %li
        =# link_to_with_rights 'Repayment Styles', resource(:repayment_styles), :class => 'loan icon'
      %li
        =# link_to_with_rights 'Insurance companies & products', url(:action => :insurance), :class => 'insurance icon'

  .admin-box
    %h2 Manage commonly-used lists (masters)
    %ul.icon_links
      %li
        = link_to_with_rights 'Loan Purposes', resource(:loan_purposes), :class => 'edit'
      %li
        = link_to_with_rights 'Occupations', resource(:occupations), :class => 'edit'
      %li
        = link_to_with_rights 'Client Groups', resource(:client_groups), :class => 'edit'
      %li
        = link_to_with_rights 'Priority Sector Lists', resource(:priority_sector_lists), :class => 'edit'
      %li
        = link_to_with_rights 'PSL Sub-categories', resource(:psl_sub_categories), :class => 'edit'
      %li
        = link_to_with_rights 'Document Types', resource(:document_types), :class => 'icon documents'
      %li
        = link_to_with_rights 'Stock Master', resource(:stock_registers), :class => 'report icon'
      %li
        = link_to_with_rights 'Asset Category,Sub-category,Type', resource(:asset_categories), :class => 'report icon'
      %li
        = link_to_with_rights 'Asset Master', resource(:asset_registers), :class => 'report icon'     
      %li
        = link_to_with_rights 'Reason Master', resource(:reasons), :class => 'report icon'

  .admin-box
    -# %h2 Data Administration
    -# %ul.icon_links
    -#   %li
    -#     = link_to_with_rights 'History log', url(:controller => :audit_trails, :action => :show), :class => 'icon zoom'

    .admin_box
      %h2 Securitisation
      %ul.icon_links
        %li
          = link_to_with_rights 'Securitization', resource(:securitizations), :class => 'icon accept'
          %li
            = link_to_with_rights 'Encumberances', resource(:encumberances), :class => 'icon accept'
          %li
            = link_to_with_rights 'Loans Eligible For Loan Assignment', url(:controller => :securitizations, :action => :eligible_loans_for_loan_assignments, :flag => 'true'), :class => 'icon accept'
          %li
            = link_to_with_rights 'Loan Assignments', url(:controller => :securitizations, :action => :loan_assignments, :flag => 'true'), :class => 'icon accept'

  - if Mfi.first.system_state == :migration
    %div.clearfix
      .admin-box
        %h2 Data Migration
        %ul.icon_links
          %li
            = link_to_with_rights 'Upload data', url(:controller => 'uploads'), :class => 'upload icon'

    -# %h2 API Use
    -# %ul
    -#   %li
    -#     =# link_to_with_rights "API Access", resource(:api_accesses), :class => 'edit'
:javascript
  jQuery('.admin-box').each(function(){
    if($(this).find('li a').length ==0){
      $(this).remove();
    }
    else{
      jQuery(this).find('li').each(function(){
        if(jQuery(this).find('a').length==0){
          jQuery(this).remove();
        }
      });
    }
  });
