- if session.user.can_access?({:controller => "admin", :action => "index"})
  %h1 Administration
  %div.clearfix
    .admin-box
      %h2 Manage organization profile
      %ul.icon_links
        %li
          = link_to_with_rights 'Profile and system-wide policies', url(:controller => "admin", :action => "edit"), :class => 'admin icon'
        %li
          //= link_to_with_rights 'Holidays', url(:controller => 'holidays', :action => "index"), :class => 'icon holiday'
        %li
          //= link_to_with_rights 'Holiday Calendars', url(:controller => 'holiday_calendars', :action => "index"), :class => 'icon holiday'
    .admin-box
      %h2 Manage geographical locations
      %ul.icon_links
        %li
          //= link_to_with_rights 'Location Level', resource(:location_levels), :class => 'org icon'
          = link_to_with_rights 'Location Level', url(:controller => "location_levels", :action => "index"), :class => 'org icon'
        %li
          = link_to_with_rights 'Biz Location', resource(:biz_locations), :class => 'org icon'
    .admin-box
      %h2 Manage staff, users and roles
      %ul.icon_links
        %li
          = link_to_with_rights 'Staff Designations', resource(:designations), :class => 'staff icon'
        %li
          = link_to_with_rights 'Staff Members', resource(:staff_members), :class => 'staff icon'
        %li
          = link_to_with_rights 'Staff Posting', resource(:staff_postings), :class => 'staff icon'
        %li
          = link_to_with_rights 'User Roles', resource(:user_roles), :class => 'user icon'
        %li
          = link_to_with_rights 'Users', resource(:users), :class => 'user icon'
        %li
          = link_to_with_rights 'Client Movement', url(:controller => :new_clients, :action => :index), :class => 'user icon'

  .admin-box
    %h2 Manage financial products, funds, rules, and accounting
    %ul.icon_links
      %li
        = link_to_with_rights 'Loan authorize override reasons', resource(:auth_override_reasons), :class => 'loan icon'
      %li
        = link_to_with_rights 'Cheque leaves', resource(:cheque_leaves), :class => 'loan icon'
      %li
        = link_to_with_rights 'Funders and funding lines', resource(:funders), :class => 'funder icon'
      %li
        = link_to_with_rights 'Third parties', resource(:third_parties), :class => 'funder icon'
      %li
        = link_to_with_rights 'Fees', resource(:simple_fee_products), :class => 'icon coins'
      %li
        = link_to_with_rights 'Insurance', resource(:simple_insurance_products), :class => 'icon coins'
      %li
        = link_to_with_rights 'Banks', resource(:banks), :class => 'funder icon'
      %li
        = link_to_with_rights 'Loan products', resource(:lending_products), :class => 'loan icon'
      %li
        = link_to_with_rights 'Loans', resource(:lendings), :class => 'loan icon'
      %li
        =# link_to_with_rights 'Repayment Styles', resource(:repayment_styles), :class => 'loan icon'
      %li
        =# link_to_with_rights 'Insurance companies & products', url(:action => :insurance), :class => 'insurance icon'

  .admin-box
    %h2 Manage commonly-used lists (masters)
    %ul.icon_links
      %li
        = link_to_with_rights 'Loan Purposes', resource(:loan_purposes), :class => 'edit'
      %li
        = link_to_with_rights 'Occupations', resource(:occupations), :class => 'edit'
      %li
        = link_to_with_rights 'Document Types', resource(:document_types), :class => 'icon documents'
      %li
        = link_to_with_rights 'Stock Master', resource(:stock_registers), :class => 'report icon'
      %li
        = link_to_with_rights 'Asset Master', resource(:asset_registers), :class => 'report icon'

    .admin_box
      %h2 Securitisation
      %ul.icon_links
        %li
          = link_to_with_rights 'Securitization', resource(:securitizations), :class => 'icon accept'
          %li
            = link_to_with_rights 'Encumberances', resource(:encumberances), :class => 'icon accept'

  .admin-box
    %h2 Data Administration
    %ul.icon_links
      %li
        = link_to_with_rights 'History log', url(:controller => :audit_trails, :action => :show), :class => 'icon zoom'

    %h2 API Use
    %ul
      %li 
        =# link_to_with_rights "API Access", resource(:api_accesses), :class => 'edit'
