%table.tall.shaded
  %tr
    %th
      Branch
    %td
      - if params[:action] == "edit_from_biz_location"
        = @stock_register.biz_location.name
        = hidden_field(:biz_location_id, :value => @biz_location.id)
      - else
        = @biz_location.name
        = hidden_field(:biz_location_id, :value => @biz_location.id)
  %tr
    %th
      Stock Code
    %td
      = text_field :stock_code
      %span.greytext enter the code of the stock
  %tr
    %th
      Stock Name
    %td
      = text_field :stock_name
      %span.greytext enter the stock name
  %tr
    %th
      Quantity
    %td
      = text_field :stock_quantity
      %span.greytext enter the stock quantity
  %tr
    %th
      Invoice Number
    %td
      = text_field :bill_number
      %span.greytext enter the bill number of stock
  %tr
    %th
      Invoice Date
    %td
      = date_select  'stock_register[bill_date]', @stock_register.blank? ? Date.today : @stock_register.bill_date, {:id => 'bill_date'}
      %span.greytext select the bill date of stock
  %tr
    %th
      Date of Stock Entry
    %td
      = date_select 'stock_register[date_of_entry]', @stock_register.blank? ? Date.today : @stock_register.date_of_entry, {:id => 'date_of_entry'}
      %span.greytext select date of stock entry
  %tr
    %th
      Stock Details Entered By
    %td
      - staff_member = []
      - @staff_postings = StaffPosting.get_staff_assigned(@biz_location.id, get_effective_date)
      - @staff_postings.each do |staff_posting|
        - staff_member << staff_posting.staff_assigned
      = select :manager_staff_id, :collection => staff_member.map{|s| [s.id, s.name]}, :prompt => "choose staff member"
      %span.greytext select the staff member who is entering the details
