%table.tall.shaded
  %tr
    %th
      Branch
    %td
      - location_facade = FacadeFactory.instance.get_instance(FacadeFactory::LOCATION_FACADE, User.first)
      - branch_collection = location_facade.all_nominal_branches
      = select :biz_location_id, :collection => branch_collection.map{|b| [b.id, b.name]}, :prompt => "Select Branch"
      %span.greytext select the branch for which Stock Details are being entered
  %tr
    %th
      Stock Code
    %td
      = text_field :stock_code
      %span.greytext enter the code of the stock
  %tr
    %th
      Stock Name
    %td
      = text_field :stock_name
      %span.greytext enter the stock name
  %tr
    %th
      Quantity
    %td
      = text_field :stock_quantity
      %span.greytext enter the stock quantity
  %tr
    %th
      Invoice Number
    %td
      = text_field :bill_number
      %span.greytext enter the bill number of stock
  %tr
    %th
      Invoice Date
    %td
      = date_select  'stock_register[bill_date]', Date.today, {:id => 'bill_date'}
      %span.greytext select the bill date of stock
  %tr
    %th
      Date of Stock Entry
    %td
      = date_select 'stock_register[date_of_entry]', Date.today, {:id => 'date_of_entry'}
      %span.greytext select date of stock entry
  %tr
    %th
      Stock Details Entered By
    %td
      = select :manager_staff_id, :collection => StaffMember.all(:order => [:name]).select{|s| s.user.blank?}, :prompt => "choose staff member", :text_method => :name, :value_method => :id
      %span.greytext select the staff member who is entering the details
