%h1  List of Stock Details

.menu-strip{:style => "width: 25%;"}
  = link_to_with_rights "Enter new Stock details", '#', :class => "add grey_button", :onclick => "jQuery('#new_stock_register_form_from_biz_location').toggle(); return false;"
  
%div#new_stock_register_form_from_biz_location(style = "display : none")
  = partial "stock_registers/new_stock_register_form_from_biz_location"

- if StockRegister.all(:biz_location_id => @biz_location.id).blank?
  %p
    %i No data to display. Please enter the data to view the Stock Register.
- else
  %br
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th Id
        %th Branch
        %th Stock Code
        %th Stock Name
        %th Quantity
        %th Invoice Number
        %th Invoice Date
        %th Date Of Stock Entry
        %th Entered By
        %th Action
      
    - StockRegister.all(:biz_location_id => @biz_location.id).each do |stock_register|
      %tr{ :class => cycle('odd', '') }
        %td
          = link_to_with_rights stock_register.id, url(:controller => "stock_registers", :action => :show, :id => stock_register.id)
        %td
          = link_to_with_rights stock_register.biz_location.name, url(:controller => "user_locations", :action => :show, :id => stock_register.biz_location.id)
        %td
          = stock_register.stock_code
        %td
          = link_to_with_rights stock_register.stock_name, url(:controller => "stock_registers", :action => :show, :id => stock_register.id)
        %td
          = stock_register.stock_quantity
        %td
          = stock_register.bill_number
        %td
          = stock_register.bill_date
        %td
          = stock_register.date_of_entry
        %td
          = link_to_with_rights stock_register.manager.name, url(:quick_link, "staff_members", stock_register.manager_staff_id)
        %td
          = link_to_with_rights 'show', url(:controller => "stock_registers", :action => :show_from_biz_location, :id => stock_register.id)
          %br
            = link_to_with_rights 'edit', url(:controller => "stock_registers", :action => :edit_from_biz_location, :id => stock_register.id)
          
    %tfoot
      %tr
        %td{ :colspan => 10 }