- form_url = url(:controller => params[:controller], :action => 'update', :id => @stock_register.id, :return => params[:return])
- cancel_url = params[:return] ? params[:return] : resource(@stock_register)
= error_messages_for @stock_register

%h1 Edit the Stock details of Branch: #{@stock_register.biz_location.name}
= form_for(@stock_register, :action => form_url, :class => "") do
  = error_messages_for @stock_register
  %fieldset
    = partial "stock_registers/fields_from_biz_location"
    = submit "Save changes"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    = link_to_with_rights 'Cancel', url("user_locations/show/#{@stock_register.biz_location.id}" + "#stock_register"), :class => "grey_button"