%h1  List of Stock Details
.menu-strip{:style => "width: 30%;"}
  = link_to_with_rights "Enter new Stock details", '#', :class => "add grey_button", :onclick => "jQuery('#new_stock_register_form').toggle(); return false;"
  &nbsp;
  - if @biz_location
    = link_to_with_rights 'Back', url("user_locations/show/#{@biz_location.id}"), :class => "grey_button"
  - else
    = link_to_with_rights 'Back', url(:admin), :class => "grey_button"

%div#new_stock_register_form(style = "display : none")
  = partial :new_stock_register_form

- if @stock_registers.blank?
  %p
    %i No data to display. Please enter the data to view the Stock Register.
- else
  %br
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th Id
        %th Branch
        %th Stock Code
        %th Stock Name
        %th Quantity
        %th Invoice Number
        %th Invoice Date
        %th Date Of Stock Entry
        %th Entered By
        %th Action
      
    - for stock_register in @stock_registers
      %tr{ :class => cycle('odd', '') }
        %td
          = link_to_with_rights stock_register.id, url(:controller => "stock_registers", :action => :show, :id => stock_register.id)
        %td
          = link_to_with_rights stock_register.biz_location.name, url(:controller => "user_locations", :action => :show, :id => stock_register.biz_location.id)
        %td
          = stock_register.stock_code
        %td
          = link_to_with_rights stock_register.stock_name, url(:controller => "stock_registers", :action => :show, :id => stock_register.id)
        %td
          = stock_register.stock_quantity
        %td
          = stock_register.bill_number
        %td
          = stock_register.bill_date
        %td
          = stock_register.date_of_entry
        %td
          = link_to_with_rights stock_register.manager.name, url(:quick_link, "staff_members", stock_register.manager_staff_id)
        %td
          = link_to_with_rights 'show', url("stock_registers/#{stock_register.id}")
          %br
            = link_to_with_rights 'edit', resource(stock_register, :edit)
          
    %tfoot
      %tr
        %td{ :colspan => 10 }