%br
%h1 Stock Details for : #{@stock_register.biz_location.name}
%br

.menu-strip{:style => "width: 28%;"}
  = link_to_with_rights "Edit stock details", resource(@stock_register, :edit), :class => "edit grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url("user_locations/show/#{@stock_register.biz_location.id}" + "#stock_register"), :class => "grey_button"
%br

%table.tall.shaded
  %tr
    %th
      Branch
    %td
      = link_to_with_rights @stock_register.biz_location.name, url(:controller => "user_locations", :action => :show, :id => @stock_register.biz_location.id)
  %tr
    %th
      Stock Code
    %td
      = @stock_register.stock_code
  %tr
    %th
      Stock Name
    %td
      = @stock_register.stock_name
  %tr
    %th
      Bill Number
    %td
      = @stock_register.bill_number
  %tr
    %th
      Bill Date
    %td
      = @stock_register.bill_date
  %tr
    %th
      Date of Stock entry
    %td
      = @stock_register.date_of_entry
  %tr
    %th
      Stock Details entered by
    %td
      = link_to_with_rights @stock_register.manager.name, url(:quick_link, "staff_members", @stock_register.manager_staff_id)