%h1
  = I18n.t "psl_sub_category.show.title", :default => "PSL Sub-Category :"
  = @psl_sub_category.name

.menu-strip{:style => "width: 20%;"}
  = link_to I18n.t("psl_sub_category.show.edit", :default => "Edit"),  url(:edit_psl_sub_category,  @psl_sub_category), :class => "edit grey_button"
  &nbsp;&nbsp;
  = link_to I18n.t("psl_sub_category.show.back", :default => "Back"), url(:psl_sub_categories), :class => "grey_button"

%table.tall.shaded
  %tr.odd
    %th
      = I18n.t"psl_sub_category.show.id", :default => "Id"   
    %td
      = @psl_sub_category.id
  %tr
    %th
      = I18n.t"psl_sub_category.show.name", :default => "Name"   
    %td
      = @psl_sub_category.name
  %tr.odd
    %th
      = I18n.t"psl_sub_category.show.priority_sector_list", :default => "Priority Sector List"   
    %td
      = @psl_sub_category.priority_sector_list.name

%div.tab_container.shaded
  %ul.tabs
    %li#history History

  %div.tab
    %table.report.nojs{:width => "100%"}
      %tr
        %th
          For
        %th
          Action
        %th
          Changes
        %th
          Date
        %th
          User
      - id = @psl_sub_category.id
      - model = "PslSubCategory"
      - @obj = Kernel.const_get(model).get(id)
      - @trails = AuditTrail.all(:auditable_id => id, :auditable_type => model, :order => [:created_at.desc])
      - @trails.each do |trail|
        %tr
          %td
            = link_to_with_rights "#{trail.auditable_type} #{trail.auditable_id}", url(:controller => trail.auditable_type.pluralize.downcase, :action => "show", :id => trail.auditable_id)
          %td.text
            %span{:class => get_status_class([:delete, :create, :update].index(trail.action))}
              = trail.action
          %td.text
            %table{:width => '100%'}
              = diff_display(trail.changes, @obj, trail.action)
          %td
            = trail.created_at.strftime("%d-%m-%Y %H:%M")
          %td
            = trail.user ? trail.user.login : "admin"