%h1
  ==Edit portfolio: #{@portfolio.name}
= error_messages_for @portfolio

= form_for(@portfolio, :action => resource(@portfolio), :class => "shaded" ) do
  %h1 Add loans
  as of 
  = date_select :added_on, (Date.today)
  = hidden_field :id, :value => @portfolio.id
  %h3 Add using ids
  = text_area :name => :add_ids, :cols => 80, :row => 13, :style => "height: 40px"
  %h3 OR
  %table
    = partial :form
  %p
    = submit "Add Loans"

= form_for(@portfolio, :action => resource(@portfolio), :class => "shaded") do
  %h2 Remove loans
  = hidden_field :id, :value => @portfolio.id
  = text_area :name => :delete_ids, :cols => 80, :rows => 5
  = submit 'Remove loans'

