%h1
  Portfolio: 
  = @portfolio.name
%table.narrow.form{ :style => "width: 40%;" }
  %tr.odd
    %td Name
    %td
      = @portfolio.name
  %tr
    %td Number of loans
    %td
      - if @portfolio.portfolio_loans.count > 0
        %b= @portfolio.loans.count
      - else
        0  
  %tr
    %td
      Created on
    %td
      = @portfolio.created_at.strftime(Mfi.first.date_format)
%div.tab_container
  %ul.tabs
    %li#cashflows
      Cashflows
    %li#reports
      Reports
    %li#info
      Info

  %div.tab
    .menu-strip.clearfix{:style => "width: 100%"}
      = form(:action => url(:cashflow_portfolio, :id => @portfolio.id), :style => "float: left") do
        See cashflow 
        %b weekly 
        every 
        = select :name => :weekday, :collection => WEEKDAYS.map(&:to_s), :prompt => "on"
        = submit 'go!'
      %h3{:style => "float:left; font-size: 2.1em;"}
        or  
      = form(:action => url(:cashflow_portfolio, :id => @portfolio.id), :style => "float: left") do
        &nbsp;
        monthly
        on every 
        = text_field :name => "day_of_month", :style => "width: 3em"
        th day
        = submit 'go!'
    - keys = [:actual_outstanding_principal, :principal_paid, :interest_paid, :scheduled_outstanding_principal]
    %table
      %thead
        %tr
          %th
            Date
          %th
            Outstanding Balance
          %th
            Principal Collected
          %th.right-numeric
            Interest Collected
          %th
            Scheduled Balance
          %th
            Scheduled Principal
          %th
            Scheduled Interest
    
      - last_principal = nil
      - PortfolioCache.all(:model_id => @portfolio.id, :order => [:date]).each do |c|
        - next if keys.map{|x| c.send(x)}.sum == 0
        %tr{:class => cycle("odd","even")}
          %td
            = c.end_date
          - keys.each do |k|
            %td{:class => (k == :interest_paid ? "right-numeric" : "numeric")}
              = c.send(k).to_currency
          %td
            - if last_principal
              = (last_principal - c.scheduled_outstanding_principal).to_currency
            - else
              = c.scheduled_principal_due.to_currency
            - last_principal = c.scheduled_outstanding_principal
          %td
            = c.scheduled_interest_due.to_currency
  %div.tab
    %h1 Reports
    = select :name => 'report_format', :collection => ReportFormat.all,:text_method => :name, :value_method => :id, :selected => (params[:report_format] || 1).to_s, :prompt => 'Select a report format', :onchange => "javascript: document.location = '#{url(:controller => :portfolios, :action => :show, :id => 4)}?report_format=' + (this.options[this.selectedIndex].value) + '#reports'"
    - keys =  (params[:report_format] ? ReportFormat.get(params[:report_format]).keys : ReportFormat.get(1).keys)
    - debugger
    - h = PortfolioCache.first(:date => Date.today, :end_date => Date.today)
    %table.diags
      %thead
        %tr
          %th date
          - keys.each do |k|
            %th
              = k.to_s.gsub("_"," ")
        %tr{:class => cycle('odd','even')}
          %td
            = Date.today.strftime("%Y%m%d")
          - keys.each do |k|
            %td
              = h.send(k) rescue nil
  %div.tab
    .clearfix
      %h1 Info
      .big-number
        .number
          = @portfolio.loans.count
        .text
          loans in 
          %br
          portfolio
      .big-number
        .number
          = Loan.all(:loan_pool_id => @portfolio.id).count
        .text
          in securitised
          %br
          portfolio
            
      
    