:javascript
  $(document).ready(function() {
    $('#select_loans').change(function() {
      $('.portfolio_loan').attr('checked', $(this).attr('checked'))
    });
  });
%h1
  Portfolio: 
  = @portfolio.name
.menu-strip
  = link_to 'Edit', resource(@portfolio, :edit), :class => 'greenButton'
  = link_to 'Securitise', resource(@portfolio, :securitise), :class => @portfolio.is_securitised? ? 'grey_button'  : 'greenButton', :disabled => true
%table.narrow.form{ :style => "width: 40%;" }
  %tr.odd
    %td Name
    %td
      = @portfolio.name
  %tr
    %td Number of loans
    %td
      - if @portfolio.portfolio_loans.count > 0
        %b= @portfolio.loans.count
      - else
        0  
  %tr
    %td
      Created on
    %td
      = @portfolio.created_at.strftime(Mfi.first.date_format)
%div.tab_container
  %ul.tabs
    %li#cashflows
      Cashflows
    %li#reports
      Reports
    %li#loans Loans
    %li#info
      Info

  %div.tab
    - keys = [:actual_outstanding_principal, :principal_paid, :interest_paid, :scheduled_outstanding_principal]
    %table.shaded{:style => "margin: 20px"}
      %thead
        %tr
          %th
            Date
          %th
            Outstanding Balance
          %th
            Principal Collected
          %th.right-numeric
            Interest Collected
          %th
            Scheduled Balance
          %th
            Scheduled Principal
          %th
            Scheduled Interest
      - last_principal = nil
      - PortfolioCache.all(:model_name => "PortfolioCashflow", :model_id => @portfolio.id, :order => [:date]).each do |c|
        - next if keys.map{|x| c.send(x)}.sum == 0
        %tr{:class => cycle("odd","even")}
          %td
            = c.end_date
          - keys.each do |k|
            %td{:class => (k == :interest_paid ? "right-numeric" : "numeric")}
              = c.send(k).to_currency
          %td
            = c.principal_due_today.to_currency
          %td
            = c.interest_due_today.to_currency
  %div.tab
    %h1 Reports
    = select :name => 'report_format', :collection => ReportFormat.all,:text_method => :name, :value_method => :id, :selected => (params[:report_format] || 1).to_s, :prompt => 'Select a report format', :onchange => "javascript: document.location = '#{url(:controller => :portfolios, :action => :show, :id => 4)}?report_format=' + (this.options[this.selectedIndex].value) + '#reports'"
    - keys =  (params[:report_format] ? ReportFormat.get(params[:report_format]).keys : ReportFormat.get(1).keys)
    %table.diags
      %thead
        %tr
          %th date
          - keys.each do |k|
            %th
              = k.to_s.gsub("_"," ")
      - PortfolioCache.all(:model_id => @portfolio.id, :model_name => "Portfolio").each do |h|
        %tr{:class => cycle('odd','even')}
          %td
            = h.date
          - keys.each do |k|
            %td
              = h.send(k) rescue nil
  %div.tab
    %h1 List of loans
    = paginate(@portfolio_loans)
    = form_for(@portfolio, :action => resource(@portfolio)) do
      = hidden_field :name
      = submit 'Remove selected loans'
      %table.narrow.shaded
        %thead
          %tr
            %th
              Select
              %br
              = check_box :id => "select_loans"
            %th
              Loan
            %th
              Added on
        - @portfolio_loans.each do |pl|  
          %tr{:class => cycle('odd','even')}
            %td
              = check_box :name => "loan[#{pl.id}]", :class => "portfolio_loan"
            %td
              = link_to "#{pl.loan.description} for #{pl.loan.client.name}", url_for_loan(pl.loan)
            %td
              = pl.added_on
  %div.tab
    .clearfix
      %h1 Info
      .big-number
        .number
          = @portfolio.loans.count
        .text
          loans in 
          %br
          portfolio
      .big-number
        .number
          = Loan.all(:loan_pool_id => @portfolio.id).count
        .text
          in securitised
          %br
          portfolio
            
      
    