%h1
  Portfolio: 
  = @portfolio.name
%table.narrow.form{ :style => "width: 40%;" }
  %tr.odd
    %td Name
    %td
      = @portfolio.name
  %tr
    %td Number of loans
    %td
      - if @portfolio.portfolio_loans.count > 0
        %b= @portfolio.loans.count
      - else
        0  
  %tr
    %td
      Created on
    %td
      = @portfolio.created_at.strftime(Mfi.first.date_format)
%div.tab_container
  %ul.tabs
    %li#cashflows
      Cashflows
    %li#reports
      Reports
    %li#info
      Misc

  %div.tab
    - keys = [:actual_outstanding_principal, :principal_paid, :interest_paid, :scheduled_outstanding_principal]
    %table.shaded{:style => "margin: 20px"}
      %thead
        %tr
          %th
            Date
          %th
            Outstanding Balance
          %th
            Principal Collected
          %th.right-numeric
            Interest Collected
          %th
            Scheduled Balance
          %th
            Scheduled Principal
          %th
            Scheduled Interest
    
      - last_principal = nil
      - PortfolioCache.all(:model_name => "PortfolioCashflow", :model_id => @portfolio.id, :order => [:date]).each do |c|
        - next if keys.map{|x| c.send(x)}.sum == 0
        %tr{:class => cycle("odd","even")}
          %td
            = c.end_date
          - keys.each do |k|
            %td{:class => (k == :interest_paid ? "right-numeric" : "numeric")}
              = c.send(k).to_currency
          %td
            = c.principal_due_today.to_currency
          %td
            = c.interest_due_today.to_currency
  %div.tab
    %h1 Reports
    = select :name => 'report_format', :collection => ReportFormat.all,:text_method => :name, :value_method => :id, :selected => (params[:report_format] || 1).to_s, :prompt => 'Select a report format', :onchange => "javascript: document.location = '#{url(:controller => :portfolios, :action => :show, :id => 4)}?report_format=' + (this.options[this.selectedIndex].value) + '#reports'"
    - keys =  (params[:report_format] ? ReportFormat.get(params[:report_format]).keys : ReportFormat.get(1).keys)
    - debugger
    %table.diags
      %thead
        %tr
          %th date
          - keys.each do |k|
            %th
              = k.to_s.gsub("_"," ")
      - PortfolioCache.all(:model_id => @portfolio.id, :model_name => "Portfolio").each do |h|
        %tr{:class => cycle('odd','even')}
          %td
            = h.date
          - keys.each do |k|
            %td
              = h.send(k) rescue nil
  %div.tab
    .box
      %fieldset
        %legend Statistics
        %div
          .big-number
            .number
              = @portfolio.loans.count
            .text
              loans in 
              %br
              portfolio
          .big-number
            .number
              = Loan.all(:loan_pool_id => @portfolio.id).count
            .text
              in securitised
              %br
              portfolio
        = link_to 'Securitize!', url(:securitise_portfolio, :id => @portfolio.id)
      
            
      
    