:javascript
  $('table.paid_fee').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

- if fee_lendings.blank?
  %h3
    No Paid fee exists
- else
  %table.dataTable.report.weeksheet.nojs.paid_fee
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Applied On
        %th
          Amount
        %th
          Effective On
        %th
          By Staff
    - fee_lendings.each do |fee|
      %tr
        %td
          = fee.id
        %td
          = fee.simple_fee_product.name
        %td
          = fee.applied_on
        %td
          = fee.effective_total_amount(get_effective_date).to_s
        %td
          = fee.fee_receipt.effective_on
        %td
          = fee.fee_receipt.performed_by_staff.name
    %tfoot
      %tr.org_total
        %td{:colspan => 5}
