:javascript
  $('table.unpaid_fee').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

- if fee_lendings.blank?
  %h3
    No Unpaid fee exists
- else
  = form_for(:lendings, :action => url(:controller => :lendings, :action => :save_lendings_fee)) do
    %table.dataTable.report.weeksheet.nojs.unpaid_fee
      %thead
        %tr
          %th
            id
          %th
            Applied On
          %th
            Amount
          %th
            Collect
          %th
            On Date
          %th
            By Staff
      - fee_lendings.each do |fee|
        %tr
          %td
            = fee.id
          %td
            = fee.applied_on
          %td
            = fee.effective_total_amount(get_effective_date).to_s
          %td
            = check_box :name => "fee_lending[#{fee.id}][]" ,:value => fee.id, :disabled => !fee.loan_on_fee_instance.is_outstanding?
          %td
            = date_select "fee_lending[#{fee.id}][][fee_on_date]", fee.applied_on, {:id => "fee_#{fee.id}", :size=> "10", :min_date => fee.applied_on, :max_date => get_effective_date}
          %td
            = select :name => "fee_lending[#{fee.id}][][fee_by_staff]", :collection => StaffMember.all.collect{|staff| [staff.id, staff.name]}, :style => "width:125px;"
      %tfoot
        %tr.org_total
          %td{:colspan => 6}
    = submit "save"
