- form_url   =  resource(:third_parties, {:return => params[:return]})
- cancel_url =  url(params[:return])
= form_for(@third_party, :action => "create") do
  %h1 New Third Party	
  = error_messages_for @third_party
  %fieldset
    = partial "third_parties/fields" 
    = submit "create"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    = link_to_with_rights "Cancel", url(:third_parties), :class => "grey_button"