%h1
  = I18n.t "loan_purpose.index.list_of_loan_purpose", :default => "List of Loan Purpose"

.menu-strip{:style => "width: 30%;"}
  = link_to I18n.t("loan_purpose.index.new", :default => "Add a loan purpose"), url(:new_loan_purpose), :class => 'add grey_button'
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
%br
- unless @loan_purposes.blank?
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          = I18n.t "loan_purpose.index.id", :default => "Id"
        %th
          = I18n.t "loan_purpose.index.loan_purpose", :default => "Loan Purpose"
        %th
          = I18n.t "loan_purpose.index.actions", :default => "Actions"
    - for loan_purpose in @loan_purposes
      %tr{:class => cycle('odd', '')}
        %td
          = loan_purpose.id
        %td
          = link_to_with_rights loan_purpose.name, url(:loan_purpose, loan_purpose)
        %td
          = link_to_with_rights I18n.t("loan_purpose.index.edit", :default => "Edit"), url(:edit_loan_purpose, loan_purpose)
- else
  %h3 No loan purpose has been created
