#new_form{:style => "#{@banks.blank? ? 'display : true' : 'display : none'}"}
  %form{:action => url(:controller => :banks, :action => :create), :method => :post}
    %table#TextBoxesGroup
      %tr
        %th
          Name
        %td
          = text_field :name
      %tr
        %th
          Branch
        %td
          = text_field :name => 'bank_branch[0][bank_branch]'
        %th
          Location
        %td
          = select :name => "bank_branch[0][location]", :collection => get_all_nominal_branches, :text_method => 'name', :value_method => 'id', :class => 'biz_location'
    = link_to "add another branch", '#', :onclick => 'add_text_field(); return false;'
    %br
    = submit "Save"
