%h1
  = "Banks"
.shaded
  .menu-strip
    = link_to_with_rights 'Add Bank','#', :onclick => "jQuery('#new_form').toggle();", :class => "add grey_button", :style => "margin: 0px; padding-right: 3px;"
    %br
    %br
    = partial 'form'
  - if @banks && !@banks.empty?
    %table.form{:style => "width:100%;"}
      %thead
        %tr
          %th
            = "ID"
          %th
            = "Name"
      %tbody
        - @banks.each do |bank|
          %tr
            %td
              = bank.id
            %td
              = link_to bank.name , resource(bank)
  - else
    No Banks found.

%br