%h1 Details of Asset Sub-category: #{@asset_sub_category.name}

.menu-strip{:style => "width:22%;"}
  = link_to_with_rights 'Add Asset Type','#', :onclick => "jQuery('#new_form').toggle();", :class => "add grey_button", :style => "margin: 0px; padding-right: 3px;"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url("asset_categories/#{@asset_sub_category.asset_category.id}"), :class => "grey_button"
  %br

= partial 'asset_types/form'

%table.tall.shaded
  %tr
    %th
      Id
    %td
      = @asset_sub_category.id
  %tr
    %th
      Name
    %td
      = @asset_sub_category.name
  %tr
    %th
      Asset Category
    %td
      = link_to_with_rights @asset_sub_category.asset_category.name, url("asset_categories/#{@asset_sub_category.asset_category.id}")

%div.tab_container.shaded
  %ul.tabs
    %li#asset_type
      Asset Type
    %li#history
      History

  %div.tab
    %h2 List of Asset Types under Asset Sub-Category - #{@asset_sub_category.name}
    %table.dataTable.report.weeksheet.nojs
      %thead
        %tr
          %th
            = "ID"
          %th
            = "Name"
      %tbody
        - @asset_types.each do |ast|
          %tr
            %td
              = ast.id
            %td
              = link_to ast.name, resource(@asset_sub_category.asset_category, @asset_sub_category, ast)

  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => audit_trail_url}