%h1
  Designation
= link_to_with_rights 'Create Designation', '#', :onclick => "jQuery(this).next().toggle(); return false;", :class => 'add grey_button'
#designation{:style => "display : none"}
  = form_for(@designation, :action => url(:designations) ) do
    = partial :fields
    = submit 'Save'
    %b
      Or
    = link_to_with_rights 'Cancel', url(params[:return]), :class => "grey_button"
= partial 'list'