:javascript
  $(document).ready(function() {
  $('#toggle_select_all').change(function() {
    $('.eod_div').attr('checked',$(this).attr('checked'))});
  });
%h1== EOD Process on #{get_effective_date}

.menu-strip{:style => "width:8%;"}
  = link_to_with_rights "Back", url(:book_keepings), :class => "grey_button"

= form_for(:book_keepings, :action => resource(:book_keepings, :perform_eod_process), :method => :get) do
  %table.dataTable.weeksheet.report.nojs
    %thead
      %th
        Branch Name
      %th
        Status
      %th
        Process Status
      %th
        Select All
        %br
        = check_box :name => 'select_all', :id => 'toggle_select_all'
    - @locations.each do |location|
      - pending_amount = MoneyDeposit.location_amount_on_status(Constants::MoneyDepositVerificationStatus::PENDING_VERIFICATION, get_effective_date)
      - varify_amount = MoneyDeposit.location_amount_on_status(Constants::MoneyDepositVerificationStatus::VERIFIED_REJECTED, get_effective_date)
      - eod = location.eod_processes.first(:on_date => get_effective_date)
      %tr
        %td
          = location.name
        %td
          = pending_amount == varify_amount ? "Valid For EOD Process" : "Not Valid For EOD Process"
        %td
          = eod.status.humanize rescue '-'
        %td{:style => "text-align:center"}
          - if eod.status == Constants::EODProcessVerificationStatus::PENDING
            = check_box :name => 'location_ids[]', :value => location.id, :disabled => pending_amount!=varify_amount, :class => 'eod_div'
          - else
            = check_box :name => 'process_location_ids[]', :value => location.id, :disabled => true, :checked => true
  %br
  = submit 'Start'
%br