%table.tall.shaded#user_form
  %tr
    %th
      Login name:
    %td
      - if @user.new?
        = text_field :login
        %br/
        %span.greytext (only letters and numbers are allowed)
      - else
        = @user.name

    %tr.staff_member
      %th
        Staff Member
      - unless @user.staff_member
        %td
          = select :staff_member, :collection => StaffMember.all(:order => [:name]).select{|s| s.user.blank?}, :prompt => "choose staff member", :text_method => :name, :value_method => :id
      - else
        %td
          = @user.staff_member.name
  %tr
    %th
      Preferred Locale
    %td
      = select :preferred_locale, :collection => LOCALES.map{|s| [s[0].to_s, s[1].to_s]}, :selected => (@user.preferred_locale ? @user.preferred_locale : ""), :prompt => "choose locale"
  - if @user.new?
    %tr
      %th
        Password:
      %td
        = password_field :password
    %tr
      %th
        Password confirmation:
      %td
        = password_field :password_confirmation

  %tr
    %th
      Active ?
    %td
      = check_box :active