
.prefix-2.span-20.suffix-2.last
  %h1= "Edit user '#{@user.login}'"

  = form_for(@user, :action => url(:user, @user)) do
    = partial 'fields'
    %p
      = submit "Save changes"
      &nbsp;&nbsp;
      %b
        Or
      &nbsp;&nbsp;
      = link_to_with_rights "Cancel", resource(@user), :class => "grey_button"
  
  %hr
  %h2 Change password
  = form_for(@user, :action => url(:action => :admin_change_password, :user_id => @user.id)) do
    %table
      %tr
        %td
          Old Password:
        %td
          = password_field :name => 'user[old_password]'
      %tr
        %td
          Password:
        %td
          = password_field :password
      %tr
        %td
          Password confirmation:
        %td
          = password_field :password_confirmation
          %br/
          %span.greytext (password fields must be filled to complete user profile)
    %p
      = submit "Save changes"
      &nbsp;&nbsp;
      %b
        Or
      &nbsp;&nbsp;
      = link_to_with_rights 'Cancel', resource(@user), :class => "greenButton"

  %p
    %br/