%h1 Users
.menu-strip
  = link_to_with_rights 'create a new user', resource(:users, :new), :class => "add grey_button"
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
      %th ID
      %th Login
      %th Staff member/Funder
      %th Status
      %th Action
  - @users.each do |user|
    - next if user.role == :maintainer
    %tr
      %td &nbsp;
      %td
        = user.id
      %td
        %b= link_to_with_rights user.login, resource(user)
      %td
        = (link_to_with_rights user.staff_member.name, resource(user.staff_member)) if user.staff_member
      %td
        = user.active ? "active" : "inactive"
      - if session.user.role == :operator  # only show to admin
        %td
          = link_to_with_rights 'edit', resource(user, :edit)
  %tfoot
    %tr
      %td{ :colspan => 8 }