- counter = 0
- if @user
  .shaded  
    %h1== User: <i>#{@user.login}</i>

    .menu-strip{:style => "width: 30%;"}
      = link_to_with_rights 'Edit this user\'s details ', resource(@user, :edit), :class => "edit grey_button"
      &nbsp;&nbsp;
      = link_to_with_rights "Back", url(:users), :class => "grey_button"

    %table.tall.shaded
      - counter+= 1
      %tr
        %th Role
        %td= @user.role.to_s.humanize
      - if @user.staff_member
        - counter+= 1
        %tr{:class=>"#{'odd' if counter % 2 == 1}"}
          %th Staff Member
          %td=@user.staff_member.name 
      - counter+= 1
      %tr{:class=>"#{'odd' if counter % 2 == 1}"}
        %th Status
        %td=@user.active ? "active" : "inactive"
      - counter+= 1
      %tr{:class=>"#{'odd' if counter % 2 == 1}"}
        %th Created At
        %td=@user.created_at.to_s
      - unless session.user.role == :administrator
        - counter+= 1
        = form_for(@user, :action => "/preferred_locale") do
          = error_messages_for @user
          %tr{:class=>"#{'odd' if counter % 2 == 1}"}
            %th
              Preferred Locale
            %td
              = select :preferred_locale, :collection => [["","---"]] + LOCALES.map{|s| [s[0].to_s, s[1].to_s]}, :selected => (@user.preferred_locale ? @user.preferred_locale : ""), :style => "margin-left: 20px; height: 20px; padding-top: 1px;"
              = submit "Update Locale", :style => "margin-left: 20px; height: 25px; padding-top: 1px;"

      %tr.odd
        %th StaffMember
        %td=@user.staff_member.name if @user.staff_member     

  %div.tab_container.shaded
    %ul.tabs
      %li#history
        History
    %div.tab
      = partial "audit_trails/list"