%h2== Securitizations for third party
%p== #{link_to_with_rights 'Create a new securitization',"/securitizations/new/#{@funding_line.id}",:class=>"add"}
- if @securitizations.blank?
  %p
    %i No securitizations have been created yet.
- else
  %table.narrow.form{ :width => '100%' }
    %thead
      %tr
        %th
        %th id
        %th name
        %th date of commencement        
    %tbody
    - for securitization in @securitizations
      %tr{ :class => cycle('odd','') }
        %td &nbsp;
        %td
          = securitization.id
        %td
          = securitization.name
        %td
          = securitization.date_of_commencement
    %tfoot
      %tr
        %td{ :colspan => 9 }
