.menu-strip
  = link_to 'Assign Location', "#", :onclick =>"jQuery('#location_div').toggle(); return false;", :class => 'add'
#location_div(style = "display : none")
  = form_for(@staff_member, :action => url(:controller => :staff_members, :action=> :assign_location_to_staff, :id => @staff_member.id)) do
    %table
      %tr
        %th
          Location
        %td
          = select :name => 'staff_member[location_id]', :collection => BizLocation.all.aggregate(:id, :name)
      %tr
        %th
          Effective Date
        %td
          = date_select 'staff_member[effective_on]', Date.today, {:id => "effective_date"}
    = submit "Assign"
%br
- if @biz_locations.count == 0
  %p
    %i No Location Mapping have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Location Level
        %th
          Created On
    - for biz_location in @biz_locations
      %tr
        %td
          = biz_location.id
        %td
          - if biz_location.location_level.level == 0
            = link_to biz_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => biz_location.id)
          - else
            = link_to biz_location.name, url(:controller => :user_locations, :action => :show, :id => biz_location.id)
        %td
          = biz_location.location_level.name
        %td
          = biz_location.creation_date.strftime("%Y-%m-%d")