%p.menu-strip{:style => "width: 20%; margin-bottom: 0.2em;"}
  = link_to_with_rights 'Assign Location', "#", :onclick =>"jQuery('#location_div').toggle(); return false;", :class => 'add grey_button'
  #location_div(style = "display : none")
    = form_for(@staff_member, :action => url(:controller => :staff_members, :action=> :assign_location_to_staff, :id => @staff_member.id)) do
      %table
        %tr
          %th
            Location
          %td
            = select :name => 'staff_member[managed_location_id]', :collection => BizLocation.all.aggregate(:id, :name)
        %tr
          %th
            Perfomed By
          %td
            = select :name => 'staff_member[perfomed_by]', :collection => @staff_members.map{|staff| [staff.id, staff.name]}
        %tr
          %th
            Effective Date
          %td
            = date_select 'staff_member[effective_on]', Date.today, {:id => "effective_date"}
      = submit "Assign"
  %br
- if @manage_locations.count == 0
  %p
    %i No Location Mapping have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          location id
        %th
          location Name
        %th
          Location Level
        %th
          Perfomed By
        %th
          Effective Date for manage
    - @manage_locations.each do |management|
      - location = management.managed_location
      %tr
        %td
          = location.id
        %td
          = link_to_location location
        %td
          = location.location_level.name
        %td
          = management.manager_staff_member.name
        %td
          = management.effective_on