%div{:style => "width:30%; float: right; padding: 10px; border: solid 1px lightgrey"}
  = form_for(@staff_member, :action => url(:day_sheet, @staff_member), :method => :get) do
    Change date
    = date_select "date", @date
    = submit "Go"
%h1
  = "Daily Collection Sheet for #{@staff_member.name} for #{@date}"
%p
  - if @biz_locations.count > 0
    = link_to "Download pdf >>", url(:day_sheet_with_format, :format => "pdf", :date => @date.strftime("%Y-%m-%d")), :style => "float: left; margin-left: 25px", :class => "button"
  - else
    %b This Staff Manager has no collection today.
%br
%br
- @weeksheets.each do |@weeksheet|
  - unless @weeksheet.blank?
    - biz_location = @biz_locations.select{|location| location.id == @weeksheet.at_biz_location_id }.first
    %h2
      = "#{biz_location.name} at #{@weeksheet.at_meeting_time_begins_hours}:#{'%02d' % @weeksheet.at_meeting_time_begins_minutes}"
      = "(No meeting)" unless MeetingCalendar.meeting_at_location_on_date(biz_location, @date)
    = partial "user_locations/weeksheet_collection_list"
    %hr