%h1== Staff Member Movement
.menu-strip{:style => "width: 8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
= form_for(:lendings, :action => url(:controller => :staff_members, :action => :staff_movement)) do
  .shaded
    %table.form
      %thead
        %tr
          %th Branch:
          %th
            = select :name => "parent_location_id", :text_method => :name, :value_method => :id, :collection => get_all_nominal_branches, :prompt => "Select branch", :id => "parent_selector", :selected => params[:parent_location_id], :class => 'location chosen'
          %th Staff Member:
          %th
            - child_locations = params[:parent_location_id].blank? ? [] : LocationLink.get_children_ids_by_sql(@parent_biz_location, get_effective_date)
            - staff_members = child_locations.blank? ? [] : LocationManagement.staffs_managed_to_location_by_sql(child_locations, get_effective_date)
            = select :name => "staff_member_id", :collection => staff_members, :text_method => :name, :value_method => :id, :prompt => 'Select Staff Member', :id => 'staff_selector', :selected => params[:staff_member_id], :class => 'chosen'
          %td
            = submit "Go"
- if @staff_member.blank?
  Please Select Staff Member
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          location id
        %th
          location Name
        %th
          Location Level
        %th
          Effective Date for manage
    %tbody
      - @manage_locations.each do |location_manage|
        - location = location_manage.managed_location
        %tr
          %td
            =location.biz_location_identifier
          %td
            = location.name
          %td
            = location.location_level.level
          %td
            = location_manage.effective_on