%table{:style => "width: 80%"}
  %tr
    %td
      %b Branch
    %td
      - if @branch and not @center.new?
        = select :name => 'center[branch_id]', :collection => get_accessible_branches.map{|b| [b.id,b.name]}, :selected => @branch.id.to_s
      - elsif @branch and @center.new?
        = select :name => 'center[branch_id]', :collection => Branch.all(:id => @branch.id).map{|b| [b.id,b.name]}
      - else
        = select :name => 'center[branch_id]', :collection => get_accessible_branches.map{|b| [b.id,b.name]}, :selected => session[:branch_id].to_s
  %tr
    %td
      %b Center Name
    %td
      = text_field :name, :size => 40

  %tr
    %td
      %b Center Code
    %td
      = text_field :code, :size => 2
      %span.greytext a two letter unique code for the center
  
  %tr
    %td
      %b Center Category
    %td
      = select :center_category, :collection => [['',''],[:urban,'urban'],[:rural,'rural']]

  %tr
    %td
      %b Creation Date
    %td
      = date_select_for @center, :creation_date
      %span.greytext pick the date this center was created on
  %tr
    %td
      %b Managed By
    %td
      - if not @center.new? and session.user.staff_member==@center.manager
        = @center.manager.name
      - else
        = select_staff_member_for @center, :manager, {}, true
        %span.greytext pick the staff member that manages this center
  %tr
    %td
      %b Address
    %td
      = text_area :address, :rows => 6, :cols => 38
  %tr
    %td
      %b Contact Phone Number
    %td
      = text_field :contact_number, :size => 15
  %tr
    %td
      %b Landmark
    %td
      = text_field :landmark, :size => 25
  - unless @center.new?
    %tr
      %td
        %b Center Leader
      %td
        - leader_client_id = @center.leader ? @center.leader.client_id : nil
        = select :leader, :collection => @center.clients(:order => [:name]).map{|x| [x.id, x.name]}, :selected => leader_client_id, :prompt => "Choose center leader"
  %tr
    %td
