%h2
  Centers meeting on 
  = @date.nil? ? Date.today.weekday : @date.weekday
%p{:style => "margin-left: 15px;"}
  %b Select center meeting day: &nbsp;
  = paginate_on_weekdays(@branch, (params.key?(:meeting_day) ? params[:meeting_day] : Date.today))
- if @centers.blank? || @meeting_dates.blank?
  - if @branch.centers.count==0
    %p
      %i No centers have been created yet.
  - else
    %p
      %i No centers meet on this day.    
- else
  %table.narrow.floating_header
    %tr.header
      %th{:style => "width: 5%"} ID
      %th Name
      %th Manager
      %th Meeting
      %th Clients
      %th Edit
    %tbody
    - clients_count = Client.all(:center => @centers).aggregate(:center_id, :id.count).to_hash
    - today = Date.today.weekday
    - @meeting_dates.sort_by{|c| c.location_id}.each do |meeting_date|
      - center = @centers.find{|x| x.id == meeting_date.location_id}
      %tr{:class => cycle('odd','')}
        %td
          = center.id
        %td.text
          - if center.center_category.nil? or center.center_category.empty?
            %b= link_to center.name, resource(@branch, center )
          - else
            %b= link_to "#{center.name} (#{center.center_category})", resource(@branch, center )
        %td.text
          = link_to center.manager.name, resource(center.manager)
        %td
          %span
            = meeting_date.meeting_begins_at
        %td
          = clients_count[center.id] if clients_count.key?(center.id)
        %td
          = link_to 'edit', resource(@branch, center, :edit)
          - if @branch 
            &nbsp;|&nbsp;
            = link_to 'new client', resource(@branch, center, :clients, :new)

    %tfoot
      %tr
        %td{ :colspan => 7 }
