%table{:style => "margin:auto; border: solid 1px #777;"}
  %tr{:style => "border: solid 1px black; background: lightyellow"}
    %th{:rowspan => "2"}=I18n.t "center.payment.table.on_name", :default => "on name"
    %th{:rowspan => "2"}=I18n.t "center.payment.table.loan_id", :default => "loan id"
    %th{:rowspan => "2"}=I18n.t "center.payment.table.amount", :default => "amount"
    %th{:rowspan => "2"}=I18n.t "center.payment.table.outstanding", :default => "outstanding"
    %th{:rowspan => "2"}=I18n.t "center.payment.table.disbursed_on", :default => "disbursed on"
    %th{:rowspan => "2"}=I18n.t "center.payment.table.installment", :default => "installment"
    %th{:colspan => 2, :style => "border: solid black 1px"}=I18n.t "center.payment.table.principal", :default => "principal"
    %th{:colspan => 2, :style => "border: solid black 1px"}=I18n.t "center.payment.table.interest", :default => "intrest"
    %th{:colspan => 2, :style => "border: solid black 1px;"}=I18n.t "center.payment.table.fee", :default => "fee"
    %th{:colspan => 2, :style => "border: solid black 1px;"}=I18n.t "center.payment.table.total", :default => "total"
  %tr{:style => "border: solid 1px black;"}
    %th.due.left-numeric=I18n.t "center.payment.table.due", :default => "due"
    %th.paid.right-numeric=I18n.t "center.payment.table.paid", :default => "paid"
    %th.due.left-numeric=I18n.t "center.payment.table.due", :default => "due"
    %th.paid.right-numeric=I18n.t "center.payment.table.paid", :default => "paid"
    %th.due.left-numeric=I18n.t "center.payment.table.due", :default => "due"
    %th.paid.right-numeric=I18n.t "center.payment.table.paid", :default => "paid"
    %th.due.left-numeric=I18n.t "center.payment.table.due", :default => "due"
    %th.paid.right-numeric=I18n.t "center.payment.table.paid", :default => "paid"
  %tbody
    - num_loans_to_pay = num_fees_to_pay = 0
    - @weeksheet.groups.each do |group|
      %tr.group{:style => 'font-weight: bold; text-align: center; background: #cfcfcf'}
        %td{:colspan => 6}
          = group ? group[1] : "none"
        %td.left-numeric.due
        %td.right-numeric.paid
        %td.left-numeric.due
        %td.right-numeric.paid
        %td.left-numeric.due
        %td.right-numeric.paid
        %td.left-numeric.due
        %td.right-numeric.paid
      - loan_row_count = 0
      - center = Center.get @weeksheet.at_center_id
      - collection_sheets = @weeksheet.collection_sheet_lines.select{|cs| cs.borrower_group_id == group[0]}.sort_by{|cs| cs.borrower_name} rescue []
      - grp_amount, grp_outstanding, grp_installments, grp_principal_paid, grp_principal_due, grp_interest_due, grp_interest_paid, grp_fee_due, grp_fee_paid, grp_total_due, grp_total_paid = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
      - collection_sheets.each do |ws|
        - loan_row_count += 1
        %tr{ :class => cycle('odd','even') }
          - fee = 0
          - client = Client.get ws.borrower_id
          %td
            %b= link_to ws.borrower_name, resource(center.branch, center, client)
          %td
            = link_to ws.loan_id, url(:quick_link, "loans", ws.loan_id)
          %td
            - i = ws.loan_disbursed_amount
            %b= i.to_currency
            - grp_amount += i
          %td
            - i = ws.loan_outstanding
            %b= i.to_currency
            - grp_outstanding += i
          %td
            = ws.loan_disbursed_date
          %td
            - i = ws.loan_installment_number
            = i
            - grp_installments += i
          %td.left-numeric.due
            = ws.principal_due_today.to_currency
            - grp_principal_due += ws.principal_due_today
            - num_loans_to_pay += 1 if ws.principal_due_today > 0
          %td.right-numeric.paid
            = ws.principal_paid_today.to_currency
            - grp_principal_paid += ws.principal_paid_today
          %td.left-numeric.due
            = ws.interest_due_today.to_currency
            - grp_interest_due += ws.interest_due_today
          %td.right-numeric.paid
            = ws.interest_paid_today.to_currency
            - grp_interest_paid += ws.interest_paid_today
          %td.left-numeric.due
            = ws.fee_due_today.to_currency
            - grp_fee_due += ws.fee_due_today
            - num_fees_to_pay += 1 if ws.fee_due_today > 0
          %td.right-numeric.paid
            = ws.fee_paid_today.to_currency
            - grp_fee_paid += ws.fee_paid_today
          %td.left-numeric.due
            = ws.total_due.to_currency
            - grp_total_due += ws.total_due
          %td.right-numeric.paid
            = ws.total_paid.to_currency
            - grp_total_paid += ws.total_paid
        - if loan_row_count == 0 and not params[:filter]
          %tr{ :class => cycle('odd','even') }
            %td
              %b= link_to client.name, resource(center.branch, center, client)
            %td{ :colspan => 5, :style => "text-align: center;" }
              %i nothing outstanding
            %td.left-numeric.due
            %td.right-numeric.paid
            %td.left-numeric.due
            %td.right-numeric.paid
            %td.left-numeric.due
            %td.right-numeric.paid
            %td.left-numeric.due
            %td.right-numeric.paid
      %tr{:style => 'border-bottom: 2px solid; border-top: 1px solid;' }
        %td{:colspan => 2}
        %td.numeric
          %b= grp_amount.to_currency
        %td.numeric
          %b= grp_outstanding.to_currency
        %td{:colspan => 2}
        %td.left-numeric.due
          %b= grp_principal_due.to_currency
        %td.right-numeric.paid
          %b= grp_principal_paid.to_currency
        %td.left-numeric.due
          %b= grp_interest_due.to_currency
        %td.right-numeric.paid
          %b= grp_interest_paid.to_currency
        %td.left-numeric.due
          %b= grp_fee_due.to_currency
        %td.right-numeric.paid
          %b= grp_fee_paid.to_currency
        %td.left-numeric.due
          %b= grp_total_due.to_currency
        %td.right-numeric.paid
          %b= grp_total_paid.to_currency
    %tr{:style => 'border-bottom: 2px solid; border-top: 1px solid;' }
    %tr
      %td
      %td
      %td.numeric
      %td.numeric
      %td
      %td
      %td.numeric
        %b= num_loans_to_pay
      %td.numeric
      %td.numeric
      %td.numeric
      %td.numeric
        %b= num_fees_to_pay
      %td.numeric
      %td.numeric
      %td.numeric

  %tfoot
    %tr
      %td{ :colspan => 15}