- data_not_recorded = '';
- gender_prompt = 'Choose'
- gender_choice = [['', gender_prompt], [:female, 'Female'], [:male, 'Male']]
- relationship_prompt = 'Choose'
- relationships = [[data_not_recorded, relationship_prompt], [:spouse, 'Spouse'], [:brother, 'Brother'], [:sister, 'Sister'], [:father, 'Father'], [:mother, 'Mother'], [:son, 'Son'], [:daughter, 'Daughter']]

%table
  %tr
    %td{:colspan => '2'}
      %h1==Family details
  %tr
    %td
      = "Have physically handicapped people at home ?"
    %td
      = check_box :name => :have_physically_handicapped_family_members
  %tr
    %td
      = "Number of family members:"
    %td
      = text_field(:number_of_family_members, :size => 10)
-#family information table
%table
  %thead
    %tr
      %td
        Sr.No.
      %td
        Name
      %td
        Gender
      %td
        Age
      %td
        Relationship
      %td
        Vocation
      %td
        Monthly income
  %tbody
    %tr
      %td
        1
      %td
        = text_field :family_1_name, :size => 10 
      %td
        = select :family_1_gender, :collection => gender_choice      
      %td
        = text_field :family_1_age, :size => 3
      %td
        = select :family_1_relationship, :collection => relationships        
      -# shouldn't this be actually a dropdown of the occupations we defined in mostfit ?
      %td
        = select :family_1_occupation, :collection => Occupation.all, :value_method => :id, :text_method => :name, :prompt => "---"      
      %td
        = text_field :family_1_monthly_income, :size => 6, :class => "income"
    %tr
      %td
        2
      %td
        = text_field :family_2_name, :size => 10 
      %td
        = select :family_2_gender, :collection => gender_choice      
      %td
        = text_field :family_2_age, :size => 3
      %td
        = select :family_2_relationship, :collection => relationships        
      -# shouldn't this be actually a dropdown of the occupations we defined in mostfit ?
      %td
        = select :family_2_occupation, :collection => Occupation.all, :value_method => :id, :text_method => :name, :prompt => "---"      
      %td
        = text_field :family_2_monthly_income, :size => 6, :class => "income"

    %tr
      %td
        3
      %td
        = text_field :family_3_name, :size => 10 
      %td
        = select :family_3_gender, :collection => gender_choice      
      %td
        = text_field :family_3_age, :size => 3
      %td
        = select :family_3_relationship, :collection => relationships        
      -# shouldn't this be actually a dropdown of the occupations we defined in mostfit ?
      %td
        = select :family_3_occupation, :collection => Occupation.all, :value_method => :id, :text_method => :name, :prompt => "---"      
      %td
        = text_field :family_3_monthly_income, :size => 6, :class => "income"

    %tr
      %td
        4
      %td
        = text_field :family_4_name, :size => 10 
      %td
        = select :family_4_gender, :collection => gender_choice      
      %td
        = text_field :family_4_age, :size => 3
      %td
        = select :family_4_relationship, :collection => relationships        
      -# shouldn't this be actually a dropdown of the occupations we defined in mostfit ?
      %td
        = select :family_4_occupation, :collection => Occupation.all, :value_method => :id, :text_method => :name, :prompt => "---"      
      %td
        = text_field :family_4_monthly_income, :size => 6, :class => "income"

    %tr
      %td
        5
      %td
        = text_field :family_5_name, :size => 10 
      %td
        = select :family_5_gender, :collection => gender_choice      
      %td
        = text_field :family_5_age, :size => 3
      %td
        = select :family_5_relationship, :collection => relationships        
      -# shouldn't this be actually a dropdown of the occupations we defined in mostfit ?
      %td
        = select :family_5_occupation, :collection => Occupation.all, :value_method => :id, :text_method => :name, :prompt => "---"      
      %td
        = text_field :family_5_monthly_income, :size => 6, :class => "income"
    %tr
      %td
        6
      %td
        = text_field :family_6_name, :size => 10 
      %td
        = select :family_6_gender, :collection => gender_choice      
      %td
        = text_field :family_6_age, :size => 3
      %td
        = select :family_6_relationship, :collection => relationships        
      -# shouldn't this be actually a dropdown of the occupations we defined in mostfit ?
      %td
        = select :family_6_occupation, :collection => Occupation.all, :value_method => :id, :text_method => :name, :prompt => "---"      
      %td
        = text_field :family_6_monthly_income, :size => 6, :class => "income"

  %tfoot
    %td{:colspan => '6'}
      Total Monthly Income
    %td
      = text_field :total_monthly_income, :size => 6
%tr
  %td{:colspan => '2'}
    %hr
