%table
  %tr
    %td
      Number of family members:
    %td
      = text_field(:number_of_family_members, :size => 10)
  %tr
    %th
      Family members
  %tr
    %td
      %table{:width =>'100%' }
      %tr
        %td
          Name
        %td
          Age
        %td
          Relationship with member
        %td
          Occupation/Education (with standard)
        %td
          Monthly income
      %tr
        %td
          = text_field(:family_member_1_name, :size => 30)
        %td
          = text_field(:family_member_1_age, :size => 5)
        %td
          = select(:family_member_1_relationship, :collection => [[:mother, "Mother"], [:sister, "Sister"], [:brother, "Brother"], [:son, "Son"], [:daughter, "Daughter"], [:other, "Other"]] , :prompt => "Choose relationship")
        %td
          = text_field(:family_member_1_occupation_or_education, :size => 30)
        %td
          = text_field(:family_member_1_monthly_income, :size => 10)
      %tr
        %td
          = text_field(:family_member_2_name, :size => 30)
        %td
          = text_field(:family_member_2_age, :size => 5)
        %td
          = select(:family_member_2_relationship, :collection => [[:mother, "Mother"], [:sister, "Sister"], [:brother, "Brother"], [:son, "Son"], [:daughter, "Daughter"], [:other, "Other"]] , :prompt => "Choose relationship")
        %td
          = text_field(:family_member_2_occupation_or_education, :size => 30)
        %td
          = text_field(:family_member_2_monthly_income, :size => 10)
      %tr
        %td
          = text_field(:family_member_3_name, :size => 30)
        %td
          = text_field(:family_member_3_age, :size => 5)
        %td
          = select(:family_member_3_relationship, :collection => [[:mother, "Mother"], [:sister, "Sister"], [:brother, "Brother"], [:son, "Son"], [:daughter, "Daughter"], [:other, "Other"]] , :prompt => "Choose relationship")
        %td
          = text_field(:family_member_3_occupation_or_education, :size => 30)
        %td
          = text_field(:family_member_3_monthly_income, :size => 10)
      %tr
        %td
          = text_field(:family_member_4_name, :size => 30)
        %td
          = text_field(:family_member_4_age, :size => 5)
        %td
          = select(:family_member_4_relationship, :collection => [[:mother, "Mother"], [:sister, "Sister"], [:brother, "Brother"], [:son, "Son"], [:daughter, "Daughter"], [:other, "Other"]] , :prompt => "Choose relationship")
        %td
          = text_field(:family_member_4_occupation_or_education, :size => 30)
        %td
          = text_field(:family_member_4_monthly_income, :size => 10)
      %tr
        %td
          = text_field(:family_member_5_name, :size => 30)
        %td
          = text_field(:family_member_5_age, :size => 5)
        %td
          = select(:family_member_5_relationship, :collection => [[:mother, "Mother"], [:sister, "Sister"], [:brother, "Brother"], [:son, "Son"], [:daughter, "Daughter"], [:other, "Other"]] , :prompt => "Choose relationship")
        %td
          = text_field(:family_member_5_occupation_or_education, :size => 30)
        %td
          = text_field(:family_member_5_monthly_income, :size => 10)
      %tr
        %td
          = text_field(:family_member_6_name, :size => 30)
        %td
          = text_field(:family_member_6_age, :size => 5)
        %td
          = select(:family_member_6_relationship, :collection => [[:mother, "Mother"], [:sister, "Sister"], [:brother, "Brother"], [:son, "Son"], [:daughter, "Daughter"], [:other, "Other"]] , :prompt => "Choose relationship")
        %td
          = text_field(:family_member_6_occupation_or_education, :size => 30)
        %td
          = text_field(:family_member_6_monthly_income, :size => 10)
      %tr
        %td
          = text_field(:family_member_7_name, :size => 30)
        %td
          = text_field(:family_member_7_age, :size => 5)
        %td
          = select(:family_member_7_relationship, :collection => [[:mother, "Mother"], [:sister, "Sister"], [:brother, "Brother"], [:son, "Son"], [:daughter, "Daughter"], [:other, "Other"]] , :prompt => "Choose relationship")
        %td
          = text_field(:family_member_7_occupation_or_education, :size => 30)
        %td
          = text_field(:family_member_7_monthly_income, :size => 10)
      %br/
  %tr
    %td
      %h3==Summary
  %tr
    %td
      Children:
    %td
      %table{:width => '100%'}
      %tr
        %td
          Girls under 5 years
        %td
          Girls 5 to 15 years
        %td
          Girls over 5 years
      %tr
        %td
          = text_field(:children_girls_under_5_years, :size => 10)
        %td
          = text_field(:children_girls_5_to_15_years, :size => 10)
        %td
          = text_field(:children_girls_over_5_years, :size => 10)
      %tr
        %td
          Sons under 5 years
        %td
          Sons 5 to 15 years
        %td
          Sons over 5 years
      %tr
        %td
          = text_field(:children_sons_under_5_years, :size => 10)
        %td
          = text_field(:children_sons_5_to_15_years, :size => 10)
        %td
          = text_field(:children_sons_over_5_years, :size => 10)
      %br/
  %tr
    %td
      Not in school:
    %td
      %table{:width => '100%'}
      %tr
        %td
          Working girls
        %td
          Bonded girls
      %tr
        %td
          = text_field(:not_in_school_working_girls, :size => 10)
        %td
          = text_field(:not_in_school_bonded_girls, :size => 10)
      %tr
        %td
          Working sons
        %td
          Bonded sons
      %tr
        %td
          = text_field(:not_in_school_working_sons, :size => 10)
        %td
          = text_field(:not_in_school_bonded_sons, :size => 10)
      %br/
  %tr
    %td
      School distance:
    %td
      = text_field(:school_distance, :size => 10)
    %td
      PHC distance:
    %td
      = text_field(:phc_distance, :size => 10)
      %br/
  %tr
    %td
      Has electricity connection?:
    %td
      = select(:has_electricity_connection, :collection => [[:yes, "Yes"], [:no, "No"]] , :prompt => "Has electricity?")
    %td
      Cooking equipment:
    %td
      = select(:cooking_equipment, :collection => [[:wood_and_gobar, "Wood, gobar"], [:kerosene_stove, "Kerosene stove"], [:gas, "Gas"]] , :prompt => "Choose one")
  %tr
    %td
      Has bank account?:
    %td
      = select(:has_bank_account, :collection => [[:yes, "Yes"], [:no, "No"]] , :prompt => "Has bank account?")
  %tr
    %td
      Has PAN Card?:
    %td
      = select(:has_PAN_card, :collection => [[:yes, "Yes"], [:no, "No"]] , :prompt => "Has PAN Card?")
    %td
      PAN Number (if present):
    %td
      = text_field(:PAN_number, :size => 20)

