%h1 Reason
.menu-strip{:style => "width:26%;"}
  = link_to 'Add New Reason', '#', :onclick => "jQuery('.reason_div').toggle();", :class => "add grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
%br
.reason_div{:style => 'display:none'}
  = partial 'form'
%br
%table.datatable.report.weeksheet.nojs
  %thead
    %th
      Name
    %th
      Remarks Count
    %th
      Created At
  - @reasons.each do |reason|
    %tr
      %td
        = link_to_with_rights reason.name, resource(reason)
      %td
        = reason.comments.count
      %td
        = reason.created_at

