%h1== Reason:- #{@reason.name}
= link_to 'Edit', '#', :onclick => "jQuery('.reason_div').toggle();", :class => "add grey_button"
.reason_div{:style => 'display:none'}
  = form_for(@reason, :id => "reason_form", :action => resource(@reason)) do
    = text_field :name
    = submit 'Update'
%h2 Remarks
%table.datatable.report.weeksheet.nojs
  %thead
    %th
      ID
    %th
      Remark On Type
    %th
      Remark On ID
    %th
      Remark
    %th
      Created At
  - @reason.comments.each do |comment|
    %tr
      %td
        = comment.id
      %td
        = comment.commentable_class
      %td
        = comment.commentable_id
      %td
        = comment.text
      %td
        = comment.created_at