- if @user_roles.empty?
  #container_form
    .notice{:style => "background: none; text-align: center;"}
      No User Roles
- else
  %table.narrow
    %thead
      %tr
        %th
          Id
        %th
          Name
        %th
          Role Class
        %th
          Designation
        %th
          Created On
    %tr
    - for user_role in @user_roles
      %tr{:class => cycle('odd','even')}
        %td
          = user_role.id
        %td
          = user_role.name
        %td
          = user_role.role_class
        %td
          = user_role.designation.name
        %td
          = user_role.created_at