%h1 List of Tranches under Funding Line: #{@funding_line.name}

.menu-strip{:style => "width: 30%;"}
  = link_to_with_rights 'Create a new tranch', url("tranches/new/#{@funding_line.id}"), :class => "add grey_button"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url("funders/#{@funding_line.funder.id}"), :class => "grey_button"


- if @tranches.blank?
  %p
    %i No tranches have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %td Tranch ID
        %td Tranch Name
        %td Date Of Commencement
    - for tranch in @tranches
      %tr{ :class => cycle('odd','') }
        %td
          %a{:href => url(:controller => 'tranches', :id => tranch.id, :action => 'show')}
            = tranch.id
        %td
          %a{:href => url(:controller => 'tranches', :id => tranch.id, :action => 'show')}
            = tranch.name
        %td
          = tranch.date_of_commencement