= partial "funding_line"
%h1= "Tranches"
%p== #{link_to_with_rights 'Create a new tranch',"/tranches/new/#{@funding_line.id}",:class=>"add"}
- if @tranches.blank?
  %p
    %i No tranches have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %td
        %td Tranch ID
        %td Tranch Name
        %td Date Of Commencement
    - for tranch in @tranches
      %tr{ :class => cycle('odd','') }
        %td
        %td
          %a{:href => url(:controller => 'tranches', :id => tranch.id, :action => 'show')}
            = tranch.id
        %td
          %a{:href => url(:controller => 'tranches', :id => tranch.id, :action => 'show')}
            = tranch.name
        %td
          = tranch.date_of_commencement