:javascript
  function calcSurplus() {
    total = 0;
    $('.income').map(function(){return (isNaN(parseFloat($(this).attr('value'))) ? 0 : parseFloat($(this).attr('value')))}).each(function(){total += this;});
    $('#jlg_client_household_income').attr('value',total);
    other_income = (isNaN(parseFloat($('#jlg_client_other_income').attr('value'))) ? 0 : parseFloat($('#jlg_client_other_income').attr('value')));
    total_income = total + other_income;
    $('#jlg_client_total_income').attr('value',total_income);
    annual_income = total_income * 12;
    $('#jlg_client_annual_household_income').attr('value',annual_income);
    total_expenses = 0;
    $('.expenses').map(function(){return (isNaN(parseFloat($(this).attr('value'))) ? 0 : parseFloat($(this).attr('value')))}).each(function(){total_expenses += this;});
    $('#jlg_client_total_expenses').attr('value',total_expenses);
    annual_expenses = total_expenses * 12;
    $('#jlg_client_annual_expenses').attr('value',annual_expenses);
    monthly_surplus = total_income - total_expenses;
    annual_surplus = monthly_surplus * 12;
    $('#monthly_surplus').html(monthly_surplus);
    $('#jlg_client_monthly_surplus').attr('value',monthly_surplus);
    $('#annual_surplus').html(annual_surplus);
    $('#jlg_client_annual_surplus').attr('value',annual_surplus);

  }
  $(document).ready(function() {
    $('.expenses').blur(calcSurplus);
    $('.income').blur(calcSurplus);
    $('#jlg_client_other_income').blur(calcSurplus);
  });
%table.tall.shaded
  %tr
    %th
      No. of family members
    %td
      = text_field :number_of_family_members
  %tr
    %th
      No. of earning members
    %td
      = text_field :number_of_earning_members
  %tr
    %th
      Details of members
    %td
      %table
        %tr
          %thead
            %th
              Relationship
            %th
              Education
            %th
              Age
            %th
              Occupation
            %th
              Monthly Income
            %th
              Health Status (H/U/D)
        - member_details = (Marshal.load(@client.member_details) rescue nil)
        - 5.times do |i|
          %tr
            - ["relationship","education","age","occupation","income","health_status"].each do |item|
              %td
                = text_field :name => "jlg_client[member_details][member_#{i}][#{item}]", :value => (member_details["member_#{i}"][item] if member_details), :class => item
    %tr
      %th
        Other Income
      %td
        = text_field :other_income
    %tr
      %th
        Total Incomes
      %td
        %b{:style => "font-size:0.9em;"} Total Household Income
        = text_field :household_income, :disabled => true
        %b{:style => "font-size:0.9em;"} Total Income
        = text_field :total_income, :disabled => true
        %b{:style => "font-size:0.9em;"}
          Annual Household Income
          = text_field :annual_household_income, :disabled => true
    %tr
      %th
        Expenses
      %td
        - expenses = (Marshal.load(@client.expenses) rescue nil)
        - categories = %w(rent food education medical travel others total)
        %table{:style => "max_width: 80%"}
          %tr
            %thead
              - categories.each do |item|
                %th 
                  = item
          %tr
            - categories.each do |item|
              %td
                = text_field :name => "jlg_client[expenses][#{item}]", :value => (expenses[item] if expenses), :class => "expenses"
        %b{:style => "font-size:0.9em;"} Total Expenses
        = text_field :total_expenses, :disabled => true
        %b{:style => "font-size:0.9em;"}
          Total Annual Expenses
          = text_field :annual_expenses, :disabled => true
    %tr
      %th
        Surplus
      %td
        %b
          Monthly Surplus
          %span#monthly_surplus{:style => "margin-right: 45px"} 0.00
          Annual Surplus
          %span#annual_surplus 0.00
          = hidden_field :monthly_surplus
          = hidden_field :annual_surplus
    %tr
      %th
        Property Type
      %td
        = text_field :property_type
    %tr
      %th
        House Type
      %td
        = text_field :house_type
    %tr
      %th
        Years of Stay
      %td
        = text_field :years_of_stay
    %tr
      %th
        Date of House Verification
      %td
        = date_select_for @client, :date_of_house_verification
      
