:javascript
  $(document).ready(function() {
    if(jQuery('select.fee_selector option:selected').attr('value')=='percentage_amount'){
        jQuery('.fix').hide();
        jQuery('.percentage').show();
        jQuery('.fix_amount').val('');
    }
    $('.fee_selector').live('change', function(){
      if(jQuery(this).val()=='fix_amount'){
        jQuery('.fix').show();
        jQuery('.percentage').hide();
        jQuery('.percentage_amount').val('');
      }else{
        jQuery('.fix').hide();
        jQuery('.percentage').show();
        jQuery('.fix_amount').val('');
      }
    });
  });
%table.tall.shaded
  %tr
    %th
      Fee Amount In
    %td
      = select :name => 'timed_amount[amount_type]', :collection => Constants::Transaction::FEE_AMOUNT_TYPE.map{|f| [f, f.to_s.humanize]}, :class => 'fee_selector'
  %tr.percentage{:style => 'display:none'}
    %th
      Fee In Percentage
    %td
      = text_field :name => 'timed_amount[fee_only_percentage]', :class => 'percentage_amount'
  %tr.percentage{:style => 'display:none'}
    %th
      Tax In Percentage
    %td
      = text_field :name => 'timed_amount[tax_only_percentage]', :class => 'percentage_amount'
  %tr.fix
    %th
      Fee Amount
    %td
      = text_field :name => 'timed_amount[fee_only_amount]', :class => 'fix_amount'
  %tr.fix
    %th
      Tax Amount
    %td
      = text_field :name => 'timed_amount[tax_only_amount]', :class => 'fix_amount'
  %tr
    %th
      Effective On
    %td
      = date_select 'timed_amount[effective_on]', Date.today, {:id => 'effective_on'}