:javascript
  $('table.fee').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%h1 List of Fees
.menu-strip{:style => "width: 20%;"}
  = link_to 'Add Fee', "#", :onclick =>"jQuery('#meeting_div').toggle(); return false;", :class => 'add grey_button'
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
#meeting_div(style = "display : none")
  = form_for(@fee_product, :action => url(:controller => :simple_fee_products, :action => :create), :method => "POST", :class => "tall shaded") do
    = partial 'simple_fee_products/fields'
    = submit 'Save', :class => "greenButton"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    = link_to_with_rights "Cancel", '#', :onclick =>"jQuery('#meeting_div').hide(); return false;", :class => 'grey_button'
%br
- if @fee_products.count == 0
  %p
    %i No Fee have been created yet
- else
  %table.report.weeksheet.nojs.fee
    %thead
      %tr
        %td
          id
        %td
          Name
        %td
          Fee Charge Type
        %td
          Created On
    - @fee_products.each do |fee_product|
      %tr
        %td
          = fee_product.id
        %td
          = link_to fee_product.name, resource(fee_product)
        %td
          = fee_product.fee_charged_on_type.humanize
        %td
          = fee_product.created_on
    %tfoot
      %tr
        %td{ :colspan => 4 }
