.shaded
  - if @center_cycle && !@center_cycle.blank?
    = form(:action => url(:controller => 'center_cycles', :action => 'record_cgt'), :method => :post) do
      = hidden_field :name => :parent_location_id, :value => @branch.id
      = hidden_field :name => :child_location_id, :value => @center.id
      = hidden_field :name => 'center_cycle_number', :value => @center_cycle_number
      %table.form
        %h1
          = "Record CGT"
          %tr
            %th CGT Start Date:
            %td
              = date_select :cgt_date_one
          %tr
            %th CGT End Date:
            %td
              = date_select :cgt_date_two
          %table.narrow.form{:style => "width:100%;"}
            %tfoot
              %tr
                %td
                  %b CGT recorded by:
                  = get_session_user_name
                  = hidden_field :name => 'cgt_performed_by_staff', :value => get_session_user_id
                %td
                  = submit 'Save', :class => "grey_button"