:javascript
  $('table.center_cycle').dataTable({
    "sScrollX": "100%",
    "bPaginate": true,
    "bJQueryUI": true,
    "sDom": '<"H"Tfr>t<"F"ip>',
    "oTableTools": {
      "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
    }
  });

- center_text = "text-align: center"
- all_center_cycles = CenterCycle.all(:biz_location_id => center_id)

.shaded
  %h2 Center Cycles
  - unless all_center_cycles.blank?
    %table.report.weeksheet.nojs.center_cycle
      %thead
        %tr
          %th S.No.
          %th Center Cycle No.
          %th Center Cycle Status
          %th CGT Start Date
          %th CGT End Date
          %th CGT Recorded By
          %th CGT Recorded On
          %th GRT Status
          %th GRT Completed On
          %th GRT Completed By
          %th GRT Recorded On
      %tbody
        - s_no = 1
        - all_center_cycles.each do |center_cycle|
          %tr
            %td
              = s_no
              - s_no += 1
            %td
              = center_cycle.cycle_number
            %td
              = center_cycle.status.humanize rescue nil
            %td
              = center_cycle.cgt_date_one.blank? ? "CGT Not Done" : center_cycle.cgt_date_one
            %td
              = center_cycle.cgt_date_two.blank? ? "CGT Not Done" : center_cycle.cgt_date_two
            %td
              = center_cycle.cgt_performed_by_staff.blank? ? "CGT Not Done" : StaffMember.get(center_cycle.cgt_performed_by_staff).name rescue nil
            %td
              = center_cycle.cgt_recorded_at.blank? ? "CGT Not Done" : center_cycle.cgt_recorded_at.display
            %td
              = center_cycle.grt_status == Constants::CenterFormation::GRT_NOT_DONE ? "CGT Not Done" : @center_cycle.grt_status.humanize
            %td
              = @center_cycle.grt_completed_on.blank? ? "GRT Not Done" : @center_cycle.grt_completed_on
            %td
              = @center_cycle.grt_completed_by_staff.blank? ? "GRT Not Done" : StaffMember.get(@center_cycle.grt_completed_by_staff).name rescue nil
            %td
              = @center_cycle.grt_recorded_at.blank? ? "GRT Not Done" : @center_cycle.grt_recorded_at.display
  - else
    %h3 No center cycle
