- center_cycle_number = CenterCycle.get_current_center_cycle(@center.id)
- unless @errors.blank?
  - if @errors.is_a?(Hash)
    .error
      - @errors.keys.each do |lap_id|
        - if @errors[lap_id]
          = "#{@errors[lap_id]}"
          %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br
%h1
  = "Record CGT, GRT"

%form{:action => url(:controller => :center_cycles, :action => :mark_cgt_grt), :method => :get}
  = partial "lib/biz_location_selector"

- if @center_cycle
  - if @center_cycle.cgt_date_one == nil && @center_cycle.cgt_date_two == nil && @center_cycle.cgt_date_two == nil
    = partial :fields_cgt
  - else
    = partial :fields_grt