- center_cycle_number = CenterCycle.get_current_center_cycle(@center.id)
- debugger
- unless @errors.blank?
  - if @errors.is_a?(Hash)
    .error
      - @errors.keys.each do |lap_id|
        - if @errors[lap_id]
          = "#{@errors[lap_id]}"
          %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br
%h1
  = "Record CGT, GRT"

%form{:action => url(:controller => :center_cycles, :action => :mark_cgt_grt), :method => :get}
  = partial "lib/biz_location_selector"

- if @center_cycle && !@center_cycle.blank?
  = form(:action => url(:controller => 'center_cycles', :action => 'record_cgt_grt'), :method => :post) do
    = hidden_field :name => :parent_location_id, :value => @branch.id
    = hidden_field :name => :child_location_id, :value => @center.id
    = hidden_field :name => 'center_cycle_number', :value => @center_cycle_number
    %table
      %h1
        = "Record CGT,GRT"
        %tr
          %th Date 1:
          %td
            = date_select :cgt_date_one, Date.today
        %tr
          %th Date 2:
          %td
            = date_select :cgt_date_two, Date.today
        %tr
          %th Date 3:
          %td
            = date_select :cgt_date_three, Date.today
        %table.narrow.form{:style => "width:100%;"}
          %tfoot
            %tr
              %td
                %b By
                = select :cgt_performed_by_staff, :text_method => :name, :value_method => :id, :collection => choice_facade.staff_that_can_manage_specific_location(@center.id), :prompt => "Select staff member"
              %td
                %b On
                = date_select :cgt_recorded_at, Date.today
                = submit 'Save', :class => "grey_button"