:javascript
  $('table.client_tab').dataTable({
    "bPaginate": false,
    "bJQueryUI": true
  });

= link_to_with_rights 'Add Client', url(:controller => :new_clients, :action => :new, :biz_location_id => @biz_location.id), :class => "add grey_button", :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"

%br
- if @customers.blank?
  %p
    %i No Client Mapping have been created yet.
- else
  %table.report.weeksheet.client_tab
    %thead
      %tr
        %th
          id
        %th
          Client Name
        %th
          Client Group
        %th
          Joining Date
    %tbody
      - @customers.each do |customer|
        %tr
          %td
            = customer.id
          %td
            = link_to_with_rights customer.name, url(:controller => :new_clients, :action => :show, :id => customer.id)
          %td
            - if (customer and customer.client_group)
              = link_to_with_rights customer.client_group.name, resource(customer.client_group)
            - else
              = "Not Attached to any group"
          %td
            = customer.date_joined