:javascript
  $(document).ready(function() {
    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });
  });
  $('table.client_tab').dataTable({
    "bPaginate": false,
    "bJQueryUI": true
  });

= link_to_with_rights 'Add Client', url(:controller => :new_clients, :action => :new, :biz_location_id => @biz_location.id), :class => "add grey_button"
%br
- if @customers.count == 0
  %p
    %i No Client Mapping have been created yet.
- else
  %table{:style => "width:100%;"}
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Joining Date
  %div{:class => "demo"}
    %ul{:id => "sortable", :style => "width:100%;"}
      - for customer in @customers
        %li{:class => "ui-state-default", :id => "client_#{customer.id}"}
          %span{:class => "ui-icon ui-icon-arrowthick-2-n-s"}
          %table.form
            %tr
              %td
                = customer.id
              %td
                = link_to_with_rights customer.name, url(:controller => :new_clients, :action => :show, :id => customer.id)
              %td
                = customer.date_joined