%br
- if @location_levels.count == 0
  %p
    %i No Location Mapping have been created yet.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Location Level
        %th
          Location No. Count
        %th
          Created On
    - for location_level in @location_levels
      - @biz_locations = location_level.biz_locations
      - @biz_locations.each do |biz_location|
        %tr
          %td
            = biz_location.id
          %td
            = link_to_with_rights biz_location.name, url(:controller => :user_locations, :action => :show, :id => biz_location.id)
          %td
            = location_level.name
          %td
            = FacadeFactory.instance.get_instance(FacadeFactory::LOCATION_FACADE,session.user).get_children(biz_location, session[:effective_date]).count
          %td
            = location_level.creation_date.strftime("%Y-%m-%d")