%br
- if @location_levels.count == 0
  %p
    %i No Location Mapping has been created yet.
- else
  %table.home_page.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Location Level
        %th
          Location No. Count
        %th
          Created On
    - @location_levels.each do |location_level, biz_locations|
      - unless location_level.level == 0
        - biz_locations.each do |biz_location|
          %tr
            %td
              = biz_location.id
            %td
              = link_to_with_rights(biz_location.name, url(:controller => :user_locations, :action => :show, :id => biz_location.id))
            %td
              = location_level.name
            %td
              = location_facade.get_children(biz_location, get_effective_date).count
            %td
              = location_level.creation_date
