%br
- if @lendings.blank?
  %p
    %i No Loans Mapping have been created yet.
- else
  %table{:class => 'narrow'}
    %thead
      %tr
        %th
          id
        %th
          Name
        %th
          Description
        %th
          Created On
        %th
          Status
    %tr
      - for lending in @lendings
        %tr
          %td
            = lending.id
          %td
            = link_to lending.lending_product.name, resource(lending)
          %td
            = lending.to_s
          %td
            = lending.created_at.strftime("%Y-%m-%d")
          %td
            = lending.status.to_s.humanize