:javascript
  $('table.center_loan').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

- if params[:controller] == "new_clients" && !client_facade.is_client_active?(@client)
  %i
    = "Note: Client is Not eligible to Apply New loan, Death event has been registered on client (#{client_facade.death_event_filed_for(@client)} Death)"
- else
  = link_to_with_rights 'Add Loan', resource(:lending_products, :biz_location_id => @biz_location.id, :client_id => "#{@client.blank? ? '' : @client.id}" ), :class => "add grey_button"

%br
- if @lendings.blank?
  %p
    %i No Loans Mapping have been created yet.
- else
  %table.report.weeksheet.nojs.center_loan
    %thead
      %tr
        %th
          Loan Id
        %th
          Borrower Name
        %th
          Cycle No.
        %th
          Name
        %th
          Description
        %th
          Created On
        %th
          Status
    - for lending in @lendings
      %tr
        %td
          = lending.id
        %td
          = link_to_with_rights lending.loan_borrower.counterparty.name, url(:controller => :new_clients, :action => :show, :id => lending.loan_borrower.counterparty.id)
        %td
          = lending.cycle_number
        %td
          = link_to_with_rights lending.lending_product.name, resource(lending)
        %td
          = lending.to_s
        %td
          = lending.created_at.strftime("%Y-%m-%d")
        %td
          = lending.status.to_s.humanize