:javascript
  $('table.branch_eod').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%br
%div{:style => "width:30%; float: right; padding: 10px; border: solid 1px lightgrey"}
  = form_for(:user_locations, :action => url(:controller => :user_locations, :action => :location_eod_summary, :id => @biz_location.id), :method => :get, :class => '_remote_', :remote => true) do
    Change date
    = date_select "date", @date
    = submit "Go"
%br
%h1 LOCATION EOD SUMMARY
%br
%table.branch_eod.report.weeksheet
  %thead
    %tr
      %th{:style => 'width:349px;'}
        Name
      %th
        Sum
      %th
        Count
  - @eod_summary.each do |key, value|
    %tr
      %td
        = key.humanize
      %td
        = value.class == Hash ? value[:total_amount].to_s : value
      %td
        = value.class == Hash ? value[:count] : '-'