:javascript
  $('table.center_list').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
- @date = Date.today if @date.blank?
%h2
  = "#{@location_level.name} meeting on"
  = @date.weekday
%p{:style => "margin-left: 15px;"}
  %b Select center meeting day: &nbsp;
  = paginate_on_weekdays(@biz_location, (params.key?(:meeting_day) ? params[:meeting_day] : @date))
%p{:style =>"text-align: right; margin-top: -19px; margin-right: 80px;"}
  = link_to_with_rights "Today | " , url(:controller => "user_locations", :action => "biz_location_list", :id => @biz_location.id, :meeting_day => Date.today), :id => "centers_list", :class => "_remote_", :title => "Today Meeting Centers"
  = link_to_with_rights "Previous | " , url(:controller => "user_locations", :action => "biz_location_list", :id => @biz_location.id, :meeting_day => @date.nil? ? Date.today - 7 : @date - 7), :id => "centers_list", :class => "_remote_", :title => "Pervious Week Meeting Centers"
  = link_to_with_rights "Next" , url(:controller => "user_locations", :action => "biz_location_list", :id => @biz_location.id, :meeting_day => @date.nil? ? Date.today + 7 : @date + 7), :id => "centers_list", :class => "_remote_", :title => "Next Week Meeting Centers"
- if @biz_location.blank? || @meeting_dates.blank?
  - if @biz_locations.count==0
    %p
      %i No centers have been created yet.
  - else
    %p
      %i No centers meet on this day.
- else
  %table.dataTable.weeksheet.report.nojs.center_list
    %thead
      %tr
        %th ID
        %th Name
        %th Manager
        %th Meeting
        %th No. Of Clients
    - @meeting_dates.sort_by{|c| c.location_id}.each do |meeting_date|
      - biz_location = @biz_locations.find{|x| x.id == meeting_date.location_id}
      %tr{:class => cycle('odd','')}
        %td
          = biz_location.id
        %td
          - if @location_level.level == 0
            = link_to biz_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => biz_location.id, :date => meeting_date.on_date )
          - else
            = link_to biz_location.name, url(:controller => :user_locations, :action => :show, :id => biz_location.id)
        %td
          = ''
        %td
          = meeting_date.meeting_begins_at
        %td
          = ClientAdministration.get_clients_administered(biz_location.id, @date).count
    %tfoot
      %tr
        %td{ :colspan => 6 }
