:javascript
  $('table.center_list').dataTable({
      "sPaginationType": "full_numbers",
      "bServerSide": true,
      "sAjaxSource": $('table.center_list').attr('source'),
      "bProcessing": true,
      "bJQueryUI": true,
      "sDom": '<"H"Tfr>t<"F"ip>',
      "oTableTools": {
        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
      }
    });
- @date = get_effective_date if @date.blank?
%h2
  = "#{@location_level.name} meeting on"
  = @date.weekday
%p{:style => "margin-left: 15px;"}
  %b Select center meeting day: &nbsp;
  = paginate_on_weekdays(@biz_location, (params.key?(:meeting_day) ? params[:meeting_day] : @date))
%p{:style =>"text-align: right; margin-top: -19px; margin-right: 80px;"}
  = link_to_with_rights "Today | " , url(:controller => "user_locations", :action => "biz_location_list", :id => @biz_location.id, :meeting_day => Date.today), :id => "centers_list", :class => "_remote_", :title => "Today Meeting Centers"
  = link_to_with_rights "Previous | " , url(:controller => "user_locations", :action => "biz_location_list", :id => @biz_location.id, :meeting_day => @date.nil? ? Date.today - 7 : @date - 7), :id => "centers_list", :class => "_remote_", :title => "Pervious Week Meeting Centers"
  = link_to_with_rights "Next" , url(:controller => "user_locations", :action => "biz_location_list", :id => @biz_location.id, :meeting_day => @date.nil? ? Date.today + 7 : @date + 7), :id => "centers_list", :class => "_remote_", :title => "Next Week Meeting Centers"
- if @biz_location.blank? || @meeting_dates.blank?
  - if @biz_locations.count==0
    %p
      %i No centers have been created yet.
  - else
    %p
      %i No centers meet on this day.
- else
  %table{:source => url(:controller => 'user_locations', :id => @biz_location.id, :action => 'child_location_meetings_on_date', :date => @date), :class => 'remote_data center_list dataTable report weeksheet nojs'}
    %thead
      %tr
        %th ID
        %th Name
        %th Manager
        %th Meeting
        %th No. Of Clients