:javascript
  $('table.center_meetings').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
.menu-strip
  = link_to_with_rights 'Add Meeting Schedule', resource(:meeting_schedules, :new, :biz_location_id => @biz_location.id), :class => '_remote_ add'
%br
%table.report.weeksheet.nojs.center_meetings
  %thead
    %tr
      %td
        Begin On
      %td
        Weekday
      %td
        Frequency
      %td
        Meeting Time
      %td
        Description
  - @meeting_schedule_infos.sort.each do |msi|
    %tr
      %td
        = msi.schedule_begins_on
      %td
        = Constants::Time.get_week_day(msi.schedule_begins_on)
      %td
        = msi.meeting_frequency
      %td
        = msi.meeting_begins_at
      %td
        = msi.to_s
  %tfoot
    %tr
      %td{ :colspan => 7 }