:javascript
  $('table.center_meeting_cal').dataTable({
      "sScrollX": "100%",
      "bPaginate": false,
      "bJQueryUI": true,
      "sDom": '<"H"Tfr>t<"F"ip>',
      "oTableTools": {
        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
      }
    });
%h1
  == Center Meeting Calender for center #{@biz_location.name}
%br
- if @meeting_dates.blank?
  %b= "No Meeting Dates in Calendar."
- else
  %table.report.weeksheet.nojs.center_meeting_cal
    %thead
      %tr
        %td
          Meeting Date
        %td
          Actual Meeting Date
        %td
          Meeting Weekday
        %td
          Meeting Status
        %td
          Meeting Time
        %td
          Description
    - @meeting_dates.each do |md|
      - holiday = LocationHoliday.get_origin_move_date(md.location, md.on_date)
      %tr{:style=>"background-color:#{holiday.blank? ? '' : 'PaleGoldenRod'}"}
        %td
          = md.on_date
        %td
          = md.actual_date
        %td
          = Constants::Time.get_week_day(md.on_date)
        %td
          = md.meeting_status
        %td
          = md.meeting_begins_at
        %td
          = md.to_info.to_s
    %tfoot
      %tr
        %td{ :colspan => 7 }
          #notification
            #holiday{:style => "display:table"}
              #h_color{:style=>"background-color:PaleGoldenRod; width:12px; height:12px;"}
              %div{:style => "display:table-cell;"}
                &nbsp;Indicates that meeting schedule effected by holiday