:javascript
  $('table.staff').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%br
- if @staff_postings.count == 0
  %p
    %i No Staff Posting have been created yet.
- else
  - check_disabled = LocationHoliday.holiday_applies?(@biz_location, get_effective_date)
  = form_for(:user_locations, :action => url(:controller => :staff_attendances, :action => :create), :disabled => check_disabled) do
    = hidden_field :name => "biz_location_id", :value => @biz_location.id
    = hidden_field :name => "on_date", :value => get_effective_date
    %table.report.weeksheet.nojs.staff
      %thead
        %tr
          %td
            Staff Name
          %td
            Designation
          %td
            Effective On
          %td
            Posting
          %td
            %b
              = "#{check_disabled ? 'Holiday' : 'Present?'} on #{get_effective_date} "
      - @staff_postings.each do |staff_posting|
        - staff_member = staff_posting.staff_assigned
        - attendance_status = StaffAttendance.get_attendance_status_of_staff_member(@biz_location.id, staff_member.id, get_effective_date)
        - check_status = attendance_status.blank? ? false : (attendance_status.attendance == Constants::User::PRESENT_ATTENDANCE_STATUS)
        %tr
          %td
            = staff_member.name
          %td
            = staff_member.designation.name unless staff_member.designation.blank?
          %td
            = staff_posting.effective_on
          %td
            = staff_posting.assigned_to_location.name
          %td
            = check_box :name => "was_attendance_ids[]", :value => staff_member.id, :checked => check_status, :disabled => check_disabled
            = hidden_field :name => "staff_ids[]", :value => staff_member.id
      %tfoot
        %tr
          %td{ :colspan => 8 }
    = submit "Save", :disabled => check_disabled