%h1 Due Generation For Location

.menu-strip{:style => "width:8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"

= form_for(:user_locations, :action => resource(:user_locations, :get_due_generation_sheet_for_location), :method => :get) do
  .shaded
    %table.form
      %thead
        %tr
          %th Branch:
          %th
            = select :name => "location_ids", :text_method => :name, :value_method => :id, :collection => @locations, :prompt => "Select branch", :class => 'multiple'
          %th
            Select Date:
          %th
            - date = params[:on_date] ? params[:on_date] : get_effective_date
            = date_select 'on_date', date
          %td
            = submit "Go"
- files = {}
- Dir.entries("#{Merb.root}/doc/pdfs/company/due_sheets").delete_if{|s| s.include?('.')}.map{|dir| files["#{Merb.root}/doc/pdfs/company/due_sheets/#{dir.to_s}"]=Dir.entries("#{Merb.root}/doc/pdfs/company/due_sheets/"+dir)} rescue []
%br
%table.dataTable.weeksheet.report.nojs
  %thead
    %tr
      %th Date
      %th File Name
  - files.each do |path, file_names|
    -file_names.select{|s| s.split('.').last=="zip"}.each do |file|
      %tr
        %td
          = path.split('/').last
        %td
          = link_to "#{file}", resource(:user_locations, :zip_file_download, :file_url => "#{path}/#{file}")