:javascript
  $('table.branch_a_eod').dataTable({
      "sScrollX": "100%",
      "bPaginate": false,
      "bJQueryUI": true,
      "sDom": '<"H"Tfr>t<"F"ip>',
      "oTableTools": {
        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
      }
    });
  $('table.branch_b_eod').dataTable({
      "sScrollX": "100%",
      "bPaginate": false,
      "bJQueryUI": true,
      "sDom": '<"H"Tfr>t<"F"ip>',
      "oTableTools": {
        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
      }
    });

%br
- date = params[:date]||get_effective_date
%div{:style => "width:34%; float: right; padding: 10px; border: solid 1px lightgrey"}
  = form_for(:user_locations, :action => url(:controller => :user_locations, :action => :show, :id => @biz_location.id)+'#branch_eod_summary', :method => :get) do
    Change date
    = date_select "date", date
    = submit "Go"
%br
%h1 Business EOD Summary
%br
- business_eod = @eod_summary[:business_eod]
- collection_eod = @eod_summary[:collection_eod]
%table.branch_b_eod.report.weeksheet
  %thead
    %tr
      %th
        = "HM Aprvd (frm #{date})"
      %th{:colspan => 3}
        No. Of Members
      %th{:colspan => 2}
        GRT
      %th{:colspan => 2}
        OPS
      %th
        Target()
      %th{:colspan => 3}
        Disbursment
      %th
        Achv%
      %th
        Total
    %tr
      %th
      %th
        AO CPV
      %th
        CGT-1
      %th
        CGT-2
      %th
        No. Of Center
      %th
        No. Of Member
      %th
        No. Of Center
      %th
        No. Of Member
      %th
        No. Of Member
      %th
        No. Of Center
      %th
        No. Of Member
      %th
        Disbursment Amount
      %th
      %th
  %tr
    %td
      = business_eod[:hm_approve]
    %td
      = business_eod[:apo_members]
    %td
      = business_eod[:cgt1_members]
    %td
      = business_eod[:cgt2_members]
    %td
      = business_eod[:grt_centers]
    %td
      = business_eod[:grt_members]
    %td
      = business_eod[:ops_centers]
    %td
      = business_eod[:ops_members]
    %td
      = '-'
    %td
      = business_eod[:disbursment_locations]
    %td
      = business_eod[:disbursment_clients]
    %td
      = business_eod[:total_disbursment]
    %td
      = '-'
    %td
      = '-'

%br
%h1 Attendance & Collection
%br
%table.branch_a_eod.report.weeksheet
  %thead
    %tr
      %th
        No. of Center
      %th
        Total Member
      %th
        Member Absent
      %th
        Abs%
      %th
        Collectable Amount
      %th
        Collected Amount
      %th
        Collection %
      %th
        Due Amount
      %th
        Remark
  %tr
    %td
      = collection_eod[:total_centers]
    %td
      = collection_eod[:total_clients]
    %td
      = collection_eod[:client_absent]
    %td
      = collection_eod[:client_absent_in_presentage]
    %td
      = collection_eod[:collectable_amt]
    %td
      = collection_eod[:collected_amt]
    %td
      = collection_eod[:collected_in_presentage]
    %td
      = collection_eod[:overdue_amt]
    %td