:javascript
  $('table.branch_eod').dataTable({
      "sScrollX": "100%",
      "bPaginate": false,
      "bJQueryUI": true,
      "sDom": '<"H"Tfr>t<"F"ip>',
      "oTableTools": {
        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
      }
    });

%br
%div{:style => "width:30%; float: right; padding: 10px; border: solid 1px lightgrey"}
  = form_for(:user_locations, :action => url(:controller => :user_locations, :action => :show, :id => @biz_location.id)+'#branch_eod_summary', :method => :get) do
    Change date
    = date_select "eod_date", params[:eod_date]||get_effective_date
    = submit "Go"
%br
%h1 LOCATION EOD SUMMARY
%br
%table.branch_eod.report.weeksheet
  %thead
    %tr
      %th{:style => 'width:349px;'}
        Name
      %th
        Sum
      %th
        Count
  - @eod_summary.each do |key, value|
    - next if value.blank?
    %tr
      %td
        = key.humanize
      %td
        = value.class == Hash ? value[:total_amount].to_s : value
      %td
        = value.class == Hash ? value[:count] : '-'