- unless @errors.blank?
  - if @errors.is_a?(Hash)
    - @errors.keys.each do |client_id|
      - if @errors[client_id]
        .error
          - @errors[client_id].keys.each do |key|
            = "[Client ID: #{client_id}] #{key}: #{@errors[client_id][key]}"
            %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br
%h1 Set center leader
.shaded
  - if @customers.blank?
    %p
      %i No Client Mapping have been created yet.
  - else
    = form(:action => url(:controller => :user_locations, :action => :record_center_leader)) do
      = hidden_field :name => "biz_location_id", :value => @biz_location.id
      %table.dataTable.form{:style => "width:100%;"}
        %thead
          %tr
            %th
              id
            %th
              Name
            %th
              Created On
        %tbody
          - @customers.each do |customer|
            %tr
              %td
                = radio_button :name => "client_id", :value => customer.id
                - if CenterLeaderClient.is_center_leader?(customer.id, get_effective_date)
                  %span.greytext
                    Is center leader
              %td
                = customer.id
              %td
                = link_to_with_rights customer.name, url(:controller => :new_clients, :action => :show, :id => customer.id)
              %td
                = customer.created_at.strftime("%Y-%m-%d")
      = submit "Save", :class => "greenButton"
      = link_to 'Back', url("user_locations/weeksheet_collection/#{@biz_location.id}"), :class => "greenButton"