:javascript
  $(document).ready(function() {
    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });

    $("form#form_id").submit(function(){
      var sortable_params= $("#sortable").sortable('serialize');
      $("#seat").attr("value",sortable_params);
    });

  });

  $('table.client_tab').dataTable({
      "sScrollX": "100%",
      "bPaginate": false,
      "bJQueryUI": true,
      "sDom": '<"H"Tfr>t<"F"ip>',
      "oTableTools": {
        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
      }
  });

%h1 Set seating order
%br
- customers = @customers.blank? ? nil : @customers.collect{|c| c if client_facade.is_client_active?(c)}.compact
- if customers.blank?
  %p
    %i No Client Mapping have been created yet.
- else
  %i
    %b Note: These are the clients which have active loans
    %br
    %b Note: The clients which has death event registered will not be shown in this list
  = form(:action => url(:controller => :user_locations, :action => :record_seating_order), :id => "form_id") do
    = hidden_field :name=>"clients", :id => "seat"
    = hidden_field :name => "biz_location_id", :value => @biz_location.id
    %table{:style => "width:100%;"}
      %thead
        %tr
          %th{:style => "width:33%;"}
            id
          %th{:style => "width:33%;"}
            Name
          %th{:style => "width:33%;"}
            Joining Date
    %div{:class => "demo"}
      %ul{:id => "sortable", :style => "width:100%;"}
        - customers.each do |customer|
          %li{:class => "ui-state-default", :id => "customer_#{customer.id}"}
            %table{:style => "width:100%;"}
              %tr
                %td{:style => "width:33%;"}
                  %span{:class => "ui-icon ui-icon-arrowthick-2-n-s"}
                  = customer.id
                %td{:style => "width:33%;"}
                  = link_to_with_rights customer.name, url(:controller => :new_clients, :action => :show, :id => customer.id)
                %td{:style => "width:33%;"}
                  = customer.date_joined

    = submit "Save order"
= link_to_with_rights "Back", url("user_locations/weeksheet_collection/#{@biz_location.id}"), :class => "greenButton"