%h1== #{@biz_location.location_level.name}: <i>#{@biz_location.name}</i>
= link_to 'Edit', resource(@biz_location, :edit), :class => 'add grey_button'
%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Name
    %td= @biz_location.name
  %tr.odd
    %th.odd Formation
    %td
      = "#{@biz_location.creation_date}( #{@biz_location.creation_date.strftime('%A')} )"
  - unless @parent_biz_location.blank?
    %tr.even
      %th.even Reports to
      %td= link_to_location @parent_biz_location
  %tr.odd
    %th.odd Managed By
    %td= managed_by_staff_member(@biz_location.id, get_effective_date)
  %tr.even
    %th.even Address
    %td= @biz_location.biz_location_address
  %tr.odd
    %th.odd= "No. Of #{@location_level.name}"
    %td= @biz_locations.count

%div.tab_container.shaded
  %ul.tabs
    - if @location_level.has_meeting
      %li#location_meeting
        = "#{@location_level.name} Meeting"
    %li#location
      = @location_level.name
    %li#staff
      Staff
    - if @biz_location.is_nominal_branch?
      %li#money_deposits
        Money Deposits
      %li#scv
        SCV
    - if @location_level.level < 2
      %li#branch_eod_summary
        EOD Summary
    %li#holiday
      Holiday
    %li#history
      History
  - if @location_level.has_meeting
    %div.tab
      %div#container_centers_list
        = partial "user_locations/location_list"
  %div.tab
    = link_to "Create #{@location_level.name}", resource(@biz_location, :biz_location_form), :class => "add grey_button _remote_"
    = partial "user_locations/child_locations"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :staffs_on_biz_location, :id => @biz_location.id)}
  - if @biz_location.is_nominal_branch?
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :money_deposits, :at_location_id => @biz_location.id)}
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :location_scv, :id => @biz_location.id, :date => @date)}
  - if @location_level.level < 2
    %div.tab
      %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :location_eod_summary, :id => @biz_location.id, :date => @date)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :location_holidays, :action => :index, :biz_location_id => @biz_location.id)}
  %div.tab