%h1== #{@biz_location.location_level.name}: <i>#{@biz_location.name}</i>
%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Name
    %td= link_to @biz_location.name, '#', :target => "_blank"
  %tr.odd
    %th.odd Reports to
    %td
      %b= ''
  %tr.even
    %th.even Formation
    %td
      = "#{@biz_location.creation_date}( #{@biz_location.creation_date.strftime('%A')} )"
  %tr.odd
    %th.odd Manager By
    %td= ''
  %tr.even
    %th.even= "No. Of #{@location_level.name}"
    %td= @biz_locations.count
  %tr.odd
    %th.odd Address
    %td= ''
  %tr.even
    %th.even Contact Number
    %td= ''
  %tr.odd
    %th.odd Landmark
    %td= ''
  %tr.even
    %th.even Area
    %td= ''

%div.tab_container.shaded
  %ul.tabs
    %li#Location
      = @location_level.name
  %div.tab
    %div#container_centers_list
      - if @location_level.has_meeting
        = partial "user_locations/location_list"
      - else
        = partial "user_locations/child_locations"