:javascript
  $('table.dataTable').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });


%h1== #{@biz_location.location_level.name}: <i>#{@biz_location.name}</i>
%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Name
    %td= @biz_location.name
  %tr.odd
    %th.odd Formation
    %td
      = "#{@biz_location.creation_date}( #{@biz_location.creation_date.strftime('%A')} )"
  - unless @parent_biz_location.blank?
    %tr.even
      %th.even Reports to
      %td= link_to @parent_biz_location.name, url(:controller => :user_locations, :action => :show, :id => @parent_biz_location.id)
  %tr.odd
    %th.odd Managed By
    %td= ''
  - if (!(@center_cycle.blank?) && @center_cycle.is_open?)
    %p.menu-strip
      = "Center Cycle no: #{@center_cycle.cycle_number}"
  - else
    = form :action => url(:controller => :center_cycles, :action => :create) do
      %p.menu-strip
        = 'Start New Center Cycle'
        = hidden_field :name => :center_id, :value => params[:id]
        = date_select "initiated_date", Date.today, :id => "cycle_date", :min_date => (@center_cycle.blank? ? nil : @center_cycle.initiated_on)
        = submit "Start"
%div.tab_container.shaded
  %ul.tabs
    %li#Collections
      Collections
    %li#client
      Clients
    %li#Loan
      Loans
    %li#Meeting
      Meeting
    %li#MeetingSchedule
      Meeting Schedule
    %li#pdf
      Pdf
    %li#History
      History
  %div.tab
    %div#location_list
      %br
      - if @meeting_schedule.blank?
        Today don't have any Meeting Schedule
      - else
        = partial 'user_locations/meeting_selector_form'
        - if @weeksheet.blank?
          Today don't have any repayments
        - else
          = partial "user_locations/weeksheet_collection_list"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :customers_on_biz_location, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :loans_on_biz_location, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :meeting_calendar, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :meeting_schedule, :id => @biz_location.id)}
  %div.tab
    = partial 'user_locations/pdf_on_biz_location'
