:javascript
  $('table.dataTable').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });


%h1== #{@biz_location.location_level.name}: <i>#{@biz_location.name}</i>
- parent_location = LocationLink.get_parent(@biz_location)
.menu-strip{:style => "margin-bottom: 0.5em; margin-left: 0px; margin-top: 0px"}
  = link_to 'Surprise Center Visit', url_for_checklist('Surprise Center Visit', @biz_location.location_level, parent_location, @biz_location, session.user.staff_member, Date.today, params, nil), :class => 'add grey_button', :target => 'blank'
  = link_to 'Business Audit', url_for_checklist('Business Audit', @biz_location.location_level, parent_location, @biz_location, session.user.staff_member, Date.today, params, nil), :class => 'add grey_button', :target => 'blank'
  = link_to 'Process Audit', url_for_checklist('Process Audit', @biz_location.location_level, parent_location, @biz_location, session.user.staff_member, Date.today, params, nil), :class => 'add grey_button', :target => 'blank'
%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Name
    %td= @biz_location.name
  %tr.odd
    %th.odd Formation
    %td
      = "#{@biz_location.creation_date}( #{@biz_location.creation_date.strftime('%A')} )"
  - unless @parent_biz_location.blank?
    %tr.even
      %th.even Reports to
      %td= link_to_location @parent_biz_location
  %tr.odd
    %th.odd Managed By
    %td= managed_by_staff_member(@biz_location.id, get_effective_date)

%div.tab_container.shaded
  %ul.tabs
    %li#Collections
      Collections
    %li#client
      Clients
    %li#Loan
      Loans
    %li#Meeting
      Meeting
    %li#MeetingSchedule
      Meeting Schedule
    %li#pdf
      Pdf
    %li#holiday
      Holiday
    %li#History
      History
    %li#center_cycle
      Center cycle
  %div.tab
    %div#location_list
      %br
      - if @meeting_schedule.blank?
        Today don't have any Meeting Schedule
      - else
        = partial 'user_locations/meeting_selector_form'
        - if @weeksheet.blank?
          Today don't have any repayments
        - else
          = partial "user_locations/weeksheet_collection_list"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :customers_on_biz_location, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :loans_on_biz_location, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :meeting_calendar, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :meeting_schedule, :id => @biz_location.id)}
  %div.tab
    = partial 'user_locations/pdf_on_biz_location'
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :location_holidays, :action => :index, :biz_location_id => @biz_location.id)}
  %div.tab
  %div.tab
    = partial 'center_cycles/tab_center_cycle', :center_cycle => @center_cycle
