:javascript
  $('table.dataTable').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });


%h1== #{@biz_location.location_level.name}: <i>#{@biz_location.name}</i>
- parent_location = LocationLink.get_parent(@biz_location)
.menu-strip{:style => "width: 50%;"}
  = link_to 'Edit', resource(@biz_location, :edit), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
  &nbsp;
  - if check_checklist_parameters(@biz_location.location_level, parent_location, @biz_location, session.user.staff_member, Date.today, params, nil)

    = link_to 'Surprise Center Visit', url_for_checklist('Surprise Center Visit', "Center",@biz_location, parent_location, @biz_location, session.user.staff_member, Date.today, params, nil), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
    &nbsp;
  - else

    = link_to 'Surprise Center Visit Not Available',"#", :class => 'add grey_button',:disabled=>true
  - if check_checklist_parameters(@biz_location.location_level, parent_location, @biz_location, session.user.staff_member, Date.today, params, nil)
    = link_to 'Business Audit', url_for_checklist('Business Audit', "Center",@biz_location, parent_location, @biz_location, session.user.staff_member, Date.today, params, nil), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
    &nbsp;
  - else
    = link_to ' Business Audit Not Available',"#", :class => 'add grey_button',:disabled=>true

%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.even
    %th.even Name
    %td= @biz_location.name
  %tr.odd
    %th.odd Formation
    %td
      = "#{@biz_location.creation_date}( #{@biz_location.creation_date.strftime('%A')} )"
  - unless @parent_biz_location.blank?
    %tr.even
      %th.even Reports to
      %td= link_to_location @parent_biz_location
  %tr.odd
    %th.odd Managed By
    %td= managed_by_staff_member(@biz_location.id, get_effective_date)
  %tr.even
    %th.even Disbursal Date for Loans
    %td= @biz_location.center_disbursal_date
  %tr.odd
    %th.odd Address
    %td= @biz_location.biz_location_address
  %tr.even
    %td= link_to "Set center leader", url(:controller => "user_locations", :action => "set_center_leader", :biz_location_id => @biz_location.id), :class => "greenButton"
    %td= link_to "Set seating order", url(:controller => "user_locations", :action => "set_seating_order", :biz_location_id => @biz_location.id), :class => "greenButton"

%div.tab_container.shaded
  %ul.tabs
    %li#Collections
      Collections
    %li#client
      Clients
    %li#loan_applicants
      Applicants
    %li#Loan
      Loans
    %li#Meeting
      Meeting
    %li#MeetingSchedule
      Meeting Schedule
    %li#pdf
      Pdf
    %li#holiday
      Holiday
    %li#center_cycle
      Center cycle
    %li#documents
      Documents
    %li#History
      History
  %div.tab
    %div#location_list
      %br
      - if @meeting_schedule.blank?
        Today don't have any Meeting Schedule
      - else
        = partial 'user_locations/meeting_selector_form'
        - if @weeksheet.blank?
          Today don't have any repayments
        - else
          - if message[:weeksheet_error] && !message[:error].blank?
            = partial "payment_transactions/weeksheet_payments"
          - else
            = partial "user_locations/weeksheet_collection_list"
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :customers_on_biz_location, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :loan_applications_on_biz_location, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :loans_on_biz_location, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :meeting_calendar, :id => @biz_location.id)}
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :user_locations, :action => :meeting_schedule, :id => @biz_location.id)}
  %div.tab
    = partial 'user_locations/pdf_on_biz_location'
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :location_holidays, :action => :index, :biz_location_id => @biz_location.id)}
  %div.tab
    = partial 'center_cycles/tab_center_cycle', :center_cycle => @center_cycle, :center_id => @biz_location.id
  %div.tab
    %input{:type => "hidden", :name => "_load_remote", :value => resource(:documents, :parent_id => @biz_location.id, :parent_model => BizLocation)}
  %div.tab