%div{:style => "width:42%; float: right; padding: 10px; border: solid 1px lightgrey"}
  = form_for(:user_locations, :action => url(:controller => :ledgers, :action => :index), :method => :get) do
    %table
      %thead
        %tr
          %th
            Select Accounts Chart
          %th
            = select :name => "accounts_chart_id", :collection => AccountsChart.all, :selected => params[:accounts_chart_id], :text_method => :name, :value_method => :id
          %td
            = submit "Go"
- if @accounts_chart
  %h1== Accounts Chart : #{@accounts_chart.name}
- else
  %h1== Accounts Chart

.menu-strip{:style => "width:25%;"}
  = link_to_with_rights 'Add new ledger', resource(:ledgers, :new), :class => 'add grey_button'
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:book_keepings), :class => "grey_button"

= partial :list