= error_messages_for @ledger
%h1 New ledger
= form_for(@ledger, :action => url(:ledgers), :class => 'form') do
  %table.tall
    %tr
      %th
        Name
      %td{:colspan => 2}
        = text_field :name
    %tr
      %th
        Type
      %td{:colspan => 2}
        = select :account_type, :collection => Constants::Accounting::ACCOUNT_TYPES_MENU_CHOICES
    %tr
      %th
        Opening balance
      %td
        = text_field :opening_balance_amount
      %td
        = select :opening_balance_effect, :collection => Constants::Accounting::ACCOUNTING_EFFECTS_MENU_CHOICES
    %tr
      %th
        Open on
      %td
        = date_select_for @ledger, :open_on
  = submit "Create ledger"
  &nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;
  = link_to_with_rights "Cancel", url(:ledgers), :class => "grey_button"