.shaded
  %h1 Ledger
  %table.tall.shaded
    %tr
      %th
        Name
      %td
        = @ledger.name
    %tr
      %th
        Type
      %td
        = @ledger.account_type
    - opening_balance, open_date = @ledger.opening_balance_and_date
    %tr
      %th
        Open on
      %td
        = open_date
    %tr
      %th
        Opening balance
      %td
        = opening_balance    

%div.tab_container.shaded
  %ul.tabs
    %li#vouchers
      Vouchers
    %li#ledger_postings
      Postings
  %div.tab
    - @vouchers = Voucher.all(:id => (LedgerPosting.all(:ledger_id => @ledger.id).aggregate(:voucher_id)).compact.uniq)
    = partial "vouchers/list", :vouchers => @vouchers  
  %div.tab
    -# %input{:type => "hidden", :name => "_load_remote", :value => url(:controller => :ledger_postings, :action => :list, :ledger_id => @ledger.id, :from_date => (params[:date] || (Date.today - 30)), :to_date => (params[:date] || Date.today) )}

        