:javascript
  $('table.money_deposits').dataTable({
    "bPaginate": false,
    "bJQueryUI": true
  });

%h2
  = "Recently added"
- unless @money_deposits.blank?
  %table.report.weeksheet.nojs.money_deposits
    %thead
      %tr
        %th
          = "Bank"
        %th
          = "Bank branch"
        %th
          = "Bank account"
        %th
          = "Amount"
        %th
          = "Verification status"
        %th
          = "By"
        %th
          = "Date"
    %tbody
      - s_no = 0
      - money_deposits = @money_deposits.sort_by {|deposit| deposit.created_at}.reverse
      - money_deposits.each do |md|
        %tr
          %td
            = md.bank_account.bank_branch.bank.name
          %td
            = md.bank_account.bank_branch.name
          %td
            = md.bank_account.name
          %td
            = md.deposit_money_amount.to_s
          %td
            = md.verification_status.humanize rescue nil
            %br
            - if md.verification_status == Constants::MoneyDepositVerificationStatus::PENDING_VERIFICATION
              = link_to "(Mark verification)", url(:controller => :money_deposits, :action => :mark_verification, :id => md.id, :at_location_id => params[:at_location_id])
          %td
            = StaffMember.get(md.created_by_staff_id).name

          %td
            = md.created_on
- else
  No money deposits found