:javascript
  function load_bank_branches() {
    $("#bank_account_selector").attr('length' ,'1')
    $.ajax({
      type: "GET",
      url: "/money_deposits/get_bank_branches/?bank_id="+$("#bank_selector").val(),
      data: {
        'biz_location_id' : "#{params[:at_location_id]}"
      },
      success: function(data){
        $("#bank_branch_selector").html(data);
      }
    });
  }

  function load_bank_accounts() {
    $("#bank_account_selector").attr('length' ,'1')
    $.ajax({
      type: "GET",
      url: "/money_deposits/get_bank_accounts/?branch_id="+$("#bank_branch_selector").val(),
      success: function(data){
        $("#bank_account_selector").html(data);
      }
    });
  }

  function disable_submit_button(){
    if(jQuery('#bank_selector').val() == "" || jQuery('#bank_branch_selector').val() == "" || jQuery('#bank_account_selector').val() == "" || jQuery('#amount').val() == ""|| jQuery('#by_staff_id').val() == ""){
        jQuery("form.bank_deposites input#submit").attr('disabled', true);
    }
    else{
        jQuery("form.bank_deposites input#submit").attr('disabled', false);
    }
  }

  $(document).ready(function() {
    $("#bank_selector").change(function() {
      load_bank_branches();
    });

    $("#bank_branch_selector").change(function() {
      load_bank_accounts();
    });

    $("form.bank_deposites input,select").change(function(){
      disable_submit_button();
    });
  });

- unless @errors.blank?
  - if @errors.is_a?(Hash)
    .error
      - @errors.keys.each do |lap_id|
        - if @errors[lap_id]
          = "#{@errors[lap_id]}"
          %br
  - else
    .error
      = @errors
%h2
  = "Make deposits"
= form(:action => url(:controller => 'money_deposits', :action => 'create'), :method => :post, :class => 'bank_deposites') do
  %input{:type => :hidden, :value => params[:at_location_id], :name => 'at_location_id'}
  %table.form{:style => "width:100%;"}
    %thead
      %tr
        %th
          = "Bank"
        %th
          = "Bank branch"
        %th
          = "Bank account"
        %th
          = "Amount"
        %th
          = "Date"
    %tbody
      %tr
        %td
          = select :name => "bank", :id => "bank_selector", :collection => Bank.all.collect{|x| [x.id, x.name]}, :prompt => 'Select bank'
        %td
          = select :name => "bank_branch", :id => "bank_branch_selector", :prompt => 'Select branch'
        %td
          =  select :name => "account", :id => "bank_account_selector", :prompt => 'Select account'
        %td
          = text_field :name => "amount"
        %td
          = date_select "created_on", Date.today, :id => "deposit_date", :max_date => Date.today
    %tfoot
      %tr
        %td{:colspan => 3}
          %b Created By:
          = get_session_user_name
          = hidden_field :name => 'by_staff_id', :value => get_session_user_id
        %td{:colspan => 2}
          = submit "Create", :disabled => true

%br
%hr
= partial :list