- unless @errors.blank?
  - if @errors.is_a?(Hash)
    .error
      - @errors.keys.each do |lap_id|
        - if @errors[lap_id]
          = "#{@errors[lap_id]}"
          %br
  - else
    .error
      = @errors
%h2
  = "Make deposits"
= form(:action => url(:controller => 'money_deposits', :action => 'index'), :method => :post) do
  %table.form{:style => "width:100%;"}
    %thead
      %tr
        %th
          = "Bank"
        %th
          = "Branch"
        %th
          = "Accounts"
        %th
          = "Amount"
        %th
          = "Date"
    %tbody
      %tr
        %td
          = select :name => "bank", :collection => Bank.all.collect{|x| [x.id, x.name]}
        %td
          = select :name => "bank_branch", :collection => BankBranch.all.collect{|x| [x.id, x.name]}
        %td
          =  select :name => "account", :collection => Account.all.collect{|x| [x.id, x.name]}
        %td
          = text_field :name => "amount"
        %td
          = date_select "deposit_date", Date.today, :id => "deposit_date"
    %tfoot
      %tr
        %td{:colspan => 3}
          = select :name => "by_staff_id", :text_method => :name, :value_method => :id, :collection => StaffMember.all, :prompt => "Select staff member"
        %td
          = submit "Create"
        %td
          = submit "Create & Continue"
%br
%hr