%table.dataTable.report.weeksheet.nojs
  %thead
    %tr{:style => 'text-align:left'}
      %th
        Effective On
      %th
        Amount
      %th
        Receipt Type
      %th
        Product Type
      %th
        Product Id
      %th
        Performed At
      %th
        Accounted At
      %th
        Performed By
      %th
        Recorded By
      %th
        By Client
  - @payment_transactions.each do |pt|
    %tr
      %td
        = pt.effective_on
      %td
        = pt.payment_money_amount
      %td
        = pt.receipt_type
      %td
        = pt.on_product_type
      %td
        = pt.on_product_id
      %td
        = BizLocation.get(pt.performed_at).name 
      %td
        = BizLocation.get(pt.accounted_at).name 
      %td
        = StaffMember.get(pt.performed_by).name 
      %td
        = User.get(pt.recorded_by).name
      %td
        = Client.get(pt.by_counterparty_id).name

