:javascript
  $(document).ready(function() {
    $('#toggle_select_all').change(function() {
      $('input.checkbox').attr('checked',$(this).attr('checked'))
    });
  });
%h1== Payment By Branch
- date = params[:date]||get_effective_date
%div{:style => "width:34%; float: right; padding: 10px; border: solid 1px lightgrey"}
  = form_for(:payment_transactions, :action => resource(:payment_transactions, :payment_by_branch)) do
    Change date
    = date_select "date", date
    = submit "Go"
.menu-strip{:style => "width: 8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"

= form_for(:payment_transactions, :action => resource(:payment_transactions, :record_payment_by_branch)) do
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Select All
          %br
          = check_box :id => "toggle_select_all"
        %th
          Branch
        %th
          Scheduled Principal
        %th
          Scheduled Interest
        %th
          Total Scheduled
        %th
          Advance Balance
        %th
          Collected Principal
        %th
          Collected Interest
        %th
          Total Collected
    %tbody
      - @default_currency ||= MoneyManager.get_default_currency
      - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
      - @loans_status.each do |location_id, values|
        %tr
          %td{:style => 'text-align:center'}
            = check_box :name => "payment_transactions[payments][]", :value => location_id, :class => "payment_#{location_id}"
          %td
            = values[:location_name]
          %td
            = values[:scheduled_principal]
            - accumulate_row_values[:scheduled_principal] += values[:scheduled_principal]
          %td
            = values[:scheduled_interest]
            - accumulate_row_values[:scheduled_interest] += values[:scheduled_interest]
          %td
            = values[:scheduled_principal] + values[:scheduled_interest]
            - accumulate_row_values[:scheduled_total] += (values[:scheduled_principal] + values[:scheduled_interest])
          %td
            = values[:advance_balance]
            - accumulate_row_values[:advance_balance] += values[:advance_balance]
          %td
            = values[:principal_recevied]
            - accumulate_row_values[:principal_recevied] += values[:principal_recevied]
          %td
            = values[:interest_received]
            - accumulate_row_values[:interest_received] += values[:interest_received]
          %td
            = values[:principal_recevied] + values[:interest_received]
            - accumulate_row_values[:received_total] += (values[:principal_recevied] + values[:interest_received])
    - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
    %tfoot
      %tr
        %th
        %th
          Total
        %td
          = total_rows[:scheduled_principal]
        %td
          = total_rows[:scheduled_interest]
        %td
          = total_rows[:scheduled_total]
        %td
          = total_rows[:advance_balance]
        %td
          = total_rows[:principal_recevied]
        %td
          = total_rows[:interest_received]
        %td
          = total_rows[:received_total]
  %table.narrow.form{:style => "text-align:right;width:100%;"}
    %tfoot
      %tr
        %td
          %b Chosen date
          = date
          = hidden_field :name => "payment_transactions[on_date]", :value => date
        %td
          %b Performed by
          - staff_member = session.user.staff_member
          = select :name => "payment_transactions[performed_by]", :text_method => :name, :value_method => :id, :collection => [staff_member], :prompt => "Select staff member", :selected => staff_member.id.to_s
        %td
          = submit 'Save Payment'
%br
