- if @lending.status == :disbursed_loan_status
  = form_for(@lending, :action => url(:controller => :lendings, :action => :create_repayment_on_lending, :id => @lending.id), :method => "POST", :class => "tall shaded") do
    %table
      %tr
        %td
          Payment Type
        %td
          = Constants::Transaction::RECEIPT.humanize
          = hidden_field :name => "payment_type", :value => Constants::Transaction::RECEIPT
      %tr
        %td
          Payment Date
        %td
          = date_select "payment_date", Date.today
      %tr
        %td
          Payment Amount
        %td
          = text_field :name=> "payment_amount"
      %tr
        %td
          Payment by Staff
        %td
          = select :name=> "payment_by_staff", :text_method => :name, :value_method => :id, :collection => staff_members_on_location(get_effective_date, @lending.accounted_at_origin)
    = submit 'Save Repayment', :class => "greenButton"
    = link_to 'Cancel', params[:return], :class => "grey_button"
- else
  This Action does support after loan's disbursement