%table{:width => '100%'}
  %tr
    - ledgers, account_balances = @cost_center.get_sum_of_balances_cost_center(Date.today, @course_product)
    - ledgers_by_type = ledgers.group_by {|l| l.account_type}
    - for account_type in Constants::Accounting::ACCOUNT_TYPES
      - ledgers = ledgers_by_type[account_type]
      %td
        %table.tall
          %tr
            %th{:style => "text-align: left;"}
              %h1
                = account_type.to_s.humanize
              = account_balances.blank? ? '' : account_balances[account_type]
          - if ledgers
            - ledgers.each do |ledger|
              %tr
                %td
                  = link_to_with_rights "#{ledger.name}(#{ledger.balance})", resource(ledger)
          - else
            %tr
              %td
                = "No ledgers for #{account_type}"