%h1 New Cost Center

= error_messages_for @cost_center

= form_for(@cost_center, :action => url(:cost_centers) ) do
  = partial :fields
  %p
    = submit "Create"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    = link_to_with_rights 'Cancel', url(:cost_centers), :class => "grey_button"