%h1 
  List of Guarantors 
  == for #{@client.name}
%table 
  %tr
    %th 
      Name 
    %th
      Date of Birth
    %th 
      Relation
    %th
      Reference
    %th
      Document
  %tr
  - for guarantor in @guarantors    
    %tr
      %td
        = guarantor.name
      %td
        = guarantor.date_of_birth
      %td 
        = guarantor.relationship_to_client
      %td 
        = guarantor.external_id_number
      %td
        = guarantor.external_id_type
      %td
        = link_to 'Edit', resource(@client,guarantor, :edit)


= link_to 'New', resource(@client,:guarantors, :new)
|
= link_to 'Back', resource(@client)
