%h1
  SurpriseCenterVisits controller, edit action
%p
  Edit this file in
  %tt
    app/views/surprise_center_visits/edit.html.erb
= error_messages_for @surprise_center_visit

= form_for(@surprise_center_visit, :action => url(:surprise_center_visit, @surprise_center_visit)) do
  %p
    = submit "Update"

= link_to 'Show', url(:surprise_center_visit, @surprise_center_visit)
|
= link_to 'Back', url(:surprise_center_visits)