= hidden_field :center_id
%table{:style => "width: 80%"}
  %tr
    %td
      Begin Date
    %td
      = date_select 'begin_date'
  %tr
    %td
      Frequency
    %td
      = select :period, :collection => ["week", "month"]
  %tr
    %td
      Meeting Time
    %td
      = text_field 'meeting_time_hours',   :size => 2
      %b :
      = text_field 'meeting_time_minutes', :size => 2
      &nbsp;&nbsp;
      %span.greytext time is in a 24 hour format