%table.tall.shaded
  %tr
    %th
      Name
    %td
      = text_field :insured_name
  %tr
    %th
      Insured Type
    %td
      %span.greytext
      = @policy.insured_type.humanize
  %tr
    %th
      Insurance For
    %td
      =@policy.insurance_for.humanize
  %tr
    %th
      Proposed On
    %td
      %span.greytext
      = @policy.proposed_on
  %tr
    %th
      Insured On
    %td
      %span.greytext
      = date_select_for @policy, :insured_on
  %tr
    %th
      Expires On
    %td
      %span.greytext
      = date_select_for @policy, :expires_on
  %tr
    %th
      Insured Amount
    %td
      = @policy.to_money[:insured_amount]
  %tr
    %th
      Issued Status
    %td
      = select :issued_status, :collection => Constants::Insurance::INSURANCE_ISSUED_STATUSES.map{|c| [c.to_s, c.to_s.humanize]}
  %tr
    %th
      Client
    %td
      = @policy.client.blank? ? '' : @policy.client.name
  %tr
    %th
      Insurance Product
    %td
      = @policy.simple_insurance_product.blank? ? '' : @policy.simple_insurance_product.name