%h1 Insurance Policy
- if @message && !@message[:error].blank?
  .error
    = @message[:error]
= form_for(@policy, :action => url(:controller => :simple_insurance_policies, :action => :update, :id => @policy.id)) do
  = partial :fields
  = submit 'Update'
  &nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;
  = link_to 'Cancel', request.referer, :class => "grey_button"