:javascript
  $('table.fee').dataTable({
      "bJQueryUI": true
    });
%h1 Insurance Policy
- if params[:controller] == 'simple_insurance_policies'
  %br
    .menu-strip{:style => "width: 10%;"}
      = link_to_with_rights "Back", url(:admin), :class => "grey_button"
.flickr_pagination
  = will_paginate @policies, :container => false
- if @policies.count == 0
  %p
    %i No Insurance Policy has been created yet.
- else
  %table.report.weeksheet.nojs.fee
    %thead
      %tr
        %td
          id
        %td
          Name
        %td
          Amount
        %td
          Expires On
        %td
          Status
    - @policies.each do |policy_id|
      - policy = SimpleInsurancePolicy.get policy_id
      %tr
        %td
          = link_to_with_rights policy.id, resource(policy)
        %td
          = link_to_with_rights policy.insured_name, resource(policy)
        %td
          = policy.to_money[:insured_amount]
        %td
          = policy.expires_on
        %td
          - fee_instance = FeeInstance.first(:fee_applied_on_type => 'fee_on_insurance', :fee_applied_on_type_id => policy.id)
          = fee_instance.status unless fee_instance.blank?
    %tfoot
      %tr
        %td{ :colspan => 5 }

%br
- unless @client.blank?
  = partial "new_clients/death_claims"
  - if client_facade.client_has_outstanding_loan?(@client)
    = partial "new_clients/add_claim", :client => @client
  - else
    %br
    %h1 Add Insurance Claim
    Client is not eligible to Add Claim because Client has no outstanding loan
.flickr_pagination
  = will_paginate @policies, :container => false