= link_to "Edit", resource(@policy, :edit), :class => 'add grey_button'
%table.shaded
  %tr
    %th
      Name
    %td
      = @policy.insured_name
  %tr
    %th
      Insured Type
    %td
      %span.greytext
      = @policy.insured_type.humanize
  %tr
    %th
      Insurance For
    %td
      = @policy.insurance_for.humanize
  %tr
    %th
      Proposed On
    %td
      %span.greytext
      = @policy.proposed_on
  %tr
    %th
      Insured On
    %td
      %span.greytext
      = @policy.insured_on
  %tr
    %th
      Expires On
    %td
      %span.greytext
      = @policy.expires_on
  %tr
    %th
      Insured Amount
    %td
      = @policy.to_money[:insured_amount]
  %tr
    %th
      Issued Status
    %td
      = @policy.issued_status.humanize
  %tr
    %th
      Client
    %td
      = "#{@policy.client.blank? ? '' : @policy.client.name}"
  %tr
    %th
      Insurance Product
    %td
      = "#{@policy.simple_insurance_product.blank? ? '' : @policy.simple_insurance_product.name}"