%h1 New District
= error_messages_for(@district)
= form_for(@district, :action => url(:districts) ) do
  = partial :fields
  %br
  = submit 'Create this district'
  &nbsp;&nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;&nbsp;
  = link_to 'Cancel', url(params[:return]), :class => "grey_button"
