%h1 New District
= error_messages_for(@district)
= form_for(@district, :action => url(:districts) ) do
  = partial :fields
  %br
  = submit 'Create this district'
  &nbsp;&nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;&nbsp;
  = link_to 'Cancel', url(params[:return]), :class => "grey_button"

-# %h1 Districts controller, new action

-# %p 
-#   Edit this file in 
-#   %tt app/views/districts/new.html.erb

-# = error_messages_for @district

-# = form_for(@district, :action => url(:districts) ) do
-#   %p
-#     = submit "Create"

-# = link_to 'Back', url(:districts)