%h1 Surprise Center Visit
.shaded
  %h2 SCV Suggestions
  = form(:action => url(:controller => :visit_schedules, :action => :suggest_scv_for_branch), :method => :post) do
    = partial "lib/scv_area_branch_selector"

  - unless @scv_suggestions.blank?
    %table.dataTable
      %thead
        %tr
          %th S.No.
          %th Meeting Date
          %th Meeting Time
          %th Center Name
          %th RO Name
          %th Branch Name
          %th Area Name
          %th Actions
      %tbody
        - s_no = 0
        - @scv_suggestions.each do |s|
          - s_no += 1
          - center = BizLocation.get(s.biz_location_id)
          - branch = location_facade.get_parent(center, Date.today)
          - area = location_facade.get_parent(branch, Date.today)
          - center_managed_by = LocationManagement.staff_managing_location(s.biz_location_id, Date.today)
          - staff_member = StaffMember.get(center_managed_by.manager_staff_id)
          - meeting = meeting_facade.get_meeting_schedules(center).first.meeting_begins_at rescue nil
          %tr
            %td= s_no
            %td= s.visit_scheduled_date
            %td= meeting
            %td= link_to center.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => center.id)
            %td= staff_member.name rescue nil
            %td= link_to branch.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => branch.id)
            %td= link_to area.name, url(:controller => :user_locations, :action => :show, :id => area.id)
            %td