:javascript
  $('table.scv').dataTable({
    "sScrollX": "100%",
    "bPaginate": false,
    "bJQueryUI": true,
    "sDom": '<"H"Tfr>t<"F"ip>',
    "oTableTools": {
      "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
    }
  });

%h1 Surprise Center Visit
.shaded
  %h2 SCV Suggestions
  = form(:action => url(:controller => :visit_schedules, :action => :suggest_scv_for_branch), :method => :post) do
    = partial "lib/scv_area_branch_selector"

  - unless @scv_suggestions.blank?
    %table.report.weeksheet.nojs.scv
      %thead
        %tr
          %th S.No.
          %th Meeting Date
          %th Meeting Time
          %th Center Name
          %th RO Name
          %th Branch Name
          %th Area Name
          %th Actions
      %tbody
        - s_no = 0
        - @scv_suggestions.each do |s|
          - s_no += 1
          - center = BizLocation.get(s.biz_location_id)
          - branch = location_facade.get_parent(center, Date.today)
          - area = location_facade.get_parent(branch, Date.today)
          - meeting = meeting_facade.get_meeting_schedules(center).first.meeting_begins_at rescue nil
          %tr
            %td= s_no
            %td= s.visit_scheduled_date
            %td= meeting
            %td= link_to_location(center)
            %td= managed_by_staff_member(center.id, get_effective_date)
            %td= link_to_location(branch)
            %td= link_to_location(area)
            %td= link_to 'Surprise Center Visit', url_for_checklist('Surprise Center Visit', "Center",center, branch, center, session.user.staff_member, Date.today, params, nil), :class => 'grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"