:javascript
  $('table.scv').dataTable({
    "sScrollX": "100%",
    "bPaginate": false,
    "bJQueryUI": true,
    "sDom": '<"H"Tfr>t<"F"ip>',
    "oTableTools": {
      "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
    }
  });

%h1 Surprise Center Visit
.shaded
  %h2 SCV Suggestions
  = form(:action => url(:controller => :visit_schedules, :action => :suggest_scv_for_branch), :method => :post) do
    = partial "lib/scv_area_branch_selector"

  - unless @scv_suggestions.blank?
    - visit_schedule_infos = @scv_suggestions.map{|d| VisitSchedulerInfo.new(d)}
    %table.report.weeksheet.nojs.scv
      %thead
        %tr
          %th S.No.
          %th Meeting Date
          %th RO Name
          %th Timeslot - Before 8AM
          %th Timeslot - 8AM TO 9AM
          %th Timeslot - 9AM TO 10AM
          %th Timeslot - 10AM TO 11AM
          %th Timeslot - 11AM TO 12AM
          %th Timeslot - 12AM TO 01PM
          %th Timeslot - 01AM TO 02PM
          %th Timeslot - 02AM TO 03PM
          %th Timeslot - 03AM TO 04PM
          %th Timeslot - After 04PM
          %th Not Defined
      %tbody
        - s_no = 0
        - visit_schedule_infos.group_by{|g| [g.meeting_date, g.staff_member]}.each do |keys, values|
          - s_no += 1
          %tr
            %td= s_no
            %td= keys.first
            %td= keys.last.name
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('08:00AM') < s.meeting_time }.map(&:location).map(&:name).to_s}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('08:00AM') < s.meeting_time && Time.parse('09:00AM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('09:00AM') < s.meeting_time && Time.parse('10:00AM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('10:00AM') < s.meeting_time && Time.parse('11:00AM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('11:00AM') < s.meeting_time && Time.parse('12:00AM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('12:00AM') < s.meeting_time && Time.parse('01:00PM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('01:00PM') < s.meeting_time && Time.parse('02:00AM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('02:00PM') < s.meeting_time && Time.parse('03:00PM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('03:00PM') < s.meeting_time && Time.parse('04:00PM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| !s.meeting_time.blank? && Time.parse('04:00PM') > s.meeting_time}.map(&:location).map(&:name)}"
            %td= "#{values.select{|s| s.meeting_time.blank?}.map(&:location).map(&:name)}"