%h1 List of Cheque Books
.menu-strip{:style => "width: 10%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
%br
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Bank name
      %th
        Branch
      %th
        Bank Branch name
      %th
        Bank Branch Account Name
      %th
        Account no.
      %th

  %tbody
    - for account in @bank_accounts
      %tr
        %td
          = link_to_with_rights account.bank_branch.bank.name, url("banks/#{account.bank_branch.bank.id}")
        %td
          - if account.bank_branch.biz_location.nil?
            = "Branch not specified"
          - else
            = link_to_with_rights account.bank_branch.biz_location.name, url("user_locations/show/#{account.bank_branch.biz_location.id}")
        %td
          = link_to_with_rights account.bank_branch.name, url("banks/#{account.bank_branch.bank.id}/bank_branches/#{account.bank_branch.id}")
        %td
          = account.name
        %td
          = account.account_no
        %td
          = link_to 'Add / View Cheque Books', url("cheque_books/new/#{account.id}")