- if @bank_account
  %h1 Create New Cheque Book for : #{@bank_account.name}
- else
  %h1 Create New Cheque Book

= error_messages_for @cheque_book

.menu-strip{:style => "width: 32%;"}
  = link_to_with_rights "Create new Cheque Book", '#', :onclick =>"jQuery('#new_cheque_book').toggle(); return false;", :class => 'add grey_button'
  &nbsp;&nbsp;
  = link_to 'Back', url(:cheque_books), :class => "grey_button"
#new_cheque_book(style = "display : none")
  = form_for(@cheque_book, :controller => :cheque_books, :action => :create) do
    %table.tall.shaded
      %tr
        %th
          Bank Account Name
        %td
          - if @bank_account
            = @bank_account.name        
            = hidden_field :name => "bank_account_id", :value => @bank_account.id
          - else
            Not Attched to any Bank Account
      %tr
        %th
          Bank Account Number
        %td
          - if @bank_account
            = @bank_account.account_no
          - else
            Not Specified
      %tr
        %th
          Start Cheque number
        %td
          = text_field :start_serial
      %tr
        %th
          End Cheque number
        %td
          = text_field :end_serial
      %tr
        %th
          Issue Date Of Cheque Book
        %td
          = date_select_for @cheque_book, :issue_date
    = submit "Create"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    = link_to_with_rights "Cancel", '#', :onclick =>"jQuery('#new_cheque_book').hide(); return false;", :class => "grey_button"    
%br

%h1 Existing Cheque Books for : #{@bank_account.name}
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Cheque Book Id
      %th
        Cheque Book
      %th
        Cheque Book Issue Date
      %th
        Bank Account Name
      %th
        Bank Account Number

  %tbody
    - @cheque_books.each do |book|
      %tr
        %td
          = book.id
        %td
          = link_to_with_rights book.serial_no, url(:controller => "cheque_books", :action => "show", :id => book.id)
        %td
          = book.issue_date
        %td
          = book.bank_account.name
        %td
          = book.bank_account.account_no
%br