
%tr{:width => "100%"}
  %th{:width => "10%"}
    %h4 CGT-DAY-1
  %th{:width => "80%"}
    = label ""
  %th{:width => "10%"}
    =  label ""
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      1
    %td{:align => "left",:style=>"width:80%;"}
      Self Introduction
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a1, :id => "a"
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      2
    %td{:align => "left",:style=>"width:80%;"}
      Introduction of Suryoday
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a2,  :id => "b" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      3
    %td{:align => "left",:style=>"width:80%;"}
      Suryoday Vision & mision
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a3, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      4
    %td{:align => "left",:style=>"width:80%;"}
      Current Scenario of micro finance Industry
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a4,  :id => "b" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      5
    %td{:align => "left",:style=>"width:80%;"}
      Pledge & Center Announcment 
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a5, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      6
    %td{:align => "left",:style=>"width:80%;"}
      Seating arrangement
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a6,  :id => "b" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      7
    %td{:align => "left",:style=>"width:80%;"}
      Elgibility criteria to become a member
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a7, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      8
    %td{:align => "left",:style=>"width:80%;"}
      Join Liability model
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a8, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      9
    %td{:align => "left",:style=>"width:80%;"}
      Transperancy
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :a9, :id => "c" 
  %tr
    %th
      %h4 CGT-DAY-II
    %th
    %th
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      1
    %td{:align => "left",:style=>"width:80%;"}
      Revision of Day-1
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :b1, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      2
    %td{:align => "left",:style=>"width:80%;"}
      Income Generating Loan-Products
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :b2, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      3
    %td{:align => "left",:style=>"width:80%;"}
      Details of Fees & charges
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :b3, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      4
    %td{:align => "left",:style=>"width:80%;"}
      Interest Details
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :b4, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      5
    %td{:align => "left",:style=>"width:80%;"}
      LoN mount (Rs.), Installment Details
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :b5, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      6
    %td{:align => "left",:style=>"width:80%;"}
      Income Eligibilty Criteria
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :b6, :id => "c" 
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      7
    %td{:align => "left",:style=>"width:80%;"}
      Center Meeting
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :b7, :id => "c"
  %tr
    %th
      %h4 CGT-DAY-III
    %th
    %th
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      1
    %td{:align => "left",:style=>"width:80%;"}
      Revision of Day 1 & 2
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :c1, :id => "c"
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      2
    %td{:align => "left",:style=>"width:80%;"}
      Pre-Closer of income Generating loan
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :c2, :id => "c"
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      3
    %td{:align => "left",:style=>"width:80%;"}
      Audit Visit
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :c3, :id => "c"
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      4
    %td{:align => "left",:style=>"width:80%;"}
      Multiple Borrowing
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :c4, :id => "c"
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      5
    %td{:align => "left",:style=>"width:80%;"}
      Saving Habit
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :c5, :id => "c"
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      6
    %td{:align => "left",:style=>"width:80%;"}
      Question & Answers
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :c6, :id => "c"
  %tr
    %td{:align => "left",:style=>"width:10%;"}
      7
    %td{:align => "left",:style=>"width:80%;"}
      GRT Announcement
    %td{:align => "left",:style=>"width:10%;"}
      = check_box :c7, :id => "c"
