- @pachecklist_id = @pachecklist.id

- @ans = @pachecklist.answers
- @file_id = session.user.id
- @hash = Hash[*@ans.split(',')]
- @questions = Array.new
- @answers = Array.new
- @questions = @hash.keys.to_a
- @answers = @hash.values.to_a
- params[:q1_1] = @hash["1"]
- params[:q2_2] = @hash["2"]
- params[:q3_3] = @hash["3"]
- params[:q4_4] = @hash["4"]
- params[:q5_5] = @hash["5"]
- params[:q6_6] = @hash["6"]
- params[:q7_7] = @hash["7"]
- params[:q8_8] = @hash["8"]
- params[:q9_9] = @hash["9"]
- params[:q10_10] = @hash["10"]
- params[:q11_11] = @hash["11"]
- params[:q12_12] = @hash["12"]
- params[:q13_13] = @hash["13"]
- params[:q14_14] = @hash["14"]
- params[:q15_15] = @hash["15"]
- params[:q16_16] = @hash["16"]
- params[:q17_17] = @hash["17"]
- params[:q18_18] = @hash["18"]
- params[:q19_19] = @hash["19"]
- params[:q20_20] = @hash["20"]
- params[:q21_21] = @hash["21"]
- params[:q22_22] = @hash["22"]
- params[:q23_23] = @hash["23"]
- params[:q24_24] = @hash["24"]
- params[:q25_25] = @hash["25"]
- params[:q26_26] = @hash["26"]
- params[:q27_27] = @hash["27"]
- params[:q28_28] = @hash["28"]
- params[:q29_29] = @hash["29"]
- params[:q30_30] = @hash["30"]
- params[:q31_31] = @hash["31"]
- params[:q32_32] = @hash["32"]
- params[:q33_33] = @hash["33"]
- params[:q34_34] = @hash["34"]
- params[:q35_35] = @hash["35"]
- params[:q36_36] = @hash["36"]
- params[:q37_37] = @hash["37"]
- params[:q38_38] = @hash["38"]
- params[:q39_39] = @hash["39"]
- params[:q40_40] = @hash["40"]
- params[:q41_41] = @hash["41"]
- params[:q42_42] = @hash["42"]
- params[:q43_43] = @hash["43"]
- params[:q44_44] = @hash["44"]
- params[:q45_45] = @hash["45"]
- params[:q46_46] = @hash["46"]
- params[:q47_47] = @hash["47"]
- params[:q48_48] = @hash["48"]
- params[:q49_49] = @hash["49"]
- params[:q50_50] = @hash["50"]
- params[:q51_51] = @hash["51"]
- params[:q52_52] = @hash["52"]
- params[:q53_53] = @hash["53"]
- params[:scv_perday] = @pachecklist.scv_perday
- params[:meeting_attended_during_ap] = @pachecklist.meeting_attended_during_ap
- params[:branch_management] = @pachecklist.branch_management
- params[:social_audit] = @pachecklist.social_audit
- params[:supervision] = @pachecklist.supervision
- params[:date_of_audit] = @pachecklist.date_of_audit
- params[:audit_period] = @pachecklist.audit_period
- params[:positive1] = @pachecklist.positive1
- params[:postive2] = @pachecklist.postive2
- params[:positive3] = @pachecklist.positive3
- params[:deviation1] = @pachecklist.deviation1
- params[:deviation2] = @pachecklist.deviation2
- params[:deviation3] = @pachecklist.deviation3




-@manager = LocationManagement.staff_managing_location(@biz_location_id, get_effective_date)
-@managed_by = @manager.blank? ? '' : StaffMember.get(@manager.manager_staff_id)
- @biz_location = BizLocation.get(@biz_location_id)
- @date = get_effective_date
- @area_manager = LocationLink.get_parent(@biz_location,@date)
= error_messages_for @pachecklist
= form_for(@packlist2, :action => url(:updateanswers_pachecklists, @pachecklist2)  )do
  %p
    %table.tall.report.weeksheet.nojs.process_audit
      %tr
        %td{:align => "left", :style=>"width:60%;"}
          Branch Name
        %td{:align => "left"}
          = text_field :value => @biz_location.name,:disabled=>true
      %tr 
        %td{:align => "left", :style=>"width:60%;"}
          Name of the branch manager
        %td{:align => "left"}
          = text_field :value => @managed_by.name,:disabled=>true
      %tr
        %td{:align => "left", :style=>"width:60%;"}
          Name of the Area Manager
        %td{:align => "left"}
          = text_field :value => @area_manager, :disabled => true
      %tr
        %td{:align => "left", :style=>"width:60%;"}
          Date of Audit
        %td{:align => "left"}
          = date_select :date_of_audit
      %tr
        %td{:align => "left", :style=>"width:60%;"}
          Audit period
        %td{:align => "left"}
          = text_field :audit_period
  %h2
    Key Findings:
  %p
    %table.tall.report.weeksheet.nojs.process_audit
      %tr
        %th
          %h4 Positives
        %th
      %tr
        %td{:align => "left"}
          1
        %td{:align => "left"}
          = select :positive1,:collection => ["BM has connected up with all centers", "BM's interaction quality is good","Excellent GRT","Hard team work","Excellent Branch hygiene","BM's has good command"]
      %tr 
        %td{:align => "left"}
          2
        %td{:align => "left"}
          = select :postive2,:collection => ["BM has connected up with all centers", "BM's interaction quality is good","Excellent GRT","Hard team work","Excellent Branch hygiene","BM's has good command"]
      %tr
        %td{:align => "left"}
          3
        %td{:align => "left"}
          = select :positive3,:collection => ["BM has connected up with all centers", "BM's interaction quality is good","Excellent GRT","Hard team work","Excellent Branch hygiene","BM's has good command"]
      %tr
        %th
          %h4 Deviations
        %th
      %tr
        %td{:align => "left"}
          1
        %td{:align => "left"}
          = select :deviation1,:collection => ["Needs improvement at disbursment", "Needs following the GRT process","Needs followup on Bank's Ali's and savings initive","Needs to improve supervision CGT needs improvement","Social initiative needs more focus,Especially in bank no followip details","Needs followup on socail activity","BM arrange dummy meetings for ","Needs people monitoring of BM's service","Needs proper monitoring of 1st emi meeting","Needs to attend all 1st emi meetings","Needs foucs on capturing savings details at center"]
      %tr
        %td{:align => "left"}
          2
        %td{:align => "left"}
          = select :deviation2,:collection => ["Needs improvement at disbursment", "Needs following the GRT process","Needs followup on Bank's Ali's and savings initive","Needs to improve supervision CGT needs improvement","Social initiative needs more focus,Especially in bank no followip details","Needs followup on socail activity","BM arrange dummy meetings for ","Needs people monitoring of BM's service","Needs proper monitoring of 1st emi meeting","Needs to attend all 1st emi meetings","Needs foucs on capturing savings details at center"]
      %tr
        %td{:align => "left"}
          3
        %td{:align => "left"}
          = select :deviation3,:collection => ["Needs improvement at disbursment", "Needs following the GRT process","Needs followup on Bank's Ali's and savings initive","Needs to improve supervision CGT needs improvement","Social initiative needs more focus,Especially in bank no followip details","Needs followup on socail activity","BM arrange dummy meetings for ","Needs people monitoring of BM's service","Needs proper monitoring of 1st emi meeting","Needs to attend all 1st emi meetings","Needs foucs on capturing savings details at center"]
  %h2
    %center Quantitative Aspects
  %p
    %table.tall.report.weeksheet.nojs.process_audit
      %tr{:width => "100%"}
        %th{:width => "10%"}
          = hidden_field :pachecklist_id, :value => @pachecklist_id
        %th{:width => "80%"}
        %th{:width => "10%"}
      %tr
        %td{:width => "10%"}
        %td{:width => "80%"}
          %h4 Branch Related
        %td{:width => "10%"}
      %tr
        %td{:align => "left"}
          = 1
        %td{:align => "left"}
          = "Is the claim amount paid?"
        %td{:align => "left"}
          = check_box :q1_1
      %tr
        %td{:align => "left"}
          = 2
        %td{:align => "left"}
          = "BM AO and Ro read on time?"
        %td{:align => "left"}
          = check_box :q2_2
      %tr
        %td{:align => "left"}
          = 3
        %td{:align => "left"}
          = "Pledge conducted?"
        %td{:align => "left"}
          = check_box :q3_3
      %tr
        %td{:align => "left"}
          = 4
        %td{:align => "left"}
          = "Is RO carryin stationary which are required ?"
        %td{:align => "left"}
          = check_box :q4_4
      %tr
        %td{:align => "left"}
          = 5
        %td{:align => "left"}
          = "Are Employees carrying ID cards ?"
        %td{:align => "left"}
          = check_box :q5_5
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 Registers
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 6
        %td{:align => "left"}
          = "Petty cash register maintained ?"
        %td{:align => "left"}
          = check_box :q6_6
      %tr
        %td{:align => "left"}
          = 7
        %td{:align => "left"}
          = "Member attendance register maintained ?"
        %td{:align => "left"}
          = check_box :q7_7
      %tr
        %td{:align => "left"}
          = 8
        %td{:align => "left"}
          = "Center meeting Review ?"
        %td{:align => "left"}
          = check_box :q8_8
      %tr
        %td{:align => "left"}
          = 9
        %td{:align => "left"}
          = "Death claim Register ?"
        %td{:align => "left"}
          = check_box :q9_9
      %tr
        %td{:align => "left"}
          = 10
        %td{:align => "left"}
          = "Stock register maintained ?"
        %td{:align => "left"}
          = check_box :q10_10
      %tr
        %td{:align => "left"}
          = 11
        %td{:align => "left"}
          = "Key register maintained ?"
        %td{:align => "left"}
          = check_box :q11_11
      %tr
        %td{:align => "left"}
          = 12
        %td{:align => "left"}
          = "Statutory registers maintained ?"
        %td{:align => "left"}
          = check_box :q12_12
      %tr
        %td{:align => "left"}
          = 13
        %td{:align => "left"}
          = "Movement register  ?"
        %td{:align => "left"}
          = check_box :q13_13
      %tr
        %td{:align => "left"}
          = 14
        %td{:align => "left"}
          = "Member attendance register maintained ?"
        %td{:align => "left"}
          = check_box :q14_14
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 Process
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 15
        %td{:align => "left"}
          = "Disbursement process followed ?"
        %td{:align => "left"}
          = check_box :q15_15
      %tr
        %td{:align => "left"}
          = 16
        %td{:align => "left"}
          = "Collection process followed ?"
        %td{:align => "left"}
          = check_box :q16_16
      %tr
        %td{:align => "left"}
          = 17
        %td{:align => "left"}
          = "Display of statutory and legal documents ?"
        %td{:align => "left"}
          = check_box :q17_17
      %tr
        %td{:align => "left"}
          = 18
        %td{:align => "left"}
          = "Display are survey chart and branch approval ?"
        %td{:align => "left"}
          = check_box :q18_18
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 Center meeting
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 19
        %td{:align => "left"}
          = "Is Ro coming on time for meetings ?"
        %td{:align => "left"}
          = check_box :q19_19
      %tr
        %td{:align => "left"}
          = 20
        %td{:align => "left"}
          = "Are the meetings conducted on scheduled time ?"
        %td{:align => "left"}
          = check_box :q20_20
      %tr
        %td{:align => "left"}
          = 21
        %td{:align => "left"}
          = "Is the collection of EMI happening as per process ?"
        %td{:align => "left"}
          = check_box :q21_21
      %tr
        %td{:align => "left"}
          = 22
        %td{:align => "left"}
          = "Are proper reciept given and maintained in the center life ?"
        %td{:align => "left"}
          = check_box :q22_22
      %tr
        %td{:align => "left"}
          = 23
        %td{:align => "left"}
          = "Currency details for Rs 500 and and 1000 by RO ?"
        %td{:align => "left"}
          = check_box :q23_23
      %tr
        %td{:align => "left"}
          = 24
        %td{:align => "left"}
          = "Pledge conducted before the meeting ?"
        %td{:align => "left"}
          = check_box :q24_24
      %tr
        %td{:align => "left"}
          = 25
        %td{:align => "left"}
          = "Passbook updation with out any dicrepancy ?"
        %td{:align => "left"}
          = check_box :q25_25
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 GRT
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 26
        %td{:align => "left"}
          = "Is the BM reached on time ?"
        %td{:align => "left"}
          = check_box :q26_26
      %tr
        %td{:align => "left"}
          = 27
        %td{:align => "left"}
          = "Is the BM conducting GRT as per policy ?"
        %td{:align => "left"}
          = check_box :q27_27
      %tr
        %td{:align => "left"}
          = 28
        %td{:align => "left"}
          = "Are the application forms and details are verified with members ?"
        %td{:align => "left"}
          = check_box :q28_28
      %tr
        %td{:align => "left"}
          = 29
        %td{:align => "left"}
          = "Is BM carrying the GRT chart ?"
        %td{:align => "left"}
          = check_box :q29_29
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 CGT
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 30
        %td{:align => "left"}
          = "Is the RO reached on time?"
        %td{:align => "left"}
          = check_box :q30_30
      %tr
        %td{:align => "left"}
          = 31
        %td{:align => "left"}
          = "Does he follows the CGT kit ?"
        %td{:align => "left"}
          = check_box :q31_31
      %tr
        %td{:align => "left"}
          = 32
        %td{:align => "left"}
          = "Are the members aware of the regularity requirement ?"
        %td{:align => "left"}
          = check_box :q32_32
      %tr
        %td{:align => "left"}
          = 33
        %td{:align => "left"}
          = "Pledge conducted before the meeting ?"
        %td{:align => "left"}
          = check_box :q33_33
      %tr
        %td{:align => "left"}
          = 34
        %td{:align => "left"}
          = "Are the members aware of the transactions IRR ?"
        %td{:align => "left"}
          = check_box :q34_34
      %tr
        %td{:align => "left"}
          = 35
        %td{:align => "left"}
          = "Are the members aware of the processing the charges and insurances ?"
        %td{:align => "left"}
          = check_box :q35_35
      %tr
        %td{:align => "left"}
          = 36
        %td{:align => "left"}
          = "Are the members aware of the JLG concept ?"
        %td{:align => "left"}
          = check_box :q36_36
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 AO CPV
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 37
        %td{:align => "left"}
          = "Is AO attending the every members house for verifications  ?"
        %td{:align => "left"}
          = check_box :q37_37
      %tr
        %td{:align => "left"}
          = 38
        %td{:align => "left"}
          = "Is he capturing the details and applying the credit names and income criteria ?"
        %td{:align => "left"}
          = check_box :q38_38 
      %tr
        %td{:align => "left"}
          = 39
        %td{:align => "left"}
          = "Is AO sending the credit buereou into correctly and ontime ?"
        %td{:align => "left"}
          = check_box :q39_39
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 RO CPV
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 40
        %td{:align => "left"}
          = "Is RO visiting every members house for rent ?"
        %td{:align => "left"}
          = check_box :q40_40  
      %tr
        %td{:align => "left"}
          = 41
        %td{:align => "left"}
          = "Is RO informing the credit norms for loan availability ?"
        %td{:align => "left"}
          = check_box :q41_41
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 Disbursment
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 42
        %td{:align => "left"}
          = "AO and BM both are present for disbursement ?"
        %td{:align => "left"}
          = check_box :q42_42
      %tr
        %td{:align => "left"}
          = 43
        %td{:align => "left"}
          = "Approval form BH for absent members is taken if loans are disbursment to other members ?"
        %td{:align => "left"}
          = check_box :q43_43
      %tr
        %td{:align => "left"}
          = 44
        %td{:align => "left"}
          = "Are two photographs taking during disbursment and downloaded to branch picassa file?"
        %td{:align => "left"}
          = check_box :q44_44 
      %tr
        %td{:align => "left"}
          = 45
        %td{:align => "left"}
          = "Are they collecting fees as per norms ?"
        %td{:align => "left"}
          = check_box :q45_45
      %tr
        %td{:align => "left"}
          = 46
        %td{:align => "left"}
          = "Is the AO conforming the pending disbursment to accounts ans Ops ?"
        %td{:align => "left"}
          = check_box :q46_46
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 Banking and collection amount
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 47
        %td{:align => "left"}
          = "Are all the RO's are returning back on time ?"
        %td{:align => "left"}
          = check_box :q47_47
      %tr
        %td{:align => "left"}
          = 48
        %td{:align => "left"}
          = "Is the AO sending the cash report ti HO as specified timee and format ?"
        %td{:align => "left"}
          = check_box :q48_48
      %tr
        %td{:align => "left"}
          = 49
        %td{:align => "left"}
          = "Is the collection amount banked as per process ?"
        %td{:align => "left"}
          = check_box :q49_49
      %tr
        %td{:align => "left"}
          = 50
        %td{:align => "left"}
          = "Is the pending member disbursment happening in presence of center ?"
        %td{:align => "left"}
          = check_box :q50_50
      %tr
        %td{:align => "left"}
        %td{:align => "left"}
          %h4 Insurance and Claims
        %td{:align => "left"}
      %tr
        %td{:align => "left"}
          = 51
        %td{:align => "left"}
          = "Is the insurance documents collected on time as intimated?"
        %td{:align => "left"}
          = check_box :q51_51
      %tr
        %td{:align => "left"}
          = 52
        %td{:align => "left"}
          = "Is the claim papers submitted ontime to HO ?"
        %td{:align => "left"}
          = check_box :q52_52
      %tr
        %td{:align => "left"}
          = 53
        %td{:align => "left"}
          = "Is the claim amount paid ?"
        %td{:align => "left"}
          = check_box :q53_53
          = hidden_field :biz_id, :value => @biz_location.id
  %h2
    %center Quantitative Aspects
  %p
    %table.tall.report.weeksheet.nojs.process_audit
      %tr
        %th{:align => "left",:style=>"width:600px;"}
          Creteria"
        %th
          Total Score"
        %th
          Audit Score"
      %tr{:width => "500px"}
        %td{:align => "left",:style=>"width:600px;"}
          Process"
          %br
          No.of SCV's conducted per day
          %br
          SCV's completed - 90% to 100%- 10 marks  
          %br
          SCV's completed - 80% to 90%-  9 marks   
          %br
          SCV's completed - 70% to 80%- 8 marks    
          %br
          SCV's completed - 60% to 70%- 7 marks    
          %br
          SCV's completed - 50% to 60%- 6 marks    
          %br
        %td 
          10
        %td
          = text_field :scv_perday, :size => "6px"  
      %tr{:width => "500px"}
        %td{:align => "left",:style=>"width:600px;"}
          No.of 1st meetings attended during audit period"
          %br
          First meetings completed - 90% to 100%- 10 marks  
          %br
          First meetings completed - 80% to 90%-  9 marks   
          %br
          First meetings completed - 70% to 80%- 8 marks    
          %br
          First meetings completed - 60% to 70%- 7 marks    
          %br
          First meetings completed - 50% to 60%- 6 marks    
          %br
        %td
          10
        %td 
          = text_field :meeting_attended_during_ap, :size => "6px" 
      %tr{:width => "500px"}
        %td{:align => "left",:style=>"width:600px;"}
          Branch management"
          %br
          Quality of CPV's and data collection from field 
          %br
          Updations of cash registers on daily basis   
          %br
          Disbusrment of photo uploading    
          %br
          Updation of other general registers
          %br
          Statutory fulfilment
          %br
          BM's quality SCV
          %br
          BM's participation in cash related activities
          %br
          BM's quality of GRT
          %br
        %td
          10
        %td 
          = text_field :branch_management, :size => "6px"  
      %tr{:width => "500px"}
        %td{:align => "left",:style=>"width:600px;"}
          Social Audit"
          %br
          Members awareness of savings 
          %br
          Average percentage of Bank account holders
          %br
          Quality and intensity of social message
        %td
          10 
        %td 
          = text_field :social_audit, :size => "6px" 
      %tr{:width => "500px"}
        %td{:align => "left",:style=>"width:600px;"}
          Supervision"
          %br
          No.of visits made by Area manager and Audit manager during audit period
          %br
          Area Manager -  
          %br
          Audit Manager    
          %br
          Updation of other general registers
          %br
          Statutory fulfilment
          %br
          BM's quality SCV
          %br
          BM's participation in cash related activities
          %br
          BM's quality of GRT
          %br
        %td
          10
        %td 
          = text_field :supervision, :size => "6px"
    = submit "Update"


%br
= link_to 'Back', "/pachecklists?biz_location=#{@biz_location_id}"


