%h2
  Approve loans
  %h2
    The following loans have not been approved yet

= form :method => :get, :action => url(:loan_actions, :action => :approve) do
  = select :name => 'branch_id', :id => "branch_selector", :collection => Branch.all, :text_method => :name, :value_method => :id, :selected => params[:branch_id].to_s, :prompt => 'Select a branch', :class => 'chosen'
  = select :name => 'center_id', :id => 'center_selector', :collection => Center.all(:branch_id => params[:branch_id]), :text_method => :name, :value_method => :id, :selected => params[:center_id].to_s, :prompt => 'Select a center', :class => 'chosen', :style => "width: 400px"
  = submit 'Refresh!'

- if not @errors.blank?
  .error
    %ul
      - @errors.each do |e|
        - e.values.each do |v|
          %li
            == Loan #{e.resource.id}: #{v}
- if @loans_to_approve.size > 0
  = form_for(@loan, :action => url(:loan_actions, :action => "approve"), :class => "_disable_button_") do
    = hidden_field :name => :id, :value => @center.id
    = partial :approve
    = submit 'Approve selected loans', :name => "approve_these_loans"
    or
    %a{:href => "#{url(:loan_actions, 'reject')}", :class => "_rejection_button_"}
      Reject selected loans
- else
  Nothing to approve

