%h1
  = "Bank Account :- #{@bank_account.name}"
.shaded
  %h2
    = "Bank Account Deposits"
  %table.form{:style => "width:100%;"}
    %thead
      %tr
        %th
          = "ID"
        %th
          = "Amount"
        %th
          = "Created By User"
        %th
          = "Manage By Staff"
        %th
          = "Created Date"
    %tbody
      - @money_deposits.each do |md|
        %tr
          %td
            = md.id
          %td
            = md.deposit_money_amount
          %td
            = md.user.name
          %td
            = md.staff_member.name
          %td
            = md.created_at.strftime('%d/%m/%Y')
%br
