- if lendings.blank?
  %h3
    No loan exists
- else
  = form_for(:lendings, :action => url(:controller => :lendings, :action => :payment_on_disburse_loan)) do
    %table.dataTable.report.weeksheet.nojs
      %thead
        %tr
          %th
          %th
            id
          %th
            Applied Amount
          %th
            Borrower
          %th
            Applied Date
          %th
            First Repayment Date
          %th
            Repayment Frequency
          %th
            Tenure
          %th
            Administered At
          %th
            Accounted At
          %th
            Disbursed Amount
          %th
            Disbursed by
          %th
            Disbursed Date
          %th
            Payment
          %th
            Payment Date
          %th
            Payment By Staff
          %th
            Payment Amount
      - loan_row_count = 1
      - lendings.each do |lending|
        %tr
          %td
            = loan_row_count
          %td
            = link_to_with_rights lending.id, resource(lending)
          %td
            = lending.to_money[:applied_amount].to_s
          %td
            = lending.loan_borrower.counterparty.name
          %td
            = lending.applied_on_date
          %td
            = lending.scheduled_first_repayment_date
          %td
            = lending.repayment_frequency
          %td
            = lending.tenure
          %td
            = BizLocation.get(lending.administered_at_origin).name rescue lending.administered_at_origin
          %td
            = BizLocation.get(lending.accounted_at_origin).name rescue lending.accounted_at_origin
          %td
            = lending.to_money[:disbursed_amount].to_s
          %td
            = StaffMember.get(lending.disbursed_by_staff).name
          %td
            = lending.disbursal_date
          %td
            = check_box :name => "lending[#{lending.id}][]" ,:value => lending.id
          %td
            = date_select "lending[#{lending.id}][][payment_on_date]", Date.today, {:id => "lending_#{lending.id}", :size=> "10"}
          %td
            = select :name => "lending[#{lending.id}][][payment_by_staff]", :collection => StaffMember.all(:id.not => lending.applied_by_staff).collect{|staff| [staff.id, staff.name]}, :style => "width:125px;"
          %td
            = text_field :name => "lending[#{lending.id}][][payment_amount]", :style => "width:70px;"
          - loan_row_count = loan_row_count + 1
      %tfoot
        %tr.org_total
          %td{:colspan => 17}
    = submit "Save"