:javascript
  $('table.disbursed_loan').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

  $(document).ready(function() {
  $('#toggle_select_to_payment').change(function() {
    $('.select_to_payment').attr('checked',$(this).attr('checked'))});
  });

- if lendings.blank?
  %h3
    No loans exist
- else
  = form_for(:lendings, :action => url(:controller => :lendings, :action => :payment_on_disburse_loan)) do
    %table.report.weeksheet.nojs.disbursed_loan
      %thead
        %tr
          %th
            S.No.
          %th
            Check to Payment
            %br
            = check_box :id => "toggle_select_to_payment"
          %th
            Loan ID
          %th
            Applied Amount
          %th
            Borrower
          %th
            Applied Date
          %th
            First Repayment Date
          %th
            Scheduled Disbursal Date
          %th
            Repayment Frequency
          %th
            Tenure
          %th
            = LocationLevel.first(:level=>0).name
          %th
            = LocationLevel.first(:level=>1).name
          %th
            Disbursed Amount
          %th
            Disbursed by
          %th
            Disbursed Date
          %th
            Payment Date
          %th
            Payment By Staff
          %th
            Payment Amount
      - loan_row_count = 1
      - lendings.each do |lending|
        %tr
          %td
            = loan_row_count
          %td
            = check_box :name => "lending[#{lending.id}][]" ,:value => lending.id, :class => "select_to_payment"
          %td
            = link_to_with_rights lending.id, resource(lending)
          %td
            = lending.to_money[:applied_amount].to_s
          %td
            = lending.loan_borrower.counterparty.name
          %td
            = lending.applied_on_date
          %td
            = lending.scheduled_first_repayment_date
          %td
            = lending.scheduled_disbursal_date
          %td
            = lending.repayment_frequency
          %td
            = lending.tenure
          %td
            = link_to lending.administered_at_origin_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => lending.administered_at_origin)
          %td
            = link_to lending.accounted_at_origin_location.name, url(:controller => :user_locations, :action => :show, :id => lending.accounted_at_origin)
          %td
            = lending.to_money[:disbursed_amount].to_s
          %td
            = link_to StaffMember.get(lending.disbursed_by_staff).name, url(:controller => :staff_members, :action => :show, :id => lending.disbursed_by_staff)
          %td
            = lending.disbursal_date
          %td
            = date_select "lending[#{lending.id}][][payment_on_date]", Date.today, {:id => "lending_#{lending.id}", :size=> "10", :max_date => Date.today}
          %td
            = select :name => "lending[#{lending.id}][][payment_by_staff]", :collection => [session.user.staff_member], :text_method => :name, :value_method => :id, :style => "width:110px;"
          %td
            = text_field :name => "lending[#{lending.id}][][payment_amount]", :style => "width:70px;"
          - loan_row_count = loan_row_count + 1
      %tfoot
        %tr.org_total
          %td{:colspan => 18}
    = hidden_field :name => 'parent_location_id', :value => params[:parent_location_id]
    = hidden_field :name => 'childe_location_id', :value => params[:child_location_id]
    = submit "Save Payment"
