- has_default_tranch = is_default_tranch_set?
- if has_default_tranch
  - tranch_id = get_default_tranch_id
  - default_tranch = NewTranch.get(tranch_id)
  - default_tranch_name = default_tranch.name
  - default_funding_line = default_tranch.new_funding_line
  - default_funding_line_name = default_funding_line.name
  - default_funder = default_funding_line.new_funder.name
%h3
  = "This loan will be dispensed by loan product: #{@lending_product.name}"
= hidden_field :name => 'lending_product_id', :value => @lending_product.id
%table.tall.shaded{:style => "margin-left:3%"}
  - if @loan_borrower.blank?
    %tr
      %th
        Client
      %td
        = select :name=>'loan_borrower', :collection => @clients||[], :text_method => :name, :value_method => :id
  - else
    = hidden_field :name=>'loan_borrower', :value => @loan_borrower.id
  %tr
    %th
      Amount
    %td
      = @lending_product.to_money[:amount].to_s
  %tr
    %th
      Repayment Frequency
    %td
      = @lending_product.repayment_frequency
  %tr
    %th
      Tenure
    %td
      = @lending_product.tenure
  %tr
    %th
      LAN Id
    %td
      = text_field :lan
  %tr
    %th
      Funder & Funding Line
    %td{:colspan => 2}
      - if (NewFunder.count == 0 || NewFundingLine.count == 0) && session.user.role == :operator
        %i No Funder or Funding Line created.
        = link_to("Create", resource(:new_funders))
      - elsif has_default_tranch
        = default_funding_line_name
        = hidden_field :name => 'funding_line_id', :value => default_funding_line.id
      - else
        = select :name => "funding_line_id", :collection => select_fundling_lines, :id => "funder_selector", :onchange => "fillFundingLines", :prompt => "Select funding line"
  %tr
    %th
      Tranch
    %td{:colspan => 2}
      - if NewTranch.count == 0 && session.user.role == :operator
        %i No Tranch created.
        = link_to("Create", resource(:new_funders))
      - elsif has_default_tranch
        = default_tranch_name
        = hidden_field :name => 'tranch_id', :value => default_tranch.id
      - else
        = select :name => "tranch_id", :id => "tranch_selector"
  %tr
    %th
      Loan Purpose
    %td
      = select :name => "lending[loan_purpose]", :collection => LoanPurpose.all.map{|lp| [lp.id, lp.name]}
  %tr
    %th
      Applied Date
    %td
      = date_select_for @lending, 'applied_on_date', :location_id => "#{@location.blank? ? '' : @location.id}"
    %th
      by
    %td
      = select :applied_by_staff, :text_method => :name, :value_method => :id, :collection => staff_members_on_location(get_effective_date, params[:biz_location_id])
  %tr
    %th
      Schedule Disbursal Date
    %td
      = date_select_for @lending, 'scheduled_disbursal_date', :location_id => "#{@location.blank? ? '' : @location.id}"
  %tr
    %th
      Schedule First Repayment Date
    %td
      = date_select_for @lending, 'scheduled_first_repayment_date', :location_id => "#{@location.blank? ? '' : @location.id}"