%h3
  = "This loan will be dispensed by loan product: #{@lending_product.name}"
= hidden_field :name => 'lending_product_id', :value => @lending_product.id
%table.tall.shaded{:style => "margin-left:3%"}
  - if @loan_borrower.blank?
    %tr
      %th
        Client
      %td
        = select :name=>'loan_borrower', :collection => @clients.collect{|c| [c.id, c.name]}
  - else
    = hidden_field :name=>'loan_borrower', :value => @loan_borrower.id
  %tr
    %th
      Amount
    %td
      = @lending_product.to_money[:amount].to_s
  %tr
    %th
      Repayment Frequency
    %td
      = @lending_product.repayment_frequency
  %tr
    %th
      Tenure
    %td
      = @lending_product.tenure
  %tr
    %th
      Loan Id
    %td
      = text_field :lan
  %tr
    %th
      Funding Line
    %td
      = select :name => "funding_line_id", :collection => select_fundling_lines, :id => 'funding_line_selector'
  - if Funder.count == 0 and session.user.role == :operator
    %tr
      %td{:colspan => 2}
        You do not have any funder created yet. Create them
        = link_to("here", resource(:funders, :new))
  - if FundingLine.count == 0 and session.user.role == :operator
    %tr
      %td{:colspan => 2}
        You do not have any funding line created yet. Create them
        = link_to("here", resource(:funders))
  %tr
    %th
      Tranch
    %td
      - tranches = select_tranches.blank? ? [] : select_tranches.map{|x| [x.id, x.name]}
      = select :name => "tranch_id", :collection => tranches, :id => 'tranch_selector'
  - if Tranch.count == 0 and session.user.role == :operator
    %tr
      %td{:colspan => 2}
        You do not have any tranch created yet. Create them
        = link_to("here", resource(:funders))

  %tr
    %th
      Loan Purpose
    %td
      = select :name => "lending[loan_purpose]", :collection => LoanPurpose.all.map{|lp| [lp.id, lp.name]}
  %tr
    %th
      Applied Date
    %td
      = date_select_for @lending, 'applied_on_date'
    %th
      by
    %td
      = select :applied_by_staff, :text_method => :name, :value_method => :id, :collection => staff_members_on_location(get_effective_date, params[:biz_location_id])
  %tr
    %th
      Schedule Disbursal Date
    %td
      = date_select_for @lending, 'scheduled_disbursal_date'
  %tr
    %th
      Schedule First Repayment Date
    %td
      = date_select_for @lending, 'scheduled_first_repayment_date'