%br
- if @lending_schedules.blank?
  Loan schedule does not exist.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th Transaction
        %th Installment Date
        %th Installment
        %th Principal Outstanding
        %th Principal Due
        %th Interest Outstanding
        %th Interest Due
    %tbody
      - biz_location = @lending.administered_at_origin_location
      - @lending_schedules.each do |l_schedule|
        - holiday = LocationHoliday.get_origin_move_date(biz_location, l_schedule.on_date)
        %tr{:style=>"background-color:#{holiday.blank? ? '' : 'PaleGoldenRod'}"}
          %td
            %b= l_schedule.payment_type
          %td
            = l_schedule.on_date
          %td
            %b= l_schedule.installment
          %td
            %b= l_schedule.to_money[:scheduled_principal_outstanding].to_s
          %td
            %b= l_schedule.to_money[:scheduled_principal_due].to_s
          %td
            %b= l_schedule.to_money[:scheduled_interest_outstanding].to_s
          %td
            %b= l_schedule.to_money[:scheduled_interest_due].to_s
    %tfoot
      %tr
        %td{ :colspan => 8}
          #notification
            #holiday{:style => "display:table"}
              #h_color{:style=>"background-color:PaleGoldenRod; width:12px; height:12px;"}
              %div{:style => "display:table-cell;"}
                &nbsp;Indicates that Loan schedule effected by holiday
