:javascript
  $('table.payment').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

%h1 LOAN TRANSACTIONS
.menu-strip
  = link_to 'Make Repayment', "#", :onclick =>"jQuery('#meeting_div').toggle(); return false;", :class => 'add'
  #meeting_div(style = "display : none")
    - if @lending.status == :disbursed_loan_status
      = form_for(@lending, :action => url(:controller => :lendings, :action => :create_repayment_on_lending, :id => @lending.id), :method => "POST", :class => "tall shaded") do
        %table
          %tr
            %td
              Payment Type
            %td
              = select :name => "payment_type", :collection => Constants::Transaction::RECEIVED_OR_PAID.collect{|s| s.to_s}
          %tr
            %td
              Payment Date
            %td
              = date_select "payment_date", Date.today
          %tr
            %td
              Payment Amount
            %td
              = text_field :name=> "payment_amount"
          %tr
            %td
              Payment by Staff
            %td
              = select :name=> "payment_by_staff", :collection => StaffMember.all.collect{|s| [s.id, s.name]}
        = submit 'Save Repayment', :class => "greenButton"
    - else
      This Action does support after loan's disbursement
- if @lending_transactions.blank?
  %h3
    No Loan Transactions exists
- else
  %table.dataTable.report.weeksheet.nojs.payment
    %thead
      %tr
        %th
        %th
          id
        %th
          Amount
        %th
          Payment Type
        %th
          Client
        %th
          Center
        %th
          Branch
        %th
          Performed By
        %th
          Recorded By
        %th
          Effective On
        %th
          Created At
    - loan_row_count = 1
    - @lending_transactions.each do |lt|
      %tr
        %td
          = loan_row_count
        %td
          = lt.id
        %td
          = lt.to_money[:amount].to_s
        %td
          = lt.receipt_type
        %td
          = lt.by_counterparty.name
        %td
          = BizLocation.get(lt.performed_at).name
        %td
          = BizLocation.get(lt.accounted_at).name
        %td
          = StaffMember.get(lt.performed_by).name
        %td
          = User.get(lt.recorded_by).name
        %td
          = lt.effective_on
        %td
          = lt.created_at.strftime('%Y-%m-%d')
        - loan_row_count = loan_row_count + 1
  %tfoot
    %tr.org_total
      %td{:colspan => 11}