:javascript
  $('table.loan_accrual').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%br
- if @lending_accrual_transactions.blank?
  %p
    %i No Loan accrual transaction have been created yet.
- else
  %table.report.weeksheet.nojs.loan_accrual
    %thead
      %tr
        %th
          id
        %th
          Accrual Allocation Type
        %th
          Accrual Temporal Type
        %th
          Amount
        %th
          Receipt Type
        %th
          Client
        %th
          Location
        %th
          Effective On
        %th
          Created At
    - @lending_accrual_transactions.each do |accrual_transaction|
      %tr
        %td
          = accrual_transaction.id
        %td
          = accrual_transaction.accrual_allocation_type.humanize
        %td
          = accrual_transaction.accrual_temporal_type.humanize
        %td
          = accrual_transaction.to_money[:amount].to_s
        %td
          = accrual_transaction.receipt_type
        %td
          = accrual_transaction.counterparty.name
        %td
          = accrual_transaction.accounted_location.name
        %td
          = accrual_transaction.effective_on
        %td
          = accrual_transaction.created_at.strftime("%Y-%m-%d")