:javascript
  $('table.payment').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

.menu-strip
  = link_to_with_rights 'Make Repayment', url(:controller => :payment_transactions, :action => :payment_form_for_lending, :lending_id => @lending.id), :class => '_remote_ add'
- if @lending_transactions.blank?
  %h3
    No Loan Transactions exists
- else
  %table.dataTable.report.weeksheet.nojs.payment
    %thead
      %tr
        %th
        %th
          id
        %th
          Amount
        %th
          Payment Type
        %th
          Client
        %th
          Center
        %th
          Branch
        %th
          Performed By
        %th
          Recorded By
        %th
          Effective On
        %th
          Created At
    - loan_row_count = 1
    - @lending_transactions.each do |lt|
      %tr
        %td
          = loan_row_count
        %td
          = lt.id
        %td
          = lt.to_money[:amount].to_s
        %td
          = lt.receipt_type
        %td
          = lt.by_counterparty.name
        %td
          = BizLocation.get(lt.performed_at).name
        %td
          = BizLocation.get(lt.accounted_at).name
        %td
          = StaffMember.get(lt.performed_by).name
        %td
          = User.get(lt.recorded_by).name
        %td
          = lt.effective_on
        %td
          = lt.created_at
        - loan_row_count = loan_row_count + 1
  %tfoot
    %tr.org_total
      %td{:colspan => 11}
