:javascript
  $('table.loan_due_status').dataTable({
      "sScrollX": "100%",
      "bPaginate": false,
      "bJQueryUI": true,
      "sDom": '<"H"Tfr>t<"F"ip>',
      "oTableTools": {
        "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
      }
    });
%br
%table.loan{ :style => "width: 45%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr
    %th.odd
      On Date
    %td
      = get_effective_date
    %th.odd
      Due Status
    %td
      = @lending.due_status_from_outstanding(get_effective_date).humanize
    %th.odd
      Days Past Due
    %td
      = @lending.days_past_due_on_date(get_effective_date)
    %th.odd
      Has Claim
    %td
      - if @lending.has_loan_claim?
        = @lending.has_loan_claim_since
      - else
        No Claim
- if @lending_due_statuses.blank?
  %p
    %i No Loan due status has been created yet
- else
  %table.report.weeksheet.nojs.loan_due_status
    %thead
      %tr
        %th
          On Date
        %th
          Due Status
        %th
          Scheduled Principal Outstanding
        %th
          Scheduled Interest Outstanding
        %th
          Scheduled Total Outstanding
        %th
          Scheduled Principal Due
        %th
          Scheduled Interest Due
        %th
          Scheduled Total Due
        %th
          Actual Principal Outstanding
        %th
          Principal At Risk
        %th
          Actual Interest Outstanding
        %th
          Actual Total Outstanding
        %th
          Actual Total Due
        %th
          Principal Received On Date
        %th
          Interest Received On Date
        %th
          Principal Received Till Date
        %th
          Interest Receive Till Date
        %th
          Advance Received On Date
        %th
          Advance Adjusted On Date
        %th
          Advance Received Till Date
        %th
          Advance Adjusted Till Date
        %th
          Advance Balance
    - @lending_due_statuses.each do |lending_status|
      %tr
        %td
          - if lending_status.has_loan_claim_since.blank?
            = lending_status.on_date.strftime('%Y-%m-%d')
          - else
            %p{:style => 'background:orange'}
              %b= lending_status.on_date.strftime('%Y-%m-%d')
        %td
          = lending_status.due_status.humanize
        %td
          = lending_status.to_money[:scheduled_principal_outstanding].to_s
        %td
          = lending_status.to_money[:scheduled_interest_outstanding].to_s
        %td
          = lending_status.to_money[:scheduled_total_outstanding].to_s
        %td
          = lending_status.to_money[:scheduled_principal_due].to_s
        %td
          = lending_status.to_money[:scheduled_interest_due].to_s
        %td
          = lending_status.to_money[:scheduled_total_due].to_s
        %td
          = lending_status.to_money[:actual_principal_outstanding].to_s
        %td
          = lending_status.to_money[:principal_at_risk].to_s
        %td
          = lending_status.to_money[:actual_interest_outstanding].to_s
        %td
          = lending_status.to_money[:actual_total_outstanding].to_s
        %td
          = lending_status.to_money[:actual_total_due].to_s
        %td
          = lending_status.to_money[:principal_received_on_date].to_s
        %td
          = lending_status.to_money[:interest_received_on_date].to_s
        %td
          = lending_status.to_money[:principal_received_till_date].to_s
        %td
          = lending_status.to_money[:interest_received_till_date].to_s
        %td
          = lending_status.to_money[:advance_received_on_date].to_s
        %td
          = lending_status.to_money[:advance_adjusted_on_date].to_s
        %td
          = lending_status.to_money[:advance_received_till_date].to_s
        %td
          = lending_status.to_money[:advance_adjusted_till_date].to_s
        %td
          = lending_status.to_money[:advance_balance].to_s
