%br
- if @lending_schedules.blank?
  Loan schedule does not exist.
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th Transaction
        %th Installment Date
        %th Installment
        %th Principal Outstanding
        %th Principal Due
        %th Interest Outstanding
        %th Interest Due
    %tbody
      - @lending_schedules.each do |l_schedule|
        %tr{ :class => cycle('odd','even') }
          %td{:class => 'default_class'}
            %b= l_schedule.payment_type
          %td
            = l_schedule.on_date
          %td
            %b= l_schedule.installment
          %td
            %b= l_schedule.to_money[:scheduled_principal_outstanding].to_s
          %td
            %b= l_schedule.to_money[:scheduled_principal_due].to_s
          %td
            %b= l_schedule.to_money[:scheduled_interest_outstanding].to_s
          %td
            %b= l_schedule.to_money[:scheduled_interest_due].to_s
    %tfoot
      %tr
        %td{ :colspan => 8}