:javascript
  $('table.loan_due_status').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });
%br
- if @lending_due_statuses.blank?
  %p
    %i No Loan due status have been created yet.
- else
  %table.report.weeksheet.nojs.loan_due_status
    %thead
      %tr
        %th
          On Date
        %th
          Loan Status
        %th
          Due Status
        %th
          Schedule Principal Due
        %th
          Actual Principal DUe
        %th
          Schedule Interest Due
        %th
          Actual Interest Due
        %th
          Actual Total Due
    - @lending_due_statuses.each do |lending_status|
      %tr
        %td
          = lending_status.on_date
        %td
          = lending_status.loan_status.humanize
        %td
          = lending_status.due_status.humanize
        %td
          = lending_status.to_money[:scheduled_principal_due]
        %td
          =lending_status.to_money[:actual_principal_due].to_s
        %td
          = lending_status.to_money[:scheduled_interest_due].to_s
        %td
          = lending_status.to_money[:actual_interest_due].to_s
        %td
          = lending_status.to_money[:actual_total_due].to_s