:javascript
  $('table.new_loan').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

  $(document).ready(function() {
  $('#toggle_select_to_approve').change(function() {
    $('.select_to_approve').attr('checked',$(this).attr('checked'))});
  });
%br
- if @new_lendings.blank?
  %h3
    No loans exist
- else
  = form_for(:lendings, :action => url(:controller => :lendings, :action => :update_lending_new_to_approve)) do
    %table.report.weeksheet.nojs.new_loan
      %thead
        %tr
          %th
            S.No.
          %th
            Check to Approve
            %br
            = check_box :id => "toggle_select_to_approve"
          %th
            Loan ID
          %th
            Loan Product
          %th
            Loan Purpose
          %th
            Borrower
          %th
            Applied Date
          %th
            First Repayment Date
          %th
            Scheduled Disbursal Date
          %th
            = LocationLevel.first(:level=>0).name
          %th
            = LocationLevel.first(:level=>1).name
          %th
            Approve Amount
      - loan_row_count = 1
      - @new_lendings.group_by{|l| l.administered_at_origin}.each do |center_id, c_lendings|
        - if @child_location.blank?
          - location_map = LoanAdministration.get_location_map(c_lendings.first.id, get_effective_date)
          - center_name = location_map.blank? ? '-' : BizLocation.get(location_map.administered_at).name
        - else
          - center_name = @child_location.name
        - c_lendings.group_by{|l| l.loan_borrower}.each do |loan_borrower, lendings|
          - client = Client.get(loan_borrower.counterparty_id)
          - lendings.each do |lending|
            %tr
              %td
                = loan_row_count
              %td
                - if (lending.applied_by_staff == session.user.staff_member.id) || client_facade.is_claim_processing_or_inactive?(client)
                  = check_box :name => "lending[#{lending.id}][approve]" ,:value => true, :disabled => true
                - else
                  = check_box :name => "lending[#{lending.id}][approve]" ,:value => true, :class => 'select_to_approve'
                %br
                - if client_facade.is_claim_processing_or_inactive?(client)
                  %i Client Inactive
                - elsif lending.applied_by_staff == session.user.staff_member.id
                  %i No privilege
              %td
                = link_to_with_rights lending.id, resource(lending)
              %td
                = link_to_with_rights lending.lending_product.name, resource(lending.lending_product)
              %td
                = lending.loan_purpose
              %td
                = link_to client.name, url(:controller => :new_clients, :action => :show, :id => client.id)
              %td
                = lending.applied_on_date
              %td
                = lending.scheduled_first_repayment_date
              %td
                = lending.scheduled_disbursal_date
              %td
                = center_name
              %td
                = @parent_location.blank? ? '-' : @parent_location.name
              %td
                = text_field :name => "lending[#{lending.id}][approved_amount]", :value => lending.to_money[:applied_amount].to_s.delete('a-z A-Z'), :style => "width:100px;"
              - loan_row_count = loan_row_count + 1
      %tfoot
        %tr.org_total
          %td{:colspan => 17}
            %i No privilege: The Staff member who created the loan cannot Approve it.
            %br
            %i Client Inactive: The Client is going through death claim processing.
    %br
    %div{:class => 'fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix'}
      %table.form{:style => "text-align:right;width:100%;"}
        %thead
          %tr
            %th
              Date:
            %td
              = date_select "approved_on_date", get_effective_date, :max_date => Date.today, :size => 8, :location_id => params[:child_location_id].blank? ? params[:parent_location_id] : params[:child_location_id]
            %th
              Performed by:
            %th
              - staff_member  = session.user.staff_member
              = select :name => "approved_by_staff", :text_method => :name, :value_method => :id, :collection => [staff_member], :prompt => "Select staff member", :selected => staff_member.id.to_s
            %th
              Reason:
            %th
              = select :name => 'reason', :collection => Reason.all, :text_method => :name, :value_method => :id, :prompt => 'Select Reason'
            %th
              Remarks:
            %th
              = text_area :name => 'remarks', :rows => 6, :cols => 20
    = hidden_field :name => 'parent_location_id', :value => params[:parent_location_id]
    = hidden_field :name => 'childe_location_id', :value => params[:child_location_id]
    %br
    = submit "Approve"
    &nbsp;&nbsp;
    %b
      Or
    &nbsp;&nbsp;
    = submit "Reject",:onclick=> "if(confirm('Are you sure you want to reject the selected loan(s)?'))return true;else return false;"
    %br
    