- if lendings.blank?
  %h3
    No loan exists
- else
  = form_for(:lendings, :action => url(:controller => :lendings, :action => :update_lending_new_to_approve)) do
    %table.weeksheet.dataTable.report
      %thead
        %tr
          %th
          %th
            id
          %th
            Applied Amount
          %th
            Borrower
          %th
            Applied Date
          %th
            First Repayment Date
          %th
            Repayment Frequency
          %th
            Tenure
          %th
            Administered At
          %th
            Accounted At
          %th
            Status
          %th
            Created Date
          %th
            Approve
          %th
            Approve By Staff
          %th
            Approve Amount
      - loan_row_count = 1
      - lendings.each do |lending|
        %tr
          %td
            = loan_row_count
          %td
            = lending.id
          %td
            = lending.to_money[:applied_amount].to_s
          %td
            = lending.loan_borrower.counterparty.name
          %td
            = lending.applied_on_date
          %td
            = lending.scheduled_first_repayment_date
          %td
            = lending.repayment_frequency
          %td
            = lending.tenure
          %td
            = lending.administered_at_origin
          %td
            = lending.accounted_at_origin
          %td
            = lending.status
          %td
            = lending.created_at.strftime('%Y-%m-%d')
          %td
            = check_box :name => "lending[#{lending.id}][]" ,:value => lending.id
          %td
            = select :name => "lending[#{lending.id}][][approved_by_staff]", :collection => StaffMember.all(:id.not => lending.applied_by_staff).collect{|staff| [staff.id, staff.name]}
          %td
            = text_field :name => "lending[#{lending.id}][][approved_amount]", :style => "width:70px;"
          - loan_row_count = loan_row_count + 1
      %tfoot
        %tr.org_total
          %td{:colspan => 15}
    = submit "Save"