= form_for(@lending, :action => url(:controller => :lendings, :action => :record_lending_preclose)) do
  = hidden_field :name => "loan_id", :value => @lending.id
  = hidden_field :name => "performed_at", :value => @lending.administered_at_origin
  = hidden_field :name => "accounted_at", :value => @lending.accounted_at_origin
  = hidden_field :name => "recorded_by",  :value => @user.id
  = hidden_field :name => "on_product_type", :value => 'lending'
  = hidden_field :name => "receipt_type", :value => Constants::Transaction::RECEIPT
  = hidden_field :name => "by_counterparty_type", :value => 'client'
  = hidden_field :name => "by_counterparty_id", :value => @lending.loan_borrower.counterparty_id
  = hidden_field :name => "on_product_id", :value => @lending.id
  = hidden_field :name => "payment_towards", :value => Constants::Transaction::PAYMENT_TOWARDS_LOAN_PRECLOSURE
  = hidden_field :name => "product_action", :value => Constants::Transaction::LOAN_PRECLOSURE
  = hidden_field :name => "effective_on", :value => preclose_on_date
  - advance_amount = @lending.current_advance_available
  - loan_principal = @lending.actual_principal_outstanding
  - advance_principal = loan_principal >= advance_amount ? advance_amount : loan_principal
  - advance_interest = loan_principal < advance_amount ? advance_amount-loan_principal : MoneyManager.default_zero_money
  - actual_principal = loan_principal < advance_amount ? MoneyManager.default_zero_money : loan_principal-advance_amount
  - from_date = @lending.most_recent_payment_transaction_on_date
  - to_date = Date.parse(preclose_on_date)
  - loan_interest = @lending.interest_for_preclose(to_date)
  - acutal_interest = loan_interest < advance_interest ? advance_interest : loan_interest-advance_interest
  %table.tall.form
    %tr
      %th
        Preclosure date
      %td
        = preclose_on_date
    %tr
      %th
        Advance Balance
      %td
        = advance_amount
    %tr
      %th
        Receipt Number
      %td
        = text_field :name => "receipt_no"
    %tr
      %th
        Principal due
      %td
        = text_field :name => "specific_principal_amount", :value => actual_principal.to_s, :readonly => true, :class => 'weeksheet_total'
        %span.greytext
          = "-" + advance_principal.to_s + '(advance)'
    %tr
      %th
        Interest due
      %td
        - from_date = @lending.most_recent_payment_transaction_on_date
        - to_date = Date.parse(preclose_on_date)
        - actual_interest = @lending.interest_for_preclose(to_date)
        = text_field :name => "specific_interest_amount", :value => actual_interest, :class => 'weeksheet_total', :onkeyup => "update_total_amount('INR');"
        %span.greytext
          = "-" + advance_interest.to_s + '(advance)'
    %tr
      %th
        Preclosure penalty
      %td
        = text_field :name => "penalty_amount", :class => 'weeksheet_total', :value => @preclosure_penalty_amount, :readonly => true, :onkeyup => "update_total_amount('INR');"
    %tr
      %th
        Payment by Staff
      %td
        = select :name => "performed_by", :collection => StaffMember.all.map{|x| [x.id, x.name]}
    %tr
      %th
        Reason
      %td
        = select :name => 'reason', :collection => Reason.all, :text_method => :name, :value_method => :id, :prompt => 'Select Reason'
    %tr
      %th
        Remarks
      %td
        = text_area :name => 'remarks', :rows => 6, :cols => 33
    %tr
      %th
        %b= "Total:"
      %td
        #weeksheet_total_amount
          %b= advance_amount+actual_principal+acutal_interest
    %tr
      %td
        = submit 'Preclose', :class => "greenButton"
      %td
        = link_to 'Back', url("lendings/#{@lending.id}"), :class => "greenButton"