:javascript
  $('table.pre_disbursed').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

  $(document).ready(function() {
    $('#toggle_select_to_pre_disburse').change(function() {
      $('.select_to_pre_disburse').attr('checked',$(this).attr('checked'))
    });

    $('.d_mode').change(function() {
      v = jQuery(this).attr('value');
      if(v=='Cash'){
        jQuery(this).parents('tr').find('.cheque_no, .cheque_amt').attr('disabled',true);
        jQuery(this).parents('tr').find('.cheque_no').val('');
        jQuery(this).parents('tr').find('.cheque_amt').val('0.00');
      }else{
        jQuery(this).parents('tr').find('.cheque_no, .cheque_amt').attr('disabled',false);
        jQuery(this).parents('tr').find('.cheque_no, .cheque_amt').attr('disabled',false);
     }
    });
  });


- if @pre_disbursal_lendings.blank?
  %h3
    No loans exist
- else
  = form_for(:lendings, :action => url(:controller => :lendings, :action => :setup_lending_disbursement_mode)) do
    - cheque_leaf = ChequeLeaf.all(:biz_location_id => params[:parent_location_id], :used => false, :type => :client).map(&:serial_number)
    %table.report.weeksheet.nojs.pre_disbursed
      %thead
        %tr
          %th
            S.No.
          %th
            Select All
            %br
            = check_box :id => "toggle_select_to_pre_disburse"
          %th
            Disbursement Mode
          %th
            Cheque No.
          %th
            Cheque Amount
          %th
            Loan ID
          %th
            Loan Product
          %th
            Loan Purpose
          %th
            Borrower
          %th
            First Repayment Date
          %th
            Scheduled Disbursal Date
          %th
            = LocationLevel.first(:level=>0).name
          %th
            = LocationLevel.first(:level=>1).name
          %th
            Approved Amount
          %th
            Approved by
          %th
            Approval Date
      - loan_row_count = 1
      - @pre_disbursal_lendings.group_by{|l| l.administered_at_origin}.each do |center_id, c_lendings|
        - if @child_location.blank?
          - location_map = LoanAdministration.get_location_map(c_lendings.first.id, get_effective_date)
          - center_name = location_map.blank? ? '-' : BizLocation.get(location_map.administered_at).name
        - else
          - center_name = @child_location.name
        - c_lendings.group_by{|l| l.loan_borrower}.each do |loan_borrower, lendings|
          - client = Client.get(loan_borrower.counterparty_id)
          - lendings.each do |lending|
            %tr
              %td
                = loan_row_count
              %td
                - if (lending.applied_by_staff == session.user.staff_member.id) || client_facade.is_claim_processing_or_inactive?(client)
                  = check_box :name => "lending[#{lending.id}][disbursement]" ,:value => true, :disabled => true
                - else
                  = check_box :name => "lending[#{lending.id}][disbursement]" ,:value => true, :class => 'select_to_pre_disburse'
                %br
                - if client_facade.is_claim_processing_or_inactive?(client)
                  %i Client Inactive
                - elsif lending.applied_by_staff == session.user.staff_member.id
                  %i No privilege
              %td
                = select :name => "lending[#{lending.id}][disbursement_mode]", :collection => Constants::Loan::DISBURSEMENT_MODES, :class => 'd_mode'
              %td
                = select :name => "lending[#{lending.id}][cheque_number]", :collection => cheque_leaf.map{|cl| cl.to_s}, :prompt => 'Select Cheque', :class => 'cheque_no'
              %td
                = text_field :name => "lending[#{lending.id}][cheque_amount]", :value => lending.to_money[:approved_amount].to_s.delete("a-z A-Z"), :style => "width:70px;", :class => 'cheque_amt', :disabled => 'true'
              %td
                = link_to_with_rights lending.id, resource(lending)
              %td
                = link_to_with_rights lending.lending_product.name, resource(lending.lending_product)
              %td
                = lending.loan_purpose
              %td
                = client.name
              %td
                = lending.scheduled_first_repayment_date
              %td
                = lending.scheduled_disbursal_date
              %td
                = center_name
              %td
                = @parent_location.blank? ? '-' : @parent_location.name
              %td
                = lending.to_money[:approved_amount].to_s
              %td
                = link_to_with_rights StaffMember.get(lending.approved_by_staff).name, url(:controller => :staff_members, :action => :show, :id => lending.approved_by_staff)
              %td
                = lending.approved_on_date
              - loan_row_count = loan_row_count + 1
      %tfoot
        %tr.org_total
          %td{:colspan => 18}
            %i No privilege: The Staff member who created the loan cannot Disburse it.
            %br
            %i Client Inactive: The Client is going throuh death claim processing.

    %div{:class => 'fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix'}
      %table.form{:style => "width:100%;"}
        %thead
          %tr
            %th
              Date:
            %td
              = date_select "pre_disbursal_date", get_effective_date, :max_date => Date.today, :location_id => params[:child_location_id].blank? ? params[:parent_location_id] : params[:child_location_id]
            %th
              Performed by:
            %th
              - staff_member  = session.user.staff_member
              = select :name => "performed_by_staff", :text_method => :name, :value_method => :id, :collection => [staff_member], :prompt => "Select staff member", :selected => staff_member.id.to_s
    = hidden_field :name => 'parent_location_id', :value => params[:parent_location_id]
    = hidden_field :name => 'child_location_id', :value => params[:child_location_id]
    %br
    = submit "Save"