:javascript
  $('table.rejected_loan').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

  $(document).ready(function() {
  $('#toggle_select_to_payment').change(function() {
    $('.select_to_payment').attr('checked',$(this).attr('checked'))});
  });

%br
- if @rejected_lendings.blank?
  %h3
    No loans exist
- else
  %table.report.weeksheet.nojs.rejected_loan
    %thead
      %tr
        %th
          S.No.
        %th
          Loan ID
        %th
          Applied Amount
        %th
          Borrower
        %th
          Applied Date
        %th
          First Repayment Date
        %th
          Scheduled Disbursal Date
        %th
          Repayment Frequency
        %th
          Tenure
        %th
          = LocationLevel.first(:level=>0).name
        %th
          = LocationLevel.first(:level=>1).name
        %th
          Rejected by
        %th
          Rejected Date
    - loan_row_count = 1
    - @rejected_lendings.group_by{|l| l.administered_at_origin}.each do |center_id, c_lendings|
      - if @child_location.blank?
        - location_map = LoanAdministration.get_location_map(c_lendings.first.id, get_effective_date)
        - center_name = location_map.blank? ? '-' : BizLocation.get(location_map.administered_at).name
      - else
        - center_name = @child_location.name
      - c_lendings.group_by{|l| l.loan_borrower}.each do |loan_borrower, lendings|
        - client = Client.get(loan_borrower.counterparty_id)
        - lendings.each do |lending|
          %tr
            %td
              = loan_row_count
            %td
              = link_to_with_rights lending.id, resource(lending)
            %td
              = lending.to_money[:applied_amount].to_s
            %td
              = client.name
            %td
              = lending.applied_on_date
            %td
              = lending.scheduled_first_repayment_date
            %td
              = lending.scheduled_disbursal_date
            %td
              = lending.repayment_frequency
            %td
              = lending.tenure
            %td
              = center_name
            %td
              = @parent_location.blank? ? '-' : @parent_location.name
            %td
              = lending.rejected_by_staff.blank? ? '-' : link_to(StaffMember.get(lending.rejected_by_staff).name, url(:controller => :staff_members, :action => :show, :id => lending.disbursed_by_staff))
            %td
              = lending.rejected_on_date
            - loan_row_count = loan_row_count + 1
    %tfoot
      %tr.org_total
        %td{:colspan => 14}