:javascript
  $('table.update_funding_lines').dataTable({
      "bPaginate": false,
      "bJQueryUI": true
    });

  $(document).ready(function() {
  $('#toggle_select_to_update_funding_lines').change(function() {
    $('.select_to_update_funding_lines').attr('checked',$(this).attr('checked'))});
  });

- lendings = @lendings
- if lendings.blank?
  .shaded
    %h3 No loan exists
- else
  = form_for(:lendings, :action => url(:controller => :lendings, :action => :update_loans_funding_lines)) do
    %table.report.weeksheet.nojs.update_funding_lines
      %thead
        %tr
          %th
            S.No.
          %th
            Select All
            %br
            = check_box :id => "toggle_select_to_update_funding_lines"
          %th
            Loan ID
          %th
            LAN ID
          %th
            Loan Product
          %th
            Borrower
          %th
            Funder
          %th
            Fundling Line
          %th
            Tranch
      - s_no = 1
      - lendings.each do |lending|
        %tr
          %td
            = s_no
          %td
            - client = Client.get(lending.loan_borrower.counterparty_id)
            - if (lending.applied_by_staff == session.user.staff_member.id) || client_facade.is_claim_processing_or_inactive?(client)
              = check_box :name => "lending[#{lending.id}][]" ,:value => lending.id, :disabled => true
            - else
              = check_box :name => "lending[#{lending.id}][]" ,:value => lending.id, :class => 'select_to_update_funding_lines'
            %br
            - if client_facade.is_claim_processing_or_inactive?(client)
              %i Client Inactive
            - elsif lending.applied_by_staff == session.user.staff_member.id
              %i No privilege
          %td
            = link_to_with_rights lending.id, resource(lending)
          %td
            = lending.lan
          %td
            = link_to_with_rights lending.lending_product.name, url(:controller => :lending_products, :action => :show, :id => lending.lending_product.id)
          %td
            = lending.loan_borrower.counterparty.name
          %td
            = "Funder"
          %td
            = select :name => "funding_line_id", :collection => select_fundling_lines, :id => "funding_line_selector_#{lending.id}", :onchange => "fillFundingLines('#{lending.id}')"
          %td
            - tranches = select_tranches.blank? ? [] : select_tranches.map{|x| [x.id, x.name]}
            = select :name => "tranch_id", :collection => tranches, :id => "tranch_selector_#{lending.id}"
          - s_no += 1
    %table.narrow.form{:style => "width:100%;"}
      %tfoot
        %tr
          %td
            %b On:
            = date_select "disbursal_date", get_effective_date, :max_date => Date.today
            %b By:
            = select :name => "disbursed_by_staff", :collection => [session.user.staff_member], :text_method => :name, :value_method => :id
    = hidden_field :name => 'parent_location_id', :value => params[:parent_location_id]
    = hidden_field :name => 'childe_location_id', :value => params[:child_location_id]
    %br
    = submit "Update"