- unless @errors.blank?
  - if @errors.is_a?(Hash)
    - @errors.keys.each do |client_id|
      - if @errors[client_id]
        .error
          - @errors[client_id].keys.each do |key|
            = "[Client ID: #{client_id}] #{key}: #{@errors[client_id][key]}"
            %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br
%h1
  = "Bulk Edit Funding Lines Of Loans"

%form{:action => url(:controller => :lendings, :action => :bulk_edit_funding_lines), :method => :get}
  = partial 'lib/biz_location_selector'

= partial :update_loans_funding_lines
%br