%h1 Approve and Disburse Loans

.menu-strip{:style => "width: 8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
= form_for(:lendings, :action => url(:controller => :lendings, :action => :index)) do
  = partial 'lib/biz_location_selector'
- unless params[:parent_location_id].nil?
  %div.tab_container.shaded
    %ul.tabs
      %li#apply_loans
        Loans for Approval
      %li#pre_disburse_loans
        Loans for Pre-Disbursal
      %li#approved_Loans
        Loans for Disbursal
      %li#rejected_Loans
        Rejected Loans
      %li#disbursed_loans{:style=>'display:none'}
        Disbursed Loans
      %li#fee_loans{:style=>'display:none'}
        Fee Loans
      %li#insurance_premium{:style=>'display:none'}
        Insurance Premium
    %div.tab
      = partial "lendings/new_loans", :lendings => @new_lendings, :type => 'approve'
    %div.tab
      = partial "lendings/pre_disbursal_loans", :lendings => @pre_disbursal_lendings, :type => 'pre_disbursal'
    %div.tab
      = partial "lendings/approve_loans", :lendings => @approved_lendings, :type => 'disburse'
    %div.tab
      = partial "lendings/rejected_loans", :lendings => @rejected_lendings, :type => 'reject'
    %div.tab
      = partial "lendings/disburse_loans", :lendings => @disburse_lendings
    %div.tab
      = partial "lendings/fee_loans"
    %div.tab
      = partial "lendings/insurance_fee_loans"
 