%h1 Approve and Disburse Loans

.menu-strip{:style => "width: 8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
= form_for(:lendings, :action => url(:controller => :lendings, :action => :index)) do
  = partial 'lib/biz_location_selector'
- unless params[:parent_location_id].nil?
  %div.tab_container.shaded
    %ul.tabs
      %li#apply_loans
        Loans for Approval
      %li#pre_disburse_loans
        Loans for Pre-Disbursal
      %li#approved_Loans
        Loans for Disbursal
      %li#rejected_Loans
        Rejected Loans
    %div.tab
      = partial "lendings/new_loans"
    %div.tab
      = partial "lendings/pre_disbursal_loans"
    %div.tab
      = partial "lendings/approve_loans"
    %div.tab
      = partial "lendings/rejected_loans"
 