%h1 Preclose loan
.shaded
  = form_for(@lending, :action => url(:controller => :lendings, :action => :check_preclosure_date)) do
    = hidden_field :name => "loan_id", :value => @lending.id
    %table
      %tr
        %td
          %b= "Preclose on date:"
        %td
          = date_select :effective_on
          = submit "Go"
  - if params[:effective_on]
    = partial :preclosure_form