%h1 Write Off Loans
.menu-strip{:style => "width:8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
%br
= form_for(:lendings, :action => url(:controller => :lendings, :action => :write_off_lendings), :method => :get) do
  = partial 'lib/biz_location_selector_for_write_off',:staff_member => false, :date => false
- if params[:parent_location_id].blank?
  %h3 Please Select Branch
- else
  %h2= "Days Past Dues For #{@due_days} days and above"
  - if @lendings.blank?
    %h3
      No loan exists
  - else
    = form_for(:lendings, :action => url(:controller => :lendings, :action => :update_write_off_lendings)) do
      = hidden_field :name => 'parent_location_id', :value => params[:parent_location_id]
      = hidden_field :name => 'child_location_id', :value => params[:child_location_id]
      = hidden_field :name => 'on_days', :value => params[:on_days]
      %table.report.weeksheet.nojs
        %thead
          %tr
            %th
              id
            %th
              Administered At
            %th
              Accounted At
            %th
              Borrower Name
            %th
              Loan Amount
            %th
              Loan Disbursed On
            %th
              Scheduled outstanding principal
            %th
              Scheduled outstanding interest
            %th
              Scheduled total outstating
            %th
              Actual outstanding principal
            %th
              Actual outstanding interest
            %th
              Actual total outstanding
            %th
              Days past due
            %th
              Check Write off
            %th
              On Date
        - @lendings.each do |lending|
          %tr
            %td
              = link_to_with_rights lending.id, resource(lending)
            %td
              = link_to_with_rights lending.administered_at_origin_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => lending.administered_at_origin)
            %td
              = link_to_with_rights lending.accounted_at_origin_location.name, url(:controller => :user_locations, :action => :show, :id => lending.accounted_at_origin)
            %td
              = lending.loan_borrower.counterparty.name
            %td
              = lending.total_loan_disbursed.to_s
            %td
              = lending.disbursal_date
            %td
              = lending.scheduled_principal_outstanding(get_effective_date)
            %td
              = lending.scheduled_interest_outstanding(get_effective_date)
            %td
              = lending.scheduled_total_outstanding(get_effective_date)
            %td
              = lending.actual_principal_outstanding
            %td
              = lending.actual_interest_outstanding
            %td
              = lending.actual_total_outstanding
            %td
              = lending.days_past_due_on_date(get_effective_date)
            %td
              = check_box :name => "write_off_lendings[#{lending.id}][]" ,:value => lending.id
            %td
              - min_date = lending.most_recent_payment_transaction_on_date
              = date_select "write_off_lendings[#{lending.id}][][on_date]", get_effective_date, {:id => "lending_#{lending.id}", :size=> "10" , :min_date => min_date, :text => 'date_select'}
        %tfoot
          %tr.org_total
            %td{:colspan => 15}
      = submit "Write Off Save"
