:javascript
  $(document).ready(function() {
  $('#select_all').change(function() {
    $('input.checkbox').attr('checked',$(this).attr('checked'))});
  });

%h1 Write Off Loans
.menu-strip{:style => "width:8%;"}
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
= form_for(:lendings, :action => url(:controller => :lendings, :action => :write_off_lendings), :method => :get) do
  = partial 'lib/biz_location_selector_for_write_off',:staff_member => false, :date => false
- if params[:parent_location_id].blank?
  %h3 Please Select Branch
- else
  %div.tab_container.shaded
    %ul.tabs
      %li#write_off_loans
        Write Off Loans
      %li#write_off_approve_loans
        Write Off Approve Loans
    %div.tab
      = partial "lendings/write_off_loans", :lendings => @lendings.select{|s| s.write_off_approve.blank? || s.write_off_approve == false}
    %div.tab
      = partial "lendings/write_off_approve_loans", :lendings => @lendings.select{|s| s.write_off_approve == true}