%h1
  FreeTexts controller, edit action
%p
  Edit this file in
  %tt
    app/views/free_texts/edit.html.erb
= error_messages_for @free_text

= form_for(@free_text, :action => url(:free_text, @free_text)) do
  %p
    = submit "Update"

= link_to 'Show', url(:free_text, @free_text)
|
= link_to 'Back', url(:free_texts)