:javascript
  // a function to insert the correct amount in the text box in case we choose to prepay all
  $(document).ready(function () {
    $('#preclose_all').change(function() {
      checked = $('#preclose_all').attr('checked')
      $('.pay_amt').each(function() {
        me = $(this);
        use_field = checked ? '#outstanding_amt_' : '#amount_due_'
        oa =   $(use_field + me.attr('id').split("_")[1]).attr('value')
        $(this).attr('value', oa)
      });
    });
  });



- if @md
  Payments collected by
  = select :name => "payment[received_by]", :collection => staff_members_collection, :selected => @center.manager.id.to_s, :id => 'payments_received_by', :class => "chosen"
  collected on
  = date_select "received_on", @date
  &nbsp;&nbsp;
  preclose all?
  = check_box :id => "preclose_all", :name => "preclose_all"
  %table.report.nojs
    %thead
      %tr{:style => "font-size: 0.85em;"}
        %th name
        %th id
        %th amount
        %th outstanding
        %th disbursed on
        %th installment
        %th principal due
        %th interest due
        %th total due
        %th paid
        %th repay type
        %th attendance

    %tbody{:style => "text-align:left;" }
      - @branch||=@center.branch
      - tot_amount, tot_outstanding, tot_installments, tot_principal, tot_interest, tot_fees, tot_total = 0, 0, 0, 0, 0, 0, 0
      - clients = Client.all(:center_id => @center.id, :active => true, :date_joined.lte => @date, :fields => [:id, :name, :client_group_id, :center_id])
      - atts = Attendance.all(:client_id => clients.map{|x| x.id}, :date => @date).map{|x| [x.client_id,x]}.to_hash
      - all_repayment_style_choices = [[NORMAL_REPAYMENT_STYLE,"fees=>int=>prin"], [PRORATA_REPAYMENT_STYLE,"pro rata"], [:sequential, "sequential"]]
      - default_repayment_style = Mfi.first.default_repayment_style ? Mfi.first.default_repayment_style : NORMAL_REPAYMENT_STYLE
      - default_repayment_style_choice = all_repayment_style_choices.select {|style| style[0] == default_repayment_style}
      - repayment_style_choices = Mfi.first.allow_choice_of_repayment_style ? default_repayment_style_choice + (all_repayment_style_choices.reject {|style| style[0] == default_repayment_style}) : default_repayment_style_choice
      - @weeksheet.groups.each do |group|
        %tr.group{:style => 'font-weight: bold; text-align: center; background: grey'}
          %td{:colspan => 12}
            = group ? group[1] : "none"
        - loan_row_count = 0
        - center = Center.get @weeksheet.at_center_id
        - collection_sheets = @weeksheet.collection_sheet_lines.select{|cs| cs.borrower_group_id == group[0]}.sort_by{|cs| cs.borrower_name} rescue []
        - collection_sheets.each do |ws|
          - loan_row_count += 1
          - fee = 0
          - center = Center.get ws.at_center_id
          %tr{ :class => cycle('odd','even') }
            %td.text
              %b= link_to_with_rights ws.borrower_name, resource(center.branch, center, Client.get(ws.borrower_id))
            %td.number
              = link_to_with_rights ws.loan_id, url(:quick_link, "loans", ws.loan_id)
            %td.number
              - amt = ws.loan_disbursed_amount
              %b= amt.to_currency
              - tot_amount += amt
            %td.number
              - prin = ws.loan_outstanding
              = hidden_field :id => "outstanding_amt_#{ws.loan_id}", :value => (ws.loan_outstanding + ws.interest_due_today)
              %b= prin.to_currency
              - tot_outstanding += prin
            %td.text
              = ws.loan_disbursed_date
            %td.number
              - ins = ws.loan_installment_number
              = ins
              - tot_installments += ins
            %td.number
              = ws.principal_due_today.round(2)
              - tot_principal += ws.principal_due_today
            %td.number
              = ws.interest_due_today.round(2)
              - tot_interest += ws.interest_due_today
            %td.number
              - a = ws.principal_due_today + ws.interest_due_today
              = a.round(2)
              - tot_total += a
            %td.paid
              = hidden_field :id => "amount_due_#{ws.loan_id}", :value => [a,0].max.round(2)
              = text_field :name => "paid[loan][#{ws.loan_id}]", :value => [a,0].max.round(2), :cols => "5", :style => "width:50px;", :id => "pay_#{ws.loan_id}", :class => 'pay_amt'
            %td
              = select :name => "payment_style[#{ws.loan_id}]", :collection => repayment_style_choices
            %td
              - att = atts[ws.borrower_id]
              = select :name => "attendance[#{ws.borrower_id}]", :collection => Attendance.attendancy_states, :value_method => :to_s, :selected => (att ? att.status.to_s : "present")
          - if loan_row_count == 0
            %tr{ :class => cycle('odd','') }
              %td.text
                %b= link_to_with_rights ws.borrower_name, resource(center.branch, center, Client.get(ws.borrower_id))
              %td{ :colspan => 10 }
                %i nothing outstanding
              %td
                - att = atts[ws.borrower_id]
                = select :name => "attendance[#{ws.borrower_id}]", :collection => Attendance.attendancy_states, :value_method => :to_s, :selected => (att ? att.status.to_s : "present")
      %tr{ :style => 'border-bottom: 2px solid;' }
        %tr
          %td
          %td
          %td.numeric
            %b= tot_amount.to_currency
          %td.numeric
            %b= tot_outstanding.to_currency
          %td
          %td
          %td.numeric
            %b= tot_principal.to_currency
          %td.numeric
            %b= tot_interest.to_currency
          %td
            %b= tot_total.to_currency
          %td
          %td.numeric
    %tfoot
      %tr
        %td{ :colspan => 14 }
- else
  %i This day is not a meeting day
