.shaded
  %div.tab_container.clearfix
    %ul.tabs
      %li#staff_members
        Staff Members
      %li#centers
        Centers
    %div.tab
      - if @staff_members and not @staff_members == []
        %h2
          = "Staff Members collecting on #{@for_date.to_s}"
          - if @branch
            = "for branch #{@branch.name}"
          - else
            = "for all branches"
        %table.narrow.form{:width => "100%"}
          %thead
            %tr
              %th
                Serial No.
              %th
                Staff Member
              %th
          %tbody
            - scls = 'odd'
            - @staff_members.each_with_index do |staff_member, idx|
              - scls = scls == 'odd' ? 'even' : 'odd'
              %tr{:class => scls}
                %td
                  = idx + 1 
                %td
                  = link_to staff_member.name, resource(staff_member)
                %td
                  = form_for(@payment, :action => url(:enter_payments, :action => 'by_staff_member'), :method => :get) do
                    = hidden_field :name => 'return', :value => url(:data_entry)
                    = hidden_field :name => 'staff_member_id', :value => staff_member.id
                    = hidden_field :name => 'for_date', :value => @for_date.to_s
                    = submit 'Record Payments'
      - else
        %h3
          - if @for_date
            = "No staff members collecting on #{@for_date.to_s}"
          - else
            = "Please select a date"
    %div.tab
      - if @centers and not @centers == []
        %h2
          = "Centers "
          - if @branch
            = "at branch #{@branch.name}"
          - else
            = "at all branches"
          = "repaying on #{@for_date.to_s}"
        %table.narrow.form{:width => "100%"}
          %thead
            %tr
              %th
                Serial No.
              %th
                Center
              %th
          %tbody
            - cls = 'odd'
            - @centers.each_with_index do |center, idx|
              - cls = cls == 'odd' ? 'even' : 'odd'
              %tr{:class => cls}
                %td
                  = idx + 1
                %td
                  = link_to center.name, resource(center)
                %td
                  = form_for(@payment, :action => url(:enter_payments, :action => 'by_center'), :method => :get) do
                    = hidden_field :name => 'return', :value => url(:data_entry)
                    = hidden_field :name => 'center_id', :value => center.id
                    = hidden_field :name => 'for_date', :value => @for_date.to_s
                    = submit 'Record Payments'
      - else
        %h3
          - if @for_date
            = "No centers paying on #{@for_date.to_s}"
          - else
            = "Please select a date"
               
          
          
      