:javascript
  function load_centers() {
    $("#paying_center_selector").html('');
    $.ajax({
      type: "GET",
      url: "/branches/centers/"+$("#paying_branch_selector").val()+"?paying=true&date=" + $("#for_date").val(),
      success: function(data){
        $("#paying_center_selector").html(data);
      }
    });
  }

  $(document).ready(function() {
    $("#paying_branch_selector").change(function(){
      load_centers();
    });
    $("#for_date").change(function(){
      load_centers();
    });
  });

- if @staff_member and @date
  %h1
    Payments collected by
    = link_to "StaffMember #{@staff_member.name}", resource(@staff_member)
    on
    = @date 

  - if not @errors.blank?
    .error
      - if @errors.is_a?(Array)
        - @errors.each do |error|
          == Loan <b>#{error.resource.class == Payment ? error.resource.loan.id : error.resource.id} :</b>
          = error.values.join("*")
          %br
      - else
        - @errors.each do |error|
          = error
          %br        
  %div.tab_container
    %ul.tabs
      %li#repayments
        Repayments
        %b
          (
          = LoanHistory.all(:date => @date, :loan_id => @loan_ids, :status => [:outstanding]).count
          )
    %div.tab    
      %h1 Repayments
      = form_for(@payment, :action => url(:enter_payments, :action => 'by_staff_member', :class => "_disable_button_")) do
        = hidden_field :name => 'staff_member_id', :value => @staff_member.id
        = partial :staff_member_payments
        = submit 'Make Repayments'
- else
  %h2 Choose a staff member to record a payment for
  = form_for(@payment, :action => url(:enter_payments, :action => 'by_staff_member'), :method => :get) do
    %table.form
      %tr
        %th
          Staff Member
        %td
          = select :name => 'staff_member_id', :collection => @staff_members, :class => "chosen", :prompt => "Please choose a staff member"
      %tr
        %th
          For Date
        %td
          = date_select('for_date', @date)
    = submit 'Submit'
