- loan_file_id = @response.target_entity.model_record_id
- loan_file = LoanFile.get(loan_file_id)
- no_of_loan_applications = loan_file.loan_applications.size
%br
.shaded
  #form_section
    = form(:action => url(:checklister_slice_edit_checklist_data, :checklist_id => @checklist.id) ) do
      %table.form{:style => "width:100%;"}
      %p
        - count=1
        - @sections.each do |section|
          %hr
          .section_block
            %h2
          - if count==2
            %table.report.nojs
              %thead
                %tr
                  %td
                    Select All
                  %td
                    Name
                  %td
                    Address Proof
                  %td
                    ID Proof
                  %td
                    Age
                  %td
                    Ration Card
                  %td
                    Extra Photo
                  %td
                    Member/Guarantor sign
                  %td
                    BM/RO/AO sign
                  %td
                    Term sheet
                  %td
                    DPN
                  %td
                    DeDupe
                  %td
                    Remark
              -i=0
              - loan_file.loan_applications.each do |loan_application|
                -#-(section.checkpoints.count+section.dropdownpoints.count+section.free_texts.count+section.checkboxpoints.count).times do |i|
                -checkpoint=Checkpoint.first(:section_id=>section.id,:sequence_number=>loan_application.id)
                -dropdownpoint=Dropdownpoint.first(:section_id=>section.id,:sequence_number=>loan_application.id)
                -free_text=FreeText.first(:section_id=>section.id,:sequence_number=>loan_application.id)
                -checkboxpoint=Checkboxpoint.first(:section_id=>section.id,:sequence_number=>loan_application.id)


                -if count==1 or count==3
                  -if i%3==0
                    %tr.question_cell

                -else
                  -if i%2==0
                    %tr.question_cell

                -if !checkpoint.nil?
                  %td
                    =" #{checkpoint.name}"
                  %td
                    -checkpoint_filling=CheckpointFilling.all(:checkpoint_id=>checkpoint.id,:response_id=>@response.id).first
                    -if checkpoint_filling.nil?
                      Not Attempted
                    -else
                      =check_box :name=>checkpoint_filling.id,:boolean=>true,:checked=>checkpoint_filling.status?,:disabled=>false
                -if !checkboxpoint.nil?
                  %tr
                    %td
                      = check_box :name => "select_all", :onclick => "jQuery('.check_box_#{loan_application.id}').attr('checked', this.checked);"
                    %td
                      = "#{loan_application.client_name}"
                      -checkboxpoint.checkboxpoint_options.each do |option|
                        %td
                          =check_box :name=>"checkboxpoint_option_fillings[checkboxpoint_option_filling_#{option.checkboxpoint_option_fillings.all(:response_id=>@response.id).first.id}]".to_sym  ,:boolean=>true,:checked=>(option.checkboxpoint_option_fillings.all(:response_id=>@response.id).first.status?),:disabled=>false, :class => "check_box_#{loan_application.id}"
                    -if !free_text.nil?
                      -if count!=2
                        %td{:width=>"70px"}

                          =" #{free_text.name}"

                      -free_text_filling=FreeTextFilling.first(:free_text_id=>free_text.id,:response_id=>@response.id)
                      -if free_text_filling.nil?
                        -@comment="----NA----"
                      -else
                        -@comment=free_text_filling.comment
                      -if free_text.name.downcase=="date"
                        %td
                          =text_field :name=>"free_text_fillings_t2[free_text_filling_#{free_text_filling.id}]".to_sym,:value=>@comment,:disabled=>false
                      -else
                        - (1).times do |f|
                          %td
                            =text_field :name=>"free_text_fillings_t2[free_text_filling_#{free_text_filling.id}]".to_sym,:value=>@comment,:disabled=>false
                -if !dropdownpoint.nil?
                  %td
                    =" #{dropdownpoint.name}"
                  %td
                    =dropdownpoint.dropdownpoint_fillings.all(:response_id=>@response.id).first.model_record_name

              -count=count+1
              - i +=1

          - else
            %table{:style =>"width:99%", :class => "tall"}
              %tr
                -(section.checkpoints.count+section.dropdownpoints.count+section.free_texts.count+section.checkboxpoints.count).times do |i|
                  -checkpoint=Checkpoint.first(:section_id=>section.id,:sequence_number=>(i+1))
                  -dropdownpoint=Dropdownpoint.first(:section_id=>section.id,:sequence_number=>(i+1))
                  -free_text=FreeText.first(:section_id=>section.id,:sequence_number=>(i+1))
                  -checkboxpoint=Checkboxpoint.first(:section_id=>section.id,:sequence_number=>(i+1))
                  - if i%4 == 0
                    %tr
                  -if !checkpoint.nil?
                    %th
                      =" #{checkpoint.name}"
                    %td
                      -checkpoint_filling=CheckpointFilling.all(:checkpoint_id=>checkpoint.id,:response_id=>@response.id).first
                      -if checkpoint_filling.nil?
                        Not Attempted
                      -else
                        - if checkpoint_filling.status?
                          = radio_button :name => "checkpoint_fillings[checkpoint_filling_#{checkpoint_filling.id}]",:value => 1, :checked => checkpoint_filling.status?
                          Yes
                          = radio_button :name => "checkpoint_fillings[checkpoint_filling_#{checkpoint_filling.id}]", :value => 0
                          No
                        - else
                          = radio_button :name => "checkpoint_fillings[checkpoint_filling_#{checkpoint_filling.id}]",:value => 1
                          Yes
                          = radio_button :name => "checkpoint_fillings[checkpoint_filling_#{checkpoint_filling.id}]", :value => 0, :checked => true
                          No
                  -if !checkboxpoint.nil?
                    %th
                      ="#{checkboxpoint.name}"
                      -checkboxpoint.checkboxpoint_options.each do |option|
                        %td
                          =check_box :name=>"option#{option.id}".to_sym  ,:boolean=>true,:checked=>(option.checkboxpoint_option_fillings.all(:response_id=>@response.id).first.status?),:disabled=>false
                  -if !free_text.nil?
                    %th
                      =" #{free_text.name}"

                    -free_text_filling=FreeTextFilling.all(:free_text_id=>free_text.id,:response_id=>@response.id).first
                    -if free_text_filling.nil?
                      -@comment="----NA----"
                    -else
                      -@comment=free_text_filling.comment
                    -if free_text.name.downcase=="date"
                      %td
                        = date_select "free_text_fillings_t1n3[free_text_filling_#{free_text_filling.id}]", Date.today,{:id => "free_text_filling_#{free_text_filling.id}", :max_date => Date.today}
                    -else
                      %td
                        =text_field :name=>"free_text_fillings_t1n3[free_text_filling_#{free_text_filling.id}]".to_sym,:value=>@comment,:disabled=>false
                  -if !dropdownpoint.nil?
                    %th
                      =" #{dropdownpoint.name}"
                    %td
                      = select :name => "dropdownpoint_fillings[dropdownpoint_filling_#{dropdownpoint.dropdownpoint_fillings.all(:response_id=>@response.id).first.id}]".to_sym ,:collection => Kernel.const_get(dropdownpoint.model_name).all.map{|x|x.name}, :selected => dropdownpoint.dropdownpoint_fillings.all(:response_id=>@response.id).first.model_record_name
            -count=count+1
        %table{:style =>"width:99%", :class => "tall"}
          %tr
            %th
              Status
            %td
              = radio_button :name => "result_status", :value => 'pending', :checked => @response.result_status == 'pending'
              Pending
              = radio_button :name => "result_status", :value => 'override', :checked => @response.result_status == 'override'
              Override
              = radio_button :name => "result_status", :value => 'cleared', :checked => @response.result_status == 'cleared'
              Clear
        %br
        = hidden_field :name => 'request_url', :value => request.referer
        = hidden_field :name => "response_id", :value => @response.id
        = submit "Update", :class=>"greenButton"
        = link_to "Back",request.referer,:class=>"greenButton",:onclick=>"history.go(-1)"






