%h2= "Checklist Filled  by #{@filler.name}"

-if @checklist.checklist_type.is_pa_checklist?
  %table{:style =>"width:98%", :class => "tall report nojs weeksheet"}
    %tr
      %th{:style => "width:50%"}
        Effective Date:
      %td
        =@response.value_date.strftime("%b %e")
    %tr
      %th
        =@response.checklist_locations.first.type.capitalize
      %td
        =@response.checklist_locations.last.name
    %tr
      %th
        Filled On
      %td
        =@response.created_at.strftime("%b %e %Y ")
-else
  %table{:style =>"width:98%", :class => "tall report nojs weeksheet"}
    %tr
      %th{:style => "width:50%"}
        Effective Date
      %td
        =@response.value_date.strftime("%b %e %Y ")
    %tr
      %th
        =@response.checklist_locations.first.type
      %td
        =@response.checklist_locations.first.name
    %tr
      %th
        =@response.checklist_locations.last.type
      %td
        =@response.checklist_locations.last.name
    %tr{:style => "display:#{['Branch', 'Center'].include?(@response.target_entity.type) ? 'none' : ''}"}
      %th
        =@response.target_entity.type
      %td
        =@response.target_entity.name
    %tr
      %th
        Filled On
      %td
        =@response.created_at.strftime("%b %e %Y ")

-if @checklist.checklist_type.is_hc_checklist?
  =partial "responses/healthcheck_response"
-else
  -@sections.each do |section|
    %hr
    .section_block
      %h2
        %b{:style=>"color:black"}
          %u
            =section.name
        %br
    %table.tall.report.nojs
      -(section.checkpoints.count+section.dropdownpoints.count+section.free_texts.count).times do |i|
        -checkpoint=Checkpoint.first(:section_id=>section.id,:sequence_number=>(i+1))
        -dropdownpoint=Dropdownpoint.first(:section_id=>section.id,:sequence_number=>(i+1))
        -free_text=FreeText.first(:section_id=>section.id,:sequence_number=>(i+1))
        %tr{:style => "text-align:left;"}
          %td
            = i+1
          -if !checkpoint.nil?
            %td{:width=>"800px"}
              ="#{checkpoint.name}"
            %td
              -checkpoint_filling=CheckpointFilling.all(:checkpoint_id=>checkpoint.id,:response_id=>@response.id).first
              -if checkpoint_filling.nil?
                Not Attempted
              -else
                =check_box :name=>checkpoint_filling.id,:boolean=>true,:checked=>checkpoint_filling.status?,:disabled=>true
          -elsif !free_text.nil?
            %td{:width=>"800px"}
              ="#{free_text.name}"

              -free_text_filling=FreeTextFilling.all(:free_text_id=>free_text.id,:response_id=>@response.id).first
              -if free_text_filling.nil?
                -@comment=""
              -else
                -@comment=free_text_filling.comment
              -if free_text.name.downcase=="date"
                %td
                  =text_field :name=>"free_text_#{free_text.id}".to_sym,:value=>@comment,:disabled=>true
              -else
                %td
                  =text_area @comment ,:name=>"free_text_#{free_text.id}".to_sym,:disabled=>true
          -elsif !dropdownpoint.nil?
            %td{:width=>"800px"}
              ="#{dropdownpoint.name}"
            %td
              =dropdownpoint.dropdownpoint_fillings.all(:response_id=>@response.id).first.model_record_name
%h4
  =link_to "Back",request.referer,:class=>"greenButton"
