- center_text = "text-align: center"
%h1
  = "Recently recorded verifications"
.shaded
  - if @loan_applications_recently_recorded and not @loan_applications_recently_recorded.empty?
    - loan_applications_recently_recorded_sorted = @loan_applications_recently_recorded.sort.reverse
    %table.nojs{:style => "text-align:center"}
      %thead
        %tr
          %td
            = "ID"
          %td
            = "Applicant"
          %td{:colspan => 5}
            = "Contact Point Verification 1"
          %td{:colspan => 5}
            = "Contact Point Verification 2"
        %tr
          %td{:colspan=>2}
            = "&nbsp;"
          %td
            = "Verified on date"
          %td
            = "Status"
          %td
            = "Verified By"
          %td
            = "Recorded on date"
          %td
            = "Recorded by"
          %td
            = "Verified on date"
          %td
            = "Status"
          %td
            = "Verified By"
          %td
            = "Recorded on date"
          %td
            = "Recorded By"
      %tbody
        - loan_applications_recently_recorded_sorted.each do |l|
          %tr
            %td
              = l.loan_application_id
            %td
              = l.client_name
            %td
              = l.cpv1.verified_on_date.display
            %td
              = get_status_display(l.cpv1.verification_status)
            %td
              = StaffMember.get(l.cpv1.verified_by_staff_id).name
            %td
              = l.cpv1.created_at.display
            %td
              = User.get(l.cpv1.created_by_user_id).name
            - if not l.cpv2.nil?
              %td
                = l.cpv2.verified_on_date
              %td
                = get_status_display(l.cpv2.verification_status)
              %td
                = StaffMember.get(l.cpv2.verified_by_staff_id).name
              %td
                = l.cpv2.created_at.display
              %td
                = User.get(l.cpv2.created_by_user_id).name
            - elsif ClientVerification.is_CPV1_verified?(l.loan_application_id)
              %td{:colspan => 5,:style => center_text}
                %i
                  = "CPV2 is pending"
            - else
              %td{:colspan => 5,:style => center_text}
                %i
                  = "Not Applicable"
  - else
    = "No recently recorded verifications"
