%h3
  = "Filter form"
= partial :filter_form

- if (@show_pending and @show_pending == true)
  %h3
    = "Loan Applications pending for verification"
  
  = partial :pending

- if (@show_recorded and @show_recorded == true) 
  %h3
    = "Recently Recorded Verifications"
  
  = partial :recently_recorded
