%h1
  Edit fee
  == ##{@fee.id} : #{@fee.name}

= error_messages_for @fee

= form_for(@fee, :action => url(:fee, @fee)) do
  = partial :fields
  = submit "Update"
  &nbsp;&nbsp;
  %b Or
  &nbsp;&nbsp;
  = link_to 'Show', url(:fee, @fee), :class => 'grey_button'
  &nbsp;&nbsp;
  |
  &nbsp;&nbsp;
  = link_to 'Back', url(:fees), :class => 'grey_button'
