%h1
  Fees

.menu-strip{:style => "margin: 10px;"}
  = link_to 'Add a fee', url(:new_fee), :class => "add"

%table.narrow.shaded
  %thead
    %tr
      %th
        Name
      %th
        Description
      %th
        Payable On
      %th
        Action
  - for fee in @fees
    %tr{:class => cycle('odd','even')}
      %td
        = fee.name
      %td
        = fee.description
      %td
        = fee.payable_on.humanize
      %td
        = link_to 'Show', url(:fee, fee)
        &nbsp;
        |
        &nbsp;
        = link_to 'Edit', url(:edit_fee,  fee)