%h1 New fee

= error_messages_for @fee

= form_for(@fee, :action => url(:fees) ) do
  = partial :fields
  %p
    = submit "Create"
    &nbsp;&nbsp;
    %b Or
    &nbsp;&nbsp;
    = link_to 'Back', url(:fees), :class => 'grey_button'
