%table.form
  %tr
    %th
      Location Level
    %td
      = select :location_level, :collection =>  @location_levels.map{|l| [l.level, "#{l.level}-#{l.name}"]}, :prompt => "Please Select Location Level", :class => "chosen"
    %th
      Name
    %th
      = text_field :name
    %th
      Creation Date
    %td
      = date_select_earliest 'biz_location[creation_date]', {:id => "creation_date"}

