%h1
  = "Biz-Location :-  #{@biz_location.name}"
- unless @biz_location.new?
  %div{:style => 'display:table; width:100%;'}
    %table.loan{ :style => "width:50%; border: solid 1px #cfcfcf; margin: 5px; " }
      %tr.even
        %th.even Location Level
        %td
          = @biz_location.level_name
      %tr.odd
        %th.odd Location Name
        %td
          %b= @biz_location.name
      %tr.even
        %th.even Location Created On
        %td
          = @biz_location.creation_date

- if @biz_locations.count == 0
  %p
    %i No Location Mapping have been created yet.
- else
  %table.narrow
    %thead
      %tr
        %th
          Id
        %th
          Name
        %th
          Location Level
        - unless @biz_location.new?
          %th
            Effective On
        - else
          %th
            Location Created On
        %th
          Action
    %tr
      - for biz_location_level in @biz_locations.sort_by{|x| x.first}.reverse
        %tr
          %td{:style => "background-color:gray; text-align:center", :colspan => 6}
            %b= "#{biz_location_level.first}-Level"
        - for biz_location_link in biz_location_level.last
          - biz_location = biz_location_link.class == BizLocation ? biz_location_link : biz_location_link.child
          %tr
            %td
              = biz_location.id
            %td
              - if biz_location_level.first == 0
                = link_to biz_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => biz_location.id)
              - else
                = link_to_with_rights biz_location.name, resource(biz_location)
            %td
              = biz_location.level_name
            - unless biz_location_link.class == BizLocation
              %td
                = biz_location_link.effective_on.strftime("%Y-%m-%d")
            - else
              %td
                = biz_location_link.creation_date.strftime("%Y-%m-%d")
            %td
              - if biz_location_level.first == 0
                = link_to_with_rights "Add Client", resource(:new_clients,:new,:biz_location_id => biz_location.id)
                |
                = link_to_with_rights "Show Clients", resource(biz_location, :biz_location_clients)
              - else
                = link_to_with_rights "Childrens", resource(biz_location)
