:javascript
  $(document).ready(function() {
    $('#meeting_schedule').change(function() {
      jQuery('.meeting_div').toggle();
    });
  });
%br
= form_for(@new_biz_location, :action => url(:controller => :biz_locations, :action=> :create_and_assign_location, :id => @biz_location.id)) do
  = hidden_field :location_level, :value => @child_location_level.level
  %div{:style => 'display:table; width:98%;', :class => 'shaded'}
    %table.tall.shaded
      %tr
        %th
          Name
        %td
          = text_field :name
      %tr
        %th
          Creation Date
        %td
          = date_select 'creation_date'
      %tr
        %th
          Address
        %td
          = text_area :biz_location_address, :row => 6, :cols => 38
      %tr
        %th
          Originator By
        %td
          = select :originator_by, :collection => @staff_members, :text_method => :name, :value_method => :id
      %tr
        %th
          Managed By
        %td
          = select :name => :managed_by, :collection => @staff_members, :text_method => :name, :value_method => :id
      - if @child_location_level.level == 0
        %tr
          %th
            Default Disbursal Date
          %td
            = date_select_for @biz_location, :center_disbursal_date, :max_date => Date.today
        %tr
          %td
            Create Meeting Schedule
            = check_box :name => 'meeting_schedule', :value => true, :id => 'meeting_schedule'
    %div{:style => "display:table-cell; width:42%;"}
      %table.tall
        %tr{:style => "display:none", :class => 'meeting_div'}
          %th
            No. Of Meetings
          %td
            = text_field :name => "meeting[meeting_numbers]"
        %tr{:style => "display:none", :class => 'meeting_div'}
          %th
            Meeting Frequency
          %td
            = select :name => "meeting[meeting_frequency]", :collection => Constants::Time::MEETING_FREQUENCIES.collect{|c| c.to_s}
        %tr{:style => "display:none", :class => 'meeting_div'}
          %th
            Meeting Time
          %td
            = text_field :name => "meeting[meeting_time_begins_hours]", :size => 2, :maxlength => 2
            %b
            = text_field :name => "meeting[meeting_time_begins_minutes]", :size => 2, :maxlength => 2
            &nbsp;&nbsp;
            %span.greytext time is in a 24 hour format
  %br
  = submit "Save", :class => "grey_button"
  &nbsp;&nbsp;
  = link_to 'Cancel', params[:return], :class => "grey_button"