%h1 Edit the details of: #{@biz_location.name}
= form_for(@biz_location, :action => resource(@biz_location,:update_biz_location)) do
  %table.tall.shaded
    %tr
      %th
        Location Level
      %td
        = @biz_location.location_level.name
    %tr
      %th
        Name
      %td
        = text_field :name
    %tr
      %th
        Creation Date
      %td
        = @biz_location.creation_date
    %tr
      %th
        Address
      %td
        = text_area :biz_location_address, :rows => 6, :cols => 38
    - if @biz_location.location_level.level == 0
      %tr
        %th
          Default Disbursal Date
        %td
          = date_select_for @biz_location, :center_disbursal_date, :max_date => Date.today
    %tr
      %th
        Originator By
      %td
        = select :originator_by, :collection => @staff_members, :text_method => :name, :value_method => :id, :prompt => 'Select Staff Member'
    %tr
      %th
        Managed By
      %td
        = select :name => :managed_by, :collection => @staff_members, :selected => @managed_by_staff.id.to_s, :prompt => 'Select Staff Member', :text_method => :name, :value_method => :id
      %th
        On Date
      %td
        = date_select 'on_date', get_effective_date
  = submit "Update", :class => "grey_button"
  &nbsp;&nbsp;
  %b
    Or
  &nbsp;&nbsp;
  - if @biz_location.location_level.level == 0
    = link_to_with_rights 'Cancel', url("user_locations/weeksheet_collection/#{@biz_location.id}"), :class => "grey_button"
  - else
    = link_to_with_rights 'Cancel', url("user_locations/show/#{@biz_location.id}"), :class => "grey_button"