= form(:biz_locations, resource(:biz_locations,:location_checklists)) do 
  .shaded
    %table.form
      %thead
        %tr
          %th Branch:
          %th
            = select :name => "parent_location_id", :text_method => :name, :value_method => :id, :collection => get_all_nominal_branches, :prompt => "Select branch", :id => "parent_selector", :selected => params[:parent_location_id], :class => 'location'
          %th Center:
          %th
            - all_centers = params[:parent_location_id].blank? ? [] : get_all_nominal_centers(params[:parent_location_id])
            = select :name => "child_location_id", :text_method => :name, :value_method => :id, :collection => all_centers, :prompt => "Select center", :id => "child_selector", :selected => params[:child_location_id], :class => 'location'
          %td
            Staff Member:
          %th
            - location_id   = params[:child_location_id].blank? ? params[:parent_location_id] : params[:child_location_id]
            - staff_members = (location_id.blank? && params[:staff_member_id].blank?) ? [] : StaffPosting.get_staff_assigned(location_id.to_i, get_effective_date).map(&:staff_assigned)
            = select :name => "staff_member_id", :collection => staff_members, :text_method => :name, :value_method => :id, :prompt => 'Select Staff Member', :id => 'staff_selector', :selected => params[:staff_member_id]
          %td
            = submit "Go"
    - unless params[:parent_location_id].blank?
      .menu-strip
        %h3
          Branch:
          = BizLocation.get(params[:parent_location_id]).name
          - unless params[:child_location_id].blank?
            %br
            Center:
            = BizLocation.get(params[:child_location_id]).name
- unless @parent_location.blank?
  = link_to 'Process Audit', url_for_process_audit_checklist('Process Audit',"Center", @parent_location, @praent_location, @parent_location, session.user.staff_member, get_effective_date, params, nil), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
- unless @child_location.blank?
  - if check_checklist_parameters(@child_location.location_level, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil)
    = link_to 'Surprise Center Visit', url_for_checklist('Surprise Center Visit', "Center", @child_location, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
  - else
    = link_to "Surprise Center Visit Not Available", "#", :class => "add grey_button", :disabled=>true
  - if check_checklist_parameters(@child_location.location_level, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil)
    = link_to 'Business Audit', url_for_checklist('Business Audit', "Center", @child_location, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
  - else
    = link_to 'Business Audit Not Available', "#", :class => 'add grey_button', :disabled=>true
- unless @clients.blank?
  %table
    %thead
      %tr
        %th Staff Member
        %th Action
    - @clients.each do |client|
      %tr
        %td
          = client.name
        %td
          - if check_checklist_parameters(client, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil)
            = link_to 'Customer Calling', url_for_checklist('Customer Calling', client.class.to_s, client, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil), :class => 'add grey_button', :target => 'blank'
          - else
            = '-'