= form_for(:biz_locations, :action => resource(:biz_locations,:location_checklists)) do 
  .shaded
    %table.form
      %thead
        %tr
          %th Branch:
          %th
            = select :name => "parent_location_id", :text_method => :name, :value_method => :id, :collection => get_all_nominal_branches, :prompt => "Select branch", :id => "parent_selector", :selected => params[:parent_location_id], :class => 'location'
          %th Center:
          %th
            - all_centers = params[:parent_location_id].blank? ? [] : get_all_nominal_centers(params[:parent_location_id])
            = select :name => "child_location_id", :text_method => :name, :value_method => :id, :collection => all_centers, :prompt => "Select center", :id => "child_selector", :selected => params[:child_location_id], :class => 'location'
          %td{:style => 'display:none'}
            Client:
          %th{:style => 'display:none'}
            - clients = params[:child_location_id].blank? ? [] : ClientAdministration.get_clients_administered(params[:child_location_id].to_i, get_effective_date)
            = select :name => "client_id", :collection => clients, :text_method => :name, :value_method => :id, :prompt => 'Select Client', :id => 'client_selector', :selected => params[:client_id]
          %td
            = submit "Go"
    - unless params[:parent_location_id].blank?
      .menu-strip
        %h3
          Branch:
          = BizLocation.get(params[:parent_location_id]).name
          - unless params[:child_location_id].blank?
            %br
            Center:
            = BizLocation.get(params[:child_location_id]).name
%br
- unless @parent_location.blank?
  - @bizlocation = BizLocation.get(params[:parent_location_id]).id
  = link_to 'Process Audit', url(:pachecklists,:biz_location => @bizlocation), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
- unless @child_location.blank?
  - if check_checklist_parameters(@child_location.location_level, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil)
    = link_to 'Surprise Center Visit', url(:surprise_visit_centers,:biz_location => @biz_location,:center => @child_location, :branch =>@parent_location, :child_locationb => @child_location), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
  - else
    = link_to "Surprise Center Visit Not Available", "#", :class => "add grey_button", :disabled=>true
  - if check_checklist_parameters(@child_location.location_level, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil)
    = link_to 'Business Audit', url_for_checklist('Business Audit', "Center", @child_location, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil), :class => 'add grey_button', :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
  - else
    = link_to 'Business Audit Not Available', "#", :class => 'add grey_button', :disabled=>true
%br
- unless @clients.blank?
  - checklist_type = ChecklistType.first(:name=>"Customer Calling")
  - checklist = checklist_type.checklists.first
  %table{:style => "width:38%", :class => 'reports'}
    %thead
      %tr
        %th Client
        %th Action
    - @clients.each do |client|
      %tr
        %td
          - if checklist.get_responses('Client', client.id).blank?
            %b{:style => 'color:red'}*
          -else
            %b{:style => 'color:green'}*
          %b= client.name
        %td
          - if check_checklist_parameters(client, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil)
            = link_to 'Customer Calling', url_for_checklist('Customer Calling', client.class.to_s, client, @parent_location, @child_location, session.user.staff_member, get_effective_date, params, nil), :class => 'add grey_button'
          - else
            = '-'
