%h1 Cheque Leaves
%br
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Bank name
      %th
        Bank Branch name
      %th
        Bank Branch Account Name
      %th
        Account no.
      %th

  %tbody
    - for account in @bank_accounts
      %tr
        %td
          = link_to_with_rights account.bank_branch.bank.name, url("banks/#{account.bank_branch.bank.id}")
        %td
          = link_to_with_rights account.bank_branch.name, url("banks/#{account.bank_branch.bank.id}/bank_branches/#{account.bank_branch.id}")
        %td
          = account.name
        %td
          = account.account_no
        %td
          = link_to 'Add / View cheque leaves', url("cheque_leaves/new/#{account.id}")