%h1
    Create New ChequeLeaves for  #{@bank_account.name}
= error_messages_for @cheque_leaf

:javascript
    var mygrid;
    function doInitGrid() {
        mygrid = new dhtmlXGridFromTable("dhtmlxtable");

        mygrid.setSkin("light");
        mygrid.attachHeader("#text_filter,#select_filter,#text_filter,#select_filter");
        mygrid.enableAutoWidth(true);
        mygrid.enableAutoHeight(true);
        mygrid.setSizes();

    }

    $(function () {
        doInitGrid();

    });

= js_include_tag  "exclusions/dhtmlxcommon.js", "exclusions/dhtmlxgrid.js", "exclusions/dhtmlxgrid_filter.js", "exclusions/dhtmlxgrid_srnd.js", "exclusions/dhtmlxgrid_start.js",  "exclusions/dhtmlxgridcell.js"
= css_include_tag "dhtmlxgrid.css"

= form_for(@cheque_leaf, :action => "/cheque_leaves/create" ) do
    %input{:type => "hidden", :name => "account_id", :value=>@account_id}
        %p
            Start ChequeNumber
            %input{:type => "text", :name => "start_serial", :class => "text"}
        %p
            End ChequeNumber
            %input{:type => "text", :name => "end_serial", :class => "text"}
        %p
            = submit   "Create"
%hr
%h3
    ="Existing Cheque Leaves for #{@bank_account.name}"
%table{:id=>"dhtmlxtable"}
    %tr
        %td
            Serial Number
        %td
            Valid
        %td

        %td
            Used

    -@cheque_leaves.each do |leaf|
        %tr
            %td
                =leaf.serial_no
            %td
                -if leaf.valid==true
                    Valid
                - else
                    Invalid
            %td
                -if leaf.valid==true && leaf.used==false
                    =link_to '(Mark Invalid)', "/cheque_leaves/mark_invalid/#{leaf.id}"

            %td
                -if leaf.used==false
                    Unused
                - else
                    Used

= link_to 'Back', url(:cheque_leaves)