%h1 List of Files Uploaded

.menu-strip{:style => "width:30%;"}
  = link_to_with_rights 'Upload a new file', resource(:uploads, :new), :class => 'add grey_button'
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"

%br
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        id
      %th
        Filename
      %th
        State
      %th
        Errors
      %th
        Action
  - @uploads.each do |upload|
    %tr
      %td
        = upload.id
      %td
        = link_to_with_rights upload.filename, resource(upload)
      %td
        = upload.state
      %td
        = upload.short_status
      %td
        = link_to_with_rights "Details", resource(upload)
        - unless upload.state == :complete
          %br
            = link_to_with_rights "Continue", url(:continue_upload, :id => upload.id)