%table.tall
  %tr
    %th
      Begin Date
    %td
      = date_select_for @meeting_schedule, :schedule_begins_on ,:date => get_effective_date
  %tr
    %th
      Frequency
    %td
      = select :meeting_frequency, :collection => Constants::Time::MEETING_FREQUENCIES.collect{|c| c.to_s}
  %tr
    %th
      No. Of Meetings
    %td
      = text_field :name => "meeting_schedule[meeting_numbers]"
  %tr
    %th
      Meeting Time
    %td
      = text_field :meeting_time_begins_hours, :size => 2, :maxlength => 2
      %b 
      = text_field :meeting_time_begins_minutes, :size => 2, :maxlength => 2
      &nbsp;&nbsp;
      %span.greytext time is in a 24 hour format