%h1 Region
= link_to 'Add New Reion', '#', :onclick => "jQuery('.region_div').toggle();", :class => "add grey_button"
.region_div{:style => 'display:none'}
  = partial 'form'
%table.datatable.report.weeksheet.nojs
  %thead
    %th
      Name
    %th
      Remarks Count
    %th
      Created At
  - @regions.each do |region|
    %tr
      %td
        = link_to_with_rights region.name, resource(region)
      %td
        = region.comments.count
      %td
        = region.created_at

