%h1 List of Asset Categories

.menu-strip{:style => "width: 26%;"}
  = link_to_with_rights 'Add Asset Category','#', :onclick => "jQuery('#new_form').toggle();", :class => "add grey_button", :style => "margin: 0px; padding-right: 3px;"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"

= partial 'form'
%br

.shaded
  - if @asset_categories && !@asset_categories.empty?
    %table.dataTable.report.weeksheet.nojs
      %thead
        %tr
          %th
            = "ID"
          %th
            = "Name"
      %tbody
        - @asset_categories.each do |ac|
          %tr
            %td
              = ac.id
            %td
              = link_to ac.name , resource(ac)
  - else
    No Asset Categories found.

%br