%h2.h2c
  ="#{@checklist.checklist_type.name}"
%hr

.shaded
  #form_section
    = form(:action => url(:rushabh_slice_capture_checklist_data) ) do

      %table.form{:style => "width:100%;"}
        %tr
          %td
            =label " Staff Member:"
          %td
            =text_field :name=>:filler_name ,:value=>params[:staff_name]
          %td
            =label params[:target_entity_type]
          %td
            =text_field :target_entity_name ,:value=>params[:target_entity_name]
        %tr
          %td
          %td
        %tr
        %tr
        %tr
        %tr

          %td
            =label params[:loc1_type]
          %td
            =text_field :loc1,:value=>params[:loc1_name]

          %td
            =label params[:loc2_type]
          %td
            =text_field :loc2,:value=>params[:loc2_name]
        %tr
          %td
          %td
        %tr
        %tr
        %tr
          %td
            =label "Value Date"
          %td
            =date_select :value_date, Date.parse(params[:effective_date]), :max_date => Date.today

      %p

        -count=1
        -@sections.each do |section|
          %hr
          .section_block
            %h2


          =hidden_field :checklist_id, :value=>@checklist.id

          =hidden_field :filler_type, :value=>"User"
          =hidden_field :filler_id, :value=>@staff_id
          =hidden_field :target_entity_type, :value=>params[:target_entity_type]
          =hidden_field :target_entity_id, :value=>@target_entity_id

          =hidden_field :loc1_id, :value=>params[:loc1_id]
          =hidden_field :loc2_id, :value=>params[:loc2_id]
          =hidden_field :loc1_type, :value=>params[:loc1_type]
          =hidden_field :loc2_type, :value=>params[:loc2_type]
          =hidden_field :no_of_applications, :value=>@no_of_applications
          =hidden_field :effective_date, :value=>@effective_date




          %table{:cellspacing=>"3px", :cellpadding=>"2px",:border=>" 2"}
            -if count==2
              %tr
                %td
                  Name
                %td
                  Address Proof
                %td
                  ID Proof
                %td
                  Age
                %td
                  Ration Card
                %td
                  Extra Photo
                %td
                  Member/Guarantor sign
                %td
                  BM/RO/AO sign
                %td
                  Term sheet
                %td
                  DPN
                %td
                  DeDupe
                %td
                  Remark


            -(section.checkpoints.count+section.dropdownpoints.count+section.free_texts.count+section.checkboxpoints.count).times do |i|


              -checkpoint=Checkpoint.first(:section_id=>section.id,:sequence_number=>(i+1))
              -dropdownpoint=Dropdownpoint.first(:section_id=>section.id,:sequence_number=>(i+1))
              -free_text=FreeText.first(:section_id=>section.id,:sequence_number=>(i+1))
              -checkboxpoint=Checkboxpoint.first(:section_id=>section.id,:sequence_number=>(i+1))


              -if count==1 or count==3
                -if i%3==0
                  %tr.question_cell

              -else
                -if i%2==0
                  %tr.question_cell

              -if !checkpoint.nil?
                %td
                  =" #{checkpoint.name}"
                %td
                  =radio_button :name=>"checkpoint_#{checkpoint.id}",:value=>1
                  Yes
                  =radio_button :name=>"checkpoint_#{checkpoint.id}",:value=>0
                  No
              -if !checkboxpoint.nil?
                %td
                  ="#{checkboxpoint.name}"
                  -checkboxpoint.checkboxpoint_options.each do |option|
                    %td
                      =check_box :name=>"option#{option.id}".to_sym  ,:boolean=>true

              -if !free_text.nil?
                -if count!=2
                  %td{:width=>"70px"}

                    =" #{free_text.name}"

                -if free_text.name.downcase=="date"
                  %td
                    =date_select "free_text_#{free_text.id}".to_sym, Date.today, :max_date => Date.today
                -else
                  %td
                    =text_field :name=>"free_text_#{free_text.id}".to_sym
              -if !dropdownpoint.nil?
                %td
                  =" #{dropdownpoint.name}"
                %td
                  =select :name=>"drop_down_point_#{dropdownpoint.id}".to_sym ,:collection => Kernel.const_get(dropdownpoint.model_name).all.map{ |x| [x.id, x.name]}, :prompt => "Select Value"


            -count=count+1






      %p
        = submit "Create"




