%h1 Manage Book Keeping
%div
  %ul
    %li#ledgers
      = link_to 'Ledgers', resource(:ledgers)
    %li#vouchers
      = link_to 'Vouchers', resource(:vouchers)
    %li#cost_centers
      = link_to 'Cost Centers', resource(:cost_centers)
    %li#transaction_summaries
      = link_to 'Transaction Summaries', resource(:transaction_summaries)
    %li#categories_and_rules
      = link_to 'Categories and rules', resource(:accounting_rules)
%div.box
  %h1
    %a{:class => "_remote_", :href => url(:controller =>  :vouchers, :action => :tally_download), :id => "tally"}
      %h7 Tally download
  #container_tally