:javascript
  function reset_all_fields(){
    jQuery("form.pending_auth input[type='radio']").attr('checked',false);
    jQuery("form.pending_auth select").removeAttr('selected').find(':first').attr('selected','selected');
  }

  $(document).ready(function() {
  $('#toggle_select_approve_all').change(function() {
    $('.approve_all').attr('checked',$(this).attr('checked'))});
  });

  $(document).ready(function() {
  $('#toggle_select_reject_all').change(function() {
    $('.reject_all').attr('checked',$(this).attr('checked'))});
  });

#pending_list
  .shaded
    %h2
      = "Credit officer authorizes loan application"
    - if @pending_authorizations && !@pending_authorizations.empty?
      = form(:action => url(:controller => 'loan_authorizations', :action => 'record_authorizations'), :method => :post, :class => "pending_auth") do
        %input{:type => :hidden, :value => @branch_id, :name => 'parent_location_id'}
        %input{:type => :hidden, :value => @center_id, :name => 'child_location_id'}
        %table.form{:style => "width:100%; border:1px;"}
          %thead
            %tr
              %td
                = "Sl."
              %td
                = "Application ID"
              %td
                = "Name"
              %td
                = "D.O.B."
              %td
                = "Address"
              %td
                = "Credit Bureau Rating"
              %td
                = "Credit Bureau Rejection Reason"
              %td
                = "Approve all"
                = radio_button :name => 'bulk_select', :id => "toggle_select_approve_all"
              %td
                = "Reject all"
                = radio_button :name => 'bulk_select', :id => "toggle_select_reject_all"
              %td{:colspan => 2}
                = "Override reason"
          %tbody.form
            - s_no = 0
            - @pending_authorizations.each do |lpa|
              %tr
                %td
                  - s_no += 1
                  = s_no
                %td
                  = link_to_with_rights lpa.loan_application_id, "/loan_applications/#{lpa.loan_application_id}"
                %td
                  = lpa.client_name
                %td
                  = lpa.client_dob
                %td
                  = lpa.client_address
                %td
                  = lpa.credit_bureau_status.humanize rescue nil
                  %input{:type => :hidden, :value => lpa.credit_bureau_status, :name => 'credit_bureau_status'}
                %td
                  - rejection_reason = lpa.credit_bureau_rejection_reason.blank? ? 'N/A' : lpa.credit_bureau_rejection_reason
                  = rejection_reason
                %td
                  - selected_approved = !params[:status].nil? && params[:status]["#{lpa.loan_application_id}"] == Constants::Status::APPLICATION_APPROVED ? "checked" : nil
                  %input{:name => "[status][#{lpa.loan_application_id}]", :type => "radio", :value => Constants::Status::APPLICATION_APPROVED, :checked => selected_approved, :class => "approve_all"}
                  Approved
                %td
                  - selected_rejected = !params[:status].nil? && params[:status]["#{lpa.loan_application_id}"] == Constants::Status::APPLICATION_REJECTED ? "checked" : nil
                  %input{:name => "[status][#{lpa.loan_application_id}]", :type => "radio", :value => Constants::Status::APPLICATION_REJECTED, :checked => selected_rejected, :class => "reject_all"}
                  Rejected
                %td
                  - selected_reason = params[:override_reason]? params[:override_reason]["#{lpa.loan_application_id}"] : nil
                  = select :name => "[override_reason][#{lpa.loan_application_id}]", :collection =>AuthOverrideReason.all.map {|r| [r.reason]}, :selected => selected_reason, :prompt => 'Select reason'
        %table.narrow.form{:style => "width:100%;"}
          %tfoot
            %tr
              %td
                %b Created By:
                = get_session_user_name
                = hidden_field :name => 'by_staff_id', :value => get_session_user_id
              %td
                %b Created On:
                = date_select("performed_on", Date.today, :max_date => Date.today, :id => "performed_on", :size => 8)
              %td{:style => "text-align:right;"}
                = submit "Save all"
                %input{:value => "Reset all", :type => "button", :onclick => "reset_all_fields();"}
      %i
        Note: Override reason will be ignored if authorization is not an override.
    - else
      %h3 No loan application pending for authorization