.shaded
  %h2
    = "Recently authorized loan application"
  - if @completed_authorizations && !@completed_authorizations.empty?
    %table.form{:style => "width:100%; border:1px;"}
      %thead
        %tr
          %td
            = "Sl."
          %td
            = "Application ID"
          %td
            = "Name"
          %td
            = "D.O.B."
          %td
            = "Address"
          %td
            = "By"
          %td
            = "Date"
          %td
            = "Rating"
          %td{:colspan => 2, :align => "center"}
            = "Loan Authorization Status"
          %td{:colspan => 2}
            = "Override reason"
      %tbody.form
        - s_no = 0
        - @completed_authorizations.each do |lpa|
          - lauth = lpa.authorization_info
          - unless lauth.nil?
            %tr
              %td
                - s_no = s_no + 1
                = s_no
              %td
                = lpa.loan_application_id
              %td
                = lpa.client_name
              %td
                = lpa.client_dob
              %td
                = lpa.client_address
              - staff_member_id = lauth.performed_by_staff_id
              - staff_member = staff_member_id ? StaffMember.get(staff_member_id) : nil
              - staff_member_name = staff_member ? staff_member.name : "Not found"
              %td
                = staff_member_name
              %td
                = lauth.created_at.display
              %td
                = lpa.credit_bureau_status
              %td{:colspan => 2, :align => "center"}
                = lauth.status.humanize
              %td{:colspan => 2}
                = lauth.override_reason
  - else
    %h3 No loan application recently authorized