- unless @errors.blank?
  - if @errors.is_a?(Hash)
    .error
      - @errors.keys.each do |lap_id|
        - if @errors[lap_id]
          = "#{@errors[lap_id]}"
          %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br
%h1
  = "Credit Officer authorizes new loan applications"
%form{:action => url(:controller => :loan_authorizations, :action => :pending_authorizations), :method => :get}
  = partial "lib/biz_location_selector"

%br
%hr
= partial :pending_authorizations

%br
%hr
= partial "loan_applications/all_loan_applications"

%br
%br
