.shaded
- unless @errors.blank?
  - if @errors.is_a?(Hash)
    .error
      - @errors.keys.each do |lap_id|
        - if @errors[lap_id]
          = "#{@errors[lap_id]}"
          %br

%h1
  = "Credit Officer authorizes new loan applications"
= partial :filter_form

%br
%hr
- if (@show_pending and @show_pending == true)
  = partial :pending_authorizations

%br
%hr
= partial :recent_authorizations

%br
%br
