%hr
- unless @cgt_is_complete
  %h3
    = "C.G.T."
- else
  %h3
    = "C.G.T. completed by #{StaffMember.get(user.cgt_completed_by).name}"

%table
  .shaded
    %tbody
      - unless @cgt_is_complete
        %tr
          %th
            = "Completed by"
          %td
            = select :name => "cgt_completed_by", :text_method => :name, :value_method => :id, :style => 'width: 11em', :collection => StaffMember.all, :prompt => "Select staff member"
        %tr
          %th
            = "Day 1"
          %td
            = date_select("cgt_day1", Date.today, :id => "cgt_day1", :size => 8)
        %tr
          %th
            = "Day 2"
          %td
            = date_select("cgt_day2", Date.today, :id => "cgt_day2", :size => 8)
        %tr
          %th
            = "Day 3"
          %td
            = date_select("cgt_day3", Date.today, :id => "cgt_day3", :size => 8)
        %tr
          %td{:colspan => 2}
            = submit("Save")
      - else
        %tr
          %th
            = "Day 1"
          %td
            = cgt_day1.display
        %tr
          %th
            = "Day 2"
          %td
            = cgt_day2.display 
        %tr
          %th
            = "Day 3"
          %td
            = cgt_day3.display 

