%h3 
  = "Add to Loan File"

%form{:action => url(:controller => :loan_file_generation, :action => :record_loan_file), :method => :post}
  %table.form{:style => "width:100%;"}
    %thead
      %tr
        %th{:width => '5%'}
          = check_box :id => "toggle_select"
        %th
          = "Loan Application ID"
        %th
          = "Name"
        %th
          = "Address"
        %th
          = "Age"
        %th
          = "Loan Amount"
    %tbody.form
      - if @loan_applications_pending_loan_file_generation and not @loan_applications_pending_loan_file_generation.empty?
        - if @loan_file
          %input{:type => :hidden, :name => @loan_file_id, :value => @loan_file}
        - @loan_applications_pending_loan_file_generation.each do |lap|
          %tr
            %td{:width => '5%'}
              = check_box :id => "[selected][#{lap.id}]"
            %td
              = lap.id
            %td
              = lap.client_name
            %td
              = lap.client_address
            %td
              = (Date.today - lap.client_dob).display
            %td
              = lap.amount
          %tfoot
            %tr
              %td{:width => '5%'}
                = "Staff"
              %td
                = select :name => "created_by_staff_id", :text_method => :name, :value_method => :id, :style => 'width: 11em', :collection => StaffMember.all, :prompt => "Select staff member"
              %td
                = "On Date"
              %td
                = date_select("created_on", Date.today, :id => "created_on", :size => 10)
              %td
                = submit "Generate Loan File"
            %tr
              %th{:colspan => 2}
                = "Scheduled Disbursal Date"
              %th
                = date_select("scheduled_disbursal_date", Date.today, :id => "scheduled_disbursal_date", :size => 10)
              %th
                = "Scheduled First Payment Date"
              %th
                = date_select("scheduled_first_payment_date", Date.today, :id => "scheduled_first_payment_date", :size => 10)
