:javascript
  $(document).ready(function() {
  $('#toggle_select').change(function() {
    $('.select').attr('checked',$(this).attr('checked'))});  
  });

- center_disbursal_date = BizLocation.get(@center.id).center_disbursal_date.blank? ?  Date.today : BizLocation.get(@center.id).center_disbursal_date unless @center.blank?
.shaded
  %h1 Add to Loan File
  - unless @loan_applications_pending_loan_file_generation.blank?
    %form{:action => url(:controller => :loan_files, :action => :record_loan_file), :method => :post}
      %table.form{:style => "width:100%;"}
        %thead
          %tr
            %th
              = check_box :name => "select_all", :id => "toggle_select"
            %th{:width => "5%"}
              = "Loan Application ID"
            %th
              = "Name"
            %th
              = "DOB"
            %th
              = "Age"
            %th
              = "Age As On"
            %th
              = "Address"
            %th
              = "Loan Amount"
        %tbody.form
          - if @loan_file
            %input{:type => :hidden, :name => 'loan_file_identifier', :value => @loan_file.loan_file_identifier}

          %input{:type => :hidden, :name => 'parent_location_id', :value => @branch_id}
          %input{:type => :hidden, :name => 'child_location_id', :value => @center_id}

          - @loan_applications_pending_loan_file_generation.each do |lap|
            %tr
              %td
                = check_box :name => "loan_app_checkbox", :value => lap.id, :class => 'select', :disabled => 'disabled'
                = hidden_field :name => "[selected][#{lap.id}]", :value => lap.id
              %td
                = link_to_with_rights lap.id, "/loan_applications/#{lap.id}"
              %td
                = lap.client_name
              %td
                = lap.client_dob.blank? ? "-" : "#{lap.client_dob}"
              %td
                = lap.client_age_as_on.blank? ? lap.client_age : lap.client_age_as_on
              %td
                = lap.client_age_as_on_date.blank? ? Date.today : lap.client_age_as_on_date
              %td
                = lap.client_address
              %td
                = lap.loan_money_amount.to_s
      %table.narrow.form{:style => "width:100%;"}
        %tfoot
          %tr
            %td
              = "Created on"
              = date_select("created_on", params[:created_on] || Date.today, :id => "created_on", :size => 10)
            %td
              = "Scheduled Disbursal"
              = date_select("scheduled_disbursal_date", params[:scheduled_disbursal_date] || center_disbursal_date, :id => "scheduled_disbursal_date", :size => 10)
            %td
              = "Scheduled First Payment"
              = date_select("scheduled_first_payment_date", params[:scheduled_first_payment_date] || center_disbursal_date + @repayment_frequency, :id => "scheduled_first_payment_date", :size => 10)
            %td
              %b By:
              = get_session_user_name
              = hidden_field :name => 'created_by_staff_id', :value => get_session_user_id
            %td
              = submit "Generate Loan File"
  - else
    %h3 No Loan application pending for loan file generation
%br