.shaded
  - if @loan_file
    %h1
      = "Log of Loan File #{@loan_file.loan_file_identifier}"

  - if @loan_applications_added_to_loan_file and not @loan_applications_added_to_loan_file.empty?
    %table.dataTable{:style => "width:100%;"}
      %thead
        %tr
          %th{:width => '5%'}
            = "Sr.No."
          %th{:width => '10%'}
            = "Loan Application ID"
          %th
            = "Name"
          %th
            = "Age"
          %th
            = "Address"
          %th
            = "Loan Amount"
      %tbody
        - srno = 0
        - @loan_applications_added_to_loan_file.each do |laa|
          %tr
            %td
              - srno = srno + 1
              = srno
            %td
              = link_to_with_rights laa.loan_application_id, "/loan_applications/#{laa.loan_application_id}"
            %td
              = laa.client_name
            %td
              = (laa.client_age.nil? ? "Unknown" : laa.client_age)
            %td
              = laa.client_address
            %td
              = laa.amount
  - else
    %h3 No recently added loan applications
