.shaded
  - if @loan_file
    %h1
      Loan File
      = link_to_with_rights "#{@loan_file.loan_file_identifier}", url(:controller => "loan_files", :action => "show", :id => @loan_file.id)

  - if @loan_applications_added_to_loan_file and not @loan_applications_added_to_loan_file.empty?
    %table.dataTable{:style => "width:100%;"}
      %thead
        %tr
          %th{:width => '5%'}
            = "Sr.No."
          %th{:width => '10%'}
            = "Loan Application ID"
          %th
            = "Name"
          %th
            = "DOB"
          %th
            = "Age"
          %th
            = "Age As On"
          %th
            = "Address"
          %th
            = "Loan Amount"
      %tbody
        - srno = 0
        - @loan_applications_added_to_loan_file.each do |laa|
          - lap = LoanApplication.get(laa.loan_application_id)
          %tr
            %td
              - srno = srno + 1
              = srno
            %td
              = link_to_with_rights lap.id, "/loan_applications/#{lap.id}"
            %td
              = lap.client_name
            %td
              = lap.client_dob.blank? ? "-" : "#{lap.client_dob}"
            %td
              = lap.client_age_as_on.blank? ? lap.client_age : lap.client_age_as_on
            %td
              = lap.client_age_as_on_date.blank? ? Date.today : lap.client_age_as_on_date
            %td
              = lap.client_address
            %td
              = lap.loan_money_amount.to_s
  - else
    %h3 No recently added loan applications
