:javascript
  $(document).ready(function() {
    $('#toggle_choose_loan').change(function() {
      $('.choose_loan').attr('checked',$(this).attr('checked'))
      });
    $('#toggle_choose_loan2').change(function() {
      $('.choose_loan').attr('checked',$(this).attr('checked'))
      });
  });

- unless @errors.blank?
  - if @errors.is_a?(Hash)
    - @errors.keys.each do |client_id|
      - if @errors[client_id]
        .error
          - @errors[client_id].keys.each do |key|
            = "[Client ID: #{client_id}] #{key}: #{@errors[client_id][key]}"
            %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br

- staffmember = [session.user.staff_member]
- has_default_tranch = is_default_tranch_set?
- if has_default_tranch
  - tranch_id = get_default_tranch_id
  - default_tranch = NewTranch.get(tranch_id)
  - default_tranch_name = default_tranch.name
  - default_funding_line = default_tranch.new_funding_line
  - default_funding_line_name = default_funding_line.name
  - default_funder = default_funding_line.new_funder.name

%h1
  Loan entry for
  = @center.name
  in
  = @branch.name

= form :action => url(:controller => :loan_files, :action => :generate_loans, :class => "_disable_button_", :id => @loan_file.id) do
  = hidden_field :name => :center_id, :value => @center.id
  .menu-strip{:style => "width:100%; text-align: left;"}
    %table
      %tr
        %th Application date
        %td
          = @loan_file.created_on
          = hidden_field :name => "loan[applied_on]", :value => @loan_file.created_on
      %tr
        %th Scheduled disbursal date
        %td
          - scheduled_disbursal_date_selected = params[:loan] && params[:loan][:scheduled_disbursal_date] ? params[:loan][:scheduled_disbursal_date] : @loan_file.scheduled_disbursal_date
          = date_select "loan[scheduled_disbursal_date]", scheduled_disbursal_date_selected, :id =>"scheduled_disbursal_date"
      %tr
        %th Scheduled first payment date
        %td
          - scheduled_first_payment_date_selected = params[:loan] && params[:loan][:scheduled_first_payment_date] ? params[:loan][:scheduled_first_payment_date] : @loan_file.scheduled_first_payment_date
          = date_select "loan[scheduled_first_payment_date]", scheduled_first_payment_date_selected, :id =>"scheduled_first_payment_date"
      %tr
        %th Applied by
        %td
          = select :name => "loan[applied_by_staff_id]", :collection => staffmember, :value_method => :id, :text_method => :name, :class => 'chosen'

  %h2 Choose clients
  %table.report.nojs
    %tr
      %th
        Select All
        %br
          = check_box :id => "toggle_choose_loan"
      %th
        Sl.
      %th
        Client ID
      %th
        Reference
      %th
        Name
      %th
        Applied amount
      %th
        Funding Line
      %th
        Tranch
      %th
        Loan Product
      %th
        Loan Purpose
    - if @clients.blank?
      %tr
        %td{:colspan => 15, :style => "text-align:center;"}
          No data available
    - @clients.group_by{|client| client.client_group}.each do |client_group, clients|
      %tr.branch
        %td{:colspan => 15}
          %b= client_group ? client_group.name : "None"
        - row_number = 0
        - clients.each do |client|
          %tr
            %td
              = check_box :name => "clients[#{client.id}][chosen]", :value => client.id, :checked => (@selected_clients and @selected_clients.include?(client.id.to_s)), :id => "client_#{client.id}", :class => "choose_loan"
            %td
              - row_number = row_number + 1
              = row_number
            %td
              = client.id
            %td
              = client.reference
            %td
              = client.name
            %td
              - la = @loan_file.loan_applications(:client_id => client.id).first
              = la.loan_money_amount
            %td
              - if (NewFunder.count == 0 || NewFundingLine.count == 0) && session.user.role == :operator
                %i No Funder or Funding Line created.
                = link_to("Create", resource(:new_funders))
              - elsif has_default_tranch
                = default_funding_line_name
                = hidden_field :name => "funding_line_id[#{client.id}]", :value => default_funding_line.id
              - else
                = select :name => "funding_line_id[#{client.id}]", :collection => select_fundling_lines, :id => "funder_selector_#{client.id}", :onchange => "fillFundingLinesForBulkLoan('#{client.id}')", :prompt => "Select funding line"
            %td
              - if NewTranch.count == 0 && session.user.role == :operator
                %i No Tranch created.
                = link_to("Create", resource(:new_funders))
              - elsif has_default_tranch
                = default_tranch_name
                = hidden_field :name => "tranch_id[#{client.id}]", :value => default_tranch.id
              - else
                = select :name => "tranch_id[#{client.id}]", :id => "tranch_selector_#{client.id}"
            %td
              - selected_loan_product = params[:clients] && params[:clients]["#{client.id}"] && params[:clients]["#{client.id}"][:loan_product_id] ? params[:clients]["#{client.id}"][:loan_product_id] : nil
              = select :name => "clients[#{client.id}][loan_product_id]", :collection => LendingProduct.get_all_loan_product_for_loan_amount(la.amount).map{|lp| [lp.id, lp.name]}, :prompt => "select loan product", :selected => selected_loan_product
            %td
              - selected_loan_purpose = params[:clients] && params[:clients]["#{client.id}"] && params[:clients]["#{client.id}"][:loan_purpose] ? params[:clients]["#{client.id}"][:loan_purpose] : nil
              = select :name => "clients[#{client.id}][loan_purpose]", :class => "loan_purpose", :collection => LoanPurpose.all.map{|lp| [lp.name]}, :prompt => "select loan purpose", :selected => selected_loan_purpose, :id => client.id
          - if (row_number % 5 == 0)
            %tr
              %td{:colspan => 7}
                = "&nbsp;"
    %tr
      %th
        Select All
        %br
          = check_box :id => "toggle_choose_loan2"
      %th
        Sl.
      %th
        Client ID
      %th
        Reference
      %th
        Name
      %th
        Applied amount
      %th
        Funding Line
      %th
        Tranch
      %th
        Loan Product
      %th
        Loan Purpose
  = submit "Go" unless @clients.blank?
  = link_to "Back", url(:controller => 'loan_files', :action => "show", :id => @loan_file.id), :class => "greenButton"
  %hr