- center_cycle_number = CenterCycle.get_current_center_cycle(@center_id)
- unless @errors.blank?
  - if @errors.is_a?(Hash)
    .error
      - @errors.keys.each do |lap_id|
        - if @errors[lap_id]
          = "#{@errors[lap_id]}"
          %br
  - else
    - @errors.each do |error|
      .error
        = error
        %br
%h1
  = "Loan File Generation"
%form{:action => url(:controller => :loan_files, :action => :pending_loan_file_generation), :method => :get}
  = partial "lib/biz_location_selector"
- unless @center.blank?
  - if center_cycle_number.eql?(0)
    %h3 No Center cycle exists for this center
  - else
    %h2= "Center Cycle Number: #{center_cycle_number}"

= partial :generate_loan_file

%br
%hr

- if @loan_file
  = partial :log_loan_file