- center_cycle_number = CenterCycle.get_current_center_cycle(@loan_file.at_center_id)
- branch = BizLocation.get(@loan_file.at_branch_id)
- center = BizLocation.get(@loan_file.at_center_id)
%h1
  = "Loan File #{@loan_file.loan_file_identifier}"
.menu-strip
  %h3
    = "Branch: #{branch.name}"
    %br
    = "Center: #{center.name}"
    %br
    = "Center Cycle Number: #{center_cycle_number}"
    %br
    = link_to 'HealthCheck', url_for_checklist('HealthCheck on Loan Files',@loan_file.class.to_s, @loan_file, branch, center, session.user.staff_member, Date.today, params, @loan_file.loan_applications.count), :class => 'add grey_button'

%br
%hr

.shaded
  %h2 Loan Applications
  - unless @loan_file.loan_applications.blank?
    %table.dataTable.form{:style => "width:100%;"}
      %thead
        %tr
          %th
            = "ID"
          %th
            = "Name"
          %th
            = "Guarantor Name"
          %th
            = "Applicant Birth Date"
          %th
            = "Ration Card No."
          %th
            = "Voter Card No."
          %th
            = "Amount"
          %th
            = "Address"
          %th
            = "State"
          %th
            = "Pincode"
          %th
            = "Status"
      %tbody
        - @loan_file.loan_applications.each do |lap|
          - if lap.status == Constants::Status::LOAN_FILE_GENERATED_STATUS
            %tr
              %td
                = link_to_with_rights lap.id, "/loan_applications/#{lap.id}"
              %td
                = lap.client_name
              %td
                = lap.client_guarantor_name
              %td
                = lap.client_dob
              %td
                = lap.client_reference1
              %td
                = lap.client_reference2
              %td
                = lap.loan_money_amount.to_s
              %td
                = lap.client_address
              %td
                = lap.client_state.humanize
              %td
                = lap.client_pincode
              %td
                = lap.status.humanize rescue nil
  - else
    %h3 No loan applications
%br
%hr

.shaded
  %h1 Actions
  %hr
  %h2 Create Clients
  - healthcheck_is_clear = Checklist.is_healthcheck_complete?("loan_file_"+@loan_file.loan_file_identifier.to_s)
  - if healthcheck_is_clear
    = link_to_with_rights "Create clients", url(:controller => :new_clients, :action => :create_clients_for_loan_file, :loan_file_id => @loan_file.id), :class => 'grey_button'
  - else
    Client creation will not be performed because Heathcheck on loan file is not clear
  %hr
  %h2 Create Loans
  - if @loan_file.loan_applications.count > 0 && (healthcheck_is_clear || @loan_file.health_check_status == Constants::Status::READY_FOR_DISBURSEMENT) && !(@loan_file.loan_applications.aggregate(:client_id).include?(nil)) && @loan_file.loan_applications.collect{|x| x.loan.nil?}.include?(true)
    = link_to_with_rights "Create Loans", url(:controller => :loan_files, :action => :generate_loans, :id => @loan_file.id), :class => 'grey_button'
  - else
    Loans can be generated only after Healthcheck approved and clients creation