- center_cycle_number = loan_applications_facade.get_current_center_cycle_number(@center.id)
%h1 Loan Files
- unless @errors.blank?
  - if @errors.is_a?(Hash)
    - @errors.keys.each do |client_id|
      - if @errors[client_id]
        .error
          - @errors[client_id].keys.each do |key|
            = "[Client ID: #{client_id}] #{key}: #{@errors[client_id][key]}"
            %br
  - else    
    - @errors.each do |error|
      .error
        = error
        %br
          
%form{:action => url(:controller => :loan_files, :action => :show_loan_files), :method => :get}
  = partial 'lib/biz_location_selector'

- if @center
  - if center_cycle_number.eql?(0)
    %h3 No Center cycle currently exists for this center
  - else
    %h2= "Center Cycle Number: #{center_cycle_number}"

= partial 'index'