= partial :form
- header = ['Branch Name', 'Center Name', 'FCO Name', 'Loan ID', 'Loan Account Number', 'Customer Name', 'Advance Payment']
%table.dataTable.report.weeksheet.nojs.advance
  %thead
    %tr
      - header.each do |value|
        %th
          = value

  %tbody
    - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
    - @default_currency ||= MoneyManager.get_default_currency
    - @data.each do |branch, values|
      %tr
        %td
          %b
            = values[:branch_name]
        %td
          = values[:center_name]
        %td
          = values[:fco_name]
        %td
          = values[:loan_id]
        %td
          = values[:loan_account_number]
        %td
          = values[:member_name]
        %td
          = values[:advance_payment]
          - accumulate_row_values[:advance_payment] += values[:advance_payment]
  - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
  %tfoot
    %tr
      %th
        Total
      %td
      %td
      %td
      %td
      %td
      %td
        = total_rows[:advance_payment]

#header_values
  - count = 1
  Select All
  = check_box :name => 'header_all', :checked => true, :onclick => "check_all_box(this,'advance');"
  - header.each do |value|
    = value
    = check_box :name => 'header', :value => "#{value}", :class => 'report_check_box', :checked => true, :onclick => "toggle_table_row(this,'advance', '#{count}');"
    - count += 1
