= partial :form
- loan_products = LendingProduct.all.map(&:name)
- @default_currency ||= MoneyManager.get_default_currency
- total_rows = {}
-accumulate_row_values = {}
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Date
      %th
        Branch Name
      %th{:colspan => loan_products.size}
        Disbursement
      %th{:colspan => loan_products.size}
        Disbursement Amount
      %th{:colspan => loan_products.size}
        Upfront Charges
      %th{:colspan => loan_products.size}
        Upfront Charges Collected
    %tr
      %th
      %th
      - loan_products.each do |p_name|
        %th
          = p_name
        - total_rows[p_name] = {}
        - total_rows[p_name][:total_disbursed_count]  = 0
        - total_rows[p_name][:total_disbursed_amt] = MoneyManager.default_zero_money
        - total_rows[p_name][:total_fee_colleatable_fee_amt] = MoneyManager.default_zero_money
        - total_rows[p_name][:total_fee_collected_amt] = MoneyManager.default_zero_money
      - loan_products.each do |p_name|
        %th
          = p_name
      - loan_products.each do |p_name|
        %th
          = p_name
      - loan_products.each do |p_name|
        %th
          = p_name

  %tbody
    - @data[:loan_info].each do |date, d_loans|
      - loan_products.each do |p_name|
        - accumulate_row_values[p_name] = {}
        - accumulate_row_values[p_name][:total_disbursed_count]  = 0
        - accumulate_row_values[p_name][:total_disbursed_amt] = MoneyManager.default_zero_money
        - accumulate_row_values[p_name][:total_fee_colleatable_fee_amt] = MoneyManager.default_zero_money
        - accumulate_row_values[p_name][:total_fee_collected_amt] = MoneyManager.default_zero_money
      - d_loans.each do |branch, b_loans|
        %tr
          %td
            %b
              = date
          %td
            = branch
          - loan_products.each do |l_product|
            %td
              - loans_count =  b_loans[l_product].blank? ? 0 : b_loans[l_product]['loans_count']
              = loans_count
              - accumulate_row_values[l_product][:total_disbursed_count] += loans_count
          - loan_products.each do |l_product|
            %td
              - disbursed_amt =  b_loans[l_product].blank? ? MoneyManager.default_zero_money: b_loans[l_product]['loans_amt_sum']
              = disbursed_amt
              - accumulate_row_values[l_product][:total_disbursed_amt] += disbursed_amt
          - loan_products.each do |l_product|
            %td
              - fee_colleatable_fee_amt =  b_loans[l_product].blank? ? MoneyManager.default_zero_money : b_loans[l_product]['colleatable_fee']
              = fee_colleatable_fee_amt
              - accumulate_row_values[l_product][:total_fee_colleatable_fee_amt] += fee_colleatable_fee_amt
          - loan_products.each do |l_product|
            %td
              - fee_collected_amt =  b_loans[l_product].blank? ? MoneyManager.default_zero_money : b_loans[l_product]['colleated_fee']
              = fee_collected_amt
              - accumulate_row_values[l_product][:total_fee_collected_amt] += fee_collected_amt
      - loan_products.each do |l_product|
        - unless total_rows[l_product].blank?
          - total_rows[l_product][:total_disbursed_count] += accumulate_row_values[l_product][:total_disbursed_count]
          - total_rows[l_product][:total_disbursed_amt] += accumulate_row_values[l_product][:total_disbursed_amt]
          - total_rows[l_product][:total_fee_colleatable_fee_amt] += accumulate_row_values[l_product][:total_fee_colleatable_fee_amt]
          - total_rows[l_product][:total_fee_collected_amt] += accumulate_row_values[l_product][:total_fee_collected_amt]
  %tfoot
    %tr
      %th
        Total
      %td
      - loan_products.each do |l_product|
        %td
          = total_rows[l_product]['total_disbursed_count']
      - loan_products.each do |l_product|
        %td
          = total_rows[l_product][:total_disbursed_amt]
      - loan_products.each do |l_product|
        %td
          = total_rows[l_product][:total_fee_colleatable_fee_amt]
      - loan_products.each do |l_product|
        %td
          = total_rows[l_product][:total_fee_collected_amt]
%br
.flickr_pagination
  = will_paginate @data[:disbursal_dates], :container => false
%br