= partial :form
- if @data.blank? || @data[:branches].blank?
  %h2 No data to display
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Branch Id
        %th
          Branch Name
        %th
          Agent Id
        %th
          Agent Name
        %th
          Center Number
        %th
          Loan Clients
        %th
          Arrears
        %th
          Outstanding
        %th
          Number Of Loan Accounts In Arrear
        %th
          Overdue POS

    %tbody
      - total_locations_count = total_members_count = 0
      - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
      - @default_currency ||= MoneyManager.get_default_currency
      - @data[:branches].sort_by{|staff| staff}.each do |staff, values|
        %tr
          %td
            = values[:branch_id]
          %td
            = values[:branch_name]
          %td
            = values[:staff_id]
          %td
            = values[:staff_name]
          %td
            = values[:centers_members_total][:new_locations_count]
            - total_locations_count += values[:centers_members_total][:new_locations_count]
          %td
            = values[:centers_members_total][:new_members_count]
            - total_members_count += values[:centers_members_total][:new_members_count]
          %td
            = values[:arrears]
            - accumulate_row_values[:total_arrears] += values[:arrears]
          %td
            = values[:outstanding_and_overdue_amounts][:actual_principal_outstanding_amount]
            - accumulate_row_values[:scheduled_outstanding_amount] += values[:outstanding_and_overdue_amounts][:actual_principal_outstanding_amount]
          %td
            = values[:number_of_loan_accounts_in_arrear]
          %td
            = values[:outstanding_and_overdue_amounts][:overdue_amounts]
            - accumulate_row_values[:overdue_amounts] += values[:outstanding_and_overdue_amounts][:overdue_amounts]

    - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
    %tfoot
      %tr
        %th
          Total
        %td
        %td
        %td
        %td
          = total_locations_count
        %td
          = total_members_count
        %td
          = total_rows[:total_arrears]
        %td
          = total_rows[:scheduled_outstanding_amount]
        %td
        %td
          = total_rows[:overdue_amounts]
  %br
  .flickr_pagination
    = will_paginate @data[:branch_ids], :container => false
  %br