= partial :form
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Actual Collection Date
      %th
        Amount
      %th
        Collection Date
      %th
        Amount
  %tbody
    - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
    - @default_currency ||= MoneyManager.get_default_currency
    - (@data[:from_date]..@data[:to_date]).each do |date|
      - if !@data[:scheduled][date].blank? || !@data[:actual_scheduled][date].blank?
        %tr
          %td
            = @data[:scheduled][date][:schedule_date] unless @data[:scheduled][date].blank?
          %td
            - s_amt = @data[:scheduled][date].blank? ? MoneyManager.default_zero_money : @data[:scheduled][date][:scheduled_total_amt]
            = s_amt
            - accumulate_row_values[:scheduled_amount] += s_amt
          %td
            = @data[:actual_scheduled][date][:actual_schedule_date] unless @data[:actual_scheduled][date].blank?
          %td
            - r_amt = @data[:actual_scheduled][date].blank? ? MoneyManager.default_zero_money : @data[:actual_scheduled][date][:actual_scheduled_total_amt]
            = r_amt
            - accumulate_row_values[:actual_scheduled_amount] += r_amt
  - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
  %tfoot
    %tr
      %th
        Total
      %td
        = total_rows[:scheduled_amount]
      %td
      %td
        = total_rows[:actual_scheduled_amount]
