= partial :form
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Branch Name
      %th{:colspan => 4}
        Loan Amount
      %th{:colspan => 4}
        Repayment
      %th{:colspan => 3}
        Balance Outstanding
      %th{:colspan => 3}
        Advances
      %th{:colspan => 3}
        Balance Overdue

    %tr
      %th
      %th
        Applied
      %th
        Approved
      %th
        Scheduled to disburse
      %th
        Disbursed
      %th
        Principal
      %th
        Interest
      %th
        Fees
      %th
        Total
      %th
        Principal
      %th
        Interest
      %th
        Total
      %th
        Collected
      %th
        Adjusted
      %th
        Balance
      %th
        Principal
      %th
        Interest
      %th
        Total

  %tbody
    - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
    - @default_currency ||= MoneyManager.get_default_currency
    - @data.sort_by{|branch| branch}.each do |branch, values|
      %tr
        %td
          %b
            = BizLocation.get(branch).name
        %td
          = values[:loans_applied][:total_amount]
          - accumulate_row_values[:loans_applied] += values[:loans_applied][:total_amount]
        %td
          = values[:loans_approved][:total_amount]
          - accumulate_row_values[:loans_approved] += values[:loans_approved][:total_amount]
        %td
          = values[:loans_scheduled_for_disbursement][:total_amount]
          - accumulate_row_values[:loans_scheduled_for_disbursement] += values[:loans_scheduled_for_disbursement][:total_amount]
        %td
          = values[:loans_disbursed][:total_amount]
          - accumulate_row_values[:loans_disbursed] += values[:loans_disbursed][:total_amount]
        %td
          = values[:loans_repayment_principal]
          - accumulate_row_values[:principal_received] += values[:loans_repayment_principal]
        %td
          = values[:loans_repayment_interest]
          - accumulate_row_values[:interest_received] += values[:loans_repayment_interest]
        %td
          = values[:fee_receipts]
          - accumulate_row_values[:fee_receipts] += values[:fee_receipts]
        %td
          = p_total = values[:loans_repayment_principal] + values[:loans_repayment_interest] + values[:fee_receipts]
          - accumulate_row_values[:total_received] += p_total
        %td
          = values[:loan_outstanding_principal]
          - accumulate_row_values[:actual_principal_outstanding] += values[:loan_outstanding_principal]
        %td
          = values[:loan_outstanding_interest]
          - accumulate_row_values[:actual_interest_outstanding] += values[:loan_outstanding_interest]
        %td
          = o_total = values[:loan_outstanding_principal] + values[:loan_outstanding_interest]
          - accumulate_row_values[:actual_total_outstanding] += o_total
        %td
          = values[:loan_advance_collect]
          - accumulate_row_values[:advance_received_on_date] += values[:loan_advance_collect]
        %td
          = values[:loan_advance_adjust]
          - accumulate_row_values[:advance_adjusted_on_date] += values[:loan_advance_adjust]
        %td
          = values[:loan_advance_balance]
          - accumulate_row_values[:advance_balance] += values[:loan_advance_balance]
        %td
          = values[:loan_overdue_principal]
          - accumulate_row_values[:principal_overdue] += values[:loan_overdue_principal]
        %td
          = values[:loan_overdue_interest]
          - accumulate_row_values[:interest_overdue] += values[:loan_overdue_interest]
        %td
          = total_overdue = values[:loan_overdue_principal] + values[:loan_overdue_interest]
          - accumulate_row_values[:total_overdue] += total_overdue

  - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
  %tfoot
    %tr
      %th
        Total
      %td
        = total_rows[:loans_applied]
      %td
        = total_rows[:loans_approved]
      %td
        = total_rows[:loans_scheduled_for_disbursement]
      %td
        = total_rows[:loans_disbursed]
      %td
        = total_rows[:principal_received]
      %td
        = total_rows[:interest_received]
      %td
        = total_rows[:fee_receipts]
      %td
        = total_rows[:total_received]
      %td
        = total_rows[:actual_principal_outstanding]
      %td
        = total_rows[:actual_interest_outstanding]
      %td
        = total_rows[:actual_total_outstanding]
      %td
        = total_rows[:advance_received_on_date]
      %td
        = total_rows[:advance_adjusted_on_date]
      %td
        = total_rows[:advance_balance]
      %td
        = total_rows[:principal_overdue]
      %td
        = total_rows[:interest_overdue]
      %td
        = total_rows[:total_overdue]