= partial :form
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Branch
      %th{:colspan => "1"}
        Disbursement
      %th{:colspan => "4"}
        Cash Collection
      %th{:colspan => "3"}
        Cash Foreclosure
      %th{:colspan => "3"}
        Advances
      %th
        Write Offs
    %tr
      %th
      %th
        Amount
      %th
        Principal
      %th
        Interest
      %th
        Fee
      %th
        Total
      %th
        Principal
      %th
        Interest
      %th
        Total
      %th
        Collected
      %th
        Adjusted
      %th
        Balance
      %th
        Amount

  %tbody
    - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
    - @default_currency ||= MoneyManager.get_default_currency
    - @data.sort_by{|branch| branch}.each do |branch, values|
      %tr
        %td
          %b
            = BizLocation.get(branch).name
        %td
          = values[:loans_disbursed][:total_amount]
          - accumulate_row_values[:loans_disbursed] += values[:loans_disbursed][:total_amount]
        %td
          = values[:loans_repayment_principal]
          - accumulate_row_values[:principal_received] += values[:loans_repayment_principal]
        %td
          = values[:loans_repayment_interest]
          - accumulate_row_values[:interest_received] += values[:loans_repayment_interest]
        %td
          = values[:fee_receipts]
          - accumulate_row_values[:fee_receipts] += values[:fee_receipts]
        %td
          = total_p = values[:loans_repayment_principal] + values[:loans_repayment_interest] + values[:fee_receipts]
          - accumulate_row_values[:total_received] += total_p
        %td
          = values[:loans_preclose_principal]
          - accumulate_row_values[:preclosure_principal_received] += values[:loans_preclose_principal]
        %td
          = values[:loans_preclose_interest]
          - accumulate_row_values[:preclosure_interest_received] += values[:loans_preclose_interest]
        %td
          = total_pre = values[:loans_preclose_principal] + values[:loans_preclose_interest]
          - accumulate_row_values[:preclosure_total_received] += total_pre
        %td
          = values[:loan_advance_collect]
          - accumulate_row_values[:advance_received_on_date] += values[:loan_advance_collect]
        %td
          = values[:loan_advance_adjust]
          - accumulate_row_values[:advance_adjusted_on_date] += values[:loan_advance_adjust]
        %td
          = values[:loan_advance_balance]
          - accumulate_row_values[:advance_balance] += values[:loan_advance_balance]
        %td
          = values[:loans_recovery]
          - accumulate_row_values[:loan_written_off_values] += values[:loans_recovery]

  - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
  %tfoot
    %tr
      %th
        Total
      %td
        = total_rows[:loans_disbursed]
      %td
        = total_rows[:principal_received]
      %td
        = total_rows[:interest_received]
      %td
        = total_rows[:fee_receipts]
      %td
        = total_rows[:total_received]
      %td
        = total_rows[:preclosure_principal_received]
      %td
        = total_rows[:preclosure_interest_received]
      %td
        = total_rows[:preclosure_total_received]
      %td
        = total_rows[:advance_received_on_date]
      %td
        = total_rows[:advance_adjusted_on_date]
      %td
        = total_rows[:advance_balance]
      %td
        = total_rows[:loan_written_off_values]