= partial :form
- unless @data.blank?
  %br
  %br
  %table.unsortable.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Branch
        %th
          Center
        %th
          Loan Account No.
        %th
          Schedule Date
        %th
          Principal
        %th
          Interest
        %th
          Advance
        %th
          Recovery
    %tbody
      - @data[:loan_payments].each do |branch_id, values|
        - values.each do |lending_id, date_values|
          - date_values.each do |date, value|
            %tr
              %td
                = value[:branch_name]
              %td
                = value[:center_name]
              %td
                = value[:lan_no]
              %td
                = value[:schedule_date]
              %td
                = value[:principal_received]
              %td
                = value[:interest_received]
              %td
                = value[:advance_received]
              %td
                = value[:recovery_reveived]
  %br
  .flickr_pagination
    = will_paginate @data[:repayments], :container => false
  %br
- else
  .shaded
    %h3 No records found