= partial :form
- unless @data.blank?
  %br
  %br
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Branch
        %th
          Center
        %th
          Loan Account No.
        %th
          Schedule Date
        %th
          Principal
        %th
          Interest
        %th
          Amount
    %tbody
      - @data.each do |value|
        %tr
          - loan = value.loan_base_schedule.lending
          - l_locations = LoanAdministration.get_locations(loan.id, value.on_date)
          %td
            = l_locations.blank? ? '-' : l_locations[:accounted_at].name
          %td
            = l_locations.blank? ? '-' : l_locations[:administered_at].name
          %td
            = loan.lan
          %td
            = value.on_date
          %td
            = value.to_money[:scheduled_principal_due].to_s
          %td
            = value.to_money[:scheduled_interest_due].to_s
          %td
            = (value.to_money[:scheduled_principal_due] + value.to_money[:scheduled_interest_due]).to_s
- else
  .shaded
    %h3 No records found