= partial :form
- unless @data.blank?
  - currency = MoneyManager.get_default_currency
  - sum_of_debits = LedgerBalance.zero_debit_balance(currency)
  - sum_of_credits = LedgerBalance.zero_credit_balance(currency)
  - vouchers = @data
  %table.report.nojs
    %tr.header
      %th
        Voucher
      %th
        Created at
      %th
        Effective Date
      %th
        Narration
      %th
        Cost Center
      %th
        Account
      %th
        Debit
      %th
        Credit
    - vouchers.each do |voucher|
      - count = 0
      - postings_count = voucher.ledger_postings.count
      - voucher.ledger_postings.each do |p|
        - balance = p.to_balance
        - unless count > 0
          %tr
            %td{:rowspan => postings_count}
              = voucher.id
            %td{:rowspan => postings_count}
              = voucher.created_at.strftime(Mfi.first.date_format + " at %H:%m") if voucher.created_at and count == 0
            %td{:rowspan => postings_count}
              = voucher.effective_on if voucher.effective_on and count == 0
            %td{:rowspan => postings_count}
              = voucher.narration
            %td{:rowspan => postings_count}
              = #voucher.cost_center.name
            %td
              = p.ledger.name unless p.ledger.nil?
            %td{:style => "text-align:center;"}
              - if balance.is_debit_balance?
                - sum_of_debits += balance
                = balance.to_s
              - else
                = "-"
            %td{:style => "text-align:center;"}
              - if balance.is_credit_balance?
                - sum_of_credits += balance
                = balance.to_s
              - else
                = "-"
            - count += 1
        - else
          %tr
            %td
              = p.ledger.name unless p.ledger.nil?
            %td{:style => "text-align:center;"}
              - if balance.is_debit_balance?
                - sum_of_debits += balance
                = balance.to_s
              - else
                = "-"
            %td{:style => "text-align:center;"}
              - if balance.is_credit_balance?
                - sum_of_credits += balance
                = balance.to_s
              - else
                = "-"
            - count += 1
    %tfoot
      %tr
        %th{:colspan => "6"}
          Totals
        %th
          = sum_of_debits
        %th
          = sum_of_credits

- else
  .shaded
    %h3= "No records found"