= partial :form
%table.report.nojs
  %tr.header
    %th
      Branch Name
    %th{:colspan => 4}
      Installment (EWI)
    %th{:colspan => 3}
      OverDues
    %th{:colspan => 3}
      Fees
    %th
      Advance Collected
    %th{:colspan => 2}
      Foreclosures
    %th{:colspan => 3}
      Collections

  %tr.header
    %th
    %th
      Scheduled
    %th
      Due
    %th
      Advance
    %th
      Collected
    %th
      Amount
    %th
      Overdue For the Day
    %th
      EWI Collected
    %th
      Collectable
    %th
      Collected
    %th
      Other Fees Collected
    %th
    %th
      Principal Outstanding
    %th
      Overdue Interest
    %th
      Total
    %th
      Short
    %th
      Difference

    - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
    - @default_currency ||= MoneyManager.get_default_currency
    - @data.sort_by{|branch| branch}.each do |branch, values|
      %tr
        %td
          %b
            = BizLocation.get(branch).name
        %td
        %td
        %td
        %td
        %td
        %td
        %td
        %td
          = values[:fee_dues][:total_amount]
          - accumulate_row_values[:fee_dues] += values[:fee_dues][:total_amount]
        %td
          = values[:loan_fee_receipts][:total_amount]
          - accumulate_row_values[:loan_fee_receipts] += values[:loan_fee_receipts][:total_amount]
        %td
          = values[:all_fee_receipts][:total_amount]
          - accumulate_row_values[:all_fee_receipts] += values[:all_fee_receipts][:total_amount]
        %td
          = values[:loan_balances].values[0][:advance_received_on_date]
          - accumulate_row_values[:advance_collected] += values[:loan_balances].values[0][:advance_received_on_date]
        %td
        %td
        %td
        %td
        %td

  - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
  %tr.footer
    %th
      Total
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      = total_rows[:fee_dues]
    %td
      = total_rows[:loan_fee_receipts]
    %td
      = total_rows[:all_fee_receipts]
    %td
      = total_rows[:advance_collected]
    %td
    %td
    %td
    %td
    %td