=partial :form
%table.report.nojs
  %tr.header
    %th
      Date
    %th
      Discription
    %th
      Debit Account
    %th
      Credit Account
    %th
      Amount
 
  - length = 5
  - org_total = []
  - time_format = Mfi.first.date_format || "%d-%m-%Y"
  - time_format += " %H:%M"
  - accounts = {}
  - Account.all.each{|acc|  accounts[acc.id] = acc}
  - @data.each do |journal|
    %tr
      %td
        = journal.date.strftime(time_format)
      %td
        = journal.comment
        - debit_postings, credit_postings = journal.postings.group_by{|x| x.amount>0}.values
      %td
        - debit_postings.each do |p|
          = p.account.name
          %br
      %td
        = "<br>"*debit_postings.length
        - credit_postings.each do |p|
          = p.account.name
          %br
      %td
        
        = (debit_postings + credit_postings).collect{|p| p.amount.abs}.join("<br/>")
  %tr
    %td
    %td
    %td
    %td 
    %td
    
= paginate @data
