= partial :form
- if @data.blank? || @data[:loan].blank?
  %h2 No data to display
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Month
        %th
          Projected POS at Monthend
        %th
          Schedule Principal Realisations
        %th
          Schedule Interest Realisations
        %th
          Schedule Total EWI Realisations
        %th
          Projected Interest Accrual*
    %tbody
      %tr
        %td
          = @data[:loan][:from_date].strftime("%B-%Y")
        %td
          = @data[:loan][:projected_pos_at_monthend]
        %td
          = @data[:loan][:schedule_principal_realisations]
        %td
          = @data[:loan][:schedule_interest_realisations]
        %td
          = @data[:loan][:schedule_total_realisations]
        %td
          = @data[:loan][:projected_interest_accrual]