= partial :form
- count = 0
- amount = 0
- idx = 1
%table.report.nojs
  %tr.header
    %th
      Sl. No.
    %th
      Branch Name
    %th
      Center Name
    %th
      Client Id
    %th
      Client Name
    %th
      Client Age
    %th
      Spouse Name
    %th
      Spouse Age
    %th
      Loan Id
    %th
      Disbursal Date
    %th
      Disbursal Amount

  - @data.sort_by{|client, branches| client}.each do  |client, branches|
    - count += 1
    %tr
      %td
        = idx
        - idx += 1
      %td
        = branches[:branch_name]
      %td
        = branches[:center_name]
      %td
        = branches[:client_id]
      %td
        = branches[:client_name]
      %td
        = branches[:client_age]
      %td
        = branches[:client_spouse_name]
      %td
        = branches[:client_spouse_age]
      %td
        = branches[:loan_id]
      %td
        = branches[:loan_disbursal_date]
      %td
        = branches[:loan_amount]
        - amount += branches[:loan_amount]

  %tr.footer
    %th
      Total
    %td
    %td
    %td
      = count
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      = amount