= partial :form
%table.report.nojs
  %tr.header
    %th{:width => "10px"}
      Branch Name
    %th
      Center Name
    %th
      Client Name
    %th
      Client Id
    %th
      Age
    %th
      Spouse Name
    %th
      Spouse Age
    %th
      Loan Id
    %th
      Loan Amount
    %th
      Disbursal Date
    %th
      Nominee Name

  - @data.each do  |row|
    %tr 
      %td{:width => "10px"}
        = row[:branch_name]
      %td
        = row[:center_name]
      %th
        = row[:client_name]
      %td
        = row[:client_id]
      %td
        - age = row[:c_date_of_birth] ? (Time.now.year - row[:c_date_of_birth].year) : ""
        = age
      %td
        = row[:client_spouse_name]
      %td
        - age1 = row[:spouse_date_of_birth] ? (Time.now.year - row[:spouse_date_of_birth].year) : ""
        = age1
      %td
        = row[:loan_id]
      %td
        = row[:amount]
      %td
        = row[:disbursal_date]
      %td
        = row[:nominee_name]
