= partial :form
%table.report.nojs
  %tr.header
    %th{:width => "10px"}
      Loan Account No.
    %th
      Unique Reference Number / Cust ID
    %th
      Loan Amount
    %th
      Full Name with Initials
    %th
      Gender
    %th
      Age
    %th
      Date of Birth
    %th
      Date of Disbursement
    %th
      Branch Name
    %th
      Occupation
    %th
      Member(M)/ Guarantor(G)
  - clients = @data[:clients]
  - loans = @data[:loans]
  - insurance_policies = @data[:insurance_policies]
  - guarantors = @data[:guarantors]
  - insurance_policies.each do |ip|
    - debugger
    - c = clients[ip.client_id]
    - l = loans[ip.loan_id]
    %tr 
      %td{:width => "10px"}
        = ip.loan_id
      %td
        = c.id
      %td
        = l.amount
      %td
        = c.name
      %td
        = c.gender
      %td
        - age = ((@report.from_date - c.date_of_birth) / 365).floor if c.date_of_birth
        = age
      %td
        = c.date_of_birth
      %td
        = l.disbursal_date
      %td
        = @report.branch.name
      %td
        = c.occupation.name
      %td
        = "M"
    - ip.client.guarantors.each do |g|
      %tr
        %td{:width => "10px"}
          = ip.loan_id
        %td
          = "G-" + g.id.to_s
        %td
          = l.amount
        %td
          = g.name
        %td
          = g.gender
        %td
          - age = ((@report.from_date - g.date_of_birth)/365).floor if g.date_of_birth
          = age
        %td
          = g.date_of_birth
        %td
          = l.disbursal_date
        %td
          = @report.branch.name
        %td
          = g.guarantor_occupation.name
        %td
          = "G"