= partial :form
%table.report.nojs
  %tr.header
    %th
      Branch Id
    %th
      Branch Name
    %th
      Center Id
    %th
      Center Name
    %th
      Client Id
    %th
      Client Name
    %th
      Client Group Name
    %th
      Loan Id
    %th
      Loan Amount
    %th
      Loan Disbursal Date
    %th
      Loan Purpose

  - total_loans_count = 0
  - total_count = 0
  - @data.sort_by{|loan| loan}.each do |values|
    %tr
      %td
        = values[1][:branch_id]
      %td
        = values[1][:branch_name]
        - total_count += 1
      %td
        = values[1][:center_id]
      %td
        = values[1][:center_name]
      %td
        = values[1][:client_id]
      %td
        = values[1][:client_name]
      %td
        = values[1][:client_group]
      %td
        = values[1][:loan_id]
      %td
        = values[1][:loan_amount]
        - total_loans_count += values[1][:loan_amount]
      %td
        = values[1][:loan_disbursal_date]
      %td
        = values[1][:loan_purpose]

  %tr.total
    %th
      %b Total
    %td
      = total_count
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      = total_loans_count
    %td
    %td
