= partial :form
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th{:style => 'display:none'}
      %th
        Branch Name
      %th
        Center Name
      %th
        Dues Collectable
      %th
        Dues Collected
      %th
        Receipt Number

  %tbody
    - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
    - @default_currency ||= MoneyManager.get_default_currency
    - @data.each do |staff, centers|
      - unless centers.blank?
        - accumulate_staff_values = Hash.new(MoneyManager.default_zero_money)
        %tr.header_row
          %th{:style => 'display:none'}
          %th
            Ro Name
          %th
            = staff
          %th
          %th
          %th
        - centers.each do |values|
          %tr
            %td{:style => 'display:none'}
            %td
              = values[:branch_name]
            %td
              = values[:center_name]
            %td
              - dues = values[:dues_collected_and_collectable]
              = dues[:scheduled_total]
              - accumulate_row_values[:total_due] += dues[:scheduled_total]
              - accumulate_staff_values[:total_due] += dues[:scheduled_total]
            %td
              = dues[:total_received]
              - accumulate_row_values[:total_received] += dues[:total_received]
              - accumulate_staff_values[:total_received] += dues[:total_received]
            %td
              = values[:receipt_number]
        - total_staff = Money.add_money_hash_values(@default_currency, accumulate_staff_values)
        %tr.header_row
          %th{:style => 'display:none'}
          %td{:style => "text-align:center; background:#708890;"}
            %b Total
          %td{:style => "text-align:center; background:#708890;"}
          %td{:style => "text-align:center; background:#708890;"}
            %b
              = total_staff[:total_due]
          %td{:style => "text-align:center; background:#708890;"}
            %b
              = total_staff[:total_received]
          %td{:style => "text-align:center; background:#708890;"}

  - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
  %tfoot
    %tr
      %th{:style => 'display:none'}
      %th
        %b
          Grand Total
      %th
      %th
        %b
          = total_rows[:total_due]
      %th
        %b
          = total_rows[:total_received]
      %th
:javascript
  $(document).ready(function() {
    total_row = jQuery('table.weeksheet').find('tbody tr').size();
    total_header_row = jQuery('table.weeksheet').find('tbody tr.header_row').size();
    total_row_count = total_row - total_header_row
    jQuery('.dataTables_info').html('Total Record '+total_row_count);
  });