= partial :form
- unless @data.blank?
  %br
  %br
  %table{:class => "report nojs"}
    %tr
      %th
        Branch
      %th
        Center
      %th
        Status
      %th
        count
    - @data.each do |branch, value1|
      - value1.each do |center, value2|
        - value2.each do |status, value3|
          %tr
            %td{:style => "text-align:center"}
              = branch
            %td{:style => "text-align:center"}
              = center
            %td{:style => "text-align:center"}
              = status.humanize
            %td{:style => "text-align:center"}
              = value3
- else
  %h3 No records found




  