= partial :form
%table.report.nojs
  %tr.header
    %th{:width => "10px"}
      Loan
    %th
      Client
    %th
      Center
    %th
      Branch
    %th
      Maturity Date
    %th
      Number of Absences
    %th
      Installments
    %th
      Eligible?
    %th
      Paid
  - @data.each do |d|
    - loan = d[:loan]
    - eligible = ((d[:number_of_installments] == 46 ? d[:attendance] >= 44 : d[:attendance] >= 48) and (d[:absents] <= 2))
    - next unless eligible
    %tr
      %td
        = link_to loan.description, url_for_loan(loan)
      %td
        = link_to d[:client_name], url(:client, d[:client_id])
      %td
        = link_to d[:center_name], url(:center, d[:center_id])
      %td
        = d[:branch_name]
      %td
        = d[:mat_date]
      %td
        = d[:absents]
        == ( / #{d[:attendance]})
      %td
        == #{d[:attendance]} / #{d[:number_of_installments]}
      %td{:style  => eligible ? "color: green" : "color:red"}
        = eligible
      %td
        = d[:paid] || "Not paid"
  