= partial :form
%table.unsortable.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Status
      %th
        Branch Id
      %th
        Branch Name
      %th
        Agent Id
      %th
        Agent Name
      %th
        Centers Total
      %th
        Members Total

  %tbody
    - total_locations_count = total_members_count = 0
    - staff_count = 0
    - @data.each do |status, values|
      - values.each do |staff_id, value|
        %tr
          %td
            = status.to_s
          %td
            = value[:branch_id]
          %td
            = value[:branch_name]
          %td
            = value[:staff_id]
          %td
            = value[:staff_name]
            - staff_count += 1
          %td
            = value[:centers_total]
            - total_locations_count += value[:centers_total]
          %td
            = value[:members_total]
            - total_members_count += value[:members_total]
      - if values.count > 0
        %tr{:style => "text-align:center; background:#708890;"}
          %td
            Total
          %td
          %td
          %td
          %td
            = values.count
          %td
            = @data[status].values.collect{|s| s[:centers_total]}.sum
          %td
            = @data[status].values.collect{|s| s[:members_total]}.sum
  %tfoot
    %tr
      %th
      %th
        Total
      %td
      %td
      %td
        = staff_count
      %td
        = total_locations_count
      %td
        = total_members_count