= partial :form
- header =  ['Branch Name', 'Branch Code','Center Name', 'Loan Porduct', 'Loan Account Number', 'Member Code', 'Member Name', 'Gender','Caste Name','Religion Name']
- header += ['Occupation Name', 'PSL Category', 'Phone Number', 'ID Proof', 'ID Proof No.','Gurantor Name', 'Member Address', 'Pincode', 'Meeting Address']
- header += ['Loan Cycle', 'Disbursal Date', 'Loan Start Date', 'Loan Maturity Date', 'Loan Purpose', 'Loan Disbursed Amount', 'EMI Amount']
- header += ['Outstanding Principal', 'Outstanding Interest', 'Overdue Principal', 'Overdue Interest', 'No. Of Days Overdue', 'Days Since Disbursal']
- header += ['Days Remaining', 'Source Of Fund ID', 'Loan Status', 'Loan Foreclosure Date', 'RO Name']
%table.monthly_loan.dataTable.report.weeksheet.nojs
  %thead
    %tr
      - header.each do |value|
        %th
          = value
  %tbody
    - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
    - @default_currency ||= MoneyManager.get_default_currency
    - @data[:loans].each do |branch, values|
      %tr
        %td
          %b
            = values[:branch_name]
        %td
          = values[:branch_id]
        %td
          = values[:center_name]
        %td
          = values[:loan_product_name]
        %td
          = values[:loan_account_number]
        %td
          = values[:member_id]
        %td
          = values[:member_name]
        %td
          = values[:gender]
        %td
          = values[:caste]
        %td
          = values[:religion]
        %td
          = values[:occupation]
        %td
          = values[:psl_category]
        %td
          = values[:phone_number]
        %td
          = values[:reference1_type]
        %td
          = values[:reference1_id]
        %td
          = values[:guarantor_name]
        %td
          = values[:member_address]
        %td
          = values[:pincode]
        %td
          = values[:meeting_address]
        %td
          = values[:loan_cycle]
        %td
          = values[:loan_disbursed_date]
        %td
          = values[:loan_start_date]
        %td
          = values[:loan_end_date]
        %td
          = values[:loan_purpose]
        %td
          = values[:loan_disbursed_amount]
          - accumulate_row_values[:loan_disbursed_amount] += values[:loan_disbursed_amount]
        %td
          = values[:installment_amount]
          - accumulate_row_values[:installment_amount] += values[:installment_amount]
        %td
          = values[:loan_outstanding_principal]
          - accumulate_row_values[:loan_outstanding_principal] += values[:loan_outstanding_principal]
        %td
          = values[:loan_outstanding_interest]
          - accumulate_row_values[:loan_outstanding_interest] += values[:loan_outstanding_interest]
        %td
          = values[:overdue_principal]
          - accumulate_row_values[:overdue_principal] += values[:overdue_principal]
        %td
          = values[:overdue_interest]
          - accumulate_row_values[:overdue_interest] += values[:overdue_interest]
        %td
          = values[:days_overdue]
        %td
          = values[:days_since_disbursal]
        %td
          = values[:days_remaining]
        %td
          = values[:source_of_fund_id]
        %td
          = values[:loan_status]
        %td
          = values[:loan_closure_date]
        %td
          = values[:ro_name]
  - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
  %tfoot
    %tr
      %th
        Total
      -(1..23).each do |k|
        %td
      %td
        = total_rows[:loan_disbursed_amount]
      %td
        = total_rows[:installment_amount]
      %td
        = total_rows[:loan_outstanding_principal]
      %td
        = total_rows[:loan_outstanding_interest]
      %td
        = total_rows[:overdue_principal]
      %td
        = total_rows[:overdue_interest]
      -(1..7).each do |k|
        %td
%br
.flickr_pagination
  = will_paginate @data[:loan_ids], :container => false
%br