= partial :form
- if @data[:loans].blank?
  %h2 No data to display
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Loan Id
        %th
          Client Id
        %th
          Client Name
        %th
          District
        %th
          Branch
        %th
          Loan Amount
        %th
          Disbursal Date
        %th
          Loan Status
        %th
          Loan Closure Date
        %th
          No. Of Installments Remaining
        %th
          Principal Outstanding Beginning of Period
        %th
          Principal Due During Period
        %th
          Principal Paid During Period
        %th
          Principal Overdue
        %th
          No. Of Days Principal Overdue
        %th
          Current Principal Outstanding
        %th
          Interest Outstanding Beginning of Period
        %th
          Interest Due During Period
        %th
          Interest Paid During Period
        %th
          Interest Overdue
        %th
          No. Of Days Interest Overdue
        %th
          Current Interest Outstanding

    %tbody
      - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
      - @default_currency ||= MoneyManager.get_default_currency
      - @data[:loans].sort_by{|loan| loan}.each do |loan, values|
        %tr
          %td
            = values[:loan_id]
          %td
            = values[:client_id]
          %td
            = values[:client_name]
          %td
            = values[:district_name]
          %td
            = values[:branch_name]
          %td
            = values[:loan_amount]
            - accumulate_row_values[:loan_amount] += values[:loan_amount]
          %td
            = values[:loan_disbursal_date]
          %td
            = values[:loan_status]
          %td
            = values[:loan_closure_date]
          %td
            = values[:no_of_installments_remaining]
          %td
            = values[:principal_outstanding_beginning_of_week]
            - accumulate_row_values[:principal_outstanding_beginning_of_week] += values[:principal_outstanding_beginning_of_week]
          %td
            = values[:principal_due_during_week]
            - accumulate_row_values[:principal_due_during_week] += values[:principal_due_during_week]
          %td
            = values[:principal_paid_during_week]
            - accumulate_row_values[:principal_paid_during_week] += values[:principal_paid_during_week]
          %td
            = values[:principal_overdue]
            - accumulate_row_values[:principal_overdue] += values[:principal_overdue]
          %td
            = values[:number_of_days_principal_overdue]
          %td
            = values[:current_principal_outstanding]
            - accumulate_row_values[:current_principal_outstanding] += values[:current_principal_outstanding]
          %td
            = values[:interest_outstanding_beginning_of_week]
            - accumulate_row_values[:interest_outstanding_beginning_of_week] += values[:interest_outstanding_beginning_of_week]
          %td
            = values[:interest_due_during_week]
            - accumulate_row_values[:interest_due_during_week] += values[:interest_due_during_week]
          %td
            = values[:interest_paid_during_week]
            - accumulate_row_values[:interest_paid_during_week] += values[:interest_paid_during_week]
          %td
            = values[:interest_overdue]
            - accumulate_row_values[:interest_overdue] += values[:interest_overdue]
          %td
            = values[:number_of_days_interest_overdue]
          %td
            = values[:current_interest_outstanding]
            - accumulate_row_values[:current_interest_outstanding] += values[:current_interest_outstanding]

    - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
    %tfoot
      %tr
        %th
          Total
        %td
        %td
        %td
        %td
        %td
          = total_rows[:loan_amount]
        %td
        %td
        %td
        %td
        %td
          = total_rows[:principal_outstanding_beginning_of_week]
        %td
          = total_rows[:principal_due_during_week]
        %td
          = total_rows[:principal_paid_during_week]
        %td
          = total_rows[:principal_overdue]
        %td
        %td
          = total_rows[:current_principal_outstanding]
        %td
          = total_rows[:interest_outstanding_beginning_of_week]
        %td
          = total_rows[:interest_due_during_week]
        %td
          = total_rows[:interest_paid_during_week]
        %td
          = total_rows[:interest_overdue]
        %td
        %td
          = total_rows[:current_interest_outstanding]
%br
.flickr_pagination
  = will_paginate @data[:loan_ids], :container => false
%br
