= partial :form
%table.report.nojs
  %thead
    %tr
      %th
        Client ID
      %th
        Loan ID
      %th
        District
      %th
        Branch
      %th
        Client Name
      %th
        Loan Amount
      %th
        Disbursement Date
      %th
        Loan Status
      %th
        Loan Closure Date
      %th
        No of Installments Remaining
      %th
        Principal Outstanding Beginning of Period
      %th
        Principal Due During Period
      %th
        Principal Paid During Period
      %th
        Principal Overdue
      %th
        No. of Days Principal Overdue
      %th
        Current Principal Outstanding
      %th
        Interest Outstanding Beginning of Period
      %th
        Interest due during Period
      %th
        Interest paid during Period
      %th
        Interest Overdue
      %th
        No. of days Interest Outstanding
      %th
        Current Interest Outstanding
  %tbody
    - from_date = @data[:from_date]
    - to_date = @data[:to_date]
    - loan_ids = @data[:loan_ids]
    - loan_ids.each do |loan_id|
      - loan = Lending.get(loan_id)
      %tr
        %td
          = loan.borrower.id
        %td
          = loan.id
        %td
          = nil
        %td
          = nil
        %td
          = loan.borrower.name
        %td
          = loan.total_loan_disbursed
        %td
          = loan.disbursal_date
        %td
          = loan.status
        %td
          = nil # loan closure date
        %td
          = nil # no of installments remaining
        %td
          = loan.actual_principal_outstanding(from_date)
        %td
          = loan.scheduled_principal_due(to_date) - loan.scheduled_principal_due(from_date)
        %td
          = nil #principal paid during period
        %td
          = loan.actual_principal_due(Date.today)
        %td
          = nil #no of days principal overdue
        %td
          = loan.actual_principal_outstanding(Date.today)
        %td
          = loan.actual_interest_outstanding(from_date)
        %td
          = loan.scheduled_interest_due(to_date) - loan.scheduled_interest_due(from_date)
        %td
          = nil # interest paid during period
        %td
          = loan.actual_interest_due(Date.today)
        %td
          = nil #no of days interest outstanding
        %td
          = loan.actual_interest_outstanding(Date.today)