= partial :form
- if @data.blank? || @data[:loans].blank?
  %h2 No data to display
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Branch
        %th{:colspan => 3}
          DUES
        %th{:colspan => 10}
          COLLECTIONS
        %th{:colspan => 3}
          DISBURSAL, ACCRUAL, POS
      %tr
        %th
          Branch
        %th{:colspan => 3}
          EMI Due
        %th{:colspan => 3}
          EMI Collected
        %th
          Advance
        %th
          Recovery
        %th
          Processing
        %th{:colspan => 3}
          Foreclosure
        %th
          Total
        %th
          Interest
        %th
          Disbursed
        %th
          Principal
      %tr
        %th
          Name
        %th
          Principal
        %th
          Interest
        %th
          Total
        %th
          Principal
        %th
          Interest
        %th
          Total
        %th
          Amt
        %th
          Amt
        %th
          Fees
        %th
          Principal
        %th
          Interest
        %th
          Fee
        %th
          Amount
        %th
          Accrued
        %th
          Amount
        %th
          Principal
    %tbody
      - accumulate_row_values = Hash.new(MoneyManager.default_zero_money)
      - @default_currency ||= MoneyManager.get_default_currency
      - @data[:loans].sort_by{|branch| branch}.each do |branch, values|
        %tr
          %td
            %b
              = values[:branch_name]
          %td
            = values[:dues_emi_principal]
            - accumulate_row_values[:dues_emi_principal] += values[:dues_emi_principal]
          %td
            = values[:dues_emi_interest]
            - accumulate_row_values[:dues_emi_interest] += values[:dues_emi_interest]
          %td
            = values[:dues_emi_total]
            - accumulate_row_values[:dues_emi_total] += values[:dues_emi_total]
          %td
            = values[:emi_collect_principal]
            - accumulate_row_values[:emi_collect_principal] += values[:emi_collect_principal]
          %td
            = values[:emi_collect_interest]
            - accumulate_row_values[:emi_collect_interest] += values[:emi_collect_interest]
          %td
            = values[:emi_collect_total]
            - accumulate_row_values[:emi_collect_total] += values[:emi_collect_total]
          %td
            = values[:advance_collection]
            - accumulate_row_values[:advance_collection] += values[:advance_collection]
          %td
            = values[:recovery_collection]
            - accumulate_row_values[:recovery_collection] += values[:recovery_collection]
          %td
            = values[:loan_fee_collect]
            - accumulate_row_values[:loan_fee_collect] += values[:loan_fee_collect]
          %td
            = values[:preclosure_principal_collect]
            - accumulate_row_values[:preclosure_principal_collect] += values[:preclosure_principal_collect]
          %td
            = values[:preclosure_interest_collect]
            - accumulate_row_values[:preclosure_interest_collect] += values[:preclosure_interest_collect]
          %td
            = values[:preclosure_collect_fee]
            - accumulate_row_values[:preclosure_collect_fee] += values[:preclosure_collect_fee]
          %td
            - preclosure_collection = values[:preclosure_principal_collect] + values[:preclosure_interest_collect] + values[:preclosure_collect_fee]
            - total_collection = preclosure_collection + values[:loan_fee_collect] + values[:advance_collection] + values[:recovery_collection] + values[:emi_collect_total]
            = total_collection
            - accumulate_row_values[:total_collect] += total_collection
          %td
            = values[:interest_accrued]
            - accumulate_row_values[:interest_accrued] += values[:interest_accrued]
          %td
            = values[:disbursed_amount]
            - accumulate_row_values[:disbursed_amount] += values[:disbursed_amount]
          %td
            = values[:outstanding_principal]
            - accumulate_row_values[:outstanding_principal] += values[:outstanding_principal]
    - total_rows = Money.add_money_hash_values(@default_currency, accumulate_row_values)
    %tfoot
      %tr
        %th
          Total
          %td
            = total_rows[:dues_emi_principal]
          %td
            = total_rows[:dues_emi_interest]
          %td
            = total_rows[:dues_emi_total]
          %td
            = total_rows[:emi_collect_principal]
          %td
            = total_rows[:emi_collect_interest]
          %td
            = total_rows[:emi_collect_total]
          %td
            = total_rows[:advance_collection]
          %td
            = total_rows[:recovery_collection]
          %td
            = total_rows[:loan_fee_collect]
          %td
            = total_rows[:preclosure_principal_collect]
          %td
            = total_rows[:preclosure_interest_collect]
          %td
            = total_rows[:preclosure_collect_fee]
          %td
            = total_rows[:total_collect]
          %td
            = total_rows[:disbursed_amount]
          %td
            = total_rows[:interest_accrued]
          %td
            = total_rows[:outstanding_principal]
  %br
  .flickr_pagination
    = will_paginate @data[:branch_ids], :container => false
  %br