= partial :form
- if @data.blank? || @data[:centers].blank?
  %h2 No data to display
- else
  %table.dataTable.report.weeksheet.nojs
    %thead
      %tr
        %th
          Branch Id
        %th
          Branch Name
        %th
          Center Id
        %th
          Center Name
        %th
          Center Creation Month
        %th
          Center Creation Year
        %th
          RO Name
        %th
          RO Employee Id
        %th
          Meeting Date
        %th
          Meeting Time
        %th
          Loan Start Date
        %th
          Loan Cycle

    %tbody
      - @data[:centers].sort_by{|center| center}.each do |center, values|
        %tr
          %td
            = values[:branch_id]
          %td
            = values[:branch_name]
          %td
            = values[:center_id]
          %td
            = values[:center_name]
          %td
            = values[:center_creation_month]
          %td
            = values[:center_creation_year]
          %td
            = values[:ro_name]
          %td
            = values[:ro_code]
          %td
            - if values[:meeting_date] == "Not Specified"
              = values[:meeting_date]
            - elsif values[:meeting_date].on_date == values[:meeting_date].actual_date
              = values[:meeting_date].on_date
              (
              = values[:meeting_date].on_date.strftime("%A")
              )
            - else
              = values[:meeting_date].actual_date
              (
              = values[:meeting_date].actual_date.strftime("%A")
              )
          %td
            = values[:meeting_time]
          %td
            = values[:loan_start_date]
          %td
            = values[:loan_cycle]
  %br
  .flickr_pagination
    = will_paginate @data[:center_ids], :container => false
  %br