= partial :form

- total_debit_balance = 0
- total_credit_balance = 0
- table_width = 3
- figures_column_width = "10%"

%table.report.nojs
  %thead
    %tr.header
      %th
        Ledger
      %th{:width => figures_column_width}
        Debit balance
      %th{:width => figures_column_width}
        Credit balance
  %tbody
    - @data.each do |account_type, ledger|
      %tr
        %th{:colspan => table_width}
          = account_type
      - ledger.each do |ledger, balance|
        - type_debit_balance = 0
        - type_credit_balance = 0
        %tr
          %td
            = ledger.name
          %td{:style => "text-align:center;"}
            - if balance.is_debit_balance?
              - debit_balance = balance.amount
              - type_debit_balance += debit_balance
              = debit_balance.abs.round(2)
            - else
              = "-"
          %td{:style => "text-align:center;"}
            - if balance.is_credit_balance?
              - credit_balance = balance.amount
              - type_credit_balance += credit_balance
              = credit_balance.abs.round(2)
            - else
              = "-"
          - total_debit_balance += type_debit_balance
          - total_credit_balance += type_credit_balance
        %tr
          %th
            = "Total balances for #{account_type}"
          %th
            = type_debit_balance.abs.round(2)
          %th
            = type_credit_balance.abs.round(2)
  %tfoot
    %tr
      %th
        Totals
      %th
        = total_debit_balance.abs.round(2)
      %th
        = total_credit_balance.abs.round(2)