%h1
  Reports controller, edit action
%p
  Edit this file in
  %tt
    app/views/reports/edit.html.erb
= error_messages_for @report

= form_for(@report, :action => url(:report, @report)) do
  %p
    = submit "Update"

= link_to_with_rights 'Show', url(:report, @report)
|
= link_to_with_rights 'Back', url(:reports)