%table
  %tr
    %td
      Date
    %td
      = date_select_for @voucher, :effective_on
  %tr
    %td
      Narration
    %td
      = text_area :narration
  - if params[:debit_accounts]
    - params[:debit_accounts].each_with_index do |da, idx|
      = partial "vouchers/account_amount", :account => da, :account_type => :debit_accounts, :last_account => (params[:debit_accounts].length == idx + 1 ? true : false)
  - else
    = partial "vouchers/account_amount", :account => {}, :account_type => :debit_accounts, :last_account => true
  - if params[:credit_accounts]
    - params[:credit_accounts].each_with_index do |ca, idx|
      = partial "vouchers/account_amount", :account => ca, :account_type => :credit_accounts, :last_account => (params[:debit_accounts].length == idx + 1 ? true : false)
  - else
    = partial "vouchers/account_amount", :account => {}, :account_type => :credit_accounts, :last_account => true

-# %p
-#   = submit "Create"
