.shaded
  %div#voucher_entry{:style => "display: block; padding-left: 25px;"}
    %h2 Voucher entry
    = error_messages_for @voucher
    = form_for(@voucher, :action => url(:vouchers) ) do
      = partial :fields
      %p
        = submit "Create"
        &nbsp;&nbsp;
        = submit "Create and Continue"
        &nbsp;&nbsp;
        = link_to_with_rights 'Cancel', url(:vouchers), :class => "grey_button"