%table
  %tr
    %th Area
    %th
      = select :name => :area_id, :collection => location_facade.all_nominal_areas.map{|area| [area.id, area.name]}, :prompt => "Select area", :id => "area_selector"
    %th Branch
    %th
      = select :name => :branch_id, :id => "branches_in_area"
    %th Visit Scheduled Date
    %th
      = date_select :visit_scheduled_date, Date.today
      = hidden_field :name => :effective_date, :value => get_effective_date, :id => 'effective_date_id'
      = submit "Go"