%table.form
  %tr
    %td
      Staff Member:
    %td
      = select :created_by_staff_member_id, :collection => StaffMember.all.collect{|sm| [sm.id, sm.name]}
  %tr
    %td
      Group Name:
    %td
      = text_field :name
  %tr
    %td
      Group Code:
    %td
      = text_field :code, :size => 10
      %br/
      %span.greytext a two letter unique code for the group
  %tr
    %td
      Maximum clients:
    %td
      = text_field :number_of_members, :size => 3
  %tr
    %td
    %td
      = submit submit_text
      &nbsp;&nbsp;
      - if request.xhr?
        %a{:href => "#", :onclick => "$('#new_client_group_form').html('')"}
          Cancel
      - else
        = link_to_with_rights 'Cancel', cancel_link, :class => "grey_button"