%table.tall.shaded
  %tr
    %th
      For Center:
    %td
      - if @client_group.new?
        - location_facade = FacadeFactory.instance.get_instance(FacadeFactory::LOCATION_FACADE, User.first)
        - all_centers_list = location_facade.all_nominal_centers.collect{|center| [center.id, center.name]}
        = select :biz_location_id, :collection => all_centers_list
        %br
          %span.greytext Select the center under which this client group is being created.
      - else
        = @client_group.biz_location.name rescue "Not attached to any Center"
        = hidden_field :name => :biz_location_id, :value => @client_group.biz_location.id
  %tr
    %th
      Staff Member:
    %td
      = get_session_user_name
      = hidden_field :created_by_staff_member_id, :value => get_session_user_id
  %tr
    %th
      Group Name:
    %td
      = text_field :name
  %tr
    %th
      Group Code:
    %td
      = text_field :code, :size => 10
      %br/
      %span.greytext a two letter unique code for the group
  %tr
    %th
      Maximum clients:
    %td
      = text_field :number_of_members, :size => 3
      %br
        %span.greytext
          maximum number allowed to enter is 20.

= submit submit_text
&nbsp;&nbsp;
%b
  Or
&nbsp;&nbsp;
= link_to_with_rights 'Cancel', cancel_link, :class => "grey_button"