%table.tall.shaded
  %tr
    %th
      For Center:
    %td
      = @biz_location.name
      = hidden_field :biz_location_id, :value => @biz_location.id
      = hidden_field :new_group_from_biz_location
  %tr
    %th
      Staff Member:
    %td
      = get_session_user_name
      = hidden_field :created_by_staff_member_id, :value => get_session_user_id
  %tr
    %th
      Group Name:
    %td
      = text_field :name
  %tr
    %th
      Group Code:
    %td
      = text_field :code, :size => 2 , :maxlength => 2
      %br/
      %span.greytext a two letter unique code
  - if @client.new?
    %tr
      %th
        Creation Date:
      %td
        = date_select 'client_group[creation_date]', Date.today, {:id => 'creation_date'}
  - else
    %tr
      %th
        Creation Date:
      %td
        = date_select 'client_group[creation_date]', @client_group.creation_date, {:id => 'creation_date'}
  %tr
    %th
      Maximum clients:
    %td
      = text_field :number_of_members, :size => 2,  :maxlength => 2
      %br
        %span.greytext
          maximum clients allowed is 20
