%h1
  List Of Client Groups

.menu-strip{:style => "width:30%"}
  = link_to_with_rights "Create a new Client Group", resource(:client_groups, :new), :class => "add grey_button", :style => "margin: 0px; padding-right: 6px; padding-left: 32px;"
  &nbsp;&nbsp;
  = link_to_with_rights "Back", url(:admin), :class => "grey_button"
%br
%table.dataTable.report.weeksheet.nojs
  %thead
    %tr
      %th
        Sl. No.
      %th
        Group Name
      %th
        Group Code
      %th
        Center Name
      %th
        Creation Date
      %th
        No. Of Clients
      %th
        Action

  %tbody
    - count = 1
    - for client_group in @client_groups
      %tr
        %td
          = count
          - count += 1
        %td
          = link_to_with_rights client_group.name, resource(client_group)
        %td
          = client_group.code
        %td
          - if (client_group and client_group.biz_location)
            = link_to_with_rights client_group.biz_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => client_group.biz_location.id)
          - else
            Not Attached to any Center
        %td
          = client_group.creation_date
        %td
          = client_group.clients.count
        %td
          = link_to_with_rights('Edit', url(:controller => params[:controller], :action => :edit, :id => client_group))