%h1 
  == Clients for : #{@client_group.name}
.menu-strip{:style => "width: 30%;"}
  = link_to_with_rights("Edit group details", resource(@client_group, :edit), :class => "grey_button")
  &nbsp;&nbsp;
  = link_to_with_rights "Back", resource(:client_groups), :class => "grey_button"

%table.loan{ :style => "width: 31%; border: solid 1px #cfcfcf; margin: 5px; " }
  %tr.odd
    %th.odd
      Group Name
    %td
      = @client_group.name
  %tr.even
    %th.even
      Group Code
    %td
      = @client_group.code
  %tr.odd
    %th.odd
      Center
    %td
      = link_to_with_rights @client_group.biz_location.name, url(:controller => :user_locations, :action => :weeksheet_collection, :id => @client_group.biz_location.id)

%h2 Clients under this Group
- if @client_group.clients.count == 0
  %h3 No clients have been created under this group yet.
- else
  %table.narrow{:style => "width: 30%;"}
    %tr
      %thead
        %th
        %th
          id
        %th
          Client Name
    - Client.all(:client_group => @client_group).each do |client|
      %tr{:class => cycle('odd','even')}
        %td
        %td
          = client.id
        %td
          = link_to_with_rights client.name, url(:controller => :new_clients, :id => client.id)