%h1 
  == Clients for #{@client_group.name}
  = link_to_with_rights("[Edit]", resource(@client_group, :edit), :class => "edit")
%h2 Clients
%table.narrow
  %tr
    %thead
      %th
        id
      %th
        Name
  - Client.all(:client_group => @client_group).each do |client|
    %tr{:class => cycle('odd','even')}
      %td
        = client.id
      %td
        = link_to_with_rights client.name, resource(client)
  
  
%h1 CGTs
= link_to_with_rights 'Manage CGTs', resource(@client_group, :cgts, :return => @return), :class => 'edit'
= partial 'cgts/cgts'

%h1 GRTs
= link_to_with_rights 'Manage GRTs', resource(@client_group, :grts, :return => @return), :class => 'edit'
= partial 'grts/grts'
